Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  .changeset/moody-stingrays-exercise.md
Due: none

chore: update
  crates/axum/src/routes/proxy/simplehash.rs
  crates/axum/src/routes/proxy/socket.rs
Due: rust, Rust

feat: ini proxy api (#1409)
  .changeset/moody-stingrays-exercise.md
  Cargo.lock
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table.tsx
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/lib.rs
  crates/axum/src/prometheus.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/proxy/mod.rs
  crates/axum/src/routes/proxy/simplehash.rs
  crates/axum/src/routes/proxy/socket.rs
  crates/axum/src/types.rs
Due: js, rust, Javascript, Rust

feat: ini client api
  packages/client/src/client.ts
  packages/client/src/simplehash/owners.ts
  packages/client/src/simplehash/value.ts
  packages/client/src/socket/balances.ts
  packages/client/src/socket/index.ts
  packages/client/src/types/socket/v2.d.ts
Due: js, Javascript

feat: ini nft listing
  packages/query/src/index.ts
  packages/query/src/useQueryNfts.ts
  packages/query/src/useSuspenseQueryNfts.ts
Due: js, Javascript

feat: complete refactor table
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/src/handlers/paths/[address]/overview/history/handler.ts
  apps/app/src/handlers/paths/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/paths/[address]/overview/tokens/handler.ts
  packages/query/src/useQueryNfts.ts
Due: js, Javascript

chore: update send motion
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/components/nft/nfts-list.tsx
  packages/query/src/useSuspenseQueryNfts.ts
Due: js, Javascript

chore: update
  .changeset/curvy-dolls-wash.md
Due: none

chore: auto fix commit
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table.tsx
  packages/client/src/simplehash/owners.ts
  packages/client/src/simplehash/value.ts
Due: js, Javascript

fix: nested ternary for simplehash client
  packages/client/src/client.ts
Due: js, Javascript

chore: update
  apps/app/src/preloaders/paths/[address]/overview/nfts/preloader.ts
  packages/client/src/client.ts
  packages/services/src/getNfts.ts
  packages/services/src/index.ts
Due: js, Javascript

chore: update
  packages/client/src/client.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
Due: js, Javascript

chore: ini admin navigation
  packages/query/src/useQueryNfts.ts
  packages/services/src/getNftValuation.ts
  packages/services/src/getNfts.ts
Due: js, Javascript

feat: ini client nft fetch (#1410)
  .changeset/curvy-dolls-wash.md
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/components/nft/nfts-list.tsx
  apps/app/src/handlers/paths/[address]/overview/history/handler.ts
  apps/app/src/handlers/paths/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/paths/[address]/overview/tokens/handler.ts
  apps/app/src/preloaders/paths/[address]/overview/nfts/preloader.ts
  crates/axum/src/routes/proxy/simplehash.rs
  crates/axum/src/routes/proxy/socket.rs
  packages/client/src/client.ts
  packages/client/src/simplehash/owners.ts
  packages/client/src/simplehash/value.ts
  packages/client/src/socket/balances.ts
  packages/client/src/socket/index.ts
  packages/client/src/types/socket/v2.d.ts
  packages/query/src/index.ts
  packages/query/src/useQueryNfts.ts
  packages/query/src/useSuspenseQueryNfts.ts
  packages/services/src/getNfts.ts
  packages/services/src/index.ts
Due: js, rust, Javascript, Rust

feat: ini op page
  apps/app/app/(wallet)/[address]/@op/(.)op/page.tsx
  apps/app/app/(wallet)/[address]/@send/(.)send/page.tsx
  apps/app/app/(wallet)/[address]/send/page.tsx
  fly/consumer-tx/fly.toml
Due: js, Javascript

feat: ini app con
  .changeset/selfish-bags-approve.md
Due: none

chore: update toolbar nfts
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  packages/client/src/client.ts
  packages/client/src/simplehash/owners.ts
  packages/client/src/simplehash/value.ts
  packages/client/src/zod.ts
  packages/client/tsconfig.json
  packages/schemas/src/simplehash/nfts.ts
Due: js, Javascript

chore: update
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

chore: update
  packages/ui/src/components/drawer.tsx
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.stories.tsx
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

chore: update app tab
  apps/app/src/components/nav/app-nav.tsx
  apps/app/src/components/nav/tabs-nav.tsx
  apps/app/src/hooks/useTabs.tsx
  apps/explorer/src/components/nav/app-nav.tsx
  apps/explorer/src/components/nav/main-nav.tsx
  packages/types/src/index.ts
  packages/types/src/tab.ts
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.stories.tsx
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

chore: auto fix commit
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

chore: update
  configurations/tailwindcss/src/index.js
Due: js, Javascript

chore: update
  apps/app/src/components/nav/tabs-nav.tsx
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/nav/tabs-nav.tsx
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

feat: refactor con (#1411)
  .changeset/selfish-bags-approve.md
  apps/app/app/(wallet)/[address]/@op/(.)op/page.tsx
  apps/app/app/(wallet)/[address]/@send/(.)send/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/send/page.tsx
  apps/app/src/components/nav/app-nav.tsx
  apps/app/src/components/nav/tabs-nav.tsx
  apps/app/src/hooks/useTabs.tsx
  apps/explorer/src/components/nav/app-nav.tsx
  apps/explorer/src/components/nav/main-nav.tsx
  configurations/tailwindcss/src/index.js
  fly/consumer-tx/fly.toml
  packages/client/src/client.ts
  packages/client/src/simplehash/owners.ts
  packages/client/src/simplehash/value.ts
  packages/client/src/zod.ts
  packages/client/tsconfig.json
  packages/schemas/src/simplehash/nfts.ts
  packages/types/src/index.ts
  packages/types/src/tab.ts
  packages/ui/src/components/drawer.tsx
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.stories.tsx
  packages/ui/src/templates/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

feat: ini notifications table
  apps/app/app/(authenticated)/notifications/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/notifications/(components)/data-table/data-table.tsx
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table-pagination.tsx
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table-toolbar.tsx
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table.tsx
  apps/app/app/(authenticated)/notifications/layout.tsx
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/app/(wallet)/[address]/op/layout.tsx
  apps/app/src/const/titles.ts
  packages/client/src/api/notification.ts
  packages/data/src/index.ts
  packages/data/src/notification.ts
  packages/demo/src/api/index.ts
  packages/demo/src/api/notification/index.ts
  packages/demo/src/api/notification/list.json
  packages/params/src/index.ts
  packages/params/src/notification.ts
  packages/query-keys/src/index.ts
  packages/query-keys/src/notification.ts
  packages/query/src/index.ts
  packages/query/src/useQueryNotifications.ts
  packages/query/src/useQueryNotificationsCount.ts
  packages/stores/src/useTables.ts
  packages/table/src/index.tsx
  packages/table/src/notification/actions/notification-table-row-actions.tsx
  packages/table/src/notification/index.ts
  packages/table/src/notification/notificaiton-table.stories.tsx
  packages/table/src/notification/notification-columns.tsx
  packages/table/src/notification/notification-table.tsx
Due: js, Javascript

chore: update
  .changeset/tasty-trains-smoke.md
Due: none

chore: ini notifications paths
  apps/app/src/hooks/usePathType.ts
Due: js, Javascript

feat: ini user dropdown
  apps/app/src/components/nav/app-nav.tsx
  apps/app/src/components/nav/user-nav.tsx
  apps/app/src/components/web3/connect-button.tsx
  packages/table/src/notification/notification-table.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/nav/user-nav.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/src/components/nav/user-nav.tsx
Due: js, Javascript

chore: update user nav
  apps/app/src/components/nav/user-nav.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/nav/app-nav.tsx
  apps/app/src/components/nav/user-nav.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/settings/layout.tsx
  apps/app/src/components/nav/notifications-nav.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
