Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: configuration api (#727)
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/wallet.rs
  crates/solutions/src/config.rs
  thunder-tests/collections/tc_col_apilightso.json
  thunder-tests/collections/tc_col_local.json
Due: rust, Rust

feat: ini upgrade
  apps/app/package.json
  apps/auth/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/extension/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/subgraph/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  configurations/prettier/package.json
  configurations/prisma/package.json
  configurations/tailwindcss/package.json
  package.json
  packages/background/package.json
  packages/client/package.json
  packages/const/package.json
  packages/content/package.json
  packages/inpage/package.json
  packages/next-auth/package.json
  packages/popup/package.json
  packages/solutions/package.json
  packages/trpc/package.json
  packages/utils/package.json
  packages/wagmi/package.json
  patches/next@13.5.4.patch
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  pnpm-lock.yaml
Due: none

chore: update
  apps/app/app/root.tsx
  apps/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: font
  apps/app/app/root.tsx
  configurations/tailwindcss/src/index.js
Due: js, Javascript

chore: update
  playwright.config.ts
Due: none

chore: update
  apps/app/package.json
Due: js, Javascript

chore: update
  apps/app/src/components/WalletSwitcher.tsx
Due: js, Javascript

chore: update
  apps/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/changelog/app/page.mdx
  apps/home/src/components/Carousel/Carousel.tsx
  apps/subgraph/package.json
  apps/subgraph/tests/.latest.json
  pnpm-lock.yaml
Due: js, Javascript

perf: update
  contracts/test/spec/LightWallet.spec.ts
Due: none

chore: update
  .license-check-and-add-config.json
  patches/next@13.5.4.patch
Due: none

chore: update inngest
  apps/app/app/api/inngest/helloWorld/route.ts
  apps/app/app/api/inngest/route.ts
  apps/app/app/api/inngest/userSignUp/route.ts
  apps/app/package.json
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/helloWorld.ts
  apps/app/src/inngest/multiStep.ts
  apps/auth/app/swagger/_page.tsx
  apps/auth/package.json
  patches/next@13.5.4.patch
Due: js, Javascript

chore: update
  apps/auth/.depcheckrc.yml
  apps/auth/.ncurc.yml
  apps/auth/app/api/trpc/[trpc]/route.ts
  apps/auth/app/api/trpc/openapi.json/route.ts
  apps/auth/app/api/trpc/revalidate/route.ts
  apps/auth/next.config.mjs
  apps/auth/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/app/api/inngest/route.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

chore: update
  patches/next@13.5.4.patch
  pnpm-lock.yaml
Due: none

chore: update
  apps/app/src/inngest/client.ts
Due: js, Javascript

chore: update
  apps/playground/app/alt-server-action/_actions.ts
  apps/playground/app/alt-server-action/page.tsx
  apps/playground/app/alt-server-action/with-hook.tsx
  package.json
  patches/next@13.5.4.patch
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/playground/app/alt-server-action/_actions.ts
  apps/playground/app/alt-server-action/page.tsx
  apps/playground/app/alt-server-action/with-hook.tsx
Due: js, Javascript

feat: ini admin api
  crates/axum/src/api.rs
  crates/axum/src/prometheus.rs
  crates/axum/src/routes/check.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/health.rs
  crates/axum/src/routes/wallet.rs
  packages/client/src/index.ts
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

perf: ini admin env
  Cargo.lock
  Cargo.toml
  crates/axum/src/admin.rs
  crates/axum/src/api.rs
  crates/axum/src/lib.rs
Due: rust, Rust

chore: ini admin env
  crates/axum/src/admin.rs
  crates/axum/src/api.rs
  thunder-tests/collections/tc_col_local.json
Due: rust, Rust

chore: ini admin api
  crates/axum/src/api.rs
  thunder-tests/collections/tc_col_local.json
Due: rust, Rust

feat: ini admin api (#729)
  Cargo.lock
  Cargo.toml
  crates/axum/src/admin.rs
  crates/axum/src/api.rs
  crates/axum/src/lib.rs
  crates/axum/src/prometheus.rs
  crates/axum/src/routes/check.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/health.rs
  crates/axum/src/routes/wallet.rs
  packages/client/src/index.ts
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

fix: admin rate limit
  crates/axum/src/api.rs
Due: rust, Rust

fix: admin rate limit (#730)
  crates/axum/src/api.rs
Due: rust, Rust

feat: ini app new
  apps/app/src/components/Tabs.tsx
  apps/ui/src/components/ui/command.tsx
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
  packages/client/turbo.json
Due: js, Javascript

chore: update
  apps/app/src/handles/[address].ts
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

perf: ini admin power
  apps/app/turbo.json
  apps/ui/src/components/ui/command.tsx
  thunder-tests/collections/tc_col_apilightso.json
Due: js, Javascript

chore: update
  apps/app/src/inngest/helloWorld.ts
  apps/app/src/inngest/multiStep.ts
Due: js, Javascript

chore: update
  scripts/check-thunder-url.sh
  thunder-tests/collections/tc_col_apilightso.json
Due: none

fix: wallet switcher
  apps/app/src/components/WalletSwitcher.tsx
Due: js, Javascript

perf: ini settings bear
  apps/app/package.json
  apps/app/src/stores/useSettings.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/package.json
  apps/auth/.depcheckrc.yml
  apps/auth/package.json
Due: js, Javascript

chore: update
  apps/ui/src/components/ui/dropdown-menu.tsx
Due: js, Javascript
