Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
  apps/app/src/components/state/table-empty.tsx
Due: js, Javascript

chore: update
  apps/app/src/data/activity.ts
  crates/axum/src/routes/activity/types.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini activity table (#1217)
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/activity/layout.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/src/components/state/table-empty.tsx
  apps/app/src/data/activity.ts
  apps/app/src/data/index.ts
  apps/app/src/handlers/paths/[address]/activity/handler.ts
  apps/app/src/params/activity.ts
  apps/app/src/params/index.ts
  apps/app/src/preloaders/paths/[address]/activity/preloader.ts
  apps/app/src/queries/activity.ts
  apps/app/src/queries/index.ts
  apps/app/src/services/getActivities.ts
  apps/app/src/services/getActivitiesCount.ts
  apps/app/src/services/index.ts
  apps/app/src/stores/useTables.ts
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/activity/types.rs
  packages/client/src/api/activity.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini revalidate queue
  apps/app/app/api/queue/portfolio.ts
  apps/app/package.json
  apps/app/src/clients/redis.ts
  pnpm-lock.yaml
Due: js, Javascript

fix: toolbar
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
Due: js, Javascript

chore: update
  apps/app/app/api/queue/portfolio.ts
  apps/app/src/clients/prisma.ts
Due: js, Javascript

chore: update
  apps/app/src/inngest/middlewares/prisma.ts
Due: js, Javascript

chore: update
  crates/axum/src/routes/activity/list.rs
Due: rust, Rust

feat: ini queue post (#1218)
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
  apps/app/app/api/queue/portfolio.ts
  apps/app/package.json
  apps/app/src/clients/prisma.ts
  apps/app/src/inngest/middlewares/prisma.ts
  crates/axum/src/routes/activity/list.rs
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini unwrap used covalent
  Cargo.lock
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/covalent.rs
Due: rust, Rust

chore: ini eyre cov
  Cargo.lock
  crates/consumer/Cargo.toml
  crates/consumer/src/topics/covalent.rs
  crates/covalent/src/types.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/covalent.rs
Due: rust, Rust

chore: ini token id
  crates/consumer/src/topics/covalent.rs
Due: rust, Rust

fix: deprecate covalent queires
  Cargo.lock
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/api/inngest/route.ts
  apps/app/app/api/queue/covalent.ts
  apps/app/src/actions/invokePortfolioAction.ts
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/walletPortfolioCovalentSet.ts
  apps/app/src/inngest/walletPortfolioCron.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletTransactionCovalentSet.ts
  apps/app/src/inngest/walletTransactionInvoke.ts
  crates/consumer/Cargo.toml
  crates/consumer/src/topics/mod.rs
  crates/consumer/src/topics/portfolio.rs
  crates/kafka/src/types/mod.rs
  crates/kafka/src/types/portfolio.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/api/queue/covalent.ts
  apps/app/app/api/queue/portfolio.ts
Due: js, Javascript

chore: refactor inngest (#1219)
  Cargo.lock
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/api/inngest/route.ts
  apps/app/app/api/queue/covalent.ts
  apps/app/src/actions/invokePortfolioAction.ts
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/walletPortfolioCovalentSet.ts
  apps/app/src/inngest/walletPortfolioCron.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletTransactionCovalentSet.ts
  apps/app/src/inngest/walletTransactionInvoke.ts
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/mod.rs
  crates/consumer/src/topics/portfolio.rs
  crates/covalent/src/types.rs
  crates/kafka/src/types/mod.rs
  crates/kafka/src/types/portfolio.rs
Due: js, rust, Javascript, Rust

chore: ini app client
  packages/client/src/app/index.ts
  packages/client/src/app/queue.ts
  packages/client/src/fetch.ts
Due: js, Javascript

chore: ini covalent key
  apps/app/app/(wallet)/[address]/overview/(components)/invoke-portfolio-button.tsx
  apps/app/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/app/api/queue/covalent/route.ts
  apps/app/app/api/queue/portfolio/route.ts
  apps/app/app/api/revalidate/path/route.ts
  apps/app/app/api/revalidate/tag/route.ts
Due: js, Javascript

chore: update
  packages/client/src/app/queue.ts
Due: js, Javascript

feat: ini app client (#1220)
  apps/app/app/(wallet)/[address]/overview/(components)/invoke-portfolio-button.tsx
  apps/app/app/api/queue/covalent/route.ts
  apps/app/app/api/queue/portfolio/route.ts
  apps/app/app/api/revalidate/path/route.ts
  apps/app/app/api/revalidate/tag/route.ts
  apps/app/package.json
  packages/client/src/app/index.ts
  packages/client/src/app/queue.ts
  packages/client/src/fetch.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update covalent lib
  bin/src/bin/consumer.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/covalent.rs
  crates/covalent/src/lib.rs
Due: rust, Rust

chore: update covalent lib (#1221)
  bin/src/bin/consumer.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/covalent.rs
  crates/covalent/src/lib.rs
Due: rust, Rust

feat: ini portfolio consumer
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/portfolio.rs
  crates/kafka/src/topics/portfolio.rs
Due: rust, Rust

chore: update
  .github/workflows/contracts.yml
Due: none

fix: consumer prtflo (#1222)
  .github/workflows/contracts.yml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/portfolio.rs
  crates/kafka/src/topics/portfolio.rs
Due: rust, Rust

fix: cvlnt topic return
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/portfolio.rs
Due: rust, Rust

fix: cvlnt topic return (#1223)
  .github/workflows/contracts.yml
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/portfolio.rs
Due: rust, Rust

feat: ini cvalnt queue
  apps/app/app/api/queue/covalent/route.ts
  apps/app/app/api/queue/portfolio/route.ts
  packages/client/src/app/queue.ts
Due: js, Javascript

feat: ini cvalnt queue (#1224)
  apps/app/app/api/queue/covalent/route.ts
  apps/app/app/api/queue/portfolio/route.ts
  packages/client/src/app/queue.ts
Due: js, Javascript

fix: table number column
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/columns.tsx
  apps/app/src/components/token/token-card-balance.tsx
  apps/ui/src/components/ui/number.tsx
Due: js, Javascript

fix: table number column (#1225)
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/columns.tsx
  apps/app/src/components/token/token-card-balance.tsx
  apps/ui/src/components/ui/number.tsx
Due: js, Javascript

fix: api limit
  crates/axum/src/api.rs
Due: rust, Rust

fix: api limit (#1226)
  crates/axum/src/api.rs
Due: rust, Rust

feat: ini api client
  apps/app/src/handlers/paths/[address]/op/handler.ts
  apps/app/src/services/getActivities.ts
  apps/app/src/services/getActivitiesCount.ts
  apps/app/src/services/getConfiguration.ts
  apps/app/src/services/getPortfolio.ts
  apps/app/src/services/getTokens.ts
  apps/app/src/services/getTokensCount.ts
  apps/app/src/services/getTransactions.ts
  apps/app/src/services/getTransactionsCount.ts
  apps/app/src/services/getUserOperation.ts
  apps/app/src/services/getUserOperationNonce.ts
  apps/app/src/services/getUserOperations.ts
  apps/app/src/services/getUserOperationsCount.ts
  apps/app/src/services/getWallet.ts
  apps/app/src/services/getWalletSettings.ts
  crates/axum/src/api.rs
  crates/axum/src/rpc.rs
  packages/client/src/api/activity.ts
  packages/client/src/api/auth.ts
  packages/client/src/api/configuration.ts
  packages/client/src/api/feedback.ts
  packages/client/src/api/invite_code.ts
  packages/client/src/api/paymaster_operation.ts
  packages/client/src/api/portfolio.ts
  packages/client/src/api/token.ts
  packages/client/src/api/token_price.ts
  packages/client/src/api/transaction.ts
  packages/client/src/api/user.ts
  packages/client/src/api/user_operation.ts
  packages/client/src/api/wallet.ts
  packages/client/src/client.ts
  packages/client/src/rpc/index.ts
Due: js, rust, Javascript, Rust

chore: update
  Makefile
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
