Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: lin
  .github/workflows/docker.yml
  .github/workflows/fastlane.yml
  .github/workflows/ios.yml
Due: none

chore: upd
  Cargo.toml
Due: none

perf: ini sccache (#303)
  .changeset/wet-tools-shake.md
  .github/workflows/android.yml
  .github/workflows/docker.yml
  .github/workflows/fastlane.yml
  .github/workflows/ios.yml
  .github/workflows/prisma.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/keychain/Cargo.toml
Due: rust, Rust

chore: ini li
  .github/workflows/rust.yml
  Cargo.toml
Due: none

chore: update
  crates/core/Cargo.toml
Due: rust, Rust

chore: update
  .github/workflows/rust.yml
Due: none

chore: ini remove cache
  .github/workflows/fastlane.yml
  .github/workflows/ios.yml
  .github/workflows/rust.yml
  Dockerfile
Due: none

chore: ini remove cache (#306)
  .github/workflows/fastlane.yml
  .github/workflows/ios.yml
  .github/workflows/rust.yml
  Dockerfile
Due: none

chore: changesets pr (pre) (#304)
  .changeset/pre.json
  android/CHANGELOG.md
  android/package.json
  bin/CHANGELOG.md
  bin/package.json
  crates/CHANGELOG.md
  crates/package.json
  ios/CHANGELOG.md
  ios/package.json
Due: rust, ios, Rust, iOS

chore: ini inngest check
  .changeset/shaggy-phones-lay.md
  .github/workflows/deploy.yml
  apps/api/__checks__/api/healthcheck.check.ts
  apps/api/__checks__/api/inngest.check.ts
  apps/api/__checks__/index.ts
Due: js, Javascript

fix: unnecessary arg
  contracts/src/LightWallet.sol
Due: contracts, Contracts

chore: update
  apps/api/__checks__/api/healthcheck.check.ts
  apps/api/__checks__/api/inngest.check.ts
Due: js, Javascript

fix: unnecessary arg (#308)
  contracts/src/LightWallet.sol
Due: contracts, Contracts

chore: ini inngest check (#307)
  .changeset/shaggy-phones-lay.md
  .github/workflows/deploy.yml
  apps/api/__checks__/api/healthcheck.check.ts
  apps/api/__checks__/api/inngest.check.ts
  apps/api/__checks__/index.ts
Due: js, Javascript

chore: ini build tsc
  configurations/eslint/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: js, Javascript

chore: update
  pnpm-lock.yaml
Due: none

chore: Update inngest.check.ts
  apps/api/__checks__/api/inngest.check.ts
Due: js, Javascript

chore: Update inngest.check.ts (#311)
  apps/api/__checks__/api/inngest.check.ts
Due: js, Javascript

chore: update
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: ini build tsc (#310)
  configurations/eslint/package.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Due: js, Javascript

chore: Update inngest.check.ts (#312)
  apps/api/__checks__/api/inngest.check.ts
Due: js, Javascript

chore: ini bump silius
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  Makefile
Due: none

chore: update
  Cargo.lock
  crates/bundler/Cargo.toml
  crates/bundler/src/lib.rs
Due: rust, Rust

chore: update
  crates/bundler/src/lib.rs
Due: rust, Rust

chore: deprecate git modules
  .gitmodules
Due: none

chore: update
  .license-check-and-add-config.json
  Makefile
Due: none

chore: ini bump silius (#313)
  .cargo/config.toml
  .gitmodules
  .license-check-and-add-config.json
  Cargo.lock
  Cargo.toml
  Makefile
  crates/bundler/Cargo.toml
  crates/bundler/src/lib.rs
Due: rust, Rust

chore: improve ci/cd permissions
  .github/workflows/android.yml
  .github/workflows/changesets.yml
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/fly.yml
  .github/workflows/ios.yml
  .github/workflows/k8s.yml
  .github/workflows/neon.yml
  .github/workflows/node.yml
  .github/workflows/prisma.yml
  .github/workflows/rust.yml
Due: none

chore: improve ci/cd permissions (#319)
  .github/workflows/android.yml
  .github/workflows/changesets.yml
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/fly.yml
  .github/workflows/ios.yml
  .github/workflows/k8s.yml
  .github/workflows/neon.yml
  .github/workflows/node.yml
  .github/workflows/prisma.yml
  .github/workflows/rust.yml
Due: none

fix: remove arg for ImmutableProxy
  .gas-snapshot
  contracts/src/proxies/ImmutableProxy.sol
Due: contracts, Contracts

fix: entrypoint address zero edge case
  .gas-snapshot
  contracts/src/LightWalletFactory.sol
  contracts/src/interfaces/ILightWalletFactory.sol
  contracts/test/integration/factory/LightWalletFactory.t.sol
  contracts/test/integration/factory/LightWalletFactory.tree
Due: contracts, Contracts

fix: refactor utils testing
  contracts/src/utils/UniversalSigValidator.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fuzz/signature/IsValidSignature.t.sol
  contracts/test/integration/flow/erc1155-batch/BatchSendERC1155.t.sol
  contracts/test/integration/flow/erc1155/SendERC1155.t.sol
  contracts/test/integration/flow/erc20-batch/BatchSendERC20.t.sol
  contracts/test/integration/flow/erc20/SendERC20.t.sol
  contracts/test/integration/flow/erc721-batch/BatchSendERC721.t.sol
  contracts/test/integration/flow/erc721/SendERC721.t.sol
  contracts/test/integration/flow/eth-batch/BatchSendEth.t.sol
  contracts/test/integration/flow/eth/SendEth.t.sol
  contracts/test/integration/signature/IsValidSignature.t.sol
  contracts/test/integration/upgradability/hash/ImageHashUpgradabliity.t.sol
  contracts/test/unit/internal/Internal.t.sol
  contracts/test/utils/ERC4337Utils.sol
  contracts/test/utils/LightWalletUtils.sol
Due: none

chore: remove token paymaster
  contracts/src/core/TokenPaymaster.sol
Due: contracts, Contracts

chore: update
  .contracts-size
  .storage-layouts
Due: none

fix: omn (#325)
  .contracts-size
  .gas-snapshot
  .storage-layouts
  contracts/src/LightWalletFactory.sol
  contracts/src/core/TokenPaymaster.sol
  contracts/src/interfaces/ILightWalletFactory.sol
  contracts/src/proxies/ImmutableProxy.sol
  contracts/src/utils/UniversalSigValidator.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fuzz/signature/IsValidSignature.t.sol
  contracts/test/integration/factory/LightWalletFactory.t.sol
  contracts/test/integration/factory/LightWalletFactory.tree
  contracts/test/integration/flow/erc1155-batch/BatchSendERC1155.t.sol
  contracts/test/integration/flow/erc1155/SendERC1155.t.sol
  contracts/test/integration/flow/erc20-batch/BatchSendERC20.t.sol
  contracts/test/integration/flow/erc20/SendERC20.t.sol
  contracts/test/integration/flow/erc721-batch/BatchSendERC721.t.sol
  contracts/test/integration/flow/erc721/SendERC721.t.sol
  contracts/test/integration/flow/eth-batch/BatchSendEth.t.sol
  contracts/test/integration/flow/eth/SendEth.t.sol
  contracts/test/integration/signature/IsValidSignature.t.sol
  contracts/test/integration/upgradability/hash/ImageHashUpgradabliity.t.sol
  contracts/test/unit/internal/Internal.t.sol
  contracts/test/utils/ERC4337Utils.sol
  contracts/test/utils/LightWalletUtils.sol
Due: contracts, Contracts

fix: test spec
  contracts/test/spec/LightWalletFactory.spec.ts
Due: none

fix: test spec (#327)
  contracts/test/spec/LightWalletFactory.spec.ts
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
