Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: refactor cargo core
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
Due: rust, Rust

chore: update
  .github/workflows/android.yml
  .github/workflows/changesets.yml
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/fly.yml
  .github/workflows/ios.yml
  .github/workflows/k8s.yml
  .github/workflows/node.yml
  .github/workflows/prisma.yml
  .github/workflows/rust.yml
Due: none

chore: Chore/ini ref cargo core (#328)
  .github/workflows/android.yml
  .github/workflows/changesets.yml
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/fly.yml
  .github/workflows/ios.yml
  .github/workflows/k8s.yml
  .github/workflows/node.yml
  .github/workflows/prisma.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
Due: rust, Rust

feat: ini env parse from clap
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  crates/indexer/Cargo.toml
  crates/indexer/src/config.rs
  crates/indexer/src/lib.rs
Due: rust, Rust

feat: ini lightdotso db
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/error.rs
  crates/db/src/lib.rs
  crates/db/tests/.gitkeep
  crates/indexer/src/config.rs
Due: rust, Rust

chore: update
  .github/workflows/rust.yml
Due: none

chore: ini indexer config
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/Cargo.toml
  bin/src/bin/cli.rs
  bin/src/bin/indexer.rs
  crates/indexer/Cargo.toml
  crates/indexer/src/config.rs
Due: rust, Rust

chore: ini docker build + indexer
  .github/workflows/docker.yml
  fly/indexer/fly.toml
Due: none

feat: ini env parse from clap (#329)
  .github/workflows/docker.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/Cargo.toml
  bin/src/bin/cli.rs
  bin/src/bin/indexer.rs
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/error.rs
  crates/db/src/lib.rs
  crates/db/tests/.gitkeep
  crates/indexer/src/config.rs
  fly/indexer/fly.toml
Due: rust, Rust

feat: ini trpc auth refactor
  apps/app/app/Users.tsx
  apps/app/app/api/auth/[...nextauth]/route.ts
  apps/app/app/api/trpc/[trpc]/route.ts
  apps/app/app/api/trpc/revalidate/route.ts
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/app/package.json
  packages/auth/index.ts
  packages/trpc/package.json
  packages/trpc/src/client/index.ts
  packages/trpc/src/client/trpc.ts
  packages/trpc/src/routers/user.ts
  packages/trpc/src/server/context.ts
  packages/trpc/src/server/http.ts
  packages/trpc/src/server/index.ts
  packages/trpc/src/server/invoker.ts
  packages/trpc/src/server/nextHandler.ts
  packages/trpc/src/server/shared.ts
  packages/trpc/src/server/trpc.ts
  packages/trpc/tsconfig.json
  packages/trpc/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: ini app dir
  apps/app/app/Users.tsx
  apps/app/app/page.tsx
  apps/app/next-env.d.ts
  apps/app/next.config.js
Due: js, Javascript

chore: update
  apps/app/app/Users.tsx
  apps/app/next-env.d.ts
Due: js, Javascript

chore: ini client action
  apps/app/app/page.tsx
  apps/app/next-env.d.ts
Due: js, Javascript

feat: complete refactor trpc (#331)
  apps/app/app/api/auth/[...nextauth]/route.ts
  apps/app/app/api/trpc/[trpc]/route.ts
  apps/app/app/api/trpc/revalidate/route.ts
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/app/next-env.d.ts
  apps/app/next.config.js
  apps/app/package.json
  packages/auth/index.ts
  packages/trpc/package.json
  packages/trpc/src/client/index.ts
  packages/trpc/src/client/trpc.ts
  packages/trpc/src/routers/user.ts
  packages/trpc/src/server/context.ts
  packages/trpc/src/server/http.ts
  packages/trpc/src/server/index.ts
  packages/trpc/src/server/invoker.ts
  packages/trpc/src/server/nextHandler.ts
  packages/trpc/src/server/shared.ts
  packages/trpc/src/server/trpc.ts
  packages/trpc/tsconfig.json
  packages/trpc/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini client fetch
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/app/app/trpc.tsx
  apps/app/app/user.tsx
  apps/app/package.json
  packages/trpc/src/client/next.ts
  packages/trpc/src/server/trpc.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/api/next.config.js
  apps/app/app/layout.tsx
  packages/trpc/src/routers/user.ts
  packages/trpc/src/server/shared.ts
  packages/trpc/tsconfig.json
  packages/trpc/turbo.json
Due: js, Javascript

feat: ini client react
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/app/app/trpc-provider.tsx
  apps/app/app/user.tsx
  apps/app/package.json
  apps/app/turbo.json
  packages/trpc/package.json
  packages/trpc/src/client/index.ts
  packages/trpc/src/client/react.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/trpc/package.json
  packages/trpc/src/server/action.ts
  packages/trpc/src/server/trpc.ts
Due: js, Javascript

chore: update
  apps/app/app/page.tsx
  packages/trpc/package.json
  packages/trpc/src/routers/user.ts
Due: js, Javascript

chore: update
  apps/app/app/api/auth/[...nextauth]/route.ts
  packages/auth/index.ts
  packages/auth/turbo.json
Due: js, Javascript

chore: update
  apps/api/app/api/trpc/[trpc]/route.ts
  apps/api/app/api/trpc/revalidate/route.ts
  apps/api/package.json
  apps/app/__checks__/api/healthcheck.check.ts
  apps/app/__checks__/index.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini client fetch (#332)
  apps/api/app/api/trpc/[trpc]/route.ts
  apps/api/app/api/trpc/revalidate/route.ts
  apps/api/next.config.js
  apps/api/package.json
  apps/app/__checks__/api/healthcheck.check.ts
  apps/app/__checks__/index.ts
  apps/app/app/layout.tsx
  apps/app/app/trpc-provider.tsx
  apps/app/app/user.tsx
  apps/app/package.json
  apps/app/turbo.json
  packages/auth/index.ts
  packages/auth/turbo.json
  packages/trpc/package.json
  packages/trpc/src/client/index.ts
  packages/trpc/src/client/next.ts
  packages/trpc/src/client/react.ts
  packages/trpc/src/routers/user.ts
  packages/trpc/src/server/action.ts
  packages/trpc/src/server/shared.ts
  packages/trpc/src/server/trpc.ts
  packages/trpc/tsconfig.json
  packages/trpc/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini client siwe
  apps/app/__checks__/api/healthcheck.check.ts
  apps/app/next.config.js
  configurations/eslint/src/index.js
  packages/auth/index.ts
  packages/trpc/src/routers/user.ts
Due: js, Javascript

feat: ini connectkit siwe
  apps/app/app/auth/page.tsx
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/app/app/siwe.tsx
  apps/app/next-auth.d.ts
  apps/app/tsconfig.json
  apps/app/turbo.json
  packages/auth/index.ts
Due: js, Javascript

chore: update
  apps/app/app/layout.tsx
  apps/app/app/siwe.tsx
Due: js, Javascript

chore: update
  contracts/test/spec/LightWallet.spec.ts
  contracts/test/spec/__test__/setup.ts
  packages/auth/index.ts
  packages/background/src/background.ts
  packages/content/src/content.ts
  packages/inpage/src/inpage.ts
  packages/solutions/src/utils/calculateImageHash.spec.ts
  packages/solutions/src/utils/subdigestOf.spec.ts
  packages/trpc/src/server/trpc.ts
  playwright.config.ts
Due: js, Javascript

feat: ini connectkit (#333)
  apps/app/__checks__/api/healthcheck.check.ts
  apps/app/app/auth/page.tsx
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/app/app/siwe.tsx
  apps/app/next-auth.d.ts
  apps/app/next.config.js
  apps/app/tsconfig.json
  apps/app/turbo.json
  configurations/eslint/src/index.js
  packages/auth/index.ts
  packages/trpc/src/routers/user.ts
Due: js, Javascript

feat: ini react client (#334)
  contracts/test/spec/LightWallet.spec.ts
  contracts/test/spec/__test__/setup.ts
  packages/auth/index.ts
  packages/background/src/background.ts
  packages/content/src/content.ts
  packages/inpage/src/inpage.ts
  packages/solutions/src/utils/calculateImageHash.spec.ts
  packages/solutions/src/utils/subdigestOf.spec.ts
  packages/trpc/src/server/trpc.ts
  playwright.config.ts
Due: js, Javascript

feat: ini experimental next react query
  apps/app/app/trpc-provider.tsx
  packages/trpc/package.json
  packages/trpc/src/client/next.ts
  packages/trpc/src/client/react.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: ini db gitignore
  .gitignore
  bin/src/bin/indexer.rs
Due: rust, Rust

fix: next auth url
  packages/auth/index.ts
Due: js, Javascript

chore: update
  packages/auth/index.ts
Due: js, Javascript

chore: update
  packages/auth/index.ts
  packages/auth/package.json
Due: js, Javascript

chore: update auth siwe
  apps/app/app/siwe.tsx
  apps/app/next-auth.d.ts
  packages/auth/index.ts
Due: js, Javascript

chore: update next auth url
  apps/app/.env.production
Due: js, Javascript

chore: update
  apps/app/app/siwe.tsx
  configurations/eslint/src/index.js
  packages/auth/index.ts
Due: js, Javascript

fix: next auth url (#338)
  apps/app/.env.production
  apps/app/app/siwe.tsx
  apps/app/next-auth.d.ts
  configurations/eslint/src/index.js
  packages/auth/index.ts
  packages/auth/package.json
Due: js, Javascript

chore: ini fix
  apps/app/package.json
  packages/auth/index.ts
  packages/auth/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
Due: js, Javascript
