Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: udpate
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: update
  README.md
Due: none

chore: update
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

chore: update
  packages/stores/src/useUserOperations.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

fix: ini tx uop (#1809)
  .changeset/shiny-beers-punch.md
  README.md
  SECURITY.md
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1710637733.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1710637758.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1710637887.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1710638047.json
  broadcast/LightWalletFactoryDeployer.s.sol/43114/run-1710637314.json
  broadcast/LightWalletFactoryDeployer.s.sol/43114/run-1710637532.json
  broadcast/LightWalletFactoryDeployer.s.sol/43114/run-1710637538.json
  crates/contracts/src/constants.rs
  packages/hooks/src/useUserOperationCreate.ts
  packages/nuqs/src/index.ts
  packages/nuqs/src/useInternalUserOperationsQueryState.ts
  packages/stores/src/useUserOperations.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction-sender.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini info op
  .changeset/rich-tigers-argue.md
  apps/app/package.json
  packages/const/package.json
  packages/forms/package.json
  packages/hooks/src/useUserOperationSend.ts
  packages/modals/package.json
  packages/msw/package.json
  packages/stores/package.json
  packages/templates/package.json
  packages/templates/src/transaction/transaction.tsx
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationSend.ts
  packages/templates/src/transaction/transaction-sender.tsx
Due: js, Javascript

feat: ini form tx (#1810)
  .changeset/rich-tigers-argue.md
  apps/app/package.json
  packages/const/package.json
  packages/forms/package.json
  packages/hooks/src/useUserOperationSend.ts
  packages/modals/package.json
  packages/msw/package.json
  packages/stores/package.json
  packages/templates/package.json
  packages/templates/src/transaction/transaction-sender.tsx
  packages/templates/src/transaction/transaction.tsx
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: ini batch progression
  crates/axum/src/routes/user_operation/create.rs
  packages/query/src/useMutationConfigurationOperationCreate.ts
  packages/query/src/useMutationUserOperationCreateBatch.ts
  packages/templates/src/progress-user-operation/progress-user-operation.tsx
Due: js, rust, Javascript, Rust

chore: update
  SECURITY.md
Due: none

chore: update
  .changeset/eight-buses-watch.md
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

fix: ini uop batch (#1811)
  .changeset/eight-buses-watch.md
  SECURITY.md
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
  packages/query/src/useMutationConfigurationOperationCreate.ts
  packages/query/src/useMutationUserOperationCreateBatch.ts
  packages/templates/src/progress-user-operation/progress-user-operation.tsx
Due: js, rust, Javascript, Rust

fix: create even leaves
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

fix: create even leaves (#1812)
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini hashes leaf
  contracts/package.json
  contracts/test/spec/misc/MerkleProof.spec.ts
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini hashes leaf (#1813)
  contracts/package.json
  contracts/test/spec/misc/MerkleProof.spec.ts
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini tx queue
  contracts/test/spec/misc/MerkleProof.spec.ts
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
Due: js, rust, Javascript, Rust

fix: encoding dialog
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
Due: js, Javascript

chore: update
  .changeset/quick-ligers-do.md
Due: none

chore: update
  contracts/test/spec/misc/MerkleProof.spec.ts
Due: none

fix: ini merkle (#1814)
  .changeset/quick-ligers-do.md
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  contracts/test/spec/misc/MerkleProof.spec.ts
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
Due: js, rust, Javascript, Rust

feat: refactor merkle proof
  .gas-snapshot
  Cargo.lock
  contracts/package.json
  contracts/test/spec/misc/MerkleProof.spec.ts
  contracts/test/unit/signature/Signature.t.sol
  crates/axum/Cargo.toml
  crates/axum/src/routes/user_operation/create.rs
  pnpm-lock.yaml
Due: rust, Rust

chore: update
  contracts/test/spec/misc/MerkleProof.spec.ts
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

chore: update
  .gas-snapshot
  contracts/test/unit/signature/Signature.t.sol
Due: none

chore: update
  .changeset/chatty-keys-sort.md
Due: none

chore: update
  REFERENCES.md
Due: none

feat: ini merkler (#1815)
  .changeset/chatty-keys-sort.md
  .gas-snapshot
  Cargo.lock
  REFERENCES.md
  contracts/package.json
  contracts/test/spec/misc/MerkleProof.spec.ts
  contracts/test/unit/signature/Signature.t.sol
  crates/axum/Cargo.toml
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini const axum
  contracts/test/spec/misc/MerkleProof.spec.ts
  crates/axum/src/routes/token/update.rs
  crates/contracts/src/constants.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  .changeset/hungry-mugs-applaud.md
Due: none

chore: udpate
  apps/app/app/(wallet)/[address]/deposit/(components)/deposit-dialog.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
Due: js, Javascript

feat: ini const progress (#1816)
  .changeset/hungry-mugs-applaud.md
  apps/app/app/(wallet)/[address]/deposit/(components)/deposit-dialog.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  contracts/test/spec/misc/MerkleProof.spec.ts
  crates/axum/src/routes/token/update.rs
  crates/contracts/src/constants.rs
  crates/rpc/src/constants.rs
Due: js, rust, Javascript, Rust

chore: ini mp
  contracts/test/spec/misc/MerkleProof.spec.ts
Due: none

chore: update
  .changeset/gentle-sheep-dream.md
Due: none

chore: update
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

feat: ini fetcher tx
  apps/app/app/(wallet)/[address]/create/(components)/create-dialog.tsx
  apps/app/app/(wallet)/[address]/create/page.tsx
  packages/hooks/src/useUserOperationCreate.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  packages/hooks/package.json
  packages/templates/src/transaction/transaction-fetcher.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  packages/templates/package.json
  pnpm-lock.yaml
Due: js, Javascript
