Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: misc app changes
  apps/app/app/root-logo.tsx
  apps/app/app/root.tsx
  apps/app/src/components/wallet-switcher.tsx
Due: js, Javascript

chore: update
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698621463.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698621469.json
Due: none

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: misc app changes (#827)
  apps/app/app/root-logo.tsx
  apps/app/app/root.tsx
  apps/app/src/components/wallet-switcher.tsx
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698621463.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698621469.json
  crates/paymaster/src/paymaster.rs
Due: js, rust, Javascript, Rust

feat: ini v3
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  crates/paymaster/src/constants.rs
Due: rust, Rust

chore: ini hash bytes
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  crates/paymaster/src/constants.rs
Due: rust, Rust

chore: update
  apps/app/app/(wallet)/[address]/transactions/all/page.tsx
  apps/app/src/services/getCachedUserOperations.ts
Due: js, Javascript

chore: update
  Cargo.lock
  crates/paymaster/Cargo.toml
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

feat: ini v3 deployer (#828)
  Cargo.lock
  apps/app/app/(wallet)/[address]/transactions/all/page.tsx
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  crates/paymaster/Cargo.toml
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: js, rust, Javascript, Rust

fix: misc deployments
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698641450.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698641462.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698641238.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698641266.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698641272.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1698641315.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1698641327.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1698641366.json
  crates/gas/src/config.rs
  crates/paymaster/src/config.rs
  crates/simulator/src/config.rs
Due: rust, Rust

chore: update
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698641542.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698641548.json
Due: none

fix: misc deployment (#829)
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698641450.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698641462.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698641238.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698641266.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698641272.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698641542.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698641548.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1698641315.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1698641327.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1698641366.json
  crates/gas/src/config.rs
  crates/paymaster/src/config.rs
  crates/paymaster/src/paymaster.rs
  crates/simulator/src/config.rs
Due: rust, Rust

feat: ini deployer
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698643083.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698643096.json
  crates/signer/tests/it/main.rs
Due: rust, Rust

feat: ini v2 (#830)
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698643083.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698643096.json
  crates/paymaster/src/paymaster.rs
  crates/signer/tests/it/main.rs
Due: rust, Rust

fix: switcher
  apps/app/src/components/wallet-switcher.tsx
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698645478.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698645484.json
Due: js, Javascript

perf: ini react query persist
  apps/ui/package.json
  apps/ui/src/providers/react-query.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/package.json
  apps/auth/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/ui/package.json
  configurations/kysely/package.json
  configurations/prisma/package.json
  package.json
  packages/const/package.json
  packages/next-auth/package.json
  packages/solutions/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/package.json
  apps/app/src/components/transactions-list.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/explorer/package.json
  package.json
  packages/solutions/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/ui/src/providers/react-query.tsx
Due: js, Javascript

chore: update
  apps/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: switcher (#831)
  apps/app/package.json
  apps/app/src/components/transactions-list.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/auth/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/ui/package.json
  apps/ui/src/providers/react-query.tsx
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698645478.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698645484.json
  configurations/kysely/package.json
  configurations/prisma/package.json
  package.json
  packages/const/package.json
  packages/next-auth/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: build
  apps/app/package.json
  apps/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  pnpm-lock.yaml
Due: none

fix: build (#832)
  apps/app/package.json
  apps/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini build pay
  Cargo.lock
  crates/paymaster/src/config.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
  crates/signer/Cargo.toml
  crates/signer/tests/it/main.rs
  thunder-tests/collections/tc_col_local.json
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: update
  crates/signer/tests/it/main.rs
Due: rust, Rust

chore: update
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

feat: ini build pay (#833)
  Cargo.lock
  crates/paymaster/src/config.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
  crates/signer/Cargo.toml
  crates/signer/tests/it/main.rs
  thunder-tests/collections/tc_col_local.json
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

feat: ini const billing
  apps/app/app/(wallet)/[address]/settings/account/layout.tsx
  apps/app/app/(wallet)/[address]/settings/billing/layout.tsx
  apps/app/app/(wallet)/[address]/settings/layout.tsx
  apps/app/src/const/titles.ts
  crates/paymaster/src/paymaster.rs
Due: js, rust, Javascript, Rust

fix: modal height
  apps/app/src/components/modal.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
