Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/layout.tsx
  packages/elements/src/invoke-button.tsx
Due: js, Javascript

chore: update sync tx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

feat: ini create interception
  apps/app/app/(wallet)/@create/(.)[address]/create/page.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  packages/stores/src/useModals.ts
  packages/templates/src/modal-interception/modal-interception.tsx
Due: js, Javascript

chore: ini dev info
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  packages/elements/.depcheckrc.yml
  packages/templates/src/transaction/transaction-dev-info.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: ini op modal size
  apps/app/app/(wallet)/@op/(.)[address]/op/[userOperationHash]/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/@op/(.)[address]/op/[userOperationHash]/page.tsx
  packages/templates/src/modal-interception/modal-interception.tsx
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

chore: ini modal interception
  packages/templates/src/modal-interception/modal-interception.tsx
Due: js, Javascript

chore: update polling modal queue
  crates/polling/src/polling.rs
  packages/templates/src/modal/modal.tsx
Due: js, rust, Javascript, Rust

chore: ini modal interception fix
  packages/templates/src/modal-interception/modal-interception.tsx
Due: js, Javascript

chore: update blast chain logos
  packages/svg/src/chain/blast.tsx
  packages/svg/src/chain/celo.tsx
  packages/svg/src/chain/index.tsx
Due: js, Javascript

chore: auto fix commit
  packages/svg/src/chain/blast.tsx
  packages/svg/src/chain/celo.tsx
Due: js, Javascript

chore: ini queue intp
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update modal variant
  packages/templates/src/modal-interception/modal-interception.tsx
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

fix: ini sticky modal
  packages/templates/src/banner/banner.tsx
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

chore: update
  packages/templates/src/banner/banner.tsx
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

chore: ini activity queue + chain modals + modal interception fix (#1635)
  crates/polling/src/polling.rs
  packages/svg/src/chain/blast.tsx
  packages/svg/src/chain/celo.tsx
  packages/svg/src/chain/index.tsx
  packages/templates/src/banner/banner.tsx
  packages/templates/src/modal-interception/modal-interception.tsx
  packages/templates/src/modal/modal.tsx
Due: js, rust, Javascript, Rust

chore: ini app holdings
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

chore: ini base button
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/src/components/settings/settings-card-button.tsx
Due: js, Javascript

feat: ini settings base
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/src/components/settings/settings-card-base-button.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
Due: js, Javascript

feat: queue log
  crates/polling/src/polling.rs
Due: rust, Rust

chore: ini app holdings (#1636)
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/src/components/settings/settings-card-base-button.tsx
  crates/polling/src/polling.rs
  packages/templates/src/modal/modal.tsx
Due: js, rust, Javascript, Rust

feat: ini uop queue
  Cargo.lock
  crates/axum/src/routes/queue/user_operation.rs
  crates/axum/src/rpc.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/types/user_operation.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update smooth
  .changeset/smooth-peas-obey.md
Due: none

feat: ini queue op (#1637)
  .changeset/smooth-peas-obey.md
  Cargo.lock
  crates/axum/src/routes/queue/user_operation.rs
  crates/axum/src/rpc.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/types/user_operation.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini uop flag
  crates/axum/src/routes/queue/user_operation.rs
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/types/user_operation.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

fix: obsidian banner
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

fix: banner op
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

feat: ini uop (#1638)
  crates/axum/src/routes/queue/user_operation.rs
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/types/user_operation.rs
  crates/rpc/src/lib.rs
  packages/templates/src/banner/banner.tsx
Due: js, rust, Javascript, Rust

chore: update fly config
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: none

fix: card propogation
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
Due: js, Javascript

fix: button propogation
  .changeset/cool-bottles-crash.md
Due: none

fix: footer button href click
  packages/templates/src/footer-button/footer-button.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
Due: js, Javascript

chore: update
  packages/templates/src/footer-button/footer-button.tsx
Due: js, Javascript

chore: ini button href
  packages/templates/src/footer-button/footer-button.tsx
Due: js, Javascript

chore: ini footer button e handler
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/@send/(.)[address]/send/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  packages/templates/src/footer-button/footer-button.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(wallet)/@send/(.)[address]/send/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
Due: js, Javascript
