Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini handle
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/src/components/modal.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/handles/transaction/[chainId].ts
Due: js, Javascript

perf: ini deploy button
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
Due: js, Javascript

chore: deprecate immer
  apps/app/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/src/handles/validators/hex.ts
Due: js, Javascript

chore: updat
  apps/app/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/.depcheckrc.yml
Due: js, Javascript

perf: ini handler parser
  apps/app/src/handles/parsers/number.ts
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/src/handles/validators/number.ts
Due: js, Javascript

feat: ini ch
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
Due: js, Javascript

chore: update
  apps/app/src/handles/validators/number.ts
Due: js, Javascript

chore: update
  apps/app/src/handles/parsers/number.ts
  apps/app/src/handles/regexs/hexNumber.ts
Due: js, Javascript

feat: ini interception routes (#757)
  apps/app/.depcheckrc.yml
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/@transaction/default.tsx
  apps/app/app/(wallet)/[address]/default.tsx
  apps/app/app/(wallet)/[address]/layout.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
  apps/app/src/components/modal.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/handles/parsers/number.ts
  apps/app/src/handles/regexs/hexNumber.ts
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/src/handles/validators/hex.ts
  apps/app/src/handles/validators/number.ts
  apps/app/src/hooks/useTabs.ts
  apps/app/src/stores/useTransaction.ts
Due: js, Javascript

feat: ini chain sig
  apps/app/app/(wallet)/[address]/settings/page.tsx
Due: js, Javascript

perf: ini user op sig
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/@transaction/default.tsx
  apps/app/app/(wallet)/[address]/default.tsx
Due: js, Javascript

perf: ini schema
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

chore: ini default
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/@transaction/default.tsx
  apps/app/app/(wallet)/[address]/default.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/settings/page.tsx
Due: js, Javascript

perf: ini page settings handler
  apps/app/app/(wallet)/[address]/settings/page.tsx
Due: js, Javascript

perf: ini page params
  apps/app/app/(wallet)/[address]/settings/page.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/layout.tsx
Due: js, Javascript

feat: ini chain sig (#758)
  apps/app/app/(wallet)/[address]/settings/page.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: refactor schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini db wallet create nation
  crates/axum/src/routes/wallet.rs
  crates/db/src/db.rs
Due: rust, Rust

perf: ini chain id
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

perf: ini wallet configurations
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

feat: refactor schema (#759)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/wallet.rs
  crates/db/src/db.rs
Due: js, rust, Javascript, Rust

perf: ini api refactor
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

feat: ini user op
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

perf: ini api refactor (#760)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

feat: ini configuration
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  Makefile
  scripts/add_recursive_flag.sh
Due: none
