Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: tmp op upsert (#982)
  crates/db/src/db.rs
Due: rust, Rust

chore: ini info form
  crates/db/src/db.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: ini info form (#983)
  crates/db/src/db.rs
  crates/polling/src/polling.rs
Due: rust, Rust

fix: subgraph deployment
  apps/subgraph/package.json
  apps/subgraph/src/user-operation.ts
  apps/subgraph/subgraph.yaml
Due: js, Javascript

fix: subgraph deployment (#984)
  apps/subgraph/package.json
  apps/subgraph/src/user-operation.ts
  apps/subgraph/subgraph.yaml
Due: js, Javascript

chore: fix schema db
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, rust, Javascript, Rust

chore: fix schema db (#985)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, rust, Javascript, Rust

chore: update release
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  configurations/prisma/scripts/insert_paymaster_ops.sql
  crates/contracts/src/paymaster.rs
Due: js, rust, Javascript, Rust

chore: update release (#986)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  configurations/prisma/scripts/insert_paymaster_ops.sql
  crates/contracts/src/paymaster.rs
Due: js, rust, Javascript, Rust

fix: disable logs
  crates/db/src/db.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/polling/src/polling.rs
Due: rust, Rust

fix: disable logs (#987)
  crates/db/src/db.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: fix
  crates/polling/src/polling.rs
Due: rust, Rust

fix: dis (#988)
  crates/polling/src/polling.rs
Due: rust, Rust

chore: upsert db
  crates/db/src/db.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/db/src/db.rs
Due: rust, Rust

chore: ini update handler
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

chore: upsert tx (#989)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/user_operation.rs
  crates/db/src/db.rs
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(wallet)/[address]/transactions/(components)/invoke-user-operation-button.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
  crates/paymaster/src/paymaster.rs
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(wallet)/[address]/transactions/(components)/invoke-user-operation-button.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update (#990)
  apps/app/app/(wallet)/[address]/transactions/(components)/invoke-user-operation-button.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
  crates/paymaster/src/paymaster.rs
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update pm nonce
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
Due: js, Javascript

chore: update pm nonce (#991)
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
Due: js, Javascript

chore: ini ohchain nonce
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: ini ohchain nonce (#992)
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: v20
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: v20 (#993)
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: nonce op
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

fix: nonce op (#994)
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305327.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305333.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305349.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305355.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305372.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305378.json
  crates/axum/src/routes/user_operation.rs
  crates/db/src/db.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: update (#995)
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305327.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305333.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305349.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305355.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305372.json
  broadcast/PaymasterAddDepositOps.s.sol/137/run-1701305378.json
  crates/axum/src/routes/user_operation.rs
  crates/db/src/db.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: ini deploy
  .gas-snapshot
  broadcast/LightVerifyingPaymasterDeployer.s.sol/80001/run-1701308967.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/80001/run-1701308973.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/80001/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309093.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309124.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309171.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309177.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309219.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309239.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309246.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/80001/run-1701309021.json
  broadcast/PaymasterAddStakeOps.s.sol/80001/run-1701309028.json
  broadcast/PaymasterAddStakeOps.s.sol/80001/run-latest.json
  contracts/script/flow/LightVerifyingPaymasterVerifyFlow.s.sol
Due: none

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/80001/run-1701309594.json
  broadcast/LightWalletFactoryDeployer.s.sol/80001/run-1701309601.json
  broadcast/LightWalletFactoryDeployer.s.sol/80001/run-latest.json
Due: none

chore: update
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: Chore/upd (#996)
  .gas-snapshot
  broadcast/LightVerifyingPaymasterDeployer.s.sol/80001/run-1701308967.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/80001/run-1701308973.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/80001/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/80001/run-1701309594.json
  broadcast/LightWalletFactoryDeployer.s.sol/80001/run-1701309601.json
  broadcast/LightWalletFactoryDeployer.s.sol/80001/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309093.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309124.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309171.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309177.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309219.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309239.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-1701309246.json
  broadcast/PaymasterAddDepositOps.s.sol/80001/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/80001/run-1701309021.json
  broadcast/PaymasterAddStakeOps.s.sol/80001/run-1701309028.json
  broadcast/PaymasterAddStakeOps.s.sol/80001/run-latest.json
  contracts/script/flow/LightVerifyingPaymasterVerifyFlow.s.sol
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: format components
  apps/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .prettierignore
  apps/ui/src/components/ui/alert-dialog.tsx
  apps/ui/src/components/ui/alert.tsx
  apps/ui/src/components/ui/aspect-ratio.tsx
  apps/ui/src/components/ui/avatar.tsx
  apps/ui/src/components/ui/badge.tsx
  apps/ui/src/components/ui/button.tsx
  apps/ui/src/components/ui/calendar.tsx
  apps/ui/src/components/ui/card.tsx
  apps/ui/src/components/ui/checkbox.tsx
  apps/ui/src/components/ui/collapsible.tsx
  apps/ui/src/components/ui/command.tsx
  apps/ui/src/components/ui/context-menu.tsx
  apps/ui/src/components/ui/dialog.tsx
  apps/ui/src/components/ui/dropdown-menu.tsx
  apps/ui/src/components/ui/form.tsx
  apps/ui/src/components/ui/hover-card.tsx
  apps/ui/src/components/ui/input.tsx
  apps/ui/src/components/ui/label.tsx
  apps/ui/src/components/ui/menubar.tsx
  apps/ui/src/components/ui/navigation-menu.tsx
  apps/ui/src/components/ui/popover.tsx
  apps/ui/src/components/ui/progress.tsx
  apps/ui/src/components/ui/radio-group.tsx
  apps/ui/src/components/ui/scroll-area.tsx
  apps/ui/src/components/ui/select.tsx
  apps/ui/src/components/ui/separator.tsx
  apps/ui/src/components/ui/sheet.tsx
  apps/ui/src/components/ui/skeleton.tsx
  apps/ui/src/components/ui/slider.tsx
  apps/ui/src/components/ui/switch.tsx
  apps/ui/src/components/ui/table.tsx
  apps/ui/src/components/ui/tabs.tsx
  apps/ui/src/components/ui/textarea.tsx
  apps/ui/src/components/ui/toast.stories.tsx
  apps/ui/src/components/ui/toast.tsx
  apps/ui/src/components/ui/toaster.tsx
  apps/ui/src/components/ui/toggle.tsx
  apps/ui/src/components/ui/tooltip.tsx
  apps/ui/src/components/ui/typography.tsx
Due: js, Javascript

fix: float parsing
  apps/ui/src/components/ui/toast.stories.tsx
  apps/ui/src/components/ui/toast.tsx
  apps/ui/src/components/ui/toaster.tsx
  apps/ui/src/components/ui/use-toast.ts
Due: js, Javascript

chore: update
  apps/ui/src/components/ui/use-toast.ts
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
