Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        target: auto
        threshold: "0%"
        informational: true
      contracts:
        target: auto
        flags:
          - contracts
      js:
        target: auto
        flags:
          - js
      rust:
        target: auto
        flags:
          - rust
      ios:
        target: auto
        flags:
          - ios
    patch:
      default:
        target: auto
        threshold: "0%"
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  Dockerfile
Due: none

chore: update
  .python-version
Due: none

Update Dockerfile
  Dockerfile
Due: none

chore: update
  .github/workflows/docker.yml
  Dockerfile
Due: none

chore: deprecate
  .github/workflows/sync.yml
Due: none

chore: ini auth test
  apps/app/app/auth/page.tsx
  apps/app/next.config.js
  packages/auth/index.ts
Due: js, Javascript

perf: ini auth session
  apps/app/app/api/auth/session/route.ts
  apps/app/pages/api/auth/[...nextauth].ts
  packages/auth/index.ts
Due: js, Javascript

chore: update
  packages/trpc/src/server/context.ts
Due: js, Javascript

chore: update
  Dockerfile
  Makefile
Due: none

feat: ini local db (#285)
  Makefile
  apps/api/.env.development
  apps/app/.env
  apps/app/.env.development
  apps/app/app/api/auth/session/route.ts
  apps/app/app/auth/page.tsx
  apps/app/next.config.js
  apps/app/pages/api/auth/[...nextauth].ts
  apps/app/turbo.json
  configurations/prisma/.env.development
  configurations/prisma/package.json
  configurations/prisma/turbo.json
  docker-compose.yml
  package.json
  packages/auth/index.ts
  packages/auth/turbo.json
  packages/trpc/src/server/context.ts
  turbo.json
Due: js, Javascript

chore: update
  Makefile
Due: none

chore: update
  Cargo.lock
  Cargo.toml
  Makefile
  bin/Cargo.toml
  bin/src/bin/bundler.rs
Due: rust, Rust

chore: update
  .github/workflows/docker.yml
Due: none

chore: update
  codecov.yml
Due: none

chore: Update codecov.yml
  codecov.yml
Due: none

chore: update
  .github/workflows/docker.yml
  Dockerfile
  Makefile
Due: none

feat: ini ens name
  apps/app/app/page.tsx
  apps/app/package.json
  apps/app/src/components/EnsName.tsx
  apps/app/tsconfig.json
  pnpm-lock.yaml
Due: js, Javascript

chore: ini ens name
  apps/app/src/components/EnsName.tsx
Due: js, Javascript

feat: ini ens name (#287)
  apps/app/app/page.tsx
  apps/app/package.json
  apps/app/src/components/EnsName.tsx
  apps/app/tsconfig.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .github/workflows/docker.yml
  Makefile
Due: none

chore: update
  .github/workflows/sync.yml
  Dockerfile
Due: none

chore: ini bundler (#282)
  .cargo/config.toml
  .github/workflows/docker.yml
  .github/workflows/rust.yml
  .gitmodules
  .hadolint.yml
  .license-check-and-add-config.json
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  bin/Cargo.toml
  bin/src/bin/bundler.rs
  codecov.yml
  crates/bundler/Cargo.toml
  crates/bundler/src/lib.rs
  crates/bundler/tests/.gitkeep
  crates/simulator/Cargo.toml
  crates/simulator/src/lib.rs
  crates/simulator/tests/.gitkeep
  deny.toml
Due: rust, Rust

Delete sync.yml
  .github/workflows/sync.yml
Due: none
