Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: deprecate avax
  .github/workflows/fly.yml
  fly/indexer-avalanche/fly.toml
Due: none

fix: rpc
  fly/graph/README.md
Due: none

perf: ini deploy
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  fly/graph/fly.toml
Due: js, Javascript

chore: ini hosted
  apps/subgraph/package.json
Due: js, Javascript

chore: update
  apps/subgraph/package.json
Due: js, Javascript

perf: ini deployed block
  apps/subgraph/networks.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

fix: rpc calls (#577)
  .github/workflows/fly.yml
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  fly/graph/README.md
  fly/graph/fly.toml
  fly/indexer-avalanche/fly.toml
Due: js, Javascript

chore: ini graph list
  apps/subgraph/package.json
  thunder-tests/thunderActivity.json
Due: js, Javascript

chore: update
  .license-check-and-add-config.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

perf: ini hosted graph
  .github/workflows/deploy.yml
  package.json
Due: none

chore: update
  .github/workflows/deploy.yml
Due: none

chore: update
  .github/workflows/deploy.yml
  apps/subgraph/networks.json
Due: js, Javascript

chore: update
  apps/subgraph/networks.json
Due: js, Javascript

chore: update
  .github/workflows/deploy.yml
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

chore: update
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

chore: ini graph list (#578)
  .github/workflows/deploy.yml
  .license-check-and-add-config.json
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  package.json
  thunder-tests/thunderActivity.json
Due: js, Javascript

fix: ini base testnet
  .github/workflows/deploy.yml
  apps/subgraph/package.json
Due: js, Javascript

feat: ini graphql
  Cargo.lock
  Cargo.toml
  crates/graphql/Cargo.toml
  crates/graphql/build.rs
  crates/graphql/schemas/graph.graphql
  crates/graphql/src/lib.rs
  crates/graphql/src/snapshots/lightdotso_graphql__test__running_query.snap
  crates/graphql/src/snapshots/lightdotso_graphql__test__snapshot_test_query.snap
  crates/graphql/tests/.gitkeep
Due: rust, Rust

chore: update
  .license-check-and-add-config.json
  crates/graphql/src/snapshots/lightdotso_graphql__test__running_query.snap
  crates/graphql/src/snapshots/lightdotso_graphql__test__snapshot_test_query.snap
Due: rust, Rust

chore: ini graphql gha
  .github/workflows/graphql.yml
Due: none

chore: update
  .prettierignore
Due: none

feat: ini alchemy
  crates/rpc/src/config.rs
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini alchemy (#580)
  crates/rpc/src/config.rs
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini graphql (#579)
  .github/workflows/deploy.yml
  .github/workflows/graphql.yml
  .license-check-and-add-config.json
  .prettierignore
  Cargo.lock
  Cargo.toml
  apps/subgraph/package.json
  crates/graphql/Cargo.toml
  crates/graphql/build.rs
  crates/graphql/schemas/graph.graphql
  crates/graphql/src/lib.rs
  crates/graphql/src/snapshots/lightdotso_graphql__test__running_query.snap
  crates/graphql/src/snapshots/lightdotso_graphql__test__snapshot_test_query.snap
  crates/graphql/tests/.gitkeep
Due: js, rust, Javascript, Rust

perf: ini script
  contracts/script/LightWalletDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
Due: none

perf: ini light verifying paymaster
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/src/LightVerifyingPaymaster.sol
  contracts/src/core/VerifyingPaymaster.sol
Due: contracts, Contracts

chore: update
  contracts/src/LightVerifyingPaymaster.sol
Due: contracts, Contracts

fix: gas params
  bin/src/bin/gas.rs
  fly/gas/fly.toml
Due: rust, Rust

perf: ini base paaymaster offchain deployer
  contracts/script/base/BaseLightDeployer.s.sol
  crates/paymaster/src/config.rs
Due: rust, Rust

chore: update
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
Due: none

perf: ini paymaster broadcast
  .gitignore
  broadcast/.gitignore
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1694822178.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1694822190.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1694822437.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1694822444.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1694822356.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1694822363.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1694822146.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1694822152.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1694822256.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1694822262.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1694822095.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1694822116.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1694822233.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1694822287.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1694822294.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1694822327.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1694822333.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/8453/run-1694822392.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/8453/run-1694822398.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/8453/run-latest.json
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  scripts/crunch_factory_script.sh
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
