Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  apps/app/app/(wallet)/[address]/@transactions/(..)op/[chainId]/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/@transactions/(..)op/[chainId]/page.tsx
Due: js, Javascript

perf: ini use tabas
  apps/app/app/(wallet)/[address]/transactions/op/[chainId]/page.tsx
  apps/app/src/hooks/useTabs.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/@transactions/(...)[address]/transactions/op/[chainId]/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/@transactions/(...)[address]/transactions/op/[chainId]/page.tsx
Due: js, Javascript

perf: ini transactions modal
  apps/app/app/(wallet)/[address]/@transactions/(.)transactions/op/[chainId]/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/@transactions/(.)transactions/op/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/layout.tsx
Due: js, Javascript

fix: deprecate hex render and fix issue
  apps/app/app/(wallet)/[address]/@transactions/(.)transactions/op/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/transactions/op/[chainId]/page.tsx
  apps/app/src/components/transaction-dialog.tsx
Due: js, Javascript

feat: ini tx dialog (#791)
  apps/app/app/(wallet)/[address]/@transactions/(.)transactions/op/[chainId]/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/@transactions/(.)transactions/op/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/@transactions/default.tsx
  apps/app/app/(wallet)/[address]/layout.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  apps/app/app/(wallet)/[address]/transactions/op/[chainId]/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/transactions/op/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/package.json
  apps/app/src/components/confirm-dialog.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/app/src/handles/[address].ts
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/src/handles/transaction/[chainId]/[userOperationHash].ts
  apps/app/src/hooks/useTabs.ts
  apps/app/src/stores/useNewForm.ts
  configurations/eslint/package.json
  packages/client/src/index.ts
  packages/client/test/json-rpc.spec.ts
  packages/client/test/llama.spec.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini misc api
  crates/axum/src/routes/feedback.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/notification.rs
  crates/axum/src/routes/support_request.rs
Due: rust, Rust

perf: ini support schemas
  crates/axum/src/api.rs
Due: rust, Rust

feat: ini read
  crates/axum/src/routes/notification.rs
Due: rust, Rust

feat: ini read
  crates/axum/src/api.rs
  crates/axum/src/routes/notification.rs
Due: rust, Rust

chore: ini req
  crates/axum/src/api.rs
Due: rust, Rust

perf: ini
  crates/axum/src/api.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/support_request.rs
Due: rust, Rust

feat: ini misc api (#792)
  crates/axum/src/api.rs
  crates/axum/src/routes/feedback.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/notification.rs
  crates/axum/src/routes/support_request.rs
Due: rust, Rust

fix: eslint
  configurations/eslint/src/index.js
Due: js, Javascript

chore: update
  configurations/eslint/.depcheckrc.yml
Due: js, Javascript

fix: eslint (#793)
  configurations/eslint/.depcheckrc.yml
  configurations/eslint/src/index.js
Due: js, Javascript

feat: refactor form config
  apps/app/app/(authenticated)/new/configuration/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/confirm-form.tsx
  apps/app/app/(authenticated)/new/new-wallet-form.tsx
  apps/app/app/(authenticated)/settings/account/account-form.tsx
  apps/app/app/(authenticated)/settings/appearance/AppearanceForm.tsx
  apps/app/app/(authenticated)/settings/display/display-form.tsx
  apps/app/app/(authenticated)/settings/notifications/notifications-form.tsx
  apps/app/app/(authenticated)/settings/profile-form.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/utils/toast.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/settings/appearance/AppearanceForm.tsx
  apps/app/app/(authenticated)/settings/appearance/page.tsx
Due: js, Javascript

feat: refactor form config (#794)
  apps/app/app/(authenticated)/new/configuration/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/confirm-form.tsx
  apps/app/app/(authenticated)/new/new-wallet-form.tsx
  apps/app/app/(authenticated)/settings/account/account-form.tsx
  apps/app/app/(authenticated)/settings/appearance/appearance-form.tsx
  apps/app/app/(authenticated)/settings/display/display-form.tsx
  apps/app/app/(authenticated)/settings/notifications/notifications-form.tsx
  apps/app/app/(authenticated)/settings/profile-form.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/utils/toast.tsx
Due: js, Javascript

chore: add entrypoint schema to user operation
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini gen graph
  apps/subgraph/generated/schema.ts
  apps/subgraph/schema.graphql
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/subgraph.yaml
Due: js, Javascript

perf: ini user op
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/src/user-operation.ts
  apps/subgraph/tests/user-operation.test.ts
Due: js, Javascript

chore: ini conf ncu
  apps/subgraph/.ncurc.yml
  apps/subgraph/package.json
  apps/subgraph/tests/.latest.json
  pnpm-lock.yaml
Due: js, Javascript

perf: ini tests
  apps/subgraph/package.json
  apps/subgraph/tests/asserts.test.ts
  apps/subgraph/tests/entry-point.test.ts
  apps/subgraph/tests/log.test.ts
  apps/subgraph/tests/user-operation.test.ts
Due: js, Javascript

chore: update
  apps/subgraph/tests/asserts.test.ts
  apps/subgraph/tests/log.test.ts
Due: js, Javascript

feat: not null test
  apps/subgraph/tests/asserts.test.ts
  apps/subgraph/tests/entry-point.test.ts
  apps/subgraph/tests/user-operation.test.ts
Due: js, Javascript

feat: ini uop test
  apps/subgraph/package.json
  apps/subgraph/test.sh
Due: js, Javascript

chore: update
  apps/subgraph/src/user-operation.ts
  apps/subgraph/tests/user-operation.test.ts
Due: js, Javascript

feat: ini handler
  apps/subgraph/schema.graphql
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/src/user-operation.ts
Due: js, Javascript

chore: update
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/subgraph.yaml
Due: js, Javascript

chore: update
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/tests/entry-point-utils.ts
Due: js, Javascript

feat: ini sub refactor (#795)
  apps/subgraph/.ncurc.yml
  apps/subgraph/generated/schema.ts
  apps/subgraph/package.json
  apps/subgraph/schema.graphql
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/src/user-operation.ts
  apps/subgraph/subgraph.yaml
  apps/subgraph/test.sh
  apps/subgraph/tests/.latest.json
  apps/subgraph/tests/asserts.test.ts
  apps/subgraph/tests/entry-point-utils.ts
  apps/subgraph/tests/entry-point.test.ts
  apps/subgraph/tests/log.test.ts
  apps/subgraph/tests/user-operation.test.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  pnpm-lock.yaml
Due: js, Javascript

feat: ini satsu dep
  apps/subgraph/package.json
Due: js, Javascript

feat: ini satsu dep (#796)
  apps/subgraph/package.json
Due: js, Javascript

fix: empty
  apps/subgraph/src/light-wallet.ts
Due: js, Javascript

chore: update
  apps/subgraph/package.json
Due: js, Javascript

fix: light wallet (#797)
  apps/subgraph/package.json
  apps/subgraph/src/light-wallet.ts
Due: js, Javascript

chore: update
  .github/workflows/deploy.yml
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
