Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update nav
  apps/app/src/components/nav/user-nav.tsx
Due: js, Javascript

chore: update
  packages/states/src/queue-state.tsx
Due: js, Javascript

chore: udpate
  .changeset/sixty-insects-work.md
Due: none

chore: pudate
  packages/states/src/queue-state.tsx
Due: js, Javascript

chore: update
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
Due: js, Javascript

chore: update
  packages/query/src/useMutationQueueToken.ts
Due: js, Javascript

feat: ini queues (#1535)
  .changeset/sixty-insects-work.md
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-invoke-button.tsx
  apps/app/src/components/nav/user-nav.tsx
  apps/app/src/components/root/root.tsx
  crates/axum/src/routes/token/list.rs
  packages/query/.depcheckrc.yml
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/states/src/index.ts
  packages/states/src/queue-state.tsx
  packages/stores/src/index.ts
  packages/stores/src/useQueues.ts
  packages/stores/src/useTables.ts
Due: js, rust, Javascript, Rust

chore: update
  apps/app/src/components/feedback/feedback-form.tsx
  packages/hooks/src/useSignInWithSiwe.tsx
  packages/modals/src/auth/auth-modal.tsx
  packages/query/src/useMutationAuthVerify.ts
  packages/query/src/useMutationFeedbackCreate.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
Due: js, Javascript

chore: update queuing
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
Due: js, Javascript

fix: proper loading (#1536)
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/src/components/feedback/feedback-form.tsx
  packages/hooks/src/useSignInWithSiwe.tsx
  packages/modals/src/auth/auth-modal.tsx
  packages/query/src/useMutationAuthVerify.ts
  packages/query/src/useMutationFeedbackCreate.ts
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
Due: js, Javascript

chore: update configuration create
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration/types.rs
  crates/axum/src/routes/wallet_features/get.rs
  crates/axum/src/routes/wallet_settings/get.rs
Due: rust, Rust

feat: ini address queue
  packages/states/src/queue-state.tsx
  packages/stores/src/useQueues.ts
Due: js, Javascript

chore: udpate
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
Due: js, Javascript

chore: ini billing (#1537)
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration/types.rs
  crates/axum/src/routes/wallet_features/get.rs
  crates/axum/src/routes/wallet_settings/get.rs
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
  packages/states/src/queue-state.tsx
  packages/stores/src/useQueues.ts
Due: js, rust, Javascript, Rust

feat: ini wallet billing
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini billing wallet
  configurations/prisma/prisma/schema-rs.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/wallet_billing/error.rs
  crates/axum/src/routes/wallet_billing/get.rs
  crates/axum/src/routes/wallet_billing/mod.rs
  crates/axum/src/routes/wallet_billing/types.rs
  crates/axum/src/routes/wallet_billing/update.rs
Due: js, rust, Javascript, Rust

chore: update query client
  packages/client/src/api/wallet_billing.ts
  packages/client/src/types/api/v1.d.ts
  packages/data/src/index.ts
  packages/data/src/walletBilling.ts
  packages/params/src/index.ts
  packages/params/src/walletBilling.ts
  packages/query/src/index.ts
  packages/query/src/useQueryWalletBilling.ts
Due: js, Javascript

chore: ini wallet billing
  .changeset/big-lizards-search.md
Due: none

feat: ini wallet billing (#1538)
  .changeset/big-lizards-search.md
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/wallet_billing/error.rs
  crates/axum/src/routes/wallet_billing/get.rs
  crates/axum/src/routes/wallet_billing/mod.rs
  crates/axum/src/routes/wallet_billing/types.rs
  crates/axum/src/routes/wallet_billing/update.rs
  packages/client/src/api/wallet_billing.ts
  packages/client/src/types/api/v1.d.ts
  packages/data/src/index.ts
  packages/data/src/walletBilling.ts
  packages/params/src/index.ts
  packages/params/src/walletBilling.ts
  packages/query/src/index.ts
  packages/query/src/useQueryWalletBilling.ts
Due: js, rust, Javascript, Rust

feat: ini wallet billing modal
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/page.tsx
  apps/app/src/components/root/root.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/settings/billing/handler.ts
  packages/modals/package.json
  packages/modals/src/connect/connect-modal.stories.tsx
  packages/modals/src/connect/connect-modal.tsx
  packages/query-keys/src/wallet.ts
  packages/query/src/useQueryWalletBilling.ts
  packages/services/src/getWalletBilling.ts
  packages/services/src/index.ts
  packages/stores/src/useModals.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update nav modal
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
  apps/app/src/components/nav/main-nav.tsx
  apps/app/src/components/nav/user-nav.tsx
  packages/modals/package.json
  packages/templates/src/connect-button/connect-button.stories.tsx
  packages/templates/src/connect-button/connect-button.tsx
  packages/templates/src/connect-button/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: auto fix commit
  apps/app/src/components/root/root-logo.tsx
Due: js, Javascript

feat: ini wallet billing modal (#1539)
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/billing/page.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/page.tsx
  apps/app/src/components/nav/main-nav.tsx
  apps/app/src/components/nav/user-nav.tsx
  apps/app/src/components/root/root.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/settings/billing/handler.ts
  packages/modals/src/connect/connect-modal.stories.tsx
  packages/modals/src/connect/connect-modal.tsx
  packages/query-keys/src/wallet.ts
  packages/query/src/useQueryWalletBilling.ts
  packages/services/src/getWalletBilling.ts
  packages/services/src/index.ts
  packages/stores/src/useModals.ts
  packages/templates/src/connect-button/connect-button.stories.tsx
  packages/templates/src/connect-button/connect-button.tsx
  packages/templates/src/connect-button/index.ts
Due: js, Javascript

chore: ini tx form
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/src/components/feedback/feedback-form.tsx
  crates/axum/src/routes/token/list.rs
Due: js, rust, Javascript, Rust

fix: dev info
  packages/templates/src/transaction/transaction-dev-info.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: udpate
  packages/const/src/api_urls.ts
  packages/const/src/index.ts
  packages/demo/src/api/userOperation/index.ts
  packages/demo/src/index.ts
  packages/demo/src/rpc/index.ts
  packages/demo/src/rpc/paymaster/index.ts
  packages/demo/src/rpc/paymaster/paymasterAndData.json
  packages/msw/src/handlers/rpc.ts
Due: js, Javascript

chore: update
  packages/msw/src/handlers/rpc.ts
Due: js, Javascript

chore: auto fix commit
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  packages/templates/package.json
  packages/templates/src/transaction/transaction.stories.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update storybook interception
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  packages/demo/src/rpc/paymaster/paymasterAndData.json
  packages/msw/src/handlers/rpc.ts
  packages/templates/src/transaction/transaction.stories.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/const/src/api_urls.ts
  packages/const/src/index.ts
  packages/demo/src/api/simulation/create.json
  packages/demo/src/api/simulation/index.ts
  packages/demo/src/rpc/paymaster/estimateUserOperationGas.json
  packages/demo/src/rpc/paymaster/index.ts
  packages/msw/src/handlers/index.ts
  packages/msw/src/handlers/rpc.ts
  packages/msw/src/handlers/simulation.ts
  packages/msw/src/handlers/token_price.ts
  packages/msw/src/handlers/wallet.ts
Due: js, Javascript

chore: update handler sim
  packages/const/src/api_urls.ts
  packages/const/src/index.ts
  packages/msw/src/handlers/simulation.ts
  packages/msw/src/handlers/token_price.ts
  packages/msw/src/handlers/wallet.ts
Due: js, Javascript

chore: update const
  packages/const/src/index.ts
Due: js, Javascript

chore: udpate eslint handler
  configurations/eslint/src/index.js
  packages/msw/src/handlers/rpc.ts
Due: js, Javascript

feat: ini sim tx (#1540)
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/src/components/feedback/feedback-form.tsx
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  configurations/eslint/src/index.js
  crates/axum/src/routes/token/list.rs
  packages/const/src/api_urls.ts
  packages/const/src/index.ts
  packages/demo/src/api/simulation/create.json
  packages/demo/src/api/simulation/index.ts
  packages/demo/src/api/userOperation/index.ts
  packages/demo/src/index.ts
  packages/demo/src/rpc/index.ts
  packages/demo/src/rpc/paymaster/estimateUserOperationGas.json
  packages/demo/src/rpc/paymaster/index.ts
  packages/demo/src/rpc/paymaster/paymasterAndData.json
  packages/msw/src/handlers/index.ts
  packages/msw/src/handlers/rpc.ts
  packages/msw/src/handlers/simulation.ts
  packages/msw/src/handlers/token_price.ts
  packages/msw/src/handlers/wallet.ts
  packages/templates/package.json
  packages/templates/src/transaction/transaction-dev-info.tsx
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini axum token update
  apps/storybook/.depcheckrc.yml
  crates/axum/src/api.rs
  crates/axum/src/routes/token/mod.rs
  crates/axum/src/routes/token/update.rs
Due: js, rust, Javascript, Rust

chore: update create invite code optional
  crates/axum/src/routes/wallet/create.rs
Due: rust, Rust

chore: udpate api v1
  packages/client/src/types/api/v1.d.ts
Due: js, Javascript
