Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: rpc prom
  crates/axum/src/internal.rs
Due: rust, Rust

fix: rpc prom (#604)
  crates/axum/src/internal.rs
Due: rust, Rust

test: ini rpc
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

test: ini rpc (#605)
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

perf: ini surl flow
  broadcast/.gitignore
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/flow/LightWalletDeployFlow.s.sol
  contracts/script/test/LightWalletDeployFlow.t.sol
  scripts/run_script_flow.sh
Due: none

Update GraphQL Schema
  crates/graphql/schemas/graph.graphql
Due: rust, Rust

perf: ini flow script
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  foundry.toml
Due: none

chore: update
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1694822178.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1694822190.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1694822437.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1694822444.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1694822356.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1694822363.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1694822146.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1694822152.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1694822256.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1694822262.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1694822095.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1694822116.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1694822233.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1694822287.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1694822294.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1694822327.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1694822333.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/8453/run-1694822392.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/8453/run-1694822398.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/8453/run-latest.json
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  contracts/script/ops/PaymasterAddStakeOps.s.sol
  scripts/crunch_factory_script.sh
Due: none

chore: update
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
Due: none

chore: update
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1695271278.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1695271284.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1695271081.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1695271087.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1695271616.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1695271623.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1695271156.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1695271169.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1695271576.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1695271582.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1695271544.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1695271211.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1695271243.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-latest.json
Due: none

chore: update
  crates/contracts/src/constants.rs
Due: rust, Rust

perf: ini run
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1695271278.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1695271284.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1695271081.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1695271087.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1695271616.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1695271623.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1695271156.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1695271169.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1695271576.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1695271582.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1695271544.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1695271211.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1695271243.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-latest.json
Due: none

perf: ini run (#608)
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1695271278.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1695271284.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1695271081.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1695271087.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1695271616.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1695271623.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1695271156.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1695271169.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1695271576.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1695271582.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1695271544.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1695271211.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1695271243.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-latest.json
  crates/contracts/src/constants.rs
Due: rust, Rust

fix: gas
  .gas-snapshot
Due: none

chore: update
  .gas-snapshot
Due: none

fix: gas (#609)
  .gas-snapshot
Due: none

fix: fork testing
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: fork testing (#610)
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: ini base address
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
Due: none

chore: update
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: update
  .gas-snapshot
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/base/BaseTest.t.sol
Due: none

chore: update
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  contracts/script/flow/ERC20TransferFlow.s.sol
  contracts/script/flow/LightWalletDeployFlow.s.sol
Due: none

feat: ini base address (#611)
  .gas-snapshot
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  contracts/script/flow/ERC20TransferFlow.s.sol
  contracts/script/flow/LightWalletDeployFlow.s.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/base/BaseTest.t.sol
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: ini gas test
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/polygon.rs
Due: rust, Rust

perf: ini flow script
  contracts/script/flow/LightWalletDeployFlow.s.sol
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

feat: update
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

feat: ini add stake
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1695333475.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1695333481.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-latest.json
  contracts/script/ops/PaymasterAddDepositOps.s.sol
Due: none

chore: update
  contracts/script/flow/ERC20TransferFlow.s.sol
  contracts/script/test/ERC20TransferFlow.t.sol
  contracts/script/test/LightWalletDeployFlow.t.sol
Due: none

chore: update
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: update
  contracts/README.md
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: Chore/ini test chains (#614)
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1695333475.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1695333481.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-latest.json
  contracts/README.md
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/flow/ERC20TransferFlow.s.sol
  contracts/script/flow/LightWalletDeployFlow.s.sol
  contracts/script/ops/PaymasterAddDepositOps.s.sol
  contracts/script/test/ERC20TransferFlow.t.sol
  contracts/script/test/LightWalletDeployFlow.t.sol
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/polygon.rs
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

feat: ini next sentry
  apps/app/next.config.js
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/sentry.client.config.js
  apps/app/sentry.edge.config.js
  apps/app/sentry.properties
  apps/app/sentry.server.config.js
  apps/app/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .license-check-and-add-config.json
  apps/app/sentry.properties
Due: js, Javascript

chore: update
  apps/app/next.config.mjs
Due: js, Javascript
