Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: ini user signed up
  apps/app/app/api/inngest/route.ts
  apps/app/src/inngest/userSignedUp.ts
Due: js, Javascript

feat: ini inngest
  apps/app/package.json
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/middlewares/index.ts
  apps/app/src/inngest/middlewares/prisma.ts
  apps/app/src/inngest/middlewares/sentry.ts
  apps/app/src/inngest/walletPortfolio.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini wallet portfolio
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/walletPortfolio.ts
  apps/app/src/inngest/walletPortfolioCron.ts
Due: js, Javascript

feat: ini wallet portfolio
  apps/app/app/api/inngest/route.ts
Due: js, Javascript

chore: ini wallet portfolio
  apps/app/app/(wallet)/[address]/page.tsx
Due: js, Javascript

perf: ini wallet port
  apps/app/src/inngest/walletPortfolio.ts
Due: js, Javascript

feat: ini inngest client
  apps/app/src/inngest/client.ts
  configurations/prisma/index.ts
  configurations/prisma/package.json
  configurations/prisma/src/client/index.d.ts
  configurations/prisma/src/client/index.js
Due: js, Javascript

chore: update
  configurations/prisma/package.json
Due: js, Javascript

chore: update
  apps/app/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/.env.development
Due: js, Javascript

chore: update
  apps/app/src/inngest/walletPortfolio.ts
Due: js, Javascript

fix: update
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/walletPortfolioUpdate.ts
Due: js, Javascript

chore: update
  apps/app/app/api/inngest/route.ts
Due: js, Javascript

fix: ini invoke event
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletPortfolioUpdate.ts
Due: js, Javascript

feat: ini inngest (#873)
  apps/app/.env.development
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/api/inngest/route.ts
  apps/app/package.json
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/middlewares/index.ts
  apps/app/src/inngest/middlewares/prisma.ts
  apps/app/src/inngest/middlewares/sentry.ts
  apps/app/src/inngest/userSignedUp.ts
  apps/app/src/inngest/walletPortfolio.ts
  apps/app/src/inngest/walletPortfolioCron.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletPortfolioUpdate.ts
  configurations/prisma/index.ts
  configurations/prisma/src/client/index.js
  pnpm-lock.yaml
Due: js, Javascript

feat: fix
  apps/app/src/actions/invokePortfolioUpdate.ts
  apps/app/src/inngest/walletPortfolio.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletPortfolioUpdate.ts
Due: js, Javascript

feat: ini invoke portfolio
  apps/app/app/api/inngest/route.ts
  apps/app/src/actions/invokePortfolioAction.ts
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/helloWorld.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/userSignedUp.ts
  apps/app/src/inngest/walletPortfolioCron.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletPortfolioSet.ts
Due: js, Javascript

chore: ini portfolio invoke
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/src/actions/invokePortfolioAction.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
Due: js, Javascript

feat: ini invoke update (#874)
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/api/inngest/route.ts
  apps/app/src/actions/invokePortfolioAction.ts
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/userSignedUp.ts
  apps/app/src/inngest/walletPortfolioCron.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletPortfolioSet.ts
  apps/app/src/inngest/walletPortfolioUpdate.ts
Due: js, Javascript

chore: changesets pr (pre) (#583)
  .changeset/pre.json
  apps/app/CHANGELOG.md
  apps/app/package.json
  apps/explorer/CHANGELOG.md
  apps/explorer/package.json
  apps/home/CHANGELOG.md
  apps/home/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  apps/ui/CHANGELOG.md
  apps/ui/package.json
  configurations/eslint/CHANGELOG.md
  configurations/eslint/package.json
  configurations/styles/CHANGELOG.md
  configurations/styles/package.json
  configurations/tailwindcss/CHANGELOG.md
  configurations/tailwindcss/package.json
  contracts/CHANGELOG.md
  contracts/package.json
  packages/const/CHANGELOG.md
  packages/const/package.json
Due: js, Javascript

fix: wallet creation
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update
  .changeset/khaki-terms-notice.md
Due: none

chore: ini wallet creation user many
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: wallet creation (#875)
  .changeset/khaki-terms-notice.md
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

feat: ini prisma user address require
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini prisma (#877)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/wallet.rs
Due: js, rust, Javascript, Rust

fix: og str
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: og str (#878)
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: og v3
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: og v3 (#879)
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: in iref
  crates/solutions/src/builder.rs
  crates/solutions/src/signature.rs
  crates/solutions/tests/it/signatures.rs
Due: rust, Rust

chore: in iref (#880)
  crates/solutions/src/builder.rs
  crates/solutions/src/signature.rs
  crates/solutions/tests/it/signatures.rs
Due: rust, Rust

feat: wallet 300
  apps/app/src/components/wallet-switcher.tsx
Due: js, Javascript

chore: update
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1699486862.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1699486887.json
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
