Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  .github/workflows/api.yml
Due: none

chore: update
  fly/gas/fly.toml
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

perf: ini api check (#596)
  .github/workflows/api.yml
  fly/gas/fly.toml
  package.json
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_apilightso.json
  thunder-tests/collections/tc_col_rpclightso.json
  thunder-tests/thunderActivity.json
Due: none

fix: ini deployment
  .github/workflows/api.yml
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

fix: ini deployment (#597)
  .github/workflows/api.yml
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

feat: ini thunder surl
  .gitmodules
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/lib.rs
  remappings.txt
  thunder-tests/collections/tc_col_rpclightso.json
  thunder-tests/thunderActivity.json
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: ini thunder surl (#598)
  .gitmodules
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/lib.rs
  remappings.txt
  thunder-tests/collections/tc_col_rpclightso.json
  thunder-tests/thunderActivity.json
Due: rust, Rust

feat: ini console
  .gas-snapshot
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  contracts/test/integration/entrypoint/init/AccountDeployed.t.sol
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  .lintstagedrc.js
  scripts/check-thunder-url.sh
Due: none

perf: update
  .lintstagedrc.js
  thunder-tests/thunderActivity.json
Due: none

chore: update
  contracts/script/base/BaseLightDeployerFlow.s.sol
Due: none

chore: update
  scripts/check-thunder-url.sh
Due: none

chore: update
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
Due: none

feat: ini console (#599)
  .gas-snapshot
  .lintstagedrc.js
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  contracts/test/integration/entrypoint/init/AccountDeployed.t.sol
  crates/rpc/src/lib.rs
  scripts/check-thunder-url.sh
  thunder-tests/thunderActivity.json
Due: rust, Rust

chore: ini carousel
  apps/home/app/lightpaper/page.tsx
  apps/home/src/components/Carousel/Carousel.tsx
Due: js, Javascript

Update GraphQL Schema
  crates/graphql/schemas/graph.graphql
Due: rust, Rust

chore: update
  .changeset/tall-comics-give.md
Due: none

chore: update
  apps/home/.depcheckrc.yml
Due: js, Javascript

chore: update
  apps/home/.depcheckrc.yml
  packages/const/.depcheckrc.yml
Due: js, Javascript

perf: ini rpc tc
  thunder-tests/collections/tc_col_rpclightso.json
  thunder-tests/thunderActivity.json
Due: none

chore: update
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

feat: ini gas station + migration
  Cargo.lock
  crates/gas/Cargo.toml
  crates/gas/src/chains/_1337.rs
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/mod.rs
  crates/gas/src/chains/polygon.rs
  crates/gas/src/gas.rs
  crates/indexer/Cargo.toml
  crates/indexer/src/indexer.rs
  crates/paymaster/src/paymaster.rs
  fly/gas/fly.toml
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: update
  crates/gas/src/chains/polygon.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: update
  fly/gas/fly.toml
Due: none

chore: ini rpc integration (#602)
  Cargo.lock
  crates/gas/Cargo.toml
  crates/gas/src/chains/_1337.rs
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/mod.rs
  crates/gas/src/chains/polygon.rs
  crates/gas/src/gas.rs
  crates/indexer/Cargo.toml
  crates/indexer/src/indexer.rs
  crates/paymaster/src/paymaster.rs
  thunder-tests/collections/tc_col_rpclightso.json
  thunder-tests/thunderActivity.json
Due: rust, Rust

chore: update
  Cargo.lock
  crates/paymaster/src/paymaster.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

feat: ini rpc crate
  crates/axum/src/internal.rs
  crates/rpc/src/lib.rs
  scripts/check-thunder-url.sh
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: update
  crates/contracts/src/constants.rs
  crates/paymaster/src/config.rs
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: update
  Cargo.lock
  crates/axum/src/internal.rs
  crates/paymaster/src/config.rs
  crates/rpc/Cargo.toml
Due: rust, Rust

chore: update (#603)
  crates/axum/src/internal.rs
  crates/contracts/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/lib.rs
  scripts/check-thunder-url.sh
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
