Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: Contracts, Core, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: null
        informational: true
    patch:
      default:
        target: auto
        threshold: null
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: core
      name: Core
      paths:
        - crates/core/**
    - component_id: ios
      name: iOS
      paths:
        - ios/LightWalletCore/**
ignore:
  - "tools/**"

chore: udpate
  contracts/package.json
Due: none

chore: update
  contracts/package.json
  contracts/test-hh/Example.spec.ts
  contracts/test/Example.spec.ts
  contracts/tsconfig.json
  hardhat.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: none

chore: ini hardhat test
  contracts/test-hh/Example.spec.ts
  contracts/test/Example.spec.ts
  hardhat.config.ts
Due: none

chore: update
  .github/workflows/contracts.yml
  contracts/package.json
  contracts/test-hh/.gitkeep
  contracts/turbo.json
Due: none

chore: update
  .github/workflows/contracts.yml
Due: none

chore: update
  contracts/turbo.json
Due: none

chore: ini soul wallet (#70)
  .gas-snapshot
  .github/workflows/contracts.yml
  .gitignore
  .gitmodules
  .storage-layouts
  contracts/.gitignore
  contracts/README.md
  contracts/package.json
  contracts/src/samples/SoulWallet.sol
  contracts/src/samples/SoulWalletFactory.sol
  contracts/test-hh/Example.spec.ts
  contracts/turbo.json
  foundry.toml
  hardhat.config.ts
  package.json
  pnpm-lock.yaml
  remappings.txt
  slither.config.json
  tsconfig.base.json
Due: Contracts

chore: ini 4337 utils lib
  contracts/test/utils/ERC4337Utils.sol
Due: none

chore: ini licensing
  contracts/src/samples/Kernel.sol
  contracts/src/samples/KernelECDSAFactory.sol
  contracts/src/samples/KernelECDSAValidator.sol
  contracts/src/samples/KernelFactory.sol
  contracts/src/samples/KernelProxy.sol
  contracts/test/utils/ERC4337Utils.sol
  contracts/test/utils/ProxyUtils.sol
Due: Contracts

chore: refactor event to interface
  contracts/src/LightWallet.sol
  contracts/src/interfaces/ILightWallet.sol
Due: Contracts

chore: update
  contracts/src/interfaces/IERC1271.sol
  contracts/src/interfaces/ILightWalletFactory.sol
Due: Contracts

chore: ini userop test (#71)
  contracts/src/LightWallet.sol
  contracts/src/interfaces/IERC1271.sol
  contracts/src/interfaces/ILightWallet.sol
  contracts/src/interfaces/ILightWalletFactory.sol
  contracts/src/samples/Kernel.sol
  contracts/src/samples/KernelECDSAFactory.sol
  contracts/src/samples/KernelECDSAValidator.sol
  contracts/src/samples/KernelFactory.sol
  contracts/src/samples/KernelProxy.sol
  contracts/test/utils/ERC4337Utils.sol
  contracts/test/utils/ProxyUtils.sol
Due: Contracts

chore: update
  codecov.yml
Due: none

chore: update
  .gas-snapshot
  .husky/pre-commit
  contracts/src/LightWalletFactory.sol
  contracts/test/LightWalletFactory.t.sol
  contracts/test/base/BaseFactoryTest.sol
  contracts/test/samples/SimpleAccountFactory.t.sol
Due: Contracts

chore: update
  .gas-snapshot
  contracts/test/LightWalletFactory.t.sol
  contracts/test/samples/SimpleAccountFactory.t.sol
Due: none

chore: update
  .gas-snapshot
  contracts/package.json
  contracts/test/LightWallet.t.sol
Due: none

chore: update
  .gas-snapshot
  contracts/test/LightWallet.t.sol
Due: none

chore: ini transfer eth
  .gas-snapshot
  contracts/test/LightWallet.t.sol
Due: none

chore: ini light transfer eth
  .gas-snapshot
  contracts/test/LightWallet.t.sol
Due: none

chore: Create SECURITY.md
  SECURITY.md
Due: none

chore: Create SECURITY.md (#73)
  SECURITY.md
Due: none

chore: ini userop (#72)
  .gas-snapshot
  .husky/pre-commit
  codecov.yml
  contracts/package.json
  contracts/src/LightWalletFactory.sol
  contracts/test/LightWallet.t.sol
  contracts/test/LightWalletFactory.t.sol
  contracts/test/base/BaseFactoryTest.sol
  contracts/test/samples/SimpleAccountFactory.t.sol
Due: Contracts

test: ini eip 6492
  .gas-snapshot
  contracts/test/LightWallet.t.sol
Due: none

chore: update
  .changeset/four-coats-guess.md
Due: none

test: ini eip 6492 (#74)
  .changeset/four-coats-guess.md
  .gas-snapshot
  contracts/test/LightWallet.t.sol
Due: none

chore: ini rust clippy sarif action
  .github/workflows/contracts.yml
  .github/workflows/rust.yml
  crates/core/Cargo.toml
  crates/keychain/Cargo.toml
  tools/embedded-scopelint/Cargo.toml
  tools/embedded-uniffi-bindgen/Cargo.toml
Due: Core

chore: update
  .github/workflows/rust.yml
Due: none

chore: update
  .github/workflows/contracts.yml
  .github/workflows/rust.yml
Due: none

chore: ini deny check
  .github/workflows/rust.yml
  apps/desktop/src-tauri/Cargo.toml
  deny.toml
Due: none

chore: ini rust clippy sarif action (#75)
  .github/workflows/rust.yml
  crates/core/Cargo.toml
  crates/keychain/Cargo.toml
  tools/embedded-scopelint/Cargo.toml
  tools/embedded-uniffi-bindgen/Cargo.toml
Due: Core

chore: ini deny check (#76)
  .github/workflows/rust.yml
  apps/desktop/src-tauri/Cargo.toml
  deny.toml
Due: none

[𝘀𝗽𝗿] initial version
  Dockerfile
Due: none

[𝘀𝗽𝗿] changes to main this commit is based on
  Dockerfile
Due: none

chore: ini dockerfile
  Dockerfile
Due: none

chore: update auto approve
  .github/workflows/auto-approve.yml
Due: none

chore: update auto approve (#80)
  .github/workflows/auto-approve.yml
Due: none

chore: ini dockerfile (#79)
  .github/workflows/auto-approve.yml
  Dockerfile
Due: none

chore: ini CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: update
  .github/CODEOWNERS
Due: none
