Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: update
  apps/ai/src/ai/handlers/handleSubmitUserMessage.tsx
  apps/ai/src/components/chat-list.tsx
Due: js, Javascript

feat: revert next non-canary
  apps/ai/package.json
  apps/ai/src/ai/server.tsx
  package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini ai bundler
  apps/ai/next-env.d.ts
  apps/ai/package.json
  apps/ai/src/ai/actions/submitUserMessage.tsx
  apps/ai/src/ai/handlers/handleSubmitUserMessage.tsx
  apps/ai/src/ai/server.tsx
  apps/ai/src/components/chat-panel.tsx
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/hooks/package.json
  packages/popup/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini lint app
  apps/ai/.depcheckrc.yml
  apps/ai/.ncurc.yml
  apps/ai/app/(chat)/chat/[threadId]/page.tsx
  apps/ai/app/actions.ts
  apps/ai/app/login/actions.ts
  apps/ai/app/login/page.tsx
  apps/ai/app/share/[threadId]/page.tsx
  apps/ai/app/signup/actions.ts
  apps/ai/app/signup/page.tsx
  apps/ai/package.json
  apps/ai/src/ai/client.ts
  apps/ai/src/ai/utils.tsx
  apps/ai/src/components/chat-panel.tsx
  apps/ai/src/components/chat-share-dialog.tsx
  apps/ai/src/components/clear-history.tsx
  apps/ai/src/components/header.tsx
  apps/ai/src/components/login-form.tsx
  apps/ai/src/components/sidebar-actions.tsx
  apps/ai/src/components/sidebar-item.tsx
  apps/ai/src/components/sidebar-items.tsx
  apps/ai/src/components/signup-form.tsx
  apps/ai/src/components/stocks/stock-purchase.tsx
  apps/ai/src/components/user-menu.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: ini feat tools
  apps/ai/app/layout.tsx
  apps/ai/app/share/[threadId]/page.tsx
Due: js, Javascript

chore: update
  .changeset/wicked-radios-swim.md
Due: none

chore: update
  apps/home/app/page.tsx
Due: js, Javascript

feat: ini lint app (#2236)
  .changeset/wicked-radios-swim.md
  apps/ai/.depcheckrc.yml
  apps/ai/.ncurc.yml
  apps/ai/app/(chat)/chat/[threadId]/page.tsx
  apps/ai/app/actions.ts
  apps/ai/app/layout.tsx
  apps/ai/app/login/actions.ts
  apps/ai/app/login/page.tsx
  apps/ai/app/share/[threadId]/page.tsx
  apps/ai/app/signup/actions.ts
  apps/ai/app/signup/page.tsx
  apps/ai/package.json
  apps/ai/src/ai/client.ts
  apps/ai/src/ai/utils.tsx
  apps/ai/src/components/chat-panel.tsx
  apps/ai/src/components/chat-share-dialog.tsx
  apps/ai/src/components/clear-history.tsx
  apps/ai/src/components/header.tsx
  apps/ai/src/components/login-form.tsx
  apps/ai/src/components/sidebar-actions.tsx
  apps/ai/src/components/sidebar-item.tsx
  apps/ai/src/components/sidebar-items.tsx
  apps/ai/src/components/signup-form.tsx
  apps/ai/src/components/stocks/stock-purchase.tsx
  apps/ai/src/components/user-menu.tsx
  apps/home/app/page.tsx
  pnpm-lock.yaml
Due: js, Javascript

feat: ini ai handlers
  apps/ai/src/ai/actions/submitUserMessage.tsx
  apps/ai/src/ai/handlers/botMessage.tsx
  apps/ai/src/ai/server.tsx
Due: js, Javascript

chore: update
  apps/ai/src/ai/server.tsx
Due: js, Javascript

chore: update
  apps/ai/src/ai/handlers/botMessage.tsx
Due: js, Javascript

chore: update
  .changeset/mighty-tigers-raise.md
Due: none

chore: update
  apps/ai/src/ai/handlers/botMessage.tsx
  apps/ai/src/ai/server.tsx
  apps/ai/src/components/chat-share-dialog.tsx
Due: js, Javascript

feat: ini ai handlers (#2237)
  .changeset/mighty-tigers-raise.md
  apps/ai/src/ai/actions/submitUserMessage.tsx
  apps/ai/src/ai/handlers/botMessage.tsx
  apps/ai/src/ai/server.tsx
  apps/ai/src/components/chat-share-dialog.tsx
Due: js, Javascript

fix: polygon gas
  apps/ai/package.json
  apps/app/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/images/package.json
  apps/inngest/package.json
  apps/router/package.json
  apps/storybook/package.json
  crates/gas/src/chains/polygon.rs
  crates/gas/src/gas.rs
  crates/rpc/src/constants.rs
  package.json
  packages/const/package.json
  packages/data/package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/query/package.json
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/schemas/package.json
  packages/sdk/package.json
  packages/sequence/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/validators/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

chore: update
  .changeset/slow-berries-fail.md
Due: none

fix: polygon gas (#2239)
  .changeset/slow-berries-fail.md
  apps/ai/package.json
  apps/app/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/images/package.json
  apps/inngest/package.json
  apps/router/package.json
  apps/storybook/package.json
  crates/gas/src/chains/polygon.rs
  crates/gas/src/gas.rs
  crates/rpc/src/constants.rs
  package.json
  packages/const/package.json
  packages/data/package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/query/package.json
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/schemas/package.json
  packages/sdk/package.json
  packages/sequence/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/validators/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

chore: fix docs types
  apps/docs/content-collections.ts
  apps/docs/next-env.d.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/strong-drinks-chew.md
Due: none

chore: fix docs types (#2240)
  .changeset/strong-drinks-chew.md
  apps/docs/content-collections.ts
  apps/docs/next-env.d.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini tw docs
  .changeset/silly-humans-laugh.md
  apps/ai/package.json
  apps/app/package.json
  apps/assets/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/envio/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/images/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  apps/router/package.json
  apps/storybook/package.json
  configurations/tailwindcss/package.json
  package.json
  packages/popup/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini tw docs (#2241)
  .changeset/silly-humans-laugh.md
  apps/ai/package.json
  apps/app/package.json
  apps/assets/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/envio/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/images/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  apps/router/package.json
  apps/storybook/package.json
  configurations/tailwindcss/package.json
  package.json
  packages/popup/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini dagg
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/lightdotso/dag.py
  task_graph
  task_graph.pdf
Due: none

chore: udpate
  task_graph
  task_graph.pdf
Due: none

chore: update
  src/lightdotso/dag.py
Due: none

feat: ini tools
  src/lightdotso/dag.py
Due: none

feat: ini dag
  Cargo.lock
  Cargo.toml
  crates/dag/Cargo.toml
  crates/dag/src/lib.rs
  crates/dag/tests/.gitkeep
  project-words.txt
  src/lightdotso/dag.py
Due: rust, Rust

feat: ini sample dag
  src/lightdotso/dag.py
  tasks/sample_dag.yaml
Due: none

chore: update
  contracts/src/LightDAG.sol
Due: contracts, Contracts

chore: update
  Cargo.toml
  contracts/src/LightDAG.sol
Due: contracts, Contracts

chore: update
  contracts/src/LightDAG.sol
  contracts/src/interfaces/IConditionChecker.sol
Due: contracts, Contracts

chore: update
  contracts/src/LightDAG.sol
  contracts/src/LightPaymaster.sol
Due: contracts, Contracts

chore: update
  .gas-snapshot
  contracts/src/LightDAG.sol
Due: contracts, Contracts

chore: update
  packages/wagmi/src/generated.ts
  wagmi.config.ts
Due: js, Javascript

chore: update
  .changeset/quick-students-deny.md
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
