Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  apps/app/src/inngest/walletPortfolioSet.ts
Due: js, Javascript

fix: ini schema (#888)
  apps/app/src/inngest/walletPortfolioSet.ts
Due: js, Javascript

fix: sch
  apps/app/src/inngest/walletPortfolioSet.ts
Due: js, Javascript

fix: sch (#889)
  apps/app/src/inngest/walletPortfolioSet.ts
Due: js, Javascript

fix: ini schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini schema
  apps/app/src/inngest/walletPortfolioSet.ts
Due: js, Javascript

fix: ini schema v3 (#890)
  apps/app/src/inngest/walletPortfolioSet.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

fix: tremore dashboard
  apps/app/app/(wallet)/[address]/page.tsx
Due: js, Javascript

fix: portfolio page
  apps/app/app/(wallet)/[address]/(components)/PortfolioChart.tsx
  apps/app/app/(wallet)/[address]/page.tsx
Due: js, Javascript

chore: update
  packages/schemas/.depcheckrc.yml
Due: js, Javascript

feat: ini portfolio api
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/portfolio.rs
Due: rust, Rust

perf: ini get post handler
  crates/axum/src/routes/portfolio.rs
Due: rust, Rust

feat: ini token
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/token.rs
Due: rust, Rust

chore: ini port token
  crates/axum/src/routes/token.rs
Due: rust, Rust

feat: ini token price
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/token_price.rs
Due: rust, Rust

fix: port dashboard (#891)
  apps/app/app/(wallet)/[address]/(components)/PortfolioChart.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/portfolio.rs
  crates/axum/src/routes/token.rs
  crates/axum/src/routes/token_price.rs
  packages/schemas/.depcheckrc.yml
Due: js, rust, Javascript, Rust

feat: ini token price
  crates/axum/src/api.rs
  crates/axum/src/routes/token_price.rs
Due: rust, Rust

feat: ini token price (#892)
  crates/axum/src/api.rs
  crates/axum/src/routes/token_price.rs
Due: rust, Rust

feat: upgrade ncu
  apps/app/package.json
  apps/auth/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/subgraph/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  configurations/prettier/package.json
  configurations/prisma/package.json
  package.json
  packages/background/package.json
  packages/client/package.json
  packages/const/package.json
  packages/content/package.json
  packages/inpage/package.json
  packages/next-auth/package.json
  packages/popup/package.json
  packages/schemas/package.json
  packages/solutions/package.json
  packages/utils/package.json
  packages/wagmi/package.json
  patches/@wagmi__core@1.4.6.patch
  pnpm-lock.yaml
Due: js, Javascript

chore: update npm json
  packages/client/src/v1.d.ts
Due: js, Javascript

feat: ini suspense portfolio
  apps/app/app/(wallet)/[address]/(components)/PortfolioChart.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/src/handlers/paths/[address]/page.ts
  apps/app/src/services/getPortfolio.ts
  apps/app/src/services/getTokens.ts
  packages/client/src/index.ts
Due: js, Javascript

feat: upgrade ncu (#893)
  apps/app/app/(wallet)/[address]/(components)/PortfolioChart.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/package.json
  apps/app/src/handlers/paths/[address]/page.ts
  apps/app/src/services/getPortfolio.ts
  apps/app/src/services/getTokens.ts
  apps/auth/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/subgraph/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  configurations/prettier/package.json
  configurations/prisma/package.json
  package.json
  packages/background/package.json
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
  packages/const/package.json
  packages/content/package.json
  packages/inpage/package.json
  packages/next-auth/package.json
  packages/popup/package.json
  packages/schemas/package.json
  packages/solutions/package.json
  packages/utils/package.json
  packages/wagmi/package.json
  patches/@wagmi__core@1.4.6.patch
  pnpm-lock.yaml
Due: js, Javascript

feat: ini overview
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/overview/nft/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/src/components/link-button-group.tsx
Due: js, Javascript

feat: ini overview card
  apps/app/app/(authenticated)/new/configuration/configuration-form.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewCard.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/package.json
  apps/app/src/hooks/useCopy.ts
  packages/utils/src/splitAddress.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini wallet overview
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewCard.tsx
Due: js, Javascript

feat: ini overview banner
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBanner.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
Due: js, Javascript

feat: ini banner overview
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBanner.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/root.tsx
  apps/app/src/components/banner-section.tsx
Due: js, Javascript

chore: ini update
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBanner.tsx
  apps/app/app/root.tsx
Due: js, Javascript

feat: ini port change
  crates/axum/src/api.rs
  crates/axum/src/routes/portfolio.rs
  crates/axum/src/routes/token_price.rs
Due: rust, Rust

feat: ini overview banner
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBanner.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBannerSparkline.tsx
  packages/client/src/v1.d.ts
Due: js, Javascript

fix: ini port
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBannerSparkline.tsx
  crates/axum/src/routes/portfolio.rs
  crates/axum/src/routes/token_price.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini overview (#894)
  apps/app/app/(authenticated)/new/configuration/configuration-form.tsx
  apps/app/app/(wallet)/[address]/(components)/PortfolioChart.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBanner.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBannerSparkline.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/overview/nft/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/app/root.tsx
  apps/app/package.json
  apps/app/src/components/banner-section.tsx
  apps/app/src/components/link-button-group.tsx
  apps/app/src/hooks/useCopy.ts
  crates/axum/src/api.rs
  crates/axum/src/routes/portfolio.rs
  crates/axum/src/routes/token_price.rs
  packages/client/src/v1.d.ts
  packages/utils/src/splitAddress.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini update price
  crates/axum/src/routes/portfolio.rs
  crates/axum/src/routes/token_price.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

perf: ini spark
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBannerSparkline.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/(components)/WalletOverviewBannerSparkline.tsx
Due: js, Javascript
