Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  .changeset/popular-seals-tan.md
  apps/app/src/components/web3/wallet-switcher.tsx
  crates/axum/src/routes/token_group/types.rs
Due: js, rust, Javascript, Rust

chore: update (#2157)
  .changeset/popular-seals-tan.md
  apps/app/src/components/web3/wallet-switcher.tsx
  crates/axum/src/routes/token_group/types.rs
Due: js, rust, Javascript, Rust

chore: update
  crates/node/src/node.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/node.rs
  crates/node/src/node.rs
Due: rust, Rust

chore: update
  packages/dialogs/src/transaction/transaction.tsx
Due: js, Javascript

fix: node backon (#2158)
  crates/consumer/src/topics/node.rs
  crates/node/src/node.rs
  packages/dialogs/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/migrations/delete_token_group_id.sql
  packages/dialogs/src/transaction/transaction.tsx
Due: js, Javascript

chore: update (#2159)
  configurations/prisma/migrations/delete_token_group_id.sql
  packages/dialogs/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  packages/hooks/src/useQuote.ts
  packages/stores/src/useTokenGroups.ts
Due: js, Javascript

chore: update
  .changeset/eleven-olives-sort.md
Due: none

fix: send quote (#2160)
  .changeset/eleven-olives-sort.md
  packages/hooks/src/useQuote.ts
  packages/stores/src/useTokenGroups.ts
Due: js, Javascript

chore: update
  packages/modals/src/token/token-modal-group-hover-card.tsx
  packages/modals/src/token/token-modal.tsx
Due: js, Javascript

chore: update
  packages/dialogs/src/swap/swap.tsx
  packages/modals/src/token/token-modal.tsx
  packages/stores/src/useTokenGroups.ts
  packages/templates/package.json
  packages/templates/src/index.ts
  packages/templates/src/token-group/index.ts
  packages/templates/src/token-group/token-group.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/templates/src/token-group/token-group.tsx
Due: js, Javascript

feat: ini hover card (#2161)
  packages/dialogs/src/swap/swap.tsx
  packages/modals/src/token/token-modal-group-hover-card.tsx
  packages/modals/src/token/token-modal.tsx
  packages/stores/src/useTokenGroups.ts
  packages/templates/package.json
  packages/templates/src/index.ts
  packages/templates/src/token-group/index.ts
  packages/templates/src/token-group/token-group.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/paper/vocs.config.mjs
  packages/dialogs/src/swap/swap.tsx
  packages/modals/src/token/token-modal-group-hover-card.tsx
  packages/templates/src/token-group/index.ts
Due: js, Javascript

fix: modal bg (#2162)
  apps/paper/vocs.config.mjs
  packages/dialogs/src/swap/swap.tsx
  packages/modals/src/token/token-modal-group-hover-card.tsx
  packages/templates/src/token-group/index.ts
Due: js, Javascript

chore: update
  .changeset/fuzzy-pants-invent.md
  packages/modals/src/token/token-modal-group-hover-card.tsx
  packages/ui/src/components/hover-card.tsx
Due: js, Javascript

chore: update (#2163)
  .changeset/fuzzy-pants-invent.md
  packages/modals/src/token/token-modal-group-hover-card.tsx
  packages/ui/src/components/hover-card.tsx
Due: js, Javascript

chore: update
  .changeset/twenty-taxis-bow.md
Due: none

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/src/useUserOperationsCreate.ts
Due: js, Javascript

chore: update
  packages/ui/.ncurc.yml
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/dialogs/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationsCreate.ts
Due: js, Javascript

chore: update
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationsProgress.ts
Due: js, Javascript

fix: cache op (#2166)
  packages/hooks/src/useUserOperationsCreate.ts
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/dialogs/src/transaction/transaction.tsx
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

fix: tx fetcher load (#2167)
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/dialogs/src/transaction/transaction.tsx
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/stores/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/params/src/rpc.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/query/src/useQueryUserOperationEstimateGas.ts
Due: js, Javascript

chore: update
  .changeset/fast-hotels-hug.md
Due: none

chore: update
  packages/const/src/gas.ts
  packages/const/src/index.ts
  packages/dialogs/src/transaction/transaction-details.tsx
  packages/query/package.json
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/query/src/useQueryUserOperationEstimateGas.ts
  packages/stores/package.json
  packages/stores/src/useGasSpeed.ts
  packages/types/src/gas.ts
  packages/types/src/index.ts
  packages/utils/package.json
  packages/utils/src/gas.ts
  packages/utils/src/index.ts
  packages/utils/src/word.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/const/src/gas.ts
  packages/types/src/gas.ts
  packages/utils/src/gas.ts
  packages/utils/src/word.ts
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
