Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  .license-check-and-add-config.json
  .prettierignore
Due: none

chore: update
  src/lightdotso/__init__.py
Due: none

chore: update
  apps/app/src/components/wss/wss-state.tsx
Due: js, Javascript

feat: ini soketi (#1157)
  .github/workflows/fly.yml
  .license-check-and-add-config.json
  .prettierignore
  apps/app/.ncurc.yml
  apps/app/package.json
  apps/app/src/clients/pusher.ts
  apps/app/src/components/root/root.tsx
  apps/app/src/components/wss/wss-state.tsx
  fly/soketi/Dockerfile
  fly/soketi/fly.toml
  pnpm-lock.yaml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  scripts/py/soketi.py
  src/lightdotso/__init__.py
Due: js, Javascript

chore: ini python gha
  .github/workflows/python.yml
  .vscode/settings.json
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

chore: update
  .github/workflows/python.yml
  .husky/pre-commit
Due: none

chore: update
  .github/workflows/python.yml
Due: none

chore: ini husky pre push
  .husky/pre-push
Due: none

chore: update
  .husky/pre-push
Due: none

chore: ini py code (#1158)
  .github/workflows/python.yml
  .husky/pre-commit
  .vscode/settings.json
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

chore: ini husky prepush (#1159)
  .husky/pre-push
Due: none

feat: ini pusher crate
  Cargo.lock
  Cargo.toml
  crates/pusher/Cargo.toml
  crates/pusher/src/channel.rs
  crates/pusher/src/event.rs
  crates/pusher/src/lib.rs
  crates/pusher/tests/it/main.rs
  crates/pusher/tests/it/test.rs
  scripts/py/copy_root_changeset.py
  scripts/py/soketi.py
Due: rust, Rust

chore: ini pusher https
  Cargo.lock
  crates/pusher/Cargo.toml
  crates/pusher/src/lib.rs
  crates/pusher/tests/it/test.rs
Due: rust, Rust

feat: ini pusher crate (#1160)
  Cargo.lock
  Cargo.toml
  crates/pusher/Cargo.toml
  crates/pusher/src/channel.rs
  crates/pusher/src/event.rs
  crates/pusher/src/lib.rs
  crates/pusher/tests/it/main.rs
  crates/pusher/tests/it/test.rs
  scripts/py/copy_root_changeset.py
  scripts/py/soketi.py
Due: rust, Rust

chore: refactor axum query params
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration/list.rs
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/notification/get.rs
  crates/axum/src/routes/notification/list.rs
  crates/axum/src/routes/paymaster/get.rs
  crates/axum/src/routes/paymaster/list.rs
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/portfolio/get.rs
  crates/axum/src/routes/signature/get.rs
  crates/axum/src/routes/signature/list.rs
  crates/axum/src/routes/signature/post.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/token/get.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/transaction/get.rs
  crates/axum/src/routes/transaction/list.rs
  crates/axum/src/routes/user/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/list.rs
  crates/axum/src/routes/user_operation/nonce.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/update.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/get.rs
  crates/axum/src/routes/wallet/list.rs
  crates/axum/src/routes/wallet/tab.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/get.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: rust, Rust

chore: refactor axum query params (#1161)
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration/list.rs
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/notification/get.rs
  crates/axum/src/routes/notification/list.rs
  crates/axum/src/routes/paymaster/get.rs
  crates/axum/src/routes/paymaster/list.rs
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/portfolio/get.rs
  crates/axum/src/routes/signature/get.rs
  crates/axum/src/routes/signature/list.rs
  crates/axum/src/routes/signature/post.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/token/get.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/transaction/get.rs
  crates/axum/src/routes/transaction/list.rs
  crates/axum/src/routes/user/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/list.rs
  crates/axum/src/routes/user_operation/nonce.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/update.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/get.rs
  crates/axum/src/routes/wallet/list.rs
  crates/axum/src/routes/wallet/tab.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/get.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: rust, Rust

chore: update
  apps/app/app/(authenticated)/new/(components)/root/root.tsx
Due: js, Javascript

fix: form layer
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
Due: js, Javascript

feat: ini chain stack
  apps/app/src/components/chain/chain-item-extra.tsx
  apps/app/src/components/chain/chain-item-tooltip.tsx
  apps/app/src/components/chain/chain-item.module.css
  apps/app/src/components/chain/chain-item.tsx
  apps/app/src/components/chain/chain-popover.tsx
  apps/app/src/components/chain/chain-stack.tsx
  apps/app/src/components/feedback/feedback-popover.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/chain/chain-popover.tsx
Due: js, Javascript

fix: rounded lg chain items
  apps/app/src/components/chain/chain-item-extra.tsx
  apps/app/src/components/chain/chain-item-tooltip.tsx
  apps/app/src/components/chain/chain-item.tsx
Due: js, Javascript

fix: design issues (#1162)
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/(components)/root/root.tsx
  apps/app/src/components/chain/chain-item-extra.tsx
  apps/app/src/components/chain/chain-item-tooltip.tsx
  apps/app/src/components/chain/chain-item.module.css
  apps/app/src/components/chain/chain-item.tsx
  apps/app/src/components/chain/chain-popover.tsx
  apps/app/src/components/chain/chain-stack.tsx
  apps/app/src/components/feedback/feedback-popover.tsx
Due: js, Javascript

feat: ini footer
  apps/app/src/components/root/root.tsx
  apps/auth/next.config.mjs
  apps/ui/index.tsx
  apps/ui/package.json
  apps/ui/src/svgs/logo/light-horizontal.tsx
  apps/ui/src/templates/footer/footer-list.tsx
  apps/ui/src/templates/footer/footer-mode-select.tsx
  apps/ui/src/templates/footer/footer-social.tsx
  apps/ui/src/templates/footer/footer.tsx
  apps/ui/src/templates/footer/index.ts
  configurations/tailwindcss/src/index.js
  packages/const/src/navigation_links.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini component types
  apps/app/src/components/lightdotso/light-logo.tsx
  apps/ui/src/svgs/logo/light-horizontal.tsx
  apps/ui/src/templates/footer/footer-list.tsx
  apps/ui/src/templates/footer/footer-mode-select.tsx
  apps/ui/src/templates/footer/footer-social.tsx
  apps/ui/src/templates/footer/footer.tsx
Due: js, Javascript

chore: ini page wrapper footer mb
  apps/app/src/components/wrapper/page/basic-page-wrapper.tsx
  apps/app/src/components/wrapper/page/minimal-page-wrapper.tsx
  apps/app/src/components/wrapper/page/settings-page-wrapper.tsx
Due: js, Javascript

feat: ini footer (#1163)
  apps/app/src/components/lightdotso/light-logo.tsx
  apps/app/src/components/root/root.tsx
  apps/app/src/components/wrapper/page/basic-page-wrapper.tsx
  apps/app/src/components/wrapper/page/minimal-page-wrapper.tsx
  apps/auth/next.config.mjs
  apps/ui/index.tsx
  apps/ui/package.json
  apps/ui/src/svgs/logo/light-horizontal.tsx
  apps/ui/src/templates/footer/footer-list.tsx
  apps/ui/src/templates/footer/footer-mode-select.tsx
  apps/ui/src/templates/footer/footer-social.tsx
  apps/ui/src/templates/footer/footer.tsx
  apps/ui/src/templates/footer/index.ts
  configurations/tailwindcss/src/index.js
  packages/const/src/navigation_links.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: refactor prisma schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini invite code
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini invite code router
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/invite_code/error.rs
  crates/axum/src/routes/invite_code/get.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/invite_code/mod.rs
  crates/axum/src/routes/invite_code/types.rs
  crates/axum/src/routes/paymaster/list.rs
Due: rust, Rust

chore: update
  packages/client/src/v1.d.ts
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update type
  crates/axum/src/routes/invite_code/types.rs
Due: rust, Rust

chore: refactor prisma schema (#1164)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/invite_code/error.rs
  crates/axum/src/routes/invite_code/get.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/invite_code/mod.rs
  crates/axum/src/routes/invite_code/types.rs
  crates/axum/src/routes/paymaster/list.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini op table actions
  apps/app/app/(wallet)/[address]/@op/(.)op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/@op/(.)op/page.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-row-actions.tsx
  apps/app/src/handlers/paths/[address]/op/[userOperationHash]/handler.ts
  apps/app/src/preloaders/paths/[address]/op/[userOperationHash]/preloader.ts
  apps/app/src/preloaders/paths/[address]/op/preloader.ts
Due: js, Javascript

feat: ini op table actions (#1165)
  apps/app/app/(wallet)/[address]/@op/(.)op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/@op/(.)op/page.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-row-actions.tsx
  apps/app/src/handlers/paths/[address]/op/[userOperationHash]/handler.ts
  apps/app/src/preloaders/paths/[address]/op/[userOperationHash]/preloader.ts
  apps/app/src/preloaders/paths/[address]/op/preloader.ts
Due: js, Javascript

fix: api limit
  crates/axum/src/api.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
