Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: ini pagination icon
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  packages/ui/src/components/button-icon.tsx
  packages/ui/src/components/pagination.stories.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/index.ts
Due: js, Javascript

chore: update create dialog
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  packages/ui/src/components/pagination.tsx
Due: js, Javascript

feat: ini query action
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/simulation/create.rs
  packages/client/src/api/simulation.ts
  packages/client/src/types/api/v1.d.ts
  packages/data/src/index.ts
  packages/data/src/simulation.ts
  packages/params/src/index.ts
  packages/params/src/simulation.ts
  packages/query-keys/src/index.ts
  packages/query-keys/src/simulation.ts
  packages/query/src/index.ts
  packages/query/src/useQuerySimulation.ts
Due: js, rust, Javascript, Rust

chore: auto fix commit
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  packages/data/src/simulation.ts
Due: js, Javascript

fix: type creat run
  crates/axum/src/routes/simulation/create.rs
  crates/interpreter/src/config.rs
  crates/interpreter/tests/it/transfer/erc1155_transfer.rs
  crates/interpreter/tests/it/transfer/erc20_transfer.rs
  crates/interpreter/tests/it/transfer/erc721_transfer.rs
  crates/interpreter/tests/it/transfer/eth_transfer.rs
  crates/simulator/src/types.rs
Due: rust, Rust

chore: update query client
  crates/axum/src/routes/simulation/create.rs
  crates/simulator/src/types.rs
  packages/client/src/api/simulation.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/simulation.ts
  packages/query/src/useQuerySimulation.ts
Due: js, rust, Javascript, Rust

chore: update
  crates/simulator/src/types.rs
Due: rust, Rust

chore: update
  packages/templates/src/modal-swiper/modal-swiper.stories.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  crates/axum/src/routes/simulation/mod.rs
  crates/simulator/src/types.rs
  packages/query/src/useQuerySimulation.ts
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  crates/axum/src/routes/simulation/create.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/invite_code/create.rs
  crates/axum/src/routes/notification/read.rs
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/simulation/create.rs
  crates/axum/src/routes/simulation/get.rs
  crates/axum/src/routes/simulation/list.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: js, rust, Javascript, Rust

chore: auto fix commit
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  crates/axum/src/routes/interpretation_action/list.rs
  crates/axum/src/routes/simulation/create.rs
  crates/axum/src/routes/transaction/list.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  packages/templates/src/modal-swiper/modal-swiper.stories.tsx
  packages/ui/src/components/pagination.tsx
Due: js, Javascript

feat: ini crate element
  apps/app/package.json
  apps/assets/package.json
  apps/explorer/package.json
  configurations/eslint/package.json
  crates/axum/src/routes/simulation/create.rs
  crates/axum/src/routes/simulation/types.rs
  package.json
  packages/elements/package.json
  packages/tables/package.json
  packages/templates/package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini crate element (#1483)
  apps/app/package.json
  apps/assets/package.json
  apps/explorer/package.json
  configurations/eslint/package.json
  crates/axum/src/routes/simulation/create.rs
  crates/axum/src/routes/simulation/types.rs
  package.json
  packages/elements/package.json
  packages/tables/package.json
  packages/templates/package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

test: fix tabs link
  apps/app/src/components/nav/main-nav.tsx
  crates/axum/src/routes/simulation/create.rs
Due: js, rust, Javascript, Rust

fix: tabs
  .changeset/chatty-cooks-fetch.md
Due: none

chore: updaet nav return
  apps/app/src/components/nav/tabs-nav.tsx
Due: js, Javascript

fix: ini tabs (#1484)
  .changeset/chatty-cooks-fetch.md
  apps/app/src/components/nav/main-nav.tsx
  apps/app/src/components/nav/tabs-nav.tsx
  crates/axum/src/routes/simulation/create.rs
Due: js, rust, Javascript, Rust

chore: ini tabs nav
  apps/app/src/components/nav/tabs-nav.tsx
Due: js, Javascript

chore: udpate
  .changeset/famous-dogs-tickle.md
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/nav/tabs-nav.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  crates/interpreter/src/interpreter.rs
  ios/LightWalletSafariExtension/Resources/images/icon-128.png
  ios/LightWalletSafariExtension/Resources/images/icon-256.png
  ios/LightWalletSafariExtension/Resources/images/icon-48.png
  ios/LightWalletSafariExtension/Resources/images/icon-512.png
  ios/LightWalletSafariExtension/Resources/images/icon-64.png
  ios/LightWalletSafariExtension/Resources/images/icon-96.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-16.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-19.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-32.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-38.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-48.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-72.png
Due: js, rust, ios, Javascript, Rust, iOS

chore: update
  ios/LightWalletSafariExtension/Resources/images/icon-128.png
  ios/LightWalletSafariExtension/Resources/images/icon-256.png
  ios/LightWalletSafariExtension/Resources/images/icon-48.png
  ios/LightWalletSafariExtension/Resources/images/icon-512.png
  ios/LightWalletSafariExtension/Resources/images/icon-64.png
  ios/LightWalletSafariExtension/Resources/images/icon-96.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-16.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-19.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-32.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-38.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-48.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-72.png
Due: ios, iOS

feat: ini sim card (#1485)
  .changeset/famous-dogs-tickle.md
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/src/components/nav/tabs-nav.tsx
  crates/interpreter/src/interpreter.rs
Due: js, rust, Javascript, Rust

chore: activity list params
  crates/axum/src/routes/activity/list.rs
Due: rust, Rust

feat: ini null return data table
  apps/app/app/(authenticated)/notifications/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(transaction)/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table-toolbar.tsx
  packages/templates/src/data-table/data-table-pagination.tsx
Due: js, Javascript

chore: activity list params (#1486)
  apps/app/app/(authenticated)/notifications/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(transaction)/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table-toolbar.tsx
  crates/axum/src/routes/activity/list.rs
  packages/templates/src/data-table/data-table-pagination.tsx
Due: js, rust, Javascript, Rust

chore: ini tabs nav
  apps/app/src/components/nav/tabs-nav.tsx
  packages/tables/src/activity/activity-columns.tsx
  packages/tables/src/activity/activity-table.tsx
Due: js, Javascript

chore: ini tabs nav (#1487)
  apps/app/src/components/nav/tabs-nav.tsx
  packages/tables/src/activity/activity-columns.tsx
  packages/tables/src/activity/activity-table.tsx
Due: js, Javascript

chore: ini client api
  packages/client/src/client.ts
Due: js, Javascript

chore: update
  apps/app/src/handlers/paths/[address]/activity/handler.ts
  crates/axum/src/routes/activity/list.rs
  packages/client/src/client.ts
Due: js, rust, Javascript, Rust

fix: client props (#1489)
  apps/app/src/handlers/paths/[address]/activity/handler.ts
  crates/axum/src/routes/activity/list.rs
  packages/client/src/client.ts
Due: js, rust, Javascript, Rust
