Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: udpate
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

chore: ini symbol tokens
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

chore: update
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

chore: ini swap
  .license-check-and-add-config.json
  apps/router/package.json
  apps/router/src/index.ts
  packages/client/src/client.ts
  packages/client/src/lifi/index.ts
  packages/client/src/lifi/quote.ts
  packages/data/src/index.ts
  packages/data/src/lifi.ts
  packages/dialogs/src/swap/swap.tsx
  packages/params/src/index.ts
  packages/params/src/lifi.ts
  packages/query-keys/src/index.ts
  packages/query-keys/src/lifi.ts
  packages/query/src/index.ts
  packages/query/src/useQueryLifiQuote.ts
Due: js, Javascript

chore: update swap demo
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

chore: update buy swap
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

chore: update lifi swap
  packages/data/package.json
  packages/data/src/lifi.ts
  packages/dialogs/src/swap/swap.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: ini swap empty
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

chore: update
  cspell.json
Due: none

chore: update
  .changeset/purple-apples-applaud.md
Due: none

feat: ini swap restlying (#2103)
  .changeset/purple-apples-applaud.md
  .license-check-and-add-config.json
  apps/router/package.json
  apps/router/src/index.ts
  cspell.json
  packages/client/src/client.ts
  packages/client/src/lifi/index.ts
  packages/client/src/lifi/quote.ts
  packages/data/package.json
  packages/data/src/index.ts
  packages/data/src/lifi.ts
  packages/dialogs/src/swap/swap.tsx
  packages/params/src/index.ts
  packages/params/src/lifi.ts
  packages/query-keys/src/index.ts
  packages/query-keys/src/lifi.ts
  packages/query/src/index.ts
  packages/query/src/useQueryLifiQuote.ts
  packages/ui/src/components/textarea.tsx
  pnpm-lock.yaml
Due: js, Javascript

feat: ini uop table type
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/op/[userOperationHash]/(components)/op-data-table.tsx
  packages/tables/src/index.ts
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
  packages/tables/src/user-operation/index.ts
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

chore: update
  .changeset/strange-rats-wash.md
Due: none

feat: ini hooks tabular (#2104)
  .changeset/strange-rats-wash.md
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/op/[userOperationHash]/(components)/op-data-table.tsx
  packages/tables/src/index.ts
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
  packages/tables/src/user-operation/index.ts
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

fix: revert
  .changeset/strange-rats-wash.md
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/op/[userOperationHash]/(components)/op-data-table.tsx
  packages/tables/src/index.ts
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
  packages/tables/src/user-operation/index.ts
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

fix: revert (#2105)
  .changeset/strange-rats-wash.md
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/op/[userOperationHash]/(components)/op-data-table.tsx
  packages/tables/src/index.ts
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
  packages/tables/src/user-operation/index.ts
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

feat: ini swap query states
  packages/dialogs/src/swap/swap.tsx
  packages/nuqs/src/index.ts
  packages/nuqs/src/useBuySwapQueryState.ts
  packages/nuqs/src/useSellSwapQueryState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/schemas/src/index.ts
Due: js, Javascript

feat: ini swap token
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/hooks/src/useProxyImplementationAddress.ts
  packages/hooks/src/useRefinement.ts
  packages/hooks/src/useSignInWithSiwe.ts
  packages/hooks/src/useSignMessageState.ts
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/hooks/src/useUserOperationSign.ts
  packages/hooks/src/useUserOperationsCreate.ts
  packages/hooks/src/useUserOperationsCreateState.ts
  packages/hooks/src/useUserOperationsSendState.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/calm-colts-shave.md
Due: none

feat: ini swap decimal
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
Due: js, Javascript

feat: ini sdk pkg
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/dialogs/src/swap/swap.tsx
  packages/sdk/.depcheckrc.yml
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/test/.gitkeep
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  packages/sdk/turbo.json
  packages/types/src/execution.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update cyber truck
  packages/hooks/package.json
  packages/hooks/src/useSwap.ts
  packages/hooks/tsconfig.json
  packages/states/tsconfig.json
  packages/stores/tsconfig.json
  pnpm-lock.yaml
Due: js, Javascript

chore: ini swap amount
  packages/hooks/package.json
  packages/hooks/src/useSwap.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/hooks/src/useSwap.ts
Due: js, Javascript

chore: ignore tests
  crates/graphql/src/polling/min_block.rs
  crates/graphql/src/polling/user_operation.rs
  crates/graphql/src/polling/user_operations.rs
  crates/graphql/src/wallets/mod.rs
Due: rust, Rust

chore: ini lamp
  packages/dialogs/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
Due: js, Javascript

chore: udpate
  packages/hooks/src/useSwap.ts
Due: js, Javascript

feat: ini hook swap (#2106)
  .changeset/calm-colts-shave.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  crates/graphql/src/polling/min_block.rs
  crates/graphql/src/polling/user_operation.rs
  crates/graphql/src/polling/user_operations.rs
  crates/graphql/src/wallets/mod.rs
  packages/dialogs/package.json
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/hooks/src/useProxyImplementationAddress.ts
  packages/hooks/src/useRefinement.ts
  packages/hooks/src/useSignInWithSiwe.ts
  packages/hooks/src/useSignMessageState.ts
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/hooks/src/useUserOperationSign.ts
  packages/hooks/src/useUserOperationsCreate.ts
  packages/hooks/src/useUserOperationsCreateState.ts
  packages/hooks/src/useUserOperationsSendState.ts
  packages/hooks/tsconfig.json
  packages/nuqs/src/index.ts
  packages/nuqs/src/useBuySwapQueryState.ts
  packages/nuqs/src/useSellSwapQueryState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/schemas/src/index.ts
  packages/sdk/.depcheckrc.yml
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/test/.gitkeep
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  packages/sdk/turbo.json
  packages/stores/tsconfig.json
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
  packages/types/src/execution.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: ini swap execution
  packages/hooks/src/useSwap.ts
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
Due: js, Javascript

chore: update
  .changeset/serious-clocks-sneeze.md
Due: none

fix: ini approvals (#2111)
  .changeset/serious-clocks-sneeze.md
  packages/hooks/src/useSwap.ts
  packages/tables/src/user-operation/actions/user-operation-table-row-actions.tsx
Due: js, Javascript

fix: approval amount
  packages/hooks/src/useSwap.ts
Due: js, Javascript

fix: approval amount (#2112)
  packages/hooks/src/useSwap.ts
Due: js, Javascript

chore: udpate (#2113)
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
