Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  package.json
Due: none

fix: ini rpc config
  Cargo.lock
  crates/jsonrpsee/Cargo.toml
  crates/jsonrpsee/src/rpc.rs
Due: rust, Rust

fix: ini rpc config (#2352)
  Cargo.lock
  crates/jsonrpsee/Cargo.toml
  crates/jsonrpsee/src/rpc.rs
Due: rust, Rust

fix: lib entry
  apps/blog/content/announcements/light-swaps.mdx
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

feat: ini light cargo
  Cargo.lock
  Cargo.toml
  apps/blog/content/announcements/light-swaps.mdx
  apps/changelog/content/2024/09/2024-09-11-tokio-upgrade.mdx
  configurations/styles/keystatic.css
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

fix: ini error lib (#2353)
  Cargo.lock
  Cargo.toml
  apps/blog/content/announcements/light-swaps.mdx
  apps/changelog/content/2024/09/2024-09-11-tokio-upgrade.mdx
  configurations/styles/keystatic.css
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

chore: update
  pnpm-lock.yaml
Due: none

fix: ini contracts
  contracts/package.json
  pnpm-lock.yaml
Due: none

chore: update
  .lintstagedrc.js
Due: none

fix: ini base image
  assets/.gitignore
  packages/elements/clean-package.config.json
  packages/elements/src/base-image/base-image.stories.tsx
  packages/elements/src/base-image/base-image.tsx
  packages/elements/src/base-image/index.ts
  packages/elements/src/nft-image/nft-image.tsx
Due: js, Javascript

fix: external link shrink
  packages/elements/src/external-link/external-link.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
Due: js, Javascript

fix: ui issues (#2357)
  assets/.gitignore
  packages/elements/clean-package.config.json
  packages/elements/src/base-image/base-image.stories.tsx
  packages/elements/src/base-image/base-image.tsx
  packages/elements/src/base-image/index.ts
  packages/elements/src/nft-image/nft-image.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
Due: js, Javascript

fix: ini biome gas
  .gas-snapshot
  Cargo.toml
  biome.json
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.tree
  contracts/test/integration/upgradability/proxy/LightTimelockController.t.sol
  contracts/test/integration/upgradability/proxy/LightTimelockController.t.tree
  contracts/test/spec/light-timelock-controller-factory.spec.ts
  contracts/test/spec/light-timelock-controller.spec.ts
  tools/embedded-bulloak/Cargo.toml
  tools/embedded-bulloak/src/main.rs
  tools/embedded-prisma/Cargo.toml
  tools/embedded-scopelint/Cargo.toml
Due: none

chore: update
  FEATURED.md
  project-words.txt
Due: none

chore: update
  .changeset/rare-games-count.md
Due: none

chore: update
  packages/elements/src/base-image/base-image.tsx
  packages/elements/src/nft-image/nft-image.tsx
Due: js, Javascript

chore: update
  packages/elements/src/base-image/index.ts
Due: js, Javascript

fix: ini contracts testing (#2358)
  .changeset/rare-games-count.md
  .gas-snapshot
  Cargo.toml
  FEATURED.md
  biome.json
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.tree
  contracts/test/integration/upgradability/proxy/LightTimelockController.t.sol
  contracts/test/integration/upgradability/proxy/LightTimelockController.t.tree
  contracts/test/spec/light-timelock-controller-factory.spec.ts
  contracts/test/spec/light-timelock-controller.spec.ts
  packages/elements/src/base-image/base-image.tsx
  packages/elements/src/base-image/index.ts
  packages/elements/src/nft-image/nft-image.tsx
  project-words.txt
  tools/embedded-bulloak/Cargo.toml
  tools/embedded-bulloak/src/main.rs
  tools/embedded-prisma/Cargo.toml
  tools/embedded-scopelint/Cargo.toml
Due: js, Javascript

chore: udpate
  .changeset/grumpy-paws-search.md
Due: none

chore: update
  biome.json
  package.json
Due: none

chore: update
  packages/tables/src/nft/nft-table.tsx
Due: js, Javascript

chore: update
  packages/elements/src/base-image/base-image.tsx
Due: js, Javascript

fix: ini tables ui
  packages/tables/src/token/token-table.tsx
  packages/tables/src/transaction/transaction-table.tsx
Due: js, Javascript

chore: update
  .changeset/sour-fishes-change.md
Due: none

fix: ini tables ui (#2360)
  .changeset/sour-fishes-change.md
  packages/tables/src/token/token-table.tsx
  packages/tables/src/transaction/transaction-table.tsx
Due: js, Javascript

fix: ini lib
  .changeset/funny-cows-drum.md
  biome.json
  package.json
Due: none

fix: ini lib (#2361)
  .changeset/funny-cows-drum.md
  biome.json
  package.json
Due: none

feat: ini app open
  .lintstagedrc.js
  android/package.json
  apps/ai/package.json
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/envio/package.json
  apps/explorer/package.json
  apps/extension/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/images/package.json
  apps/inngest/package.json
  apps/open/package.json
  apps/paper/package.json
  apps/proposals/package.json
  apps/router/package.json
  apps/storybook/package.json
  apps/subgraph/package.json
  assets/package.json
  bin/package.json
  contracts/package.json
  crates/package.json
  fastlane/package.json
  ios/package.json
  package.json
  packages/background/package.json
  packages/content/package.json
  packages/elements/package.json
  packages/inpage/package.json
  packages/popup/package.json
  packages/resources/package.json
  pods/package.json
Due: js, rust, ios, Javascript, Rust, iOS

fix: lintstaged
  .lintstagedrc.js
  package.json
  pnpm-lock.yaml
Due: none

fix: update
  .changeset/tricky-cameras-visit.md
Due: none

fix: refactor app (#2363)
  .changeset/tricky-cameras-visit.md
  .lintstagedrc.js
  android/package.json
  apps/ai/package.json
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/envio/package.json
  apps/explorer/package.json
  apps/extension/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/images/package.json
  apps/inngest/package.json
  apps/open/package.json
  apps/paper/package.json
  apps/proposals/package.json
  apps/router/package.json
  apps/storybook/package.json
  apps/subgraph/package.json
  assets/package.json
  bin/package.json
  contracts/package.json
  crates/package.json
  fastlane/package.json
  ios/package.json
  package.json
  packages/background/package.json
  packages/content/package.json
  packages/elements/package.json
  packages/inpage/package.json
  packages/popup/package.json
  packages/resources/package.json
  pnpm-lock.yaml
  pods/package.json
Due: js, rust, ios, Javascript, Rust, iOS

fix: ini lint staged
  .lintstagedrc.js
  package.json
Due: none
