Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_DEFAULT_ENABLED.snap.new
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__OPERATIONS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/types.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/routes/wallet_notification_settings/get.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/wallet_notification_settings/get.rs
Due: rust, Rust

chore: update
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/types.rs
Due: rust, Rust

chore: update user notification settings
  crates/axum/src/routes/user_notification_settings/get.rs
Due: rust, Rust

chore: update
  .changeset/healthy-countries-remember.md
Due: none

chore: update
  crates/axum/src/routes/wallet_notification_settings/types.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
Due: rust, Rust

chore: update notification settings params schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/routes/notification_settings/types.rs
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_notification_settings/types.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/wallet_notification_settings/types.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
Due: js, rust, Javascript, Rust

chore: ini notifier (#1592)
  .changeset/healthy-countries-remember.md
  Cargo.lock
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/routes/notification_settings/types.rs
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_notification_settings/types.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/types.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
  crates/notifier/Cargo.toml
  crates/notifier/src/lib.rs
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__OPERATIONS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/types.rs
Due: js, rust, Javascript, Rust

chore: ini notifier typings
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/types.rs
Due: rust, Rust

chore: ini notifier typings (#1593)
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/types.rs
Due: rust, Rust

feat: ini notification id
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/activity.rs
  crates/consumer/src/topics/notification.rs
  crates/kafka/src/topics/notification.rs
  crates/kafka/src/types/mod.rs
  crates/kafka/src/types/notification.rs
  crates/notifier/src/types.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/activity.rs
  crates/kafka/src/types/notification.rs
Due: rust, Rust

feat: ini activity res
  crates/axum/src/routes/notification/get.rs
  crates/axum/src/routes/notification/list.rs
  crates/axum/src/routes/notification/types.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/notification.rs
  fly/consumer-cvalnt/fly.toml
  fly/consumer-error/fly.toml
  fly/consumer-nfn/fly.toml
  fly/consumer-retry/fly.toml
  fly/consumer-tx/fly.toml
Due: rust, Rust

chore: update nfn
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/notification.rs
  crates/kafka/src/types/notification.rs
Due: rust, Rust

chore: update
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: none

chore: ini nfn act (#1594)
  crates/axum/src/routes/notification/get.rs
  crates/axum/src/routes/notification/list.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/activity.rs
  crates/consumer/src/topics/notification.rs
  crates/kafka/src/topics/notification.rs
  crates/kafka/src/types/mod.rs
  crates/kafka/src/types/notification.rs
  crates/notifier/src/types.rs
  fly/consumer-cvalnt/fly.toml
  fly/consumer-error/fly.toml
  fly/consumer-nfn/fly.toml
  fly/consumer-retry/fly.toml
  fly/consumer-tx/fly.toml
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: rust, Rust

feat: ini notification settings
  crates/axum/src/routes/wallet_notification_settings/get.rs
  packages/client/src/api/wallet_notification_settings.ts
  packages/client/src/types/api/v1.d.ts
  packages/data/src/index.ts
  packages/data/src/notificationSettings.ts
  packages/data/src/walletNotificationSettings.ts
  packages/query-keys/src/wallet.ts
  packages/query/src/index.ts
  packages/query/src/useQueryWalletNotificationSettings.ts
Due: js, rust, Javascript, Rust

feat: ini notification settings
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/layout.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/page.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/settings/notifications/handler.ts
  packages/data/src/activity.ts
  packages/data/src/assetChange.ts
  packages/data/src/billing.ts
  packages/data/src/index.ts
  packages/data/src/token.ts
  packages/data/src/transaction.ts
  packages/data/src/userOperation.ts
  packages/query/src/useQueryWalletNotificationSettings.ts
  packages/services/src/getWalletNotificationSettings.ts
  packages/services/src/index.ts
Due: js, Javascript

feat: ini query nfn (#1595)
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/layout.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/page.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/settings/notifications/handler.ts
  crates/axum/src/routes/wallet_notification_settings/get.rs
  packages/client/src/api/index.ts
  packages/client/src/api/wallet_notification_settings.ts
  packages/client/src/types/api/v1.d.ts
  packages/data/src/activity.ts
  packages/data/src/assetChange.ts
  packages/data/src/billing.ts
  packages/data/src/index.ts
  packages/data/src/notificationSettings.ts
  packages/data/src/token.ts
  packages/data/src/transaction.ts
  packages/data/src/userOperation.ts
  packages/data/src/walletNotificationSettings.ts
  packages/query/src/index.ts
  packages/query/src/useQueryWalletNotificationSettings.ts
  packages/services/src/getWalletNotificationSettings.ts
  packages/services/src/index.ts
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
  packages/data/src/walletBilling.ts
  packages/data/src/walletNotificationSettings.ts
Due: js, Javascript

chore: update fix
  apps/app/app/(wallet)/[address]/settings/layout.tsx
  apps/app/src/handlers/paths/[address]/settings/notifications/handler.ts
  packages/params/src/walletSettings.ts
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
Due: js, Javascript

chore: update
  .changeset/wet-countries-destroy.md
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/src/const/titles.ts
Due: js, Javascript

chore: update title
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/settings/appearance/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/appearance/layout.tsx
  apps/app/app/(authenticated)/settings/layout.tsx
  apps/app/app/(authenticated)/settings/notifications/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/notifications/layout.tsx
  apps/app/app/(authenticated)/settings/notifications/page.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/layout.tsx
  apps/app/app/(wallet)/[address]/settings/layout.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/layout.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/settings/notifications/handler.ts
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/settings/appearance/page.tsx
  apps/app/app/(authenticated)/settings/layout.tsx
Due: js, Javascript

chore: update app
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/settings/appearance/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/notifications/(components)/settings-notification-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
Due: js, Javascript

chore: ini app card (#1596)
  .changeset/wet-countries-destroy.md
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/settings/appearance/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/appearance/layout.tsx
  apps/app/app/(authenticated)/settings/appearance/page.tsx
  apps/app/app/(authenticated)/settings/layout.tsx
  apps/app/app/(authenticated)/settings/notifications/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/notifications/layout.tsx
  apps/app/app/(authenticated)/settings/notifications/page.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/layout.tsx
  apps/app/app/(wallet)/[address]/settings/layout.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/layout.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/settings/notifications/handler.ts
  packages/data/src/walletBilling.ts
  packages/data/src/walletNotificationSettings.ts
  packages/params/src/walletSettings.ts
Due: js, Javascript

chore: ini settings nfn
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
Due: js, rust, Javascript, Rust

chore: ini settings nfn (#1597)
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(wallet)/[address]/settings/notifications/(components)/settings-notifications-settings-card.tsx
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
Due: js, rust, Javascript, Rust

fix: hashset
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
Due: rust, Rust

fix: hashset (#1598)
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
Due: rust, Rust

chore: ini forge scripts
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1707409521.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1707409528.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1707409390.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1707409396.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410262.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410268.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410282.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410288.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410301.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410307.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/56/run-1707409471.json
  broadcast/PaymasterAddDepositOps.s.sol/56/run-1707409477.json
  broadcast/PaymasterAddDepositOps.s.sol/56/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/43114/run-1707409553.json
  broadcast/PaymasterAddStakeOps.s.sol/43114/run-1707409560.json
  broadcast/PaymasterAddStakeOps.s.sol/43114/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/56/run-1707409439.json
  broadcast/PaymasterAddStakeOps.s.sol/56/run-1707409446.json
  broadcast/PaymasterAddStakeOps.s.sol/56/run-latest.json
Due: none

chore: update prisma schema constraint
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
  fly/gas/fly.toml
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/migrations/empty_notification_settings.sql
  configurations/prisma/migrations/nullify_is_user_only_notification_settings.sql
Due: js, Javascript

chore: ini scripts deployment + prisma refactor schema (#1599)
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1707409521.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-1707409528.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/43114/run-latest.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1707409390.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-1707409396.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/56/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410262.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410268.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410282.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410288.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410301.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-1707410307.json
  broadcast/PaymasterAddDepositOps.s.sol/43114/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/56/run-1707409471.json
  broadcast/PaymasterAddDepositOps.s.sol/56/run-1707409477.json
  broadcast/PaymasterAddDepositOps.s.sol/56/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/43114/run-1707409553.json
  broadcast/PaymasterAddStakeOps.s.sol/43114/run-1707409560.json
  broadcast/PaymasterAddStakeOps.s.sol/43114/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/56/run-1707409439.json
  broadcast/PaymasterAddStakeOps.s.sol/56/run-1707409446.json
  broadcast/PaymasterAddStakeOps.s.sol/56/run-latest.json
  configurations/prisma/migrations/empty_notification_settings.sql
  configurations/prisma/migrations/nullify_is_user_only_notification_settings.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
  fly/gas/fly.toml
Due: js, rust, Javascript, Rust

feat: ini notification query
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table.tsx
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/src/handlers/paths/notifications/handler.ts
  crates/axum/src/routes/notification/list.rs
  packages/nuqs/src/index.ts
  packages/nuqs/src/useAddressQueryState.ts
Due: js, rust, Javascript, Rust

chore: ini nfn tab
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/src/components/nav/notifications-nav.tsx
Due: js, Javascript

chore: ini address query state (#1600)
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table.tsx
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/src/components/nav/notifications-nav.tsx
  apps/app/src/handlers/paths/notifications/handler.ts
  crates/axum/src/routes/notification/list.rs
  packages/nuqs/src/index.ts
  packages/nuqs/src/useAddressQueryState.ts
Due: js, rust, Javascript, Rust
