Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  .gas-snapshot
  .gitmodules
Due: none

chore: update
  .changeset/brown-toes-explain.md
  pnpm-lock.yaml
Due: none

chore: update
  .gitmodules
Due: none

chore: update
  remappings.txt
Due: none

chore: update
  .contracts-size
  .gas-snapshot
  .storage-layouts
Due: none

chore: update
  contracts/src/LightPaymaster.sol
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
  contracts/src/LightWallet.sol
  contracts/src/LightWalletFactory.sol
Due: contracts, Contracts

chore: update
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/flow/LightPaymasterVerifyFlow.s.sol
  foundry.toml
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
Due: none

chore: update
  Makefile
  contracts/build.sh
  opt/LightTimelockController.sol/LightTimelockController.json
Due: none

feat: ini build update
  contracts/build.sh
  foundry.toml
  opt/LightDAG.sol/LightDAG.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
Due: none

chore: udpate
  Makefile
  contracts/wagmi.sh
  wagmi.config.ts
Due: none

chore: update
  .contracts-size
  .gitmodules
  contracts/src/archives/EntryPointv0.6.0.sol
Due: contracts, Contracts

chore: update
  .gas-snapshot
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-1726290537.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-latest.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726290305.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726290476.json
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
Due: none

chore: update
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-1726291388.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726291469.json
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
Due: none

chore: udpate
  .changeset/thick-jobs-fly.md
Due: none

chore: update
  .contracts-size
  .storage-layouts
  Makefile
Due: none

chore: update
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-1726291388.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-latest.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726291469.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-latest.json
Due: none

chore: update
  biome.json
  cspell.json
Due: none

chore: update
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
Due: none

feat: ini singular deploy (#2378)
  .changeset/thick-jobs-fly.md
  .contracts-size
  .gas-snapshot
  .gitmodules
  .storage-layouts
  Makefile
  biome.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-1726290537.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-1726291388.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-latest.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726290305.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726290476.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726291469.json
  contracts/build.sh
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/flow/LightPaymasterVerifyFlow.s.sol
  contracts/src/archives/EntryPointv0.6.0.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
  contracts/wagmi.sh
  cspell.json
  foundry.toml
  opt/LightDAG.sol/LightDAG.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
  wagmi.config.ts
Due: contracts, Contracts

chore: update
  .changeset/pink-pans-occur.md
  packages/ui/src/components/drawer/drawer.tsx
Due: js, Javascript

chore: update
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726316570.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726316735.json
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  scripts/crunch_factory_script.sh
Due: none

chore: update
  contracts/test/base/BaseTest.t.sol
Due: none

chore: update
  packages/ui/src/components/sheet/sheet.tsx
Due: js, Javascript

chore: update
  .gitmodules
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726316570.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726316735.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-latest.json
  contracts/package.json
  contracts/src/LightPaymaster.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/verifier/LightPaymaster.f.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  packages/templates/src/nav/nav-wrapper.tsx
  pnpm-lock.yaml
  project-words.txt
  remappings.txt
Due: contracts, js, Contracts, Javascript

chore: update
  apps/home/src/components/header.tsx
  packages/templates/src/nav/nav-wrapper.tsx
  packages/ui/package.json
  packages/ui/src/components/drawer/drawer.tsx
  packages/ui/src/components/sheet/sheet.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/ui/.depcheckrc.yml
Due: js, Javascript

chore: update
  Cargo.lock
  contracts/bytecodes/Entrypoint/v0.7.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.2.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.1.0.b.sol
  contracts/script/archives/LightPaymasterDeployer/v0.2.0.s.sol
  contracts/script/archives/LightWalletFactoryDeployer/v0.1.0.s.sol
  contracts/test/base/BaseTest.t.sol
  packages/ui/.ncurc.yml
  packages/ui/package.json
  pnpm-lock.yaml
  remappings.txt
Due: js, Javascript

feat: update
  contracts/bytecodes/Entrypoint/v0.7.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.2.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/past/LightWalletFactoryDeployer.s.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  remappings.txt
Due: none

feat: update
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/10/run-1726357121.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726357075.json
  contracts/bytecodes/LightTimelockControllerFactory/v0.1.0.b.sol
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
Due: none

feat: update
  .gas-snapshot
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/137/run-1726357572.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/137/run-latest.json
  contracts/bytecodes/LightPaymaster/v0.2.0.b.sol
  contracts/bytecodes/LightTimelockControllerFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.2.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
Due: none

feat: update
  .gitmodules
  pnpm-lock.yaml
  remappings.txt
Due: none

chore: update
  .changeset/dry-mirrors-help.md
Due: none

chore: update
  project-words.txt
Due: none

chore: update
  .gitmodules
  remappings.txt
Due: none

chore: update
  apps/ai/package.json
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/envio/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/images/package.json
  apps/inngest/package.json
  apps/paper/package.json
  apps/proposals/package.json
  apps/router/package.json
  apps/storybook/package.json
  apps/subgraph/package.json
  package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/flow/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/popup/package.json
  packages/query/package.json
  packages/redis/package.json
  packages/roots/package.json
  packages/services/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/wagmi/package.json
  packages/widget/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: udpate
  .changeset/old-buses-fix.md
  Cargo.lock
Due: none
