Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: ini route list fixes
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/notification/list.rs
  packages/ui/src/providers/web3-provider.tsx
  packages/wagmi/src/config.ts
Due: js, rust, Javascript, Rust

feat: ini route list fixes (#1450)
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/notification/list.rs
  packages/ui/src/providers/web3-provider.tsx
  packages/wagmi/src/config.ts
Due: js, rust, Javascript, Rust

fix: handler activity cookies
  apps/app/src/handlers/paths/[address]/activity/handler.ts
  packages/params/src/activity.ts
  packages/services/src/getActivities.ts
  packages/services/src/getActivitiesCount.ts
Due: js, Javascript

chore: update
  apps/app/src/handlers/paths/[address]/activity/handler.ts
Due: js, Javascript

fix: handler activity cookies (#1451)
  apps/app/src/handlers/paths/[address]/activity/handler.ts
  packages/params/src/activity.ts
  packages/services/src/getActivities.ts
  packages/services/src/getActivitiesCount.ts
Due: js, Javascript

chore: update
  .changeset/two-impalas-change.md
Due: none

chore: update type query
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/(components)/root/root-link.tsx
  apps/app/app/(authenticated)/new/(hooks)/index.ts
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(wallet)/[address]/op/(hooks)/index.ts
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/send/(hooks)/index.ts
  apps/app/src/handlers/paths/[address]/op/handler.ts
  apps/app/src/handlers/paths/[address]/send/handler.ts
  packages/modals/src/auth/auth-modal.stories.tsx
  packages/nuqs/package.json
  packages/nuqs/src/index.ts
  packages/nuqs/src/useInviteCodeQueryState.ts
  packages/nuqs/src/useNameQueryState.ts
  packages/nuqs/src/useOwnersQueryState.ts
  packages/nuqs/src/useSaltQueryState.ts
  packages/nuqs/src/useThresholdQueryState.ts
  packages/nuqs/src/useTransfersQueryState.ts
  packages/nuqs/src/useTypeQueryState.ts
  packages/nuqs/src/useUserOperationsState.ts
  packages/nuqs/tsconfig.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/explorer/next.config.mjs
  packages/nuqs/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/package.json
  apps/explorer/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini cookie auth
  apps/app/middleware.ts
  apps/app/src/auth/getSession.ts
  apps/app/src/auth/index.ts
  apps/app/src/auth/verifyUserId.ts
  apps/app/src/handlers/paths/[address]/activity/handler.ts
  packages/const/src/cookies.ts
  packages/const/src/index.ts
Due: js, Javascript

chore: auto fix commit
  apps/app/src/auth/verifyUserId.ts
Due: js, Javascript

chore: update wallet path
  apps/app/src/handlers/paths/wallets/handler.ts
  crates/axum/src/routes/wallet/list.rs
  packages/client/src/api/wallet.ts
  packages/client/src/types/api/v1.d.ts
  packages/services/src/getWallets.ts
  packages/services/src/getWalletsCount.ts
  packages/services/src/index.ts
Due: js, rust, Javascript, Rust

feat: ini handling
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/src/auth/getSession.ts
  apps/app/src/auth/index.ts
  apps/app/src/auth/verifyUserId.ts
  apps/app/src/handlers/paths/notifications/handler.ts
  apps/app/src/preloaders/paths/notifications/preloader.ts
  apps/app/src/preloaders/paths/walelts/preloader.ts
  crates/axum/src/routes/user/get.rs
  packages/client/src/api/notification.ts
  packages/params/src/notification.ts
  packages/services/src/getNotifications.ts
  packages/services/src/getNotificationsCount.ts
  packages/services/src/getUser.ts
  packages/services/src/getWalletsCount.ts
  packages/services/src/index.ts
Due: js, rust, Javascript, Rust

chore: update pre service
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/app/(authenticated)/wallets/page.tsx
  apps/app/src/handlers/paths/notifications/handler.ts
  apps/app/src/handlers/paths/wallets/handler.ts
  apps/app/src/preloaders/paths/notifications/preloader.ts
  apps/app/src/preloaders/paths/wallets/preloader.ts
  packages/client/src/api/user.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/user.ts
  packages/services/src/getUser.ts
  packages/services/src/index.ts
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/app/(authenticated)/wallets/page.tsx
Due: js, Javascript

chore: update
  apps/app/src/auth/verifyUserId.ts
Due: js, Javascript

feat: ini cookie auth (#1453)
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/app/(authenticated)/wallets/page.tsx
  apps/app/middleware.ts
  apps/app/src/auth/getSession.ts
  apps/app/src/auth/index.ts
  apps/app/src/auth/verifyUserId.ts
  apps/app/src/handlers/paths/notifications/handler.ts
  apps/app/src/handlers/paths/wallets/handler.ts
  apps/app/src/preloaders/paths/notifications/preloader.ts
  apps/app/src/preloaders/paths/wallets/preloader.ts
  crates/axum/src/routes/user/get.rs
  crates/axum/src/routes/wallet/list.rs
  packages/client/src/api/notification.ts
  packages/client/src/api/wallet.ts
  packages/client/src/types/api/v1.d.ts
  packages/const/src/cookies.ts
  packages/const/src/index.ts
  packages/params/src/notification.ts
  packages/params/src/user.ts
  packages/services/src/getNotifications.ts
  packages/services/src/getNotificationsCount.ts
  packages/services/src/getUser.ts
  packages/services/src/getWallets.ts
  packages/services/src/getWalletsCount.ts
  packages/services/src/index.ts
Due: js, rust, Javascript, Rust

chore: ini address card
  packages/tables/src/(components)/card/address-card.tsx
Due: js, Javascript

chore: update table address
  packages/tables/src/(components)/card/address-card.tsx
  packages/tables/src/owner/owner-table.tsx
  packages/tables/src/wallet/card/index.ts
  packages/tables/src/wallet/card/wallet-card-address.tsx
  packages/tables/src/wallet/wallet-columns.tsx
Due: js, Javascript

chore: auto fix commit
  packages/tables/src/(components)/card/interpretation-card.tsx
Due: js, Javascript

feat: ini table complete (#1454)
  packages/tables/src/(components)/card/address-card.tsx
  packages/tables/src/owner/owner-table.tsx
  packages/tables/src/wallet/card/index.ts
  packages/tables/src/wallet/card/wallet-card-address.tsx
  packages/tables/src/wallet/wallet-columns.tsx
Due: js, Javascript

chore: update
  .changeset/rich-monkeys-swim.md
Due: none

chore: auto fix commit
  packages/elements/src/asset-change.tsx
  packages/tables/src/(components)/card/chain-card.tsx
  packages/tables/src/(components)/card/interpretation-action-card.tsx
Due: js, Javascript

chore: update
  apps/app/src/clients/redis.ts
  packages/wagmi/package.json
Due: js, Javascript

chore: update
  apps/app/turbo.json
Due: js, Javascript

chore: update
  packages/states/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/ui/package.json
Due: js, Javascript

chore: update
  configurations/eslint/src/index.js
  packages/states/package.json
  packages/states/src/index.ts
  packages/states/tsup.config.ts
  packages/svg/package.json
  packages/svg/src/index.ts
  packages/svg/tsup.config.ts
  packages/tables/package.json
  packages/tables/src/index.ts
  packages/tables/tsup.config.ts
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/tsup.config.ts
Due: js, Javascript

chore: update package size
  packages/client/package.json
  packages/const/package.json
  packages/data/package.json
  packages/demo/package.json
  packages/elements/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/schemas/package.json
  packages/services/package.json
  packages/solutions/package.json
  packages/stores/package.json
  packages/templates/package.json
  packages/types/package.json
  packages/utils/package.json
Due: js, Javascript

chore: update
  packages/wagmi/src/index.ts
Due: js, Javascript

chore: update hidden
  packages/elements/src/asset-change.tsx
  packages/elements/src/token-image.tsx
  packages/ui/src/components/table.tsx
Due: js, Javascript

chore: update balance numbers
  packages/elements/src/token-image.tsx
  packages/tables/src/token/card/token-card-token.tsx
  packages/ui/src/components/number.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/auth/getSession.ts
  apps/app/src/client/kafka.ts
  apps/app/src/client/prisma.ts
  apps/app/src/client/public.ts
  apps/app/src/client/pusher.ts
  apps/app/src/client/redis.ts
  apps/app/src/components/wss/wss-state.tsx
  apps/app/src/inngest/middlewares/prisma.ts
  apps/app/src/inngest/walletRedisCron.ts
Due: js, Javascript

chore: ini table chores (#1456)
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/auth/getSession.ts
  apps/app/src/client/kafka.ts
  apps/app/src/client/prisma.ts
  apps/app/src/client/public.ts
  apps/app/src/client/pusher.ts
  apps/app/src/client/redis.ts
  apps/app/src/components/wss/wss-state.tsx
  apps/app/src/inngest/middlewares/prisma.ts
  apps/app/src/inngest/walletRedisCron.ts
  packages/elements/src/asset-change.tsx
  packages/elements/src/token-image.tsx
  packages/tables/src/token/card/token-card-token.tsx
  packages/ui/src/components/number.tsx
  packages/ui/src/components/table.tsx
Due: js, Javascript

chore: udpate stylings
  packages/elements/src/token-image.tsx
  packages/tables/src/token/card/token-card-token.tsx
  packages/ui/src/components/number.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
