Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update simulator interpreter config
  Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/config.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/lib.rs
  crates/simulator/Cargo.toml
  crates/simulator/src/evm.rs
  crates/simulator/src/simulator.rs
  crates/simulator/src/types.rs
Due: rust, Rust

chore: ini res sim
  Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/config.rs
  crates/interpreter/tests/.gitkeep
  crates/interpreter/tests/it/eth_transfer.rs
  crates/interpreter/tests/it/main.rs
  crates/simulator/Cargo.toml
Due: rust, Rust

chore: ini interpreter res
  Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/config.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/lib.rs
  crates/interpreter/src/types.rs
  crates/simulator/src/simulator.rs
  crates/simulator/src/types.rs
Due: rust, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update prisma schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini interpret
  crates/interpreter/tests/it/erc20_transfer.rs
  crates/interpreter/tests/it/main.rs
Due: rust, Rust

chore: update
  crates/interpreter/src/interpreter.rs
Due: rust, Rust

chore: update
  Dockerfile
Due: none

feat: ini interpreter (#1296)
  .changeset/stupid-sheep-joke.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/src/bin/simulator.rs
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/contracts/src/provider.rs
  crates/interpreter/Cargo.toml
  crates/interpreter/src/config.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/lib.rs
  crates/interpreter/src/types.rs
  crates/interpreter/tests/it/erc20_transfer.rs
  crates/interpreter/tests/it/eth_transfer.rs
  crates/interpreter/tests/it/main.rs
  crates/simulator/src/evm.rs
  crates/simulator/src/simulator.rs
  crates/simulator/src/types.rs
  crates/simulator/tests/.gitkeep
  crates/simulator/tests/it/eth_transfer.rs
  crates/simulator/tests/it/main.rs
  crates/solutions/src/signature.rs
Due: js, rust, Javascript, Rust

feat: ini adapters
  Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/adapter.rs
  crates/interpreter/src/adapters/generic/erc1155.rs
  crates/interpreter/src/adapters/generic/erc20.rs
  crates/interpreter/src/adapters/generic/erc721.rs
  crates/interpreter/src/adapters/generic/mod.rs
  crates/interpreter/src/adapters/mod.rs
  crates/interpreter/src/constants.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
Due: rust, Rust

feat: ini generic new
  crates/interpreter/src/adapters/generic/erc1155.rs
  crates/interpreter/src/adapters/generic/erc20.rs
  crates/interpreter/src/adapters/generic/erc721.rs
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/adapters/generic/mod.rs
  crates/interpreter/src/constants.rs
  crates/interpreter/src/types.rs
  rustfmt.toml
Due: rust, Rust

chore: update result path
  crates/interpreter/src/adapter.rs
  crates/interpreter/src/adapters/generic/erc1155.rs
  crates/interpreter/src/adapters/generic/erc20.rs
  crates/interpreter/src/adapters/generic/erc721.rs
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/interpreter.rs
Due: rust, Rust

feat: ini async trait
  Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/adapter.rs
  crates/interpreter/src/adapters/generic/erc1155.rs
  crates/interpreter/src/adapters/generic/erc20.rs
  crates/interpreter/src/adapters/generic/erc721.rs
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/interpreter.rs
Due: rust, Rust

chore: update
  .changeset/silent-bags-drum.md
Due: none

chore: ini generic value
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/types.rs
  crates/interpreter/tests/it/eth_transfer.rs
  crates/simulator/src/simulator.rs
  crates/simulator/src/types.rs
  crates/simulator/tests/it/eth_transfer.rs
Due: rust, Rust

chore: update
  .changeset/swift-numbers-rush.md
Due: none

chore: update type annotaions
  crates/interpreter/src/types.rs
  crates/simulator/src/evm.rs
  crates/simulator/src/types.rs
Due: rust, Rust

chore: update generic adapter
  Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/adapter.rs
  crates/interpreter/src/adapters/generic/erc1155.rs
  crates/interpreter/src/adapters/generic/erc20.rs
  crates/interpreter/src/adapters/generic/erc721.rs
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
  crates/simulator/src/types.rs
Due: rust, Rust

chore: ini generic eyre
  crates/interpreter/src/adapters/generic/eth.rs
  crates/simulator/src/evm.rs
  crates/simulator/src/types.rs
Due: rust, Rust

chore: update asset change address
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update interpretation adapter
  crates/interpreter/src/adapter.rs
  crates/interpreter/src/adapters/generic/erc1155.rs
  crates/interpreter/src/adapters/generic/erc20.rs
  crates/interpreter/src/adapters/generic/erc721.rs
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
Due: rust, Rust

chore: udpate interpretation
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/interpreter.rs
Due: rust, Rust

fix: ini nightly cargo fmt
  .github/workflows/rust.yml
  .vscode/settings.json
  crates/axum/src/api.rs
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/auth/mod.rs
  crates/axum/src/routes/invite_code/create.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token_group/list.rs
  crates/axum/src/routes/wallet/create.rs
  crates/bundler/src/errors.rs
  crates/bundler/src/eth.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/portfolio.rs
  crates/consumer/src/topics/transaction.rs
  crates/covalent/src/lib.rs
  crates/db/src/models/user_operation.rs
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/polygon.rs
  crates/indexer/src/indexer.rs
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/constants.rs
  crates/interpreter/tests/it/eth_transfer.rs
  crates/paymaster/src/paymaster.rs
  crates/polling/src/polling.rs
  crates/redis/src/lock.rs
  crates/redis/src/rate_limit.rs
  crates/rpc/src/lib.rs
  crates/solutions/src/node.rs
  crates/solutions/src/recover.rs
  crates/solutions/src/signature.rs
  package.json
Due: rust, Rust

chore: update
  Makefile
Due: none

chore: update
  rustfmt.toml
Due: none

chore: update
  .github/workflows/prisma.yml
  .github/workflows/rust.yml
  Makefile
Due: none

chore: update
  crates/prisma/src/main.rs
Due: rust, Rust

chore: update
  bin/src/bin/indexer.rs
Due: rust, Rust

fix: auth modal eslint
  apps/app/src/components/auth/auth-modal.tsx
Due: js, Javascript

fix: eslint validation
  .changeset/odd-eels-wonder.md
Due: none

feat: ini oxclint
  .eslintignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

chore: update
  apps/app/package.json
  apps/assets/package.json
  apps/explorer/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  package.json
  packages/const/package.json
  packages/solutions/package.json
  packages/wagmi/package.json
  patches/@wagmi__core@1.4.13.patch
  pnpm-lock.yaml
Due: js, Javascript

fix: oxlint
  .lintstagedrc.js
Due: none

fix: prettier cmd
  .lintstagedrc.js
  .vscode/settings.json
Due: none

chore: updat
  .vscode/settings.json
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
