Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: balance amount token
  packages/hooks/src/useSwap.ts
Due: js, Javascript

fix: balance amount token (#2114)
  packages/hooks/src/useSwap.ts
Due: js, Javascript

fix: swap max
  packages/hooks/src/useSwap.ts
Due: js, Javascript

fix: swap max (#2115)
  packages/hooks/src/useSwap.ts
Due: js, Javascript

feat: ini max swap
  packages/hooks/src/index.ts
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
Due: js, Javascript

feat: ini max swap (#2116)
  packages/hooks/src/index.ts
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
Due: js, Javascript

feat: ini use swap
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/package.json
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  packages/nuqs/src/index.ts
  packages/nuqs/src/useSwapFromQueryState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/nuqs/src/useSwapToQueryState.ts
  packages/nuqs/tsconfig.json
  packages/params/src/lifi.ts
  packages/schemas/src/eth/swap.ts
  packages/schemas/src/form/swapForm.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: udpate
  .changeset/happy-beds-divide.md
Due: none

chore: update
  packages/hooks/src/useSwap.ts
Due: js, Javascript

chore: udpate
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

chore: ini swap details
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
  packages/modals/src/token/token-modal.tsx
Due: js, Javascript

chore: update
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
Due: js, Javascript

chore: deprecate swap
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

feat: ini swap cof (#2117)
  .changeset/happy-beds-divide.md
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/package.json
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  packages/modals/src/token/token-modal.tsx
  packages/nuqs/src/index.ts
  packages/nuqs/src/useSwapFromQueryState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/nuqs/src/useSwapToQueryState.ts
  packages/nuqs/tsconfig.json
  packages/params/src/lifi.ts
  packages/schemas/src/eth/swap.ts
  packages/schemas/src/form/swapForm.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini swap token
  .changeset/small-dryers-hang.md
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  packages/nuqs/src/index.ts
  packages/nuqs/src/useSwapsQueryState.ts
Due: js, Javascript

chore: update swap dollar
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
  packages/nuqs/src/useSwapsQueryState.ts
Due: js, Javascript

fix: ini amount swap (#2118)
  .changeset/small-dryers-hang.md
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  packages/nuqs/src/index.ts
  packages/nuqs/src/useSwapsQueryState.ts
Due: js, Javascript

fix: ini swaps executions
  packages/dialogs/package.json
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: ini swap ux
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/hooks/src/useSignMessageState.ts
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/hooks/src/useUserOperationSign.ts
  packages/hooks/src/useUserOperationsCreate.ts
  packages/hooks/src/useUserOperationsCreateState.ts
  packages/hooks/src/useUserOperationsSendState.ts
Due: js, Javascript

chore: update
  .changeset/short-snakes-tease.md
Due: none

chore: update
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

feat: ini swaps
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/nuqs/src/useSwapsQueryState.ts
  packages/schemas/src/eth/swap.ts
Due: js, Javascript

feat: ini exec (#2119)
  .changeset/short-snakes-tease.md
  packages/dialogs/package.json
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/hooks/src/useSignMessageState.ts
  packages/hooks/src/useSwap.ts
  packages/hooks/src/useSwaps.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/hooks/src/useUserOperationSign.ts
  packages/hooks/src/useUserOperationsCreate.ts
  packages/hooks/src/useUserOperationsCreateState.ts
  packages/hooks/src/useUserOperationsSendState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/nuqs/src/useSwapsQueryState.ts
  packages/schemas/src/eth/swap.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini root create
  apps/app/app/(action)/create/page.tsx
  apps/app/app/(action)/error.tsx
  apps/app/app/(action)/layout.tsx
  apps/app/app/(action)/not-found.tsx
  apps/app/app/(action)/swap/page.tsx
  apps/app/app/@create/create/(components)/modal-interception-footer.tsx
  apps/app/app/@create/create/page.tsx
  apps/app/src/handlers/create/handler.ts
  apps/app/src/handlers/handler.ts
  apps/app/src/preloaders/create/preloader.ts
  apps/app/src/preloaders/preloader.ts
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/useSwap.ts
  packages/nuqs/src/useSwapsQueryState.ts
Due: js, Javascript

chore: update
  .changeset/selfish-dodos-notice.md
Due: none

chore: update
  packages/hooks/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini app group action
  apps/app/middleware.ts
  apps/app/src/components/app-banner.tsx
  apps/app/src/components/root/root-logo.tsx
  apps/app/src/components/state/wallet-state.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/app/src/const/index.ts
  apps/app/src/const/paths.ts
  apps/app/src/hooks/useTabs.tsx
  apps/app/src/utils/getAppGroup.ts
  crates/contracts/abi/EntryPoint.json
  crates/contracts/src/entrypoint.rs
  packages/types/src/app-group.ts
Due: js, rust, Javascript, Rust

chore: ini create page
  apps/app/app/(action)/create/page.tsx
  apps/app/app/@create/(.)create/(components)/modal-interception-footer.tsx
  apps/app/app/@create/(.)create/page.tsx
Due: js, Javascript

feat: ini root create (#2120)
  .changeset/selfish-dodos-notice.md
  apps/app/app/(action)/create/page.tsx
  apps/app/app/(action)/error.tsx
  apps/app/app/(action)/layout.tsx
  apps/app/app/(action)/not-found.tsx
  apps/app/app/(action)/swap/page.tsx
  apps/app/app/@create/(.)create/(components)/modal-interception-footer.tsx
  apps/app/app/@create/(.)create/page.tsx
  apps/app/middleware.ts
  apps/app/src/components/root/root-logo.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/app/src/const/index.ts
  apps/app/src/const/paths.ts
  apps/app/src/handlers/create/handler.ts
  apps/app/src/handlers/handler.ts
  apps/app/src/hooks/useTabs.tsx
  apps/app/src/preloaders/create/preloader.ts
  apps/app/src/preloaders/preloader.ts
  apps/app/src/utils/getAppGroup.ts
  crates/contracts/abi/EntryPoint.json
  crates/contracts/src/entrypoint.rs
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/package.json
  packages/hooks/src/useSwap.ts
  packages/nuqs/src/useSwapsQueryState.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: update
  .changeset/violet-kings-teach.md
Due: none

chore: ini utils node
  crates/consumer/src/topics/node.rs
  crates/contracts/src/entrypoint.rs
  crates/contracts/src/types.rs
  crates/contracts/src/utils.rs
  crates/node/src/node.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/node.rs
  crates/contracts/src/utils.rs
  crates/node/src/node.rs
Due: rust, Rust

chore: update
  crates/contracts/src/utils.rs
Due: rust, Rust

chore: update
  apps/app/middleware.ts
Due: js, Javascript

feat: ini root v2 (#2121)
  .changeset/violet-kings-teach.md
  apps/app/middleware.ts
  crates/consumer/src/topics/node.rs
  crates/contracts/src/entrypoint.rs
  crates/contracts/src/types.rs
  crates/contracts/src/utils.rs
  crates/node/src/node.rs
  packages/hooks/src/useSwap.ts
Due: js, rust, Javascript, Rust

fix: update
  crates/polling/src/polling.rs
Due: rust, Rust

fix: update (#2122)
  crates/polling/src/polling.rs
Due: rust, Rust

feat: ini node op
  Cargo.lock
  crates/contracts/Cargo.toml
  crates/contracts/src/lib.rs
  crates/contracts/src/tracer.rs
  crates/contracts/src/user_operation.rs
  crates/node/src/node.rs
Due: rust, Rust
