Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: update
  config.toml
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

feat: update
  contracts/test/spec/light-wallet-factory.spec.ts
  contracts/test/spec/light-wallet-factory.ts
  contracts/test/spec/light-wallet.spec.ts
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/unit/hash/LightWalletFactoryGetHash.t.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  contracts/test/unit/merkle/MerkleProof.sol
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

chore: update
  Cargo.lock
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/unit/merkle/MerkleProof.sol
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

chore: update
  .gas-snapshot
  contracts/test/spec/misc/merkleProof.spec.ts
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

chore: update
  contracts/test/spec/misc/merkleProof.spec.ts
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

feat: update
  Cargo.lock
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/unit/merkle/MerkleProof.t.sol
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

chore: update
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

chore: update
  contracts/test/spec/misc/merkleProof.spec.ts
Due: none

chore: update
  contracts/test/unit/merkle/MerkleProof.t.sol
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

chore: update
  .gas-snapshot
Due: none

feat: update
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/unit/merkle/MerkleProof.t.sol
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

feat: ini alloy merkle (#2345)
  .changeset/spicy-tips-fail.md
  .gas-snapshot
  Cargo.lock
  FEATURED.md
  apps/docs/app/api/search/route.ts
  apps/docs/app/layout.tsx
  apps/docs/app/source.ts
  apps/docs/content/(api)/meta.json
  config.toml
  contracts/test/spec/light-wallet-factory.spec.ts
  contracts/test/spec/light-wallet-factory.ts
  contracts/test/spec/light-wallet.spec.ts
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/spec/misc/merkleProof.ts
  contracts/test/unit/hash/LightWalletFactoryGetHash.t.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  contracts/test/unit/merkle/MerkleProof.t.sol
  crates/axum/Cargo.toml
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/lib.rs
  crates/contracts/src/merkle_tree.rs
  crates/graphql/tests/it/run.rs
  packages/templates/src/nav/nav-wrapper.tsx
  packages/templates/src/nav/nav.tsx
  project-words.txt
Due: js, rust, Javascript, Rust

test: ini merkle nested
  .gas-snapshot
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/unit/merkle/MerkleProof.t.sol
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

feat: update merkle comments
  contracts/test/spec/misc/merkleProof.spec.ts
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

feat: update
  .gas-snapshot
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/unit/merkle/MerkleProof.t.sol
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

test: ini merkle nested (#2346)
  .gas-snapshot
  contracts/test/spec/misc/merkleProof.spec.ts
  contracts/test/unit/merkle/MerkleProof.t.sol
  crates/contracts/src/merkle_tree.rs
Due: rust, Rust

chore: ini pm config
  .cargo/config.toml
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  crates/contracts/src/paymaster.rs
Due: rust, Rust

feat: ini cargo (#2347)
  .cargo/config.toml
  crates/contracts/src/paymaster.rs
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: ini home alone
  apps/home/app/(sections)/ecosystem.tsx
  apps/home/app/(sections)/hero.tsx
  apps/home/app/(sections)/swap.tsx
  configurations/styles/global.css
Due: js, Javascript

fix: ini home alone (#2348)
  apps/home/app/(sections)/ecosystem.tsx
  apps/home/app/(sections)/hero.tsx
  apps/home/app/(sections)/swap.tsx
  configurations/styles/global.css
Due: js, Javascript

chore: ini features
  FEATURED.md
Due: none

chore: update
  apps/docs/app/[[...slug]]/page.tsx
  apps/docs/app/api/search/route.ts
  apps/docs/app/source.ts
Due: js, Javascript

chore: update
  contracts/src/LightTimelockController.sol
Due: contracts, Contracts

chore: update
  .gas-snapshot
  contracts/src/LightTimelockController.sol
Due: contracts, Contracts

chore: update
  .contracts-size
Due: none

chore: update
  .changeset/calm-dots-jam.md
Due: none

chore: update
  apps/ai/src/components/codeblock.tsx
Due: js, Javascript

feat: ini placeholder blur
  .changeset/early-trainers-relax.md
  apps/blog/app/(blog)/page.tsx
  apps/changelog/app/(changelog)/page.tsx
  apps/changelog/app/(post)/[...slug]/page.tsx
  apps/proposals/app/(proposals)/page.tsx
  packages/elements/src/next-image/next-image.tsx
Due: js, Javascript

feat: ini placeholder blur (#2350)
  .changeset/early-trainers-relax.md
  apps/blog/app/(blog)/page.tsx
  apps/changelog/app/(changelog)/page.tsx
  apps/changelog/app/(post)/[...slug]/page.tsx
  apps/proposals/app/(proposals)/page.tsx
  packages/elements/src/next-image/next-image.tsx
Due: js, Javascript

feat: ini cargo update
  apps/blog/app/(blog)/page.tsx
  apps/blog/content/announcements/light-swaps.mdx
  apps/blog/keystatic.config.ts
  apps/blog/tsconfig.json
Due: js, Javascript

feat: update
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  crates/axum/Cargo.toml
  crates/billing/src/billing.rs
  crates/client/src/lib.rs
  crates/consumer/src/topics/transaction.rs
  crates/discord/Cargo.toml
  crates/discord/src/lib.rs
  crates/hyper/Cargo.toml
  crates/hyper/src/lib.rs
  crates/indexer/src/indexer.rs
  crates/opentelemetry/src/middleware.rs
  crates/polling/src/polling.rs
  crates/pusher/Cargo.toml
  crates/pusher/src/lib.rs
  crates/pusher/tests/it/test.rs
  crates/redis/Cargo.toml
  crates/redis/src/rate_limit.rs
  crates/sequence/Cargo.toml
  crates/telegram/Cargo.toml
  crates/tracing/Cargo.toml
  crates/tracing/src/lib.rs
  project-words.txt
  tools/embedded-scopelint/Cargo.toml
Due: rust, Rust

feat: ini update
  crates/axum/src/admin.rs
  crates/axum/src/api.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/auth/logout.rs
  crates/axum/src/rpc.rs
  crates/axum/src/sessions.rs
Due: rust, Rust

chore: update
  .changeset/warm-plums-share.md
  crates/axum/src/api.rs
  crates/axum/src/internal.rs
  crates/axum/src/prometheus.rs
  crates/axum/src/rpc.rs
  crates/jsonrpsee/src/rpc.rs
Due: rust, Rust

feat: ini git lib
  Cargo.lock
  Cargo.toml
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/paper/package.json
  apps/proposals/package.json
  contracts/package.json
  crates/hyper/Cargo.toml
  crates/hyper/src/lib.rs
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust
