Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: prom eyre
  Cargo.lock
  crates/axum/src/exporter.rs
  crates/prometheus/Cargo.toml
  crates/prometheus/src/lib.rs
Due: rust, Rust

fix: prom eyre (#553)
  Cargo.lock
  crates/axum/src/exporter.rs
  crates/prometheus/Cargo.toml
  crates/prometheus/src/lib.rs
Due: rust, Rust

fix: loki run (#551)
  fly/loki/fly.toml
  fly/loki/loki-config.yaml
  fly/tempo/Dockerfile
  fly/tempo/fly.toml
  fly/tempo/tempo-config.yaml
Due: none

chore: update
  fly/loki/loki-config.yaml
Due: none

fix: fly deployment flow
  .github/workflows/fly.yml
Due: none

chore: update
  crates/axum/src/exporter.rs
  crates/prometheus/Cargo.toml
  crates/prometheus/src/lib.rs
Due: rust, Rust

chore: update
  Cargo.lock
Due: none

fix: chore deployemnts (#554)
  .github/workflows/fly.yml
  fly/loki/loki-config.yaml
Due: none

feat: ini rspc
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  crates/app/tests/.gitkeep
  crates/rspc/Cargo.toml
  crates/rspc/src/lib.rs
  crates/rspc/tests/.gitkeep
  crates/tauri/Cargo.toml
  crates/tauri/src/lib.rs
  crates/tauri/tests/.gitkeep
Due: js, rust, Javascript, Rust

chore: update
  Cargo.lock
  Cargo.toml
Due: none

perf: ini app dir
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/constants.rs
  crates/app/src/lib.rs
  crates/app/src/utils.rs
Due: rust, Rust

feat: ini rspc
  Cargo.lock
  Cargo.toml
  crates/rspc/Cargo.toml
  crates/rspc/src/lib.rs
Due: rust, Rust

perf: ini rspc bindings
  .cargo/config.toml
  crates/rspc/src/lib.rs
  crates/rspc/src/main.rs
Due: rust, Rust

perf: ini rspc package
  configurations/rspc/.gitignore
  configurations/rspc/index.ts
  configurations/rspc/package.json
  configurations/rspc/tsconfig.json
  configurations/rspc/turbo.json
Due: js, Javascript

chore: update
  .gitignore
  configurations/rspc/.gitignore
  configurations/rspc/src/types/bindings.ts
Due: js, Javascript

chore: update
  .license-check-and-add-config.json
  configurations/rspc/src/types/bindings.ts
Due: js, Javascript

chore: update
  pnpm-lock.yaml
Due: none

chore: update
  playwright.config.ts
Due: none

chore: update
  .prettierignore
Due: none

chore: update
  Makefile
Due: none

feat: ini api
  Cargo.lock
  Cargo.toml
  bin/src/bin/api.rs
  bin/src/bin/prometheus.rs
  bin/src/bin/rpc.rs
  crates/axum/src/lib.rs
  crates/rspc/Cargo.toml
  crates/rspc/src/lib.rs
  crates/rspc/src/main.rs
  crates/rspc/tests/.gitkeep
Due: rust, Rust

chore: update
  .cargo/config.toml
  .github/workflows/prisma.yml
  .gitignore
  .license-check-and-add-config.json
  .prettierignore
  Cargo.lock
  Cargo.toml
  Makefile
  bin/src/bin/api.rs
  configurations/rspc/.depcheckrc.yml
  configurations/rspc/index.ts
  configurations/rspc/package.json
  configurations/rspc/src/types/bindings.ts
  configurations/rspc/tsconfig.json
  configurations/rspc/turbo.json
  package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: update
  .changeset/popular-deers-walk.md
Due: none

feat: ini migrate axum
  Cargo.lock
  bin/Cargo.toml
  bin/src/bin/api.rs
  bin/src/bin/prometheus.rs
  bin/src/bin/rpc.rs
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/lib.rs
  crates/axum/src/prometheus.rs
  crates/axum/src/rpc.rs
Due: rust, Rust

chore: ini api
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
Due: rust, Rust

chore: update compile
  crates/axum/src/api.rs
Due: rust, Rust

feat: ini routes health
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/health.rs
  crates/axum/src/routes/mod.rs
Due: rust, Rust

feat: ini metrics route
  crates/axum/src/exporter.rs
  crates/axum/src/internal.rs
  crates/axum/src/routes/metrics.rs
  crates/axum/src/routes/mod.rs
Due: rust, Rust

chore: ini deployer scripts
  .github/workflows/fly.yml
Due: none

feat: ini percentage
  Cargo.lock
  crates/axum/src/internal.rs
  crates/indexer/src/indexer.rs
  crates/redis/Cargo.toml
  crates/redis/src/block.rs
  crates/redis/src/lib.rs
  crates/redis/src/wallet.rs
Due: rust, Rust

chore: udpate
  crates/redis/src/block.rs
Due: rust, Rust

chore: update
  crates/axum/src/internal.rs
  crates/prometheus/src/lib.rs
Due: rust, Rust

chore: update
  crates/prometheus/src/lib.rs
Due: rust, Rust

chore: update
  crates/axum/src/api.rs
  crates/axum/src/routes/check.rs
  crates/tracing/src/lib.rs
Due: rust, Rust

feat: ini health api
  crates/axum/src/api.rs
  crates/axum/src/routes/health.rs
Due: rust, Rust

perf: update
  crates/axum/src/api.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
