Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, node, rust, ios, Contracts, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: "0%"
        informational: true
    patch:
      default:
        target: auto
        threshold: "0%"
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  node:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini flow (#224)
  .contracts-size
  .gas-snapshot
  codecov.yml
  contracts/test/integration/flow/erc1155-batch/BatchSendERC1155.t.sol
  contracts/test/integration/flow/erc1155-batch/BatchSendERC1155.tree
  contracts/test/integration/flow/erc1155/SendERC1155.t.sol
  contracts/test/integration/flow/erc1155/SendERC1155.tree
  contracts/test/integration/flow/erc20-batch/BatchSendERC20.t.sol
  contracts/test/integration/flow/erc721-batch/BatchSendERC721.t.sol
  contracts/test/integration/flow/erc721-batch/BatchSendERC721.tree
  contracts/test/integration/flow/erc721/SendERC721.t.sol
  contracts/test/integration/flow/erc721/SendERC721.tree
  contracts/test/integration/flow/eth/SendEth.t.sol
  contracts/test/unit/compatibility/ERC1155.t.sol
  contracts/test/unit/compatibility/ERC721.t.sol
Due: none

chore: changesets pr (pre) (#219)
  .changeset/pre.json
  bin/CHANGELOG.md
  bin/package.json
  contracts/CHANGELOG.md
  contracts/package.json
  packages/solutions/CHANGELOG.md
  packages/solutions/package.json
Due: node, rust, Rust

chore: Update rust.yml
  .github/workflows/rust.yml
Due: none

chore: Update rust.yml (#226)
  .github/workflows/rust.yml
Due: none

feat: ini rpc
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/Cargo.toml
  bin/src/bin/rpc.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  crates/rpc/tests/.gitkeep
  fly/rpc/fly.toml
Due: rust, Rust

chore: update
  .github/workflows/fly.yml
Due: none

chore: update
  .taplo.toml
  .vscode/settings.json
  Cargo.toml
  crates/core/Cargo.toml
  crates/indexer/Cargo.toml
  crates/keychain/Cargo.toml
  crates/prisma/Cargo.toml
  crates/rpc/Cargo.toml
  crates/tracing/Cargo.toml
  fly/grafana/fly.toml
  package.json
  pnpm-lock.yaml
Due: rust, Rust

chore: update
  .lintstagedrc.js
Due: none

chore: update
  apps/desktop/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  package.json
  packages/solutions/package.json
  pnpm-lock.yaml
Due: node

chore: update
  .changeset/lazy-eyes-sparkle.md
  .vscode/settings.json
Due: none

chore: update
  deny.toml
  foundry.toml
  package.json
  pyproject.toml
  rust-toolchain.toml
Due: none

chore: update
  .github/workflows/rust.yml
Due: none

chore: ini rpc (#228)
  .changeset/lazy-eyes-sparkle.md
  .github/workflows/fly.yml
  .github/workflows/rust.yml
  .lintstagedrc.js
  .taplo.toml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Dockerfile
  apps/desktop/package.json
  apps/ui/package.json
  bin/Cargo.toml
  bin/src/bin/rpc.rs
  configurations/eslint/package.json
  crates/core/Cargo.toml
  crates/indexer/Cargo.toml
  crates/prisma/Cargo.toml
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  crates/rpc/tests/.gitkeep
  crates/tracing/Cargo.toml
  deny.toml
  fly/grafana/fly.toml
  fly/rpc/fly.toml
  foundry.toml
  package.json
  packages/solutions/package.json
  pnpm-lock.yaml
  pyproject.toml
  rust-toolchain.toml
Due: node, rust, Rust

chore: changesets pr (pre) (#229)
  .changeset/pre.json
  bin/CHANGELOG.md
  bin/package.json
Due: rust, Rust

chore: refactor
  .taplo.toml
Due: none

chore: refactor (#230)
  .taplo.toml
Due: none

chore: update
  .github/dependabot.yml
Due: none

chore: refactor dependabot (#231)
  .github/dependabot.yml
Due: none

chore: refactor
  .github/dependabot.yml
  contracts/turbo.json
  pods/turbo.json
Due: none

chore: refactor (#239)
  .github/dependabot.yml
  contracts/turbo.json
  pods/turbo.json
Due: none

feat: ini api init
  .gitignore
  .prettierignore
  .vscode/settings.json
  apps/api/app/api/trpc/[trpc]/route.ts
  apps/api/app/api/trpc/openapi.json/route.ts
  apps/api/app/page.tsx
  apps/api/next.config.js
  apps/api/package.json
  apps/api/src/open-api.ts
  apps/api/src/routers/app.ts
  apps/api/src/routers/user.ts
  apps/api/src/trpc.ts
  apps/api/src/utils/transformer.ts
  apps/api/tsconfig.json
  configurations/eslint/src/index.js
  configurations/prisma/package.json
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  configurations/prisma/src/index.ts
  pnpm-lock.yaml
Due: node

chore: update
  .lintstagedrc.js
  apps/api/app/api/trpc/[trpc]/route.ts
  apps/api/app/api/trpc/openapi.json/route.ts
  apps/api/app/page.tsx
  apps/api/src/open-api.ts
  apps/api/src/routers/app.ts
  apps/api/src/routers/user.ts
  apps/api/src/trpc.ts
  apps/api/src/utils/transformer.ts
Due: node

chore: update
  apps/api/src/context.ts
  apps/api/src/trpc.ts
Due: node

chore: update
  configurations/prisma/src/index.ts
Due: node

chore: update
  apps/api/package.json
  apps/api/tsconfig.json
Due: node

chore: update
  apps/api/package.json
Due: node

chore: update
  .changeset/weak-kids-jam.md
Due: none

chore: update
  configurations/eslint/src/index.js
Due: node

chore: update
  apps/api/next.config.js
Due: node

chore: update
  apps/api/package.json
  apps/app/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/ui/package.json
  apps/web/package.json
  configurations/eslint/package.json
  configurations/prisma/turbo.json
  package.json
  packages/popup/package.json
  pnpm-lock.yaml
Due: node

chore: update
  apps/api/app/api/trpc/[trpc]/route.ts
  apps/api/app/api/trpc/openapi.json/route.ts
Due: node

chore: ini next ignore tracing output
  apps/api/next.config.js
Due: node

chore: update
  apps/api/next.config.js
  configurations/tailwindcss/package.json
  pnpm-lock.yaml
Due: node

chore: update
  configurations/tailwindcss/package.json
Due: node

chore: update
  pnpm-lock.yaml
Due: none
