Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  crates/db/src/db.rs
Due: rust, Rust

feat: ini indexer it (#359)
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/src/bin/cli.rs
  bin/src/bin/indexer.rs
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/indexer/src/config.rs
  crates/indexer/src/indexer.rs
  crates/indexer/tests/.gitkeep
  crates/indexer/tests/it/indexer.rs
  crates/indexer/tests/it/main.rs
Due: js, rust, Javascript, Rust

feat: ini consumer
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/src/bin/consumer.rs
  crates/consumer/Cargo.toml
  crates/consumer/src/config.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/lib.rs
  crates/consumer/tests/.gitkeep
  crates/indexer/Cargo.toml
Due: rust, Rust

chore: update
  Cargo.toml
Due: none

chore: update
  Cargo.lock
  bin/Cargo.toml
  bin/src/bin/consumer.rs
Due: rust, Rust

chore: update
  configurations/prisma/prisma/migrations/20230808073447_add_tx_specs/migration.sql
Due: js, Javascript

chore: update test
  crates/consumer/src/config.rs
Due: rust, Rust

feat: ini consumer (#360)
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/Cargo.toml
  bin/src/bin/consumer.rs
  configurations/prisma/prisma/migrations/20230808073447_add_tx_specs/migration.sql
  crates/consumer/Cargo.toml
  crates/consumer/src/config.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/lib.rs
  crates/consumer/tests/.gitkeep
  crates/indexer/Cargo.toml
Due: js, rust, Javascript, Rust

fix: ini fmt
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691482933.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691482946.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483034.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483040.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483543.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483561.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483657.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483669.json
  crates/db/src/db.rs
Due: rust, Rust

chore: update
  .github/workflows/fly.yml
  bin/src/bin/consumer.rs
  bin/src/bin/indexer.rs
  fly/consumer/fly.toml
Due: rust, Rust

fix: ini fmt (#361)
  .github/workflows/fly.yml
  bin/src/bin/consumer.rs
  bin/src/bin/indexer.rs
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691482933.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691482946.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483034.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483040.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483543.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483561.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483657.json
  broadcast/LightWalletDeployer.s.sol/11155111/run-1691483669.json
  crates/db/src/db.rs
  fly/consumer/fly.toml
Due: rust, Rust

perf: ini mock test
  bin/src/bin/consumer.rs
  bin/src/bin/indexer.rs
  crates/db/src/db.rs
Due: rust, Rust

chore: upd
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
Due: rust, Rust

chore: update indexer
  Cargo.lock
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/error.rs
  crates/indexer/src/indexer.rs
Due: rust, Rust

perf: ini mock test (#362)
  Cargo.lock
  bin/src/bin/consumer.rs
  bin/src/bin/indexer.rs
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/db/src/error.rs
  crates/indexer/src/indexer.rs
Due: rust, Rust

perf: ini feat zellij
  package.json
  zellij.kdl
Due: none

perf: upgrade pnpm
  apps/api/package.json
  apps/app/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/ui/package.json
  apps/web/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  configurations/prettier/package.json
  configurations/prisma/package.json
  package.json
  packages/auth/package.json
  packages/background/package.json
  packages/content/package.json
  packages/inpage/package.json
  packages/popup/package.json
  packages/solutions/package.json
  packages/trpc/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  zellij.kdl
Due: js, Javascript

chore: migrate port
  contracts/test/spec/__test__/globalSetup.ts
  contracts/test/spec/__test__/setup.ts
  contracts/test/spec/utils/anvil.ts
  package.json
  tsconfig.json
Due: none

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  zellij.kdl
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/migrations/20230809025204_deprecate_other/migration.sql
  configurations/prisma/prisma/migrations/20230809032811_id_unique_remove/migration.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
Due: js, rust, Javascript, Rust

chore: update
  Cargo.lock
  Cargo.toml
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
Due: rust, Rust

chore: ini comment prisma models
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini types and indexing
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
Due: js, rust, Javascript, Rust

feat: ini upgrade (#363)
  Cargo.lock
  Cargo.toml
  apps/api/package.json
  apps/app/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/ui/package.json
  apps/web/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  configurations/prettier/package.json
  configurations/prisma/package.json
  configurations/prisma/prisma/migrations/20230809025204_deprecate_other/migration.sql
  configurations/prisma/prisma/migrations/20230809032811_id_unique_remove/migration.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  contracts/test/spec/__test__/globalSetup.ts
  contracts/test/spec/__test__/setup.ts
  contracts/test/spec/utils/anvil.ts
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
  package.json
  packages/auth/package.json
  packages/background/package.json
  packages/content/package.json
  packages/inpage/package.json
  packages/popup/package.json
  packages/solutions/package.json
  packages/trpc/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  tsconfig.json
  zellij.kdl
Due: js, rust, Javascript, Rust

feat/ini zellij (#365)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
Due: js, rust, Javascript, Rust

chore: ini migrate
  configurations/prisma/prisma/migrations/20230809055638_permanent_change/migration.sql
Due: js, Javascript

Apply automatic changes
  configurations/prisma/prisma/migrations/20230809060748_/migration.sql
Due: js, Javascript

chore: ini migrate (#366)
  configurations/prisma/prisma/migrations/20230809055638_permanent_change/migration.sql
  configurations/prisma/prisma/migrations/20230809060748_/migration.sql
Due: js, Javascript

feat: ini auto metrics
  .github/workflows/am.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  am.toml
  bin/Cargo.toml
  bin/src/bin/indexer.rs
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/tracing/Cargo.toml
  crates/tracing/src/lib.rs
Due: rust, Rust

chore: ini metrics endpoint
  fly/indexer-sepolia/fly.toml
  fly/indexer/fly.toml
Due: none

perf: ini prometheus
  .github/workflows/am.yml
  Makefile
  prometheus.yml
  zellij.kdl
Due: none

chore: update
  am.toml
  docker-compose.yml
Due: none

chore: update
  docker-compose.yml
Due: none

feat: ini auto metrics (#367)
  .github/workflows/am.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  am.toml
  bin/Cargo.toml
  bin/src/bin/indexer.rs
  crates/db/Cargo.toml
  crates/db/src/db.rs
  crates/tracing/Cargo.toml
  crates/tracing/src/lib.rs
  docker-compose.yml
  fly/indexer-sepolia/fly.toml
  fly/indexer/fly.toml
  prometheus.yml
  zellij.kdl
Due: rust, Rust

chore: update trpc experimental
  apps/api/package.json
  apps/app/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: upgrade types
  apps/api/package.json
  apps/app/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/ui/package.json
  apps/web/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  package.json
  packages/popup/package.json
  packages/trpc/package.json
  packages/trpc/src/server/action.ts
  packages/trpc/src/server/invoker.ts
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .license-check-and-add-config.json
  apps/api/package.json
  apps/app/app/trpc-provider.tsx
  apps/app/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
Due: js, Javascript

Apply automatic changes
  apps/api/next-env.d.ts
Due: js, Javascript

chore: update
  apps/app/app/trpc-provider.tsx
  packages/trpc/src/server/invoker.ts
Due: js, Javascript
