Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: complete refactor wallet modal hook w/ custom
  apps/app/package.json
  apps/app/src/components/root/root.tsx
  apps/app/src/components/web3/connect-button.tsx
  apps/app/src/components/web3/wallet-modal.tsx
  apps/app/src/components/web3/wallet-option-button.tsx
  apps/app/src/hooks/useAuthModal.ts
  apps/app/src/stores/useModals.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: proper client query
  apps/app/src/components/auth/auth-state.tsx
  apps/app/src/components/root/root.tsx
  apps/app/src/query/index.ts
  apps/app/src/query/useQueryAuthSession.ts
  apps/app/src/query/useQueryUser.ts
Due: js, Javascript

chore: update
  apps/app/src/components/root/root.tsx
  apps/app/src/components/web3/web3-provider.tsx
  apps/app/src/const/chains.ts
Due: js, Javascript

fix: web3 provider
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript

fix: ini db test integration
  crates/db/src/db.rs
  crates/db/tests/it/transaction.rs
  crates/db/tests/it/user_operation.rs
Due: rust, Rust

chore: update
  .changeset/forty-monkeys-fold.md
Due: none

fix: root
  apps/app/src/components/root/root.tsx
Due: js, Javascript

fix: root (#1357)
  apps/app/src/components/root/root.tsx
Due: js, Javascript

fix: db transfer schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/models/interpretation.rs
  crates/interpreter/src/adapters/transfer/erc1155.rs
  crates/interpreter/src/adapters/transfer/erc20.rs
  crates/interpreter/src/adapters/transfer/erc721.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/types.rs
Due: js, rust, Javascript, Rust

chore: update integration snap
  crates/db/src/models/interpretation.rs
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc1155_transfer__integration_erc1155_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc20_transfer__integration_erc20_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_mint.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_eth_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_light_eth_transfer.snap
Due: rust, Rust

fix: web3 provider autoconnect
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript

fix: web3 provider autoconnect (#1358)
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript

chore: update
  crates/interpreter/src/adapters/transfer/erc1155.rs
Due: rust, Rust

fix: db client test (#1356)
  .changeset/forty-monkeys-fold.md
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/transaction.rs
  crates/db/tests/it/user_operation.rs
  crates/interpreter/src/adapters/transfer/erc1155.rs
  crates/interpreter/src/adapters/transfer/erc20.rs
  crates/interpreter/src/adapters/transfer/erc721.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/types.rs
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc1155_transfer__integration_erc1155_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc20_transfer__integration_erc20_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_mint.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_eth_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_light_eth_transfer.snap
Due: js, rust, Javascript, Rust

fix: db interpretation
  Cargo.lock
  crates/db/Cargo.toml
  crates/db/tests/it/interpretation.rs
  crates/db/tests/it/main.rs
Due: rust, Rust

chore: update
  .github/workflows/rust.yml
Due: none

chore: udpate
  .changeset/famous-walls-brush.md
Due: none

feat: ini rainbow kit
  apps/app/package.json
  apps/app/src/components/root/root.tsx
  apps/app/src/components/web3/connect-button.tsx
  apps/app/src/components/web3/wallet-modal.tsx
  apps/app/src/components/web3/wallet-option-button.tsx
  apps/app/src/components/web3/web3-provider.tsx
  apps/app/src/hooks/useAuthModal.ts
  apps/app/src/stores/useModals.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript

chore: update connect safe
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript

feat: ini rainbow kit (#1360)
  apps/app/package.json
  apps/app/src/components/root/root.tsx
  apps/app/src/components/web3/connect-button.tsx
  apps/app/src/components/web3/wallet-modal.tsx
  apps/app/src/components/web3/wallet-option-button.tsx
  apps/app/src/components/web3/web3-provider.tsx
  apps/app/src/hooks/useAuthModal.ts
  apps/app/src/stores/useModals.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
Due: rust, Rust

chore: update
  crates/db/tests/it/interpretation.rs
Due: rust, Rust

chore: update
  crates/db/src/models/interpretation.rs
Due: rust, Rust

chore: update interperetation sol
  crates/db/src/models/interpretation.rs
Due: rust, Rust

fix: interpretation db (#1359)
  .changeset/famous-walls-brush.md
  .github/workflows/rust.yml
  Cargo.lock
  crates/db/Cargo.toml
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
  crates/db/tests/it/main.rs
Due: rust, Rust

feat: ini token interpretation token type
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
  crates/interpreter/src/adapters/transfer/erc1155.rs
  crates/interpreter/src/adapters/transfer/erc20.rs
  crates/interpreter/src/adapters/transfer/erc721.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/types.rs
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc1155_transfer__integration_erc1155_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc20_transfer__integration_erc20_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_mint.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_eth_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_light_eth_transfer.snap
Due: rust, Rust

chore: update interpretation
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
Due: rust, Rust

fix: intepretation token flow (#1361)
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
  crates/interpreter/src/adapters/transfer/erc1155.rs
  crates/interpreter/src/adapters/transfer/erc20.rs
  crates/interpreter/src/adapters/transfer/erc721.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/types.rs
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc1155_transfer__integration_erc1155_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc20_transfer__integration_erc20_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_mint.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_eth_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_light_eth_transfer.snap
Due: rust, Rust

fix: state interpretation
  crates/db/src/models/interpretation.rs
Due: rust, Rust

fix: state interpretation (#1362)
  crates/db/src/models/interpretation.rs
Due: rust, Rust

fix: route queue
  crates/axum/src/routes/queue/interpretation.rs
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/queue/token.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
