Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: candide rpc urls (#1011)
  apps/app/src/components/nft/nft-card.tsx
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: js, rust, Javascript, Rust

fix: gass calldata send
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/settings/(components)/profile-form.tsx
  apps/app/app/(authenticated)/settings/page.tsx
Due: js, Javascript

chore: updat
  apps/app/app/(wallet)/[address]/overview/page.tsx
Due: js, Javascript

fix: api error msg
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
  apps/app/app/(wallet)/[address]/overview/nft/page.tsx
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/lib.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/paymaster_operation.rs
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/result.rs
Due: rust, Rust

chore: update
  crates/axum/src/error.rs
  crates/axum/src/result.rs
Due: rust, Rust

chore: update
  crates/axum/src/error.rs
  crates/axum/src/routes/notification.rs
  crates/axum/src/routes/paymaster.rs
  crates/axum/src/routes/paymaster_operation.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/token.rs
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
  crates/axum/src/routes/wallet_settings.rs
Due: rust, Rust

chore: update
  crates/axum/src/api.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/paymaster_operation.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/routes/paymaster_operation.rs
Due: rust, Rust

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
  apps/app/src/queries/index.ts
  apps/app/src/queries/paymaster_operation.ts
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
Due: js, Javascript

fix: gass calldata send (#1012)
  apps/app/app/(authenticated)/settings/(components)/profile-form.tsx
  apps/app/app/(authenticated)/settings/page.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
  apps/app/app/(wallet)/[address]/overview/nft/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/queries/index.ts
  apps/app/src/queries/paymaster_operation.ts
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/lib.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/notification.rs
  crates/axum/src/routes/paymaster.rs
  crates/axum/src/routes/paymaster_operation.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/token.rs
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
  crates/axum/src/routes/wallet_settings.rs
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update candide
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update candide (#1013)
  crates/rpc/src/constants.rs
Due: rust, Rust

fix: confirm2create
  apps/app/app/(wallet)/[address]/@op/(.)op/page.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  apps/app/app/(wallet)/[address]/op/page.tsx
  crates/rpc/src/constants.rs
Due: js, rust, Javascript, Rust

fix: op update
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  apps/app/src/components/nav/main-nav.tsx
Due: js, Javascript

fix: op routing (#1014)
  apps/app/app/(wallet)/[address]/@op/(.)op/page.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-confirm-dialog.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  apps/app/app/(wallet)/[address]/op/page.tsx
  apps/app/src/components/nav/main-nav.tsx
  crates/axum/src/routes/user_operation.rs
  crates/rpc/src/constants.rs
Due: js, rust, Javascript, Rust

fix: nonce for deployment disable
  crates/axum/src/routes/user_operation.rs
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: nonce for deployment disable (#1015)
  crates/axum/src/routes/user_operation.rs
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: navigation
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  crates/axum/src/routes/user_operation.rs
  crates/paymaster/src/paymaster.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
Due: js, Javascript

fix: navigation (#1016)
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  crates/axum/src/routes/user_operation.rs
  crates/paymaster/src/paymaster.rs
Due: js, rust, Javascript, Rust

feat: status update
  configurations/prisma/migrations/update_user_operation_status.sql
Due: js, Javascript

fix: testnet status
  crates/axum/src/routes/user_operation.rs
  crates/contracts/src/constants.rs
  crates/db/src/db.rs
Due: rust, Rust

chore: update
  crates/contracts/src/constants.rs
Due: rust, Rust

fix: status chains (#1017)
  configurations/prisma/migrations/update_user_operation_status.sql
  crates/axum/src/routes/user_operation.rs
  crates/contracts/src/constants.rs
  crates/db/src/db.rs
Due: js, rust, Javascript, Rust

fix: return
  crates/rpc/src/constants.rs
Due: rust, Rust

fix: return (#1018)
  crates/rpc/src/constants.rs
Due: rust, Rust

fix: update
  crates/axum/src/routes/user_operation.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

fix: update (#1019)
  crates/axum/src/routes/user_operation.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

feat: ini transfer encoding
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/schemas/sendForm.ts
Due: js, Javascript

feat: ini encoding (#1020)
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/schemas/sendForm.ts
Due: js, Javascript

fix: disable deps
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  configurations/prisma/migrations/update_user_operation_is_testnet.sql
Due: js, Javascript

fix: success toast
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner.tsx
Due: js, Javascript

chore: border-border-primary-weak -> border-border
  apps/app/app/(wallet)/[address]/activity/(components)/activity-card.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/portfolio-chart.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/user-operation/user-operation-card.tsx
  apps/app/src/components/network/network-tooltip.tsx
  apps/app/src/components/section/link-button-group.tsx
  apps/app/src/components/token/tokens-wrapper.tsx
  apps/ui/src/components/ui/dialog.tsx
  apps/ui/src/components/ui/input.tsx
  apps/ui/src/components/ui/select.tsx
  apps/ui/src/components/ui/textarea.tsx
Due: js, Javascript

chore: border -> border border-border
  apps/ui/src/components/ui/context-menu.tsx
  apps/ui/src/components/ui/dropdown-menu.tsx
  apps/ui/src/components/ui/hover-card.tsx
  apps/ui/src/components/ui/menubar.tsx
  apps/ui/src/components/ui/navigation-menu.tsx
  apps/ui/src/components/ui/popover.tsx
Due: js, Javascript

chore: update web3 provider
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript
