Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  .github/workflows/node.yml
  apps/subgraph/tests/.latest.json
  package.json
  turbo.json
Due: js, Javascript

chore: update
  .changeset/sweet-ways-know.md
Due: none

feat: ini rust uop (#2187)
  .changeset/sweet-ways-know.md
  .github/workflows/node.yml
  Cargo.lock
  Cargo.toml
  apps/subgraph/tests/.latest.json
  crates/axum/Cargo.toml
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/types.rs
  crates/contracts/src/user_operation.rs
  crates/package.json
  package.json
  turbo.json
Due: js, rust, Javascript, Rust

fix: tx fetcher
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
Due: js, Javascript

test: asdf
  .husky/pre-commit
Due: none

chore: update
  .husky/pre-commit
Due: none

fix: ini fetcher (#2188)
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
Due: js, Javascript

chore: update
  package.json
Due: none

feat: ini biome fmt
  apps/app/app/(wallet)/[address]/deposit/(components)/deposit-dialog.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table-toolbar.tsx
  packages/dialogs/src/swap/swap.tsx
  packages/dialogs/src/transaction/transaction-calldata.tsx
  packages/dialogs/src/transaction/transaction-details.tsx
  packages/elements/src/token-image.tsx
  packages/modals/src/token/token-modal-group-hover-card.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/settings/settings-card-base-button.tsx
Due: js, Javascript

chore: update
  configurations/prisma/index.ts
Due: js, Javascript

feat: ini rupdate
  .depcheckrc.yml
  apps/app/.depcheckrc.yml
  apps/blog/.depcheckrc.yml
  apps/changelog/.depcheckrc.yml
  apps/docs/.depcheckrc.yml
  apps/explorer/.depcheckrc.yml
  apps/frames/.depcheckrc.yml
  apps/home/.depcheckrc.yml
  apps/inngest/.depcheckrc.yml
  apps/proposals/.depcheckrc.yml
Due: js, Javascript

chore: update
  biome.json
  tsconfig.base.json
Due: none

chore: update
  pnpm-lock.yaml
Due: none

feat: ini genereated
  .changeset/real-seals-roll.md
  apps/subgraph/generated/EntryPointv0.6.0/EntryPoint.ts
  apps/subgraph/generated/EntryPointv0.6.0/LightWallet.ts
  apps/subgraph/generated/EntryPointv0.6.0/LightWalletFactory.ts
  apps/subgraph/generated/schema.ts
Due: js, Javascript

feat: ini build test
  apps/subgraph/generated/EntryPointv0.6.0/EntryPoint.ts
  apps/subgraph/generated/EntryPointv0.6.0/LightWallet.ts
  apps/subgraph/generated/EntryPointv0.6.0/LightWalletFactory.ts
  apps/subgraph/generated/schema.ts
  apps/subgraph/src/entry-point.ts
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/src/log.ts
  apps/subgraph/src/transaction.ts
  apps/subgraph/src/user-operation.ts
Due: js, Javascript

chore: update
  packages/nuqs/src/useAbiEncodedQueryState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/nuqs/src/useSwapsQueryState.ts
  packages/nuqs/src/useTransferQueryState.ts
Due: js, Javascript

chore: update
  apps/router/tsconfig.json
  apps/storybook/.storybook/global.css
Due: js, Javascript

chore: update
  apps/app/.eslintrc.js
  apps/blog/.eslintrc.js
  apps/changelog/.eslintrc.js
  apps/docs/.eslintrc.js
  apps/explorer/.eslintrc.js
  apps/proposals/.eslintrc.js
Due: js, Javascript

chore: update
  apps/docs/src/source.ts
  packages/tables/src/index.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/deposit/(components)/deposit-dialog.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-invoke-button.tsx
Due: js, Javascript

feat: ini changeset pnpm
  .changeset/bright-pigs-hammer.md
  .changeset/clever-pants-wave.md
  .changeset/fifty-socks-drive.md
  .changeset/khaki-hats-tan.md
  .changeset/lemon-bobcats-prove.md
  .changeset/lucky-dodos-relate.md
  .changeset/mean-planes-rule.md
  .changeset/poor-fishes-smoke.md
  .changeset/serious-clocks-sneeze.md
  .changeset/sharp-camels-obey.md
  .changeset/slow-buckets-bake.md
  .changeset/slow-seas-shave.md
  .changeset/thick-falcons-melt.md
  .changeset/thin-avocados-think.md
  .changeset/thin-lemons-decide.md
  .changeset/twenty-taxis-bow.md
  .changeset/weak-eagles-check.md
  .changeset/wet-ads-wait.md
  apps/app/package.json
  apps/assets/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/proposals/package.json
  apps/router/package.json
  package.json
  packages/dialogs/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/states/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1722038670.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1722038740.json
Due: none

feat: ini changeset (#2190)
  .changeset/bright-pigs-hammer.md
  .changeset/clever-pants-wave.md
  .changeset/fifty-socks-drive.md
  .changeset/khaki-hats-tan.md
  .changeset/lemon-bobcats-prove.md
  .changeset/lucky-dodos-relate.md
  .changeset/mean-planes-rule.md
  .changeset/poor-fishes-smoke.md
  .changeset/serious-clocks-sneeze.md
  .changeset/sharp-camels-obey.md
  .changeset/slow-buckets-bake.md
  .changeset/slow-seas-shave.md
  .changeset/thick-falcons-melt.md
  .changeset/thin-avocados-think.md
  .changeset/thin-lemons-decide.md
  .changeset/twenty-taxis-bow.md
  .changeset/weak-eagles-check.md
  .changeset/wet-ads-wait.md
  apps/app/package.json
  apps/assets/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/proposals/package.json
  apps/router/package.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1722038670.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1722038740.json
  package.json
  packages/dialogs/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/states/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: Update GraphQL Schema
  packages/dialogs/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/states/package.json
  packages/templates/package.json
  packages/ui/package.json
Due: js, Javascript

chore: update
  .github/workflows/rust.yml
Due: none

chore: update
  packages/dialogs/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/states/package.json
  packages/templates/package.json
  packages/ui/package.json
Due: js, Javascript

fix: ini crates cargo (#2192)
  .github/workflows/rust.yml
  .husky/pre-commit
  packages/dialogs/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/sdk/package.json
  packages/services/package.json
  packages/states/package.json
  packages/templates/package.json
  packages/ui/package.json
Due: js, Javascript

feat: ini rust
  crates/client/src/constants.rs
  crates/client/src/crypto.rs
  crates/client/src/lib.rs
  crates/constants/src/chains.rs
  crates/contracts/src/user_operation.rs
  packages/const/src/chains.ts
  project-words.txt
Due: js, rust, Javascript, Rust

feat: ini cache
  crates/client/src/crypto.rs
  project-words.txt
  thunder-tests/thunderActivity.json
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
