Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  broadcast/v0.1.0.s.sol/1329/run-1721767066.json
  broadcast/v0.1.0.s.sol/1329/run-latest.json
  broadcast/v0.1.0.s.sol/81457/run-1721767030.json
  broadcast/v0.1.0.s.sol/81457/run-latest.json
  packages/query/src/useQueryUserOperationEstimateGas.ts
Due: js, Javascript

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/1329/run-1721765325.json
  broadcast/LightWalletFactoryDeployer.s.sol/1329/run-1721765368.json
  broadcast/LightWalletFactoryDeployer.s.sol/1329/run-1721765419.json
  broadcast/LightWalletFactoryDeployer.s.sol/1329/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/7777777/run-1721766325.json
  broadcast/LightWalletFactoryDeployer.s.sol/7777777/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/81457/run-1721765228.json
  broadcast/LightWalletFactoryDeployer.s.sol/81457/run-1721765456.json
  broadcast/LightWalletFactoryDeployer.s.sol/81457/run-latest.json
  broadcast/v0.1.0.s.sol/1329/run-1721767066.json
  broadcast/v0.1.0.s.sol/1329/run-latest.json
  broadcast/v0.1.0.s.sol/7777777/dry-run/run-1721766948.json
  broadcast/v0.1.0.s.sol/7777777/dry-run/run-latest.json
  broadcast/v0.1.0.s.sol/7777777/run-1721766982.json
  broadcast/v0.1.0.s.sol/7777777/run-latest.json
  broadcast/v0.1.0.s.sol/81457/run-1721767030.json
  broadcast/v0.1.0.s.sol/81457/run-latest.json
Due: none

chore: update
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  configurations/eslint/package.json
  package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/hooks/package.json
  packages/popup/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/useQueryUserOperationEstimateGas.ts
Due: js, Javascript

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/250/run-1721840823.json
  broadcast/LightWalletFactoryDeployer.s.sol/250/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841053.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841199.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841366.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/59144/run-1721841823.json
  broadcast/LightWalletFactoryDeployer.s.sol/59144/run-latest.json
  broadcast/v0.1.0.s.sol/250/run-1721840786.json
  broadcast/v0.1.0.s.sol/250/run-latest.json
  broadcast/v0.1.0.s.sol/534352/run-1721841539.json
  broadcast/v0.1.0.s.sol/534352/run-latest.json
  broadcast/v0.1.0.s.sol/59144/run-1721841787.json
  broadcast/v0.1.0.s.sol/59144/run-latest.json
  crates/polling/src/polling.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  crates/contracts/src/types.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/polling/src/polling.rs
Due: rust, Rust

feat: ini const poll (#2180)
  broadcast/LightWalletFactoryDeployer.s.sol/250/run-1721840823.json
  broadcast/LightWalletFactoryDeployer.s.sol/250/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841053.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841199.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841366.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/59144/run-1721841823.json
  broadcast/LightWalletFactoryDeployer.s.sol/59144/run-latest.json
  broadcast/v0.1.0.s.sol/250/run-1721840786.json
  broadcast/v0.1.0.s.sol/250/run-latest.json
  broadcast/v0.1.0.s.sol/534352/run-1721841539.json
  broadcast/v0.1.0.s.sol/534352/run-latest.json
  broadcast/v0.1.0.s.sol/59144/run-1721841787.json
  broadcast/v0.1.0.s.sol/59144/run-latest.json
  crates/contracts/src/types.rs
  crates/polling/src/polling.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/250/run-1721840823.json
  broadcast/LightWalletFactoryDeployer.s.sol/250/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841053.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841199.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1721841366.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/59144/run-1721841823.json
  broadcast/LightWalletFactoryDeployer.s.sol/59144/run-latest.json
  broadcast/v0.1.0.s.sol/250/run-1721840786.json
  broadcast/v0.1.0.s.sol/250/run-latest.json
  broadcast/v0.1.0.s.sol/534352/run-1721841539.json
  broadcast/v0.1.0.s.sol/534352/run-latest.json
  broadcast/v0.1.0.s.sol/59144/run-1721841787.json
  broadcast/v0.1.0.s.sol/59144/run-latest.json
  crates/polling/src/polling.rs
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/sharp-camels-obey.md
Due: none

chore: update
  crates/polling/src/polling.rs
  packages/client/test/rpc.spec.ts
Due: js, rust, Javascript, Rust

chore: update
  .husky/commit-msg
Due: none

chore: update
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update
  .husky/pre-commit
Due: none

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1721999333.json
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-latest.json
  broadcast/v0.1.0.s.sol/42170/run-1721999261.json
  broadcast/v0.1.0.s.sol/42170/run-latest.json
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1721999333.json
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-latest.json
  broadcast/v0.1.0.s.sol/42170/run-1721999261.json
  broadcast/v0.1.0.s.sol/42170/run-latest.json
Due: none

chore: update
  .husky/commit-msg
  .husky/pre-commit
  broadcast/LightWalletFactoryDeployer.s.sol/1101/run-1722000440.json
  broadcast/LightWalletFactoryDeployer.s.sol/1101/run-latest.json
  broadcast/v0.1.0.s.sol/1101/run-1722000483.json
  broadcast/v0.1.0.s.sol/1101/run-latest.json
  packages/const/src/chains.ts
Due: js, Javascript

chore: update
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: ini max delay polling (#2182)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  broadcast/LightWalletFactoryDeployer.s.sol/1101/run-1722000440.json
  broadcast/LightWalletFactoryDeployer.s.sol/1101/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1721999333.json
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-latest.json
  broadcast/v0.1.0.s.sol/1101/run-1722000483.json
  broadcast/v0.1.0.s.sol/1101/run-latest.json
  broadcast/v0.1.0.s.sol/42170/run-1721999261.json
  broadcast/v0.1.0.s.sol/42170/run-latest.json
  crates/polling/src/polling.rs
  crates/rpc/src/constants.rs
  packages/client/test/rpc.spec.ts
  packages/const/src/chains.ts
Due: js, rust, Javascript, Rust

feat: ini rpc req
  broadcast/LightWalletFactoryDeployer.s.sol/34443/run-1722002350.json
  broadcast/LightWalletFactoryDeployer.s.sol/34443/run-latest.json
  broadcast/v0.1.0.s.sol/34443/run-1722002320.json
  broadcast/v0.1.0.s.sol/34443/run-latest.json
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update pimlico networks
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: ini etherspot fyi
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  crates/rpc/src/constants.rs
Due: rust, Rust

feat: ini rpc constants (#2183)
  broadcast/LightWalletFactoryDeployer.s.sol/34443/run-1722002350.json
  broadcast/LightWalletFactoryDeployer.s.sol/34443/run-latest.json
  broadcast/v0.1.0.s.sol/34443/run-1722002320.json
  broadcast/v0.1.0.s.sol/34443/run-latest.json
  crates/rpc/src/constants.rs
Due: rust, Rust

fix: tx fetcher bump
  broadcast/LightWalletFactoryDeployer.s.sol/690/run-1722006711.json
  broadcast/LightWalletFactoryDeployer.s.sol/690/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/7560/run-1722007344.json
  broadcast/LightWalletFactoryDeployer.s.sol/7560/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/80002/run-1722005968.json
  broadcast/LightWalletFactoryDeployer.s.sol/80002/run-latest.json
  broadcast/v0.1.0.s.sol/690/run-1722006760.json
  broadcast/v0.1.0.s.sol/690/run-latest.json
  broadcast/v0.1.0.s.sol/7560/run-1722007299.json
  broadcast/v0.1.0.s.sol/7560/run-latest.json
  broadcast/v0.1.0.s.sol/80002/run-1722005759.json
  broadcast/v0.1.0.s.sol/80002/run-1722005813.json
  broadcast/v0.1.0.s.sol/80002/run-1722005909.json
  broadcast/v0.1.0.s.sol/80002/run-latest.json
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: ini cyber redstone
  packages/svg/src/chain/cyber.tsx
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/redstone.tsx
Due: js, Javascript

fix: ini pre verificaiton bump (#2184)
  broadcast/LightWalletFactoryDeployer.s.sol/690/run-1722006711.json
  broadcast/LightWalletFactoryDeployer.s.sol/690/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/7560/run-1722007344.json
  broadcast/LightWalletFactoryDeployer.s.sol/7560/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/80002/run-1722005968.json
  broadcast/LightWalletFactoryDeployer.s.sol/80002/run-latest.json
  broadcast/v0.1.0.s.sol/690/run-1722006760.json
  broadcast/v0.1.0.s.sol/690/run-latest.json
  broadcast/v0.1.0.s.sol/7560/run-1722007299.json
  broadcast/v0.1.0.s.sol/7560/run-latest.json
  broadcast/v0.1.0.s.sol/80002/run-1722005759.json
  broadcast/v0.1.0.s.sol/80002/run-1722005813.json
  broadcast/v0.1.0.s.sol/80002/run-1722005909.json
  broadcast/v0.1.0.s.sol/80002/run-latest.json
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/svg/src/chain/cyber.tsx
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/redstone.tsx
Due: js, Javascript

chore: update rpc
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update rpc (#2185)
  crates/rpc/src/constants.rs
Due: rust, Rust

fix: thirdweb rpc urls
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  .changeset/rude-spoons-poke.md
Due: none

fix: ini rpc urls (#2186)
  .changeset/rude-spoons-poke.md
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini base uop
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/types.rs
  crates/contracts/src/user_operation.rs
  crates/package.json
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
