Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  .contracts-size
Due: none

chore: update
  apps/docs/content/contracts/diagram.mdx
  apps/docs/content/protocol/constraints.mdx
  project-words.txt
Due: js, Javascript

fix: ini faq (#2546)
  .contracts-size
  apps/app/src/const/paths.ts
  apps/docs/content/protocol/constraints.mdx
  apps/docs/content/protocol/faq.mdx
  contracts/test/spec/light-vault.spec.ts
  project-words.txt
Due: js, Javascript

feat: ini apps mindset
  .contracts-size
  apps/app/app/(action)/(const)/nav-tabs.ts
  apps/app/app/(action)/deposit/page.tsx
  apps/app/app/(action)/send/page.tsx
  apps/app/app/(action)/swap/page.tsx
  apps/app/app/(authenticated)/settings/layout.tsx
  apps/app/app/(wallet)/[address]/(const)/nav-tabs.ts
  apps/app/app/(wallet)/[address]/deposit/layout.tsx
  apps/app/app/(wallet)/[address]/loading.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/(const)/nav-tabs.ts
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/send/layout.tsx
  apps/app/app/(wallet)/[address]/settings/layout.tsx
  apps/app/app/(wallet)/[address]/swap/layout.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/package.json
  apps/app/src/components/nav/nav-sidebar.tsx
  apps/app/src/components/nav/nav-tabs.tsx
  apps/app/src/components/section/link-button-group.tsx
  apps/app/src/const/tabs.tsx
  apps/blog/src/const/tabs.tsx
  apps/changelog/src/const/tabs.tsx
  apps/docs/src/const/tabs.tsx
  apps/explorer/src/const/tabs.tsx
  apps/home/src/components/menu.tsx
  apps/home/src/const/tabs.tsx
  apps/proposals/src/const/tabs.tsx
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.stories.tsx
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.tsx
  packages/templates/src/nav/nav-location.tsx
  packages/types/src/tab.ts
  packages/ui/src/components/button/button.tsx
  turbo.json
Due: js, Javascript

feat: update
  apps/app/src/components/nav/nav-sidebar.tsx
  apps/app/src/components/section/link-button-group.tsx
  apps/app/src/const/paths.ts
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

chore: update
  apps/home/src/components/menu.tsx
Due: js, Javascript

feat: ini apps mindset (#2547)
  .contracts-size
  apps/app/app/(action)/(const)/nav-tabs.ts
  apps/app/app/(action)/deposit/page.tsx
  apps/app/app/(action)/send/page.tsx
  apps/app/app/(action)/swap/page.tsx
  apps/app/app/(authenticated)/settings/layout.tsx
  apps/app/app/(wallet)/[address]/(const)/nav-tabs.ts
  apps/app/app/(wallet)/[address]/deposit/layout.tsx
  apps/app/app/(wallet)/[address]/loading.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/(const)/nav-tabs.ts
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/send/layout.tsx
  apps/app/app/(wallet)/[address]/settings/layout.tsx
  apps/app/app/(wallet)/[address]/swap/layout.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/package.json
  apps/app/src/components/nav/nav-sidebar.tsx
  apps/app/src/components/nav/nav-tabs.tsx
  apps/app/src/components/section/link-button-group.tsx
  apps/app/src/const/paths.ts
  apps/app/src/const/tabs.tsx
  apps/blog/src/const/tabs.tsx
  apps/changelog/src/const/tabs.tsx
  apps/docs/src/const/tabs.tsx
  apps/explorer/src/const/tabs.tsx
  apps/home/src/components/menu.tsx
  apps/home/src/const/tabs.tsx
  apps/proposals/src/const/tabs.tsx
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.stories.tsx
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.tsx
  packages/templates/src/nav/nav-location.tsx
  packages/types/src/tab.ts
  packages/ui/src/components/button/button.tsx
  turbo.json
Due: js, Javascript

fix: close on pathname
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

fix: close on pathname (#2548)
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.tsx
Due: js, Javascript

feat: ini light validator
  .gitmodules
  contracts/src/LightValidator.sol
  contracts/src/interfaces/ILightValidator.sol
  remappings.txt
Due: contracts, Contracts

feat: update
  contracts/src/LightValidator.sol
Due: contracts, Contracts

chore: update
  project-words.txt
Due: none

feat: update
  .contracts-size
  .gas-snapshot
  .lintstagedrc.js
  .storage-layouts
  .vscode/settings.json
  Makefile
  contracts/src/LightValidator.sol
Due: contracts, Contracts

chore: udpate
  .vscode/settings.json
Due: none

chore: update
  .gitmodules
  contracts/src/LightPaymaster.sol
  remappings.txt
Due: contracts, Contracts

feat: ini origin bump
  .gitmodules
  contracts/bytecode/LightPaymaster/v0.1.0.b.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/fork/verifier/LightPaymaster.t.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  contracts/test/utils/LightPaymasterUtils.sol
Due: none

chore: update
  .gas-snapshot
Due: none

feat: ini light validator (#2549)
  .contracts-size
  .gas-snapshot
  .gitmodules
  .lintstagedrc.js
  .storage-layouts
  .vscode/settings.json
  Makefile
  contracts/bytecode/LightPaymaster/v0.1.0.b.sol
  contracts/src/LightValidator.sol
  contracts/src/interfaces/ILightValidator.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/fork/verifier/LightPaymaster.t.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  contracts/test/utils/LightPaymasterUtils.sol
  project-words.txt
  remappings.txt
Due: contracts, Contracts

feat: ini favicon ico
  apps/app/app/favicon.ico
  apps/app/app/layout.tsx
  apps/blog/app/favicon.ico
  apps/blog/app/layout.tsx
  apps/changelog/app/favicon.ico
  apps/changelog/app/layout.tsx
  apps/docs/app/favicon.ico
  apps/docs/app/layout.tsx
  apps/explorer/app/favicon.ico
  apps/explorer/app/layout.tsx
  apps/home/app/favicon.ico
  apps/home/app/layout.tsx
  apps/proposals/app/favicon.ico
  apps/proposals/app/layout.tsx
Due: js, Javascript

feat: ini favicon meta
  apps/app/app/layout.tsx
  apps/blog/app/layout.tsx
  apps/changelog/app/layout.tsx
  apps/docs/app/layout.tsx
  apps/explorer/app/layout.tsx
  apps/home/app/layout.tsx
  apps/proposals/app/layout.tsx
  assets/.gitignore
Due: js, Javascript

feat: refactor favicon (#2550)
  apps/app/app/favicon.ico
  apps/app/app/layout.tsx
  apps/blog/app/favicon.ico
  apps/blog/app/layout.tsx
  apps/changelog/app/favicon.ico
  apps/changelog/app/layout.tsx
  apps/docs/app/favicon.ico
  apps/docs/app/layout.tsx
  apps/explorer/app/favicon.ico
  apps/explorer/app/layout.tsx
  apps/home/app/favicon.ico
  apps/home/app/layout.tsx
  apps/proposals/app/favicon.ico
  apps/proposals/app/layout.tsx
  assets/.gitignore
Due: js, Javascript

fix: ini assets json
  apps/ai/app/favicon.ico
  apps/frames/app/favicon.ico
  apps/paper/vocs.config.mjs
Due: js, Javascript

fix: ini assets json (#2551)
  apps/ai/app/favicon.ico
  apps/frames/app/favicon.ico
  apps/paper/vocs.config.mjs
Due: js, Javascript

fix: favicon svg
  apps/ai/app/favicon.ico
  apps/app/app/favicon.ico
  apps/app/app/layout.tsx
  apps/blog/app/favicon.ico
  apps/blog/app/layout.tsx
  apps/changelog/app/favicon.ico
  apps/changelog/app/layout.tsx
  apps/docs/app/favicon.ico
  apps/docs/app/layout.tsx
  apps/explorer/app/favicon.ico
  apps/explorer/app/layout.tsx
  apps/frames/app/favicon.ico
  apps/home/app/favicon.ico
  apps/home/app/layout.tsx
  apps/proposals/app/favicon.ico
  apps/proposals/app/layout.tsx
Due: js, Javascript

fix: favicon png (#2552)
  apps/ai/app/favicon.ico
  apps/app/app/favicon.ico
  apps/app/app/layout.tsx
  apps/blog/app/favicon.ico
  apps/blog/app/layout.tsx
  apps/changelog/app/favicon.ico
  apps/changelog/app/layout.tsx
  apps/docs/app/favicon.ico
  apps/docs/app/layout.tsx
  apps/explorer/app/favicon.ico
  apps/explorer/app/layout.tsx
  apps/frames/app/favicon.ico
  apps/home/app/favicon.ico
  apps/home/app/layout.tsx
  apps/proposals/app/favicon.ico
  apps/proposals/app/layout.tsx
Due: js, Javascript

fix: ini clippy
  crates/node/src/node.rs
Due: rust, Rust

fix: ini clippy (#2553)
  crates/node/src/node.rs
Due: rust, Rust

fix: iterable error
  .changeset/sweet-jeans-deliver.md
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
  packages/tables/src/token/card/token-card-sparkline.tsx
Due: js, Javascript

fix: iterable error (#2554)
  .changeset/sweet-jeans-deliver.md
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
  packages/tables/src/token/card/token-card-sparkline.tsx
Due: js, Javascript

feat: ini generator postgres
  configurations/prisma/generate.sh
  configurations/prisma/prisma/schema-postgres.prisma
  crates/db/src/db.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/migrations/postgres/permissions.sql
  configurations/prisma/migrations/postgres/timescale.sql
  configurations/prisma/package.json
Due: js, Javascript

feat: update
  .license-check-and-add-config.json
  configurations/prisma/generate.sh
  configurations/prisma/migrations/postgres/permissions_hypertable.sql
  configurations/prisma/migrations/postgres/timescale_hypertable.sql
  configurations/prisma/prisma/schema-postgres.prisma
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

chore: update
  .license-check-and-add-config.json
  configurations/prisma/prisma/schema-postgres.prisma
Due: js, Javascript

chore: update
  configurations/prisma/.gitignore
  configurations/prisma/prisma/schema-postgres.prisma
Due: js, Javascript

feat: ini sqlx
  Cargo.lock
  Cargo.toml
  crates/sqlx/Cargo.toml
  crates/sqlx/src/lib.rs
  crates/sqlx/tests/.gitkeep
Due: rust, Rust

chore: update
  Cargo.lock
  Cargo.toml
  configurations/prisma/prisma/schema-rs.prisma
  crates/axum/Cargo.toml
  crates/tracing/Cargo.toml
  project-words.txt
Due: js, rust, Javascript, Rust

chore: update
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/routes/asset_change/error.rs
  crates/axum/src/routes/auth/error.rs
  crates/axum/src/routes/billing_operation/error.rs
  crates/axum/src/routes/configuration_operation/error.rs
  crates/axum/src/routes/configuration_operation_owner/error.rs
  crates/axum/src/routes/configuration_operation_signature/error.rs
  crates/axum/src/routes/interpretation/error.rs
  crates/axum/src/routes/interpretation_action/error.rs
  crates/axum/src/routes/invite_code/error.rs
  crates/axum/src/routes/notification_settings/error.rs
  crates/axum/src/routes/operation/error.rs
  crates/axum/src/routes/owner/error.rs
  crates/axum/src/routes/paymaster/error.rs
  crates/axum/src/routes/paymaster_operation/error.rs
  crates/axum/src/routes/portfolio/error.rs
  crates/axum/src/routes/protocol_group/error.rs
  crates/axum/src/routes/queue/error.rs
  crates/axum/src/routes/signature/error.rs
  crates/axum/src/routes/simulation/error.rs
  crates/axum/src/routes/support_request/error.rs
  crates/axum/src/routes/token_group/error.rs
  crates/axum/src/routes/token_price/error.rs
  crates/axum/src/routes/transaction/error.rs
  crates/axum/src/routes/user/error.rs
  crates/axum/src/routes/user_notification_settings/error.rs
  crates/axum/src/routes/user_operation/error.rs
  crates/axum/src/routes/user_operation_merkle/error.rs
  crates/axum/src/routes/user_operation_merkle_proof/error.rs
  crates/axum/src/routes/user_settings/error.rs
  crates/axum/src/routes/wallet/error.rs
  crates/axum/src/routes/wallet_billing/error.rs
  crates/axum/src/routes/wallet_features/error.rs
  crates/axum/src/routes/wallet_notification_settings/error.rs
  crates/axum/src/routes/wallet_settings/error.rs
Due: rust, Rust
