Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: refactor demo v3 (#1305)
  apps/app/src/components/msw/msw-state.tsx
Due: js, Javascript

fix: validation
  apps/app/src/components/msw/msw-state.tsx
Due: js, Javascript

fix: validation (#1306)
  apps/app/src/components/msw/msw-state.tsx
Due: js, Javascript

feat: ini ui package otop
  apps/ui/index.tsx
  apps/ui/package.json
  apps/ui/src/components/ui/otp.stories.tsx
  apps/ui/src/components/ui/otp.tsx
  packages/client/package.json
  packages/const/package.json
  packages/schemas/package.json
  packages/utils/package.json
Due: js, Javascript

fix: new wallet otp
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/(components)/root/root-link.tsx
Due: js, Javascript

fix: form configuration trigger
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

fix: otp paste
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

fix: code
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
Due: js, Javascript

fix: code validation
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/ui/src/components/ui/otp.stories.tsx
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

feat: ini otp (#1307)
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/(components)/root/root-link.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/ui/index.tsx
  apps/ui/package.json
  apps/ui/src/components/ui/otp.stories.tsx
  apps/ui/src/components/ui/otp.tsx
  packages/client/package.json
  packages/const/package.json
  packages/schemas/package.json
  packages/utils/package.json
Due: js, Javascript

chore: update form perf
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/src/const/api.ts
  apps/app/src/msw/handlers/wallet.ts
Due: js, Javascript

chore: update otp
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

fix: form validation mode
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
Due: js, Javascript

chore: update config
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
Due: js, Javascript

fix: misc form errors (#1308)
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/src/const/api.ts
  apps/app/src/msw/handlers/wallet.ts
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

feat: ini val schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update tx prisma
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update sch
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini protocol interatction
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update protocol schema
  .changeset/itchy-drinks-count.md
Due: none

chore: update
  configurations/prisma/migrations/add_token_protocol_column.sql
Due: js, Javascript

chore: refactor schema (#1309)
  .changeset/itchy-drinks-count.md
  configurations/prisma/migrations/add_token_protocol_column.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini sim sta
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  .changeset/tender-buckets-count.md
Due: none

chore: ini sim sta (#1310)
  .changeset/tender-buckets-count.md
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini consumer crate
  bin/src/bin/consumer.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/consumer/src/lib.rs
  crates/db/src/models/transaction.rs
  crates/db/src/models/user_operation.rs
  crates/graphql/src/constants.rs
  crates/indexer/src/lib.rs
Due: rust, Rust

chore: update
  .changeset/poor-seals-accept.md
Due: none

feat: ini consumer crate (#1311)
  .changeset/poor-seals-accept.md
  bin/src/bin/consumer.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/consumer/src/lib.rs
  crates/db/src/models/transaction.rs
  crates/db/src/models/user_operation.rs
  crates/graphql/src/constants.rs
  crates/indexer/src/lib.rs
Due: rust, Rust

fix: gha workflow input
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/fly.yml
  .github/workflows/graphql.yml
  .github/workflows/rust.yml
Due: none

fix: gha workflow input (#1312)
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/fly.yml
  .github/workflows/graphql.yml
  .github/workflows/rust.yml
Due: none

feat: ini simulation protocol api
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/protocol/error.rs
  crates/axum/src/routes/protocol/get.rs
  crates/axum/src/routes/protocol/list.rs
  crates/axum/src/routes/protocol/mod.rs
  crates/axum/src/routes/protocol/types.rs
  crates/axum/src/routes/protocol_group/create.rs
  crates/axum/src/routes/protocol_group/error.rs
  crates/axum/src/routes/protocol_group/get.rs
  crates/axum/src/routes/protocol_group/list.rs
  crates/axum/src/routes/protocol_group/mod.rs
  crates/axum/src/routes/protocol_group/types.rs
  crates/axum/src/routes/simulation/error.rs
  crates/axum/src/routes/simulation/get.rs
  crates/axum/src/routes/simulation/list.rs
  crates/axum/src/routes/simulation/mod.rs
  crates/axum/src/routes/simulation/types.rs
  crates/axum/src/routes/simulation/update.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

chore: update
  crates/axum/src/api.rs
  crates/axum/src/routes/simulation/create.rs
  crates/axum/src/routes/simulation/mod.rs
Due: rust, Rust

chore: update
  .changeset/real-bikes-unite.md
  configurations/prisma/migrations/insert_paymaster_ops.sql
  configurations/prisma/prisma/migrations/.gitkeep
Due: js, Javascript
