Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: ini msw providers
  apps/app/package.json
  apps/app/src/components/msw/msw-state.tsx
  apps/app/src/msw/handlers/wallet.ts
  packages/const/src/api_urls.ts
  packages/const/src/index.ts
  packages/msw/.depcheckrc.yml
  packages/msw/package.json
  packages/msw/src/browser.ts
  packages/msw/src/handlers/index.ts
  packages/msw/src/handlers/wallet.ts
  packages/msw/src/index.ts
  packages/msw/src/node.ts
  packages/msw/tsconfig.json
  packages/msw/tsup.config.ts
  packages/msw/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/msw/.depcheckrc.yml
Due: js, Javascript

chore: update path type
  apps/app/src/hooks/usePathType.ts
Due: js, Javascript

chore: update mock type
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/public/mockServiceWorker.js
  packages/msw/src/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/.depcheckrc.yml
Due: js, Javascript

chore: udpate
  apps/app/src/hooks/usePathType.ts
Due: js, Javascript

chore: udpate
  apps/storybook/.depcheckrc.yml
Due: js, Javascript

fix: tabs pathType (#1417)
  .changeset/neat-chicken-sip.md
  apps/app/.depcheckrc.yml
  apps/app/app/(authenticated)/layout.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/page.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/app/manifest.ts
  apps/app/package.json
  apps/app/src/components/msw/msw-state.tsx
  apps/app/src/components/nav/main-nav.tsx
  apps/app/src/components/nav/tabs-nav.tsx
  apps/app/src/components/section/link-button-group.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/app/src/hooks/usePathType.ts
  apps/app/src/msw/handlers/wallet.ts
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/public/mockServiceWorker.js
  packages/const/src/api_urls.ts
  packages/const/src/index.ts
  packages/msw/.depcheckrc.yml
  packages/msw/package.json
  packages/msw/src/browser.ts
  packages/msw/src/handlers/index.ts
  packages/msw/src/handlers/wallet.ts
  packages/msw/src/index.ts
  packages/msw/src/node.ts
  packages/msw/tsconfig.json
  packages/msw/tsup.config.ts
  packages/msw/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

fix: wallet layout path type
  apps/app/src/hooks/usePathType.ts
Due: js, Javascript

feat: ini smith server
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/lightdotso/server.py
Due: none

feat: ini smith server (#1419)
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/lightdotso/server.py
Due: none

chore: update prom deployerr
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/prometheus.rs
  crates/opentelemetry/Cargo.toml
  crates/tracing/Cargo.toml
  fly/prometheus/fly.toml
Due: rust, Rust

chore: update prom deployerr (#1420)
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/prometheus.rs
  crates/opentelemetry/Cargo.toml
  crates/tracing/Cargo.toml
  fly/prometheus/fly.toml
Due: rust, Rust

chore: configu const tabs
  apps/app/src/components/nav/main-nav.tsx
  apps/app/src/const/index.ts
  apps/app/src/const/tabs.tsx
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

chore: update tabs path
  apps/app/src/hooks/usePathType.ts
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

chore: update runtime edge
  apps/app/app/(wallet)/@op/(.)[address]/op/page.tsx
Due: js, Javascript

chore: ini page runtime edge
  apps/app/app/(wallet)/@send/(.)[address]/send/page.tsx
  apps/app/app/@notifications/(.)notifications/page.tsx
  apps/app/src/components/nav/main-nav.tsx
Due: js, Javascript

chore: configu const tabs (#1421)
  apps/app/app/(wallet)/@op/(.)[address]/op/page.tsx
  apps/app/app/(wallet)/@send/(.)[address]/send/page.tsx
  apps/app/app/@notifications/(.)notifications/page.tsx
  apps/app/src/components/nav/main-nav.tsx
  apps/app/src/const/index.ts
  apps/app/src/const/tabs.tsx
  apps/app/src/hooks/usePathType.ts
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

feat: ini suspense modal
  apps/app/src/components/modal.tsx
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/src/components/modal.tsx
Due: js, Javascript

chore: update modal
  apps/app/src/components/modal.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/modal.tsx
Due: js, Javascript

chore: ini internal
  packages/const/src/internal_links.ts
  packages/ui/src/templates/footer/footer-status-button.tsx
Due: js, Javascript

chore: ini status
  packages/const/src/navigation_links.ts
Due: js, Javascript

chore: auto fix commit
  packages/ui/src/templates/footer/footer-status-button.tsx
Due: js, Javascript

chore: update notifications button icon bar
  apps/app/src/components/nav/notifications-nav.tsx
Due: js, Javascript

chore: update
  .changeset/young-houses-explode.md
Due: none

feat: ini suspense modal (#1422)
  .changeset/young-houses-explode.md
  apps/app/src/components/modal.tsx
  apps/app/src/components/nav/notifications-nav.tsx
  apps/app/src/hooks/useTabs.tsx
  packages/const/src/internal_links.ts
  packages/const/src/navigation_links.ts
  packages/ui/src/templates/footer/footer-status-button.tsx
Due: js, Javascript

feat: ini modal playground
  apps/app/app/(playground)/layout.tsx
  apps/app/app/(playground)/playground/page.tsx
  apps/app/src/components/modal.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(playground)/playground/page.tsx
Due: js, Javascript

feat: ini modal playground (#1423)
  apps/app/app/(playground)/layout.tsx
  apps/app/app/(playground)/playground/page.tsx
  apps/app/src/components/modal.tsx
Due: js, Javascript

feat: ini axum cargo
  Cargo.lock
  Cargo.toml
  crates/axum/src/api.rs
  crates/opentelemetry/Cargo.toml
  crates/opentelemetry/src/lib.rs
  crates/opentelemetry/src/middleware.rs
Due: rust, Rust

chore: update
  crates/axum/src/api.rs
  crates/opentelemetry/src/middleware.rs
Due: rust, Rust

chore: update fly middleware
  crates/opentelemetry/src/middleware.rs
  fly/api/fly.toml
Due: rust, Rust

chore: update
  .changeset/itchy-baboons-obey.md
Due: none

feat: ini otlp middleware (#1424)
  .changeset/itchy-baboons-obey.md
  Cargo.lock
  Cargo.toml
  crates/axum/src/api.rs
  crates/opentelemetry/Cargo.toml
  crates/opentelemetry/src/lib.rs
  crates/opentelemetry/src/middleware.rs
  fly/api/fly.toml
Due: rust, Rust

chore: update routing proxy
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/proxy/mod.rs
  crates/axum/src/routes/simplehash/mod.rs
  crates/axum/src/routes/socket/mod.rs
Due: rust, Rust

chore: ini axum proxy
  crates/axum/src/api.rs
Due: rust, Rust

chore: ini proc makefile
  Makefile
  Procfile
  fly/ai/Dockerfile
  fly/ai/Procfile
  fly/ai/fly.toml
  fly/ai/requirements.txt
  pyproject.toml
  requirements.lock
  src/lightdotso/server.py
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
