Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  crates/db/src/db.rs
Due: rust, Rust

fix: crate (#860)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  crates/graphql/src/traits.rs
  crates/indexer/src/indexer.rs
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

perf: update
  crates/db/src/db.rs
Due: rust, Rust

chore: link uo to tx
  crates/db/src/db.rs
Due: rust, Rust

fix: trace json obj
  crates/db/src/db.rs
Due: rust, Rust

fix: db attr (#861)
  crates/db/src/db.rs
Due: rust, Rust

feat: ini user operation api tx
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: ini uo nonce
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  packages/client/src/v1.d.ts
Due: js, Javascript

feat: ini uo api (#862)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

fix: fly
  .github/workflows/fly.yml
Due: none

chore: update
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: none

fix: crate db
  crates/db/src/db.rs
Due: rust, Rust

fix: fly (#863)
  .github/workflows/fly.yml
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: none

fix: crate db (#864)
  crates/db/src/db.rs
Due: rust, Rust

fix: crate db 2
  crates/db/src/db.rs
Due: rust, Rust

fix: crate db 2 (#865)
  crates/db/src/db.rs
Due: rust, Rust

chore: ini sig procedure
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini sig procedure (#866)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: refactor signature operation
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

feat: refactor signature operation (#867)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

fix: ini wallet tab
  crates/axum/src/api.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: ini wallet tab (#868)
  crates/axum/src/api.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

feat: ini wallet tab
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

feat: ini wallet tab
  apps/app/src/components/main-nav.tsx
  apps/app/src/hooks/useTabs.ts
  crates/axum/src/routes/wallet.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  apps/app/src/hooks/useTabs.ts
Due: js, Javascript

perf: ini tab id
  apps/app/src/hooks/useTabs.ts
Due: js, Javascript

chore: update
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: transaction count
  apps/app/src/hooks/useTabs.ts
  crates/axum/src/routes/wallet.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

fix: ini wallet tab (#869)
  apps/app/src/components/main-nav.tsx
  apps/app/src/hooks/useTabs.ts
  crates/axum/src/routes/wallet.rs
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini root layouts
  apps/app/app/(authenticated)/layout.tsx
  apps/app/app/(unauthenticated)/layout.tsx
  apps/app/app/layout.tsx
  apps/app/app/root.tsx
  apps/app/src/components/main-nav.tsx
  apps/app/src/hooks/usePathType.ts
Due: js, Javascript

chore: ini main nav
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/main-nav.tsx
  apps/app/src/hooks/usePathType.ts
  packages/client/test/llama.spec.ts
Due: js, Javascript

chore: update
  apps/app/app/layout.tsx
Due: js, Javascript

fix: llama schema
  packages/schemas/src/llama.ts
Due: js, Javascript

feat: ini root layouts (#870)
  apps/app/app/(authenticated)/layout.tsx
  apps/app/app/(unauthenticated)/layout.tsx
  apps/app/app/layout.tsx
  apps/app/app/root.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/main-nav.tsx
  apps/app/src/hooks/usePathType.ts
  packages/client/test/llama.spec.ts
  packages/schemas/src/llama.ts
Due: js, Javascript

fix: route group
  apps/app/src/components/main-nav.tsx
  packages/schemas/src/llama.ts
Due: js, Javascript

fix: route group (#871)
  apps/app/src/components/main-nav.tsx
  packages/schemas/src/llama.ts
Due: js, Javascript

feat: refactor llama schema
  packages/client/src/index.ts
  packages/client/src/zod.ts
  packages/schemas/src/llama.ts
Due: js, Javascript

fix: llama get post
  packages/schemas/src/index.ts
Due: js, Javascript

feat: refactor llama schema (#872)
  packages/client/src/index.ts
  packages/client/src/zod.ts
  packages/schemas/src/index.ts
  packages/schemas/src/llama.ts
Due: js, Javascript

feat: ini inngest
  apps/app/.env.development
Due: js, Javascript
