Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: vercel search artifacts (#2523)
  .github/workflows/vercel.yml
  .husky/pre-push
Due: none

fix: ini vercel team id
  .github/workflows/vercel.yml
Due: none

fix: ini vercel team id (#2524)
  .github/workflows/vercel.yml
Due: none

chore: udpate
  .github/workflows/vercel.yml
Due: none

chore: update
  .github/workflows/vercel.yml
Due: none

chore: updat
  .github/workflows/vercel.yml
Due: none

feat: ini mermaid (#2522)
  .github/workflows/vercel.yml
  apps/docs/app/[[...slug]]/page.tsx
  apps/docs/content/contracts/flow.mdx
  apps/docs/package.json
  apps/docs/source.config.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini progress docs
  apps/docs/vercel.json
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: update
  .changeset/clean-comics-grin.md
  apps/app/vercel.json
Due: js, Javascript

feat: ini progress docs (#2525)
  .changeset/clean-comics-grin.md
  .github/workflows/vercel.yml
  apps/app/vercel.json
  apps/docs/vercel.json
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: ini settlement qs
  apps/docs/content/contracts/settlement.mdx
  apps/docs/content/protocol/questions.mdx
Due: js, Javascript

chore: update
  apps/docs/content/contracts/settlement.mdx
Due: js, Javascript

chore: update
  .github/workflows/vercel.yml
  apps/docs/content/protocol/architecture.mdx
  contracts/src/LightDAG.sol
  contracts/src/LightProtocolController.sol
Due: contracts, js, Contracts, Javascript

chore: update
  project-words.txt
Due: none

chore: update
  contracts/src/LightProtocolController.sol
Due: contracts, Contracts

fix: ini release type
  .release-please-config.json
  package.json
  pnpm-lock.yaml
Due: none

chore: update
  apps/desktop/src-tauri/gen/schemas/acl-manifests.json
  apps/desktop/src-tauri/gen/schemas/capabilities.json
  apps/desktop/src-tauri/gen/schemas/desktop-schema.json
  apps/desktop/src-tauri/gen/schemas/macOS-schema.json
Due: js, Javascript

fix: release config (#2527)
  .release-please-config.json
  apps/desktop/src-tauri/gen/schemas/acl-manifests.json
  apps/desktop/src-tauri/gen/schemas/capabilities.json
  apps/desktop/src-tauri/gen/schemas/desktop-schema.json
  apps/desktop/src-tauri/gen/schemas/macOS-schema.json
  package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: app desktop
  apps/desktop/src/App.tsx
Due: js, Javascript

fix: app desktop (#2528)
  apps/desktop/src/App.tsx
Due: js, Javascript

chore: update
  .github/workflows/release.yml
  .release-please-config.json
  release-please-config.json
Due: none

chore: update (#2529)
  .github/workflows/release.yml
  .release-please-config.json
  release-please-config.json
Due: none

chore: Update GraphQL Schema
  crates/graphql/schemas/graph.graphql
Due: rust, Rust

chore: Update GraphQL Schema (#2488)
  crates/graphql/schemas/graph.graphql
Due: rust, Rust

chore: udpate
  apps/desktop/src-tauri/gen/schemas/acl-manifests.json
  apps/desktop/src-tauri/gen/schemas/capabilities.json
  apps/desktop/src-tauri/gen/schemas/desktop-schema.json
  apps/desktop/src-tauri/gen/schemas/macOS-schema.json
Due: js, Javascript

chore: update
  apps/ai/package.json
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  apps/storybook/package.json
  package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/hooks/package.json
  packages/popup/package.json
  packages/roots/package.json
  packages/services/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript
