Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: ini token card chain
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/columns.tsx
  apps/app/src/components/chain/chain-popover.tsx
  apps/app/src/components/token/token-card-chain.tsx
  apps/app/src/svgs/chain/index.tsx
Due: js, Javascript

feat: add transaction card
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/columns.tsx
  apps/app/src/components/transaction/transaction-card-chain.tsx
  apps/app/src/components/transaction/transaction-card-hash.tsx
  apps/app/src/components/transaction/transaction-card-timestamp.tsx
Due: js, Javascript

fix: misc improvements
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/src/components/command-k.tsx
  apps/app/src/components/transaction/transaction-card-hash.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/command-k.tsx
Due: js, Javascript

feat: ini overview list (#1132)
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/columns.tsx
  apps/app/src/components/chain/chain-popover.tsx
  apps/app/src/components/command-k.tsx
  apps/app/src/components/nft/nfts-list.tsx
  apps/app/src/components/token/token-card-chain.tsx
  apps/app/src/components/token/tokens-list.tsx
  apps/app/src/components/transaction/transaction-card-chain.tsx
  apps/app/src/components/transaction/transaction-card-hash.tsx
  apps/app/src/components/transaction/transaction-card-timestamp.tsx
  apps/app/src/components/transaction/transactions-list.tsx
  apps/app/src/const/numbers.ts
  apps/app/src/svgs/chain/index.tsx
Due: js, Javascript

feat: ini history pagination
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/src/stores/useTables.ts
  apps/ui/src/components/ui/select.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-pagination.tsx
Due: js, Javascript

feat: ini transaction isTestnet flag
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

feat: ini history pagination (#1133)
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/src/stores/useTables.ts
  apps/ui/src/components/ui/select.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

chore: ini tx testnet migration
  configurations/prisma/migrations/update_transaction_is_testnet.sql
Due: js, Javascript

chore: update
  crates/db/src/db.rs
Due: rust, Rust

feat: ini history pagination (#1134)
  configurations/prisma/migrations/update_transaction_is_testnet.sql
  crates/db/src/db.rs
Due: js, rust, Javascript, Rust

feat: ini repack pagination tables
  apps/app/src/stores/useTables.ts
Due: js, Javascript

fix: ini refactor toolbar
  apps/app/app/(wallet)/[address]/overview/@nav/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table.tsx
Due: js, Javascript

feat: complete refactor data table component
  apps/app/app/(authenticated)/wallets/(components)/data-table/columns.tsx
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-column-header.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-column-header.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-column-header.tsx
  apps/app/src/components/data-table/data-table-column-header.tsx
  apps/app/src/components/data-table/data-table-pagination.tsx
Due: js, Javascript

feat: complete refactor data faceted table
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-faceted-filter.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-faceted-filter.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-faceted-filter.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-faceted-filter.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-toolbar.tsx
  apps/app/src/components/data-table/data-table-faceted-filter.tsx
Due: js, Javascript

feat: ini data table generics
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-view-options.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-row-actions.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-row-actions.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-view-options.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-view-options.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-view-options.tsx
  apps/app/src/components/data-table/data-table-view-options.tsx
Due: js, Javascript

feat: ini pagination
  apps/app/app/(wallet)/[address]/overview/@nav/tokens/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
Due: js, Javascript

feat: ini wallet table
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table.tsx
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table-pagination.tsx
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table-toolbar.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
Due: js, Javascript

feat: ini owners pagination
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/owners-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/owners-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/owners/layout.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
  apps/app/src/stores/useTables.ts
Due: js, Javascript

fix: activity card
  apps/app/app/(wallet)/[address]/activity/(components)/activity-card.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-empty.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-list.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-wrapper.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
Due: js, Javascript

fix: reset banner toolbar
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-toolbar.tsx
  packages/client/src/v1.d.ts
Due: js, Javascript

fix: offset query
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table.tsx
  apps/app/src/queries/transaction.ts
Due: js, Javascript

feat: ini user operation table
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/user-operation/user-operation-card.tsx
  apps/app/app/(wallet)/[address]/transactions/all/page.tsx
  apps/app/app/(wallet)/[address]/transactions/history/page.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/src/components/user-operation/user-operation-card-chain.tsx
  apps/app/src/components/user-operation/user-operation-card-hash.tsx
  apps/app/src/components/user-operation/user-operation-card-nonce.tsx
  apps/app/src/components/user-operation/user-operations-empty.tsx
  apps/app/src/stores/useTables.ts
Due: js, Javascript

chore: update
  apps/app/src/stores/useTables.ts
Due: js, Javascript

fix: invoke
  apps/app/app/(wallet)/[address]/transactions/(components)/invoke-user-operation-button.tsx
Due: js, Javascript

feat: ini status card
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
  apps/app/src/components/user-operation/user-operation-card-status.tsx
Due: js, Javascript

feat: upgrade state arc
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  crates/axum/src/api.rs
  crates/axum/src/internal.rs
  crates/axum/src/routes/auth.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/feedback.rs
  crates/axum/src/routes/notification.rs
  crates/axum/src/routes/paymaster.rs
  crates/axum/src/routes/paymaster_operation.rs
  crates/axum/src/routes/portfolio.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/support_request.rs
  crates/axum/src/routes/token.rs
  crates/axum/src/routes/token_price.rs
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
  crates/axum/src/routes/wallet_settings.rs
  crates/axum/src/state.rs
Due: js, rust, Javascript, Rust

chore: ini macos latest
  .github/workflows/rust.yml
Due: none

feat: fix unwrap disable
  Cargo.lock
  bin/src/bin/cli.rs
  bin/src/bin/indexer.rs
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  crates/app/src/utils.rs
  crates/axum/src/api.rs
  crates/redis/Cargo.toml
  crates/redis/src/lib.rs
Due: rust, Rust

chore: update
  .github/workflows/rust.yml
Due: none

fix: ini build flags
  .cargo/config.toml
  .clippy.toml
Due: none

chore: update
  .clippy.toml
Due: none

chore: update
  .clippy.toml
  crates/prisma/src/main.rs
Due: rust, Rust

chore: update
  .cargo/config.toml
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
