Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: ini update next
  apps/ai/package.json
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/next.config.mjs
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/next.config.mjs
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  apps/storybook/package.json
  package.json
  packages/analytics/package.json
  packages/dialogs/package.json
  packages/dialogs/src/swap/swap.tsx
  packages/elements/package.json
  packages/elements/src/invoke-button/invoke-button.tsx
  packages/hooks/package.json
  packages/popup/package.json
  packages/roots/package.json
  packages/services/package.json
  packages/tables/package.json
  packages/tables/src/token/actions/token-table-row-actions.tsx
  packages/templates/package.json
  packages/templates/src/badge-count-button/badge-count-button.stories.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini update next (#2584)
  apps/ai/package.json
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/next.config.mjs
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/next.config.mjs
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  apps/storybook/package.json
  package.json
  packages/analytics/package.json
  packages/dialogs/package.json
  packages/dialogs/src/swap/swap.tsx
  packages/elements/package.json
  packages/elements/src/invoke-button/invoke-button.tsx
  packages/hooks/package.json
  packages/popup/package.json
  packages/roots/package.json
  packages/services/package.json
  packages/tables/package.json
  packages/tables/src/token/actions/token-table-row-actions.tsx
  packages/templates/package.json
  packages/templates/src/badge-count-button/badge-count-button.stories.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini crypto bin
  .env.development
  apps/app/package.json
  bin/src/bin/consumer.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/billing_operation.rs
  crates/consumer/src/topics/error_transaction.rs
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/lib.rs
  fly/consumer-error/fly.toml
  package.json
  scripts/init_kafka_topics.sh
Due: js, rust, Javascript, Rust

feat: ini crypto bin (#2585)
  .env.development
  apps/app/package.json
  bin/src/bin/consumer.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/billing_operation.rs
  crates/consumer/src/topics/error_transaction.rs
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/lib.rs
  fly/consumer-error/fly.toml
  package.json
  scripts/init_kafka_topics.sh
Due: js, rust, Javascript, Rust

chore(main): release v0.2.7 [skip deploy]
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

feat: ini deployer
  .gitmodules
  apps/docs/content/contracts/permissions.mdx
  apps/docs/content/protocol/constraints.mdx
  contracts/bytecode/Entrypoint/v0.7.0.b.sol
  contracts/bytecode/Nexus/v0.1.0.b.sol
  contracts/constant/address.sol
  contracts/script/core/NexusDeployer.s.sol
  contracts/src/core/Nexus.sol
  contracts/test/address/EntryPoint.t.sol
  contracts/test/address/Nexus.t.sol
  contracts/test/base/BaseTest.t.sol
  foundry.toml
  project-words.txt
  remappings.txt
Due: contracts, js, Contracts, Javascript

chore: update
  contracts/constant/address.sol
  contracts/test/address/Nexus.t.sol
  contracts/test/base/BaseTest.t.sol
  foundry.toml
Due: none

chore: update
  .gas-snapshot
  contracts/constant/address.sol
  contracts/src/core/Create2Utils.sol
  contracts/test/base/BaseTest.t.sol
Due: contracts, Contracts

chore: update
  contracts/bytecode/ColdStorageHook/v0.1.0.b.sol
  contracts/constant/address.sol
  contracts/test/address/ColdStorageHook.t.sol
Due: none

feat: update
  .gitmodules
  contracts/bytecode/Registry/v0.1.0.b.sol
  contracts/constant/address.sol
  contracts/src/core/Registry.sol
  contracts/test/address/ColdStorageHook.t.sol
  contracts/test/address/Registry.t.sol
  contracts/test/base/BaseTest.t.sol
  remappings.txt
Due: contracts, Contracts

feat: update
  .gas-snapshot
  contracts/bytecode/ColdStorageHook/v0.1.0.b.sol
  contracts/src/core/ColdStorageHook.sol
  contracts/test/address/ColdStorageHook.t.sol
  contracts/test/address/EntryPoint.t.sol
  contracts/test/address/Nexus.t.sol
  contracts/test/address/Registry.t.sol
  contracts/test/base/BaseTest.t.sol
Due: contracts, Contracts

chore: update
  contracts/test/address/Registry.t.sol
Due: none

chore: update
  contracts/src/core/Resolver.sol
  contracts/test/base/BaseTest.t.sol
  remappings.txt
Due: contracts, Contracts

chore: update
  .gas-snapshot
Due: none

chore: update
  project-words.txt
Due: none

chore: update
  .gitmodules
  remappings.txt
Due: none

chore: update
  contracts/src/LightVaultZapper.sol
Due: contracts, Contracts

chore: Update FEATURED.md
  FEATURED.md
Due: none

Update FEATURED.md
  FEATURED.md
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
