Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini client rs (#2193)
  crates/client/src/constants.rs
  crates/client/src/crypto.rs
  crates/client/src/lib.rs
  crates/constants/src/chains.rs
  crates/contracts/src/user_operation.rs
  packages/const/src/chains.ts
  project-words.txt
  thunder-tests/thunderActivity.json
Due: js, rust, Javascript, Rust

feat: ini cache params
  apps/app/app/(demo)/layout.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-list.tsx
  packages/nuqs/src/index.ts
  packages/nuqs/src/useIsDemoQueryState.ts
Due: js, Javascript

chore: update
  .changeset/forty-humans-trade.md
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-list.tsx
Due: js, Javascript

chore: update
  biome.json
Due: none

chore: update
  .lintstagedrc.js
Due: none

chore: update
  biome.json
  packages/templates/src/cal/cal.tsx
Due: js, Javascript

chore: update
  biome.json
  packages/templates/src/cal/cal.tsx
  packages/templates/src/data-table/data-table-column-header.tsx
  packages/templates/src/data-table/data-table-faceted-filter.tsx
  packages/templates/src/data-table/data-table-pagination.tsx
  packages/templates/src/data-table/data-table-view-options.tsx
  packages/templates/src/feedback-combo-dialog/feedback-form.tsx
  packages/templates/src/progress-transaction/progress-transaction.tsx
  packages/templates/src/progress-user-operation/progress-user-operation.tsx
Due: js, Javascript

chore: update
  .changeset/pink-olives-fly.md
  apps/app/package.json
  apps/router/package.json
  apps/storybook/.depcheckrc.yml
  package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/templates/package.json
  packages/ui/package.json
Due: js, Javascript

chore: update
  apps/explorer/app/(user-operation)/page.tsx
Due: js, Javascript

feat: ini mantle
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722098591.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722098615.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722098652.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099035.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099065.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099915.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099929.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722100051.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722100089.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-latest.json
  broadcast/v0.1.0.s.sol/5000/run-1722099120.json
  broadcast/v0.1.0.s.sol/5000/run-1722099214.json
  broadcast/v0.1.0.s.sol/5000/run-1722099340.json
  broadcast/v0.1.0.s.sol/5000/run-1722099501.json
  broadcast/v0.1.0.s.sol/5000/run-1722099520.json
  broadcast/v0.1.0.s.sol/5000/run-1722099535.json
  broadcast/v0.1.0.s.sol/5000/run-1722099554.json
  broadcast/v0.1.0.s.sol/5000/run-1722099710.json
  broadcast/v0.1.0.s.sol/5000/run-1722099725.json
  broadcast/v0.1.0.s.sol/5000/run-1722099740.json
  broadcast/v0.1.0.s.sol/5000/run-1722099769.json
  broadcast/v0.1.0.s.sol/5000/run-1722099788.json
  broadcast/v0.1.0.s.sol/5000/run-1722099817.json
  broadcast/v0.1.0.s.sol/5000/run-1722099834.json
  broadcast/v0.1.0.s.sol/5000/run-1722099847.json
  broadcast/v0.1.0.s.sol/5000/run-1722099892.json
  broadcast/v0.1.0.s.sol/5000/run-1722100153.json
  broadcast/v0.1.0.s.sol/5000/run-latest.json
  packages/svg/mantle.svg
  packages/svg/src/chain/fuse.tsx
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/mantle.tsx
Due: js, Javascript

chore: update
  .changeset/nice-hats-attend.md
Due: none

feat: ini mantle (#2196)
  .changeset/nice-hats-attend.md
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722098591.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722098615.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722098652.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099035.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099065.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099915.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722099929.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722100051.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1722100089.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-latest.json
  broadcast/v0.1.0.s.sol/5000/run-1722099120.json
  broadcast/v0.1.0.s.sol/5000/run-1722099214.json
  broadcast/v0.1.0.s.sol/5000/run-1722099340.json
  broadcast/v0.1.0.s.sol/5000/run-1722099501.json
  broadcast/v0.1.0.s.sol/5000/run-1722099520.json
  broadcast/v0.1.0.s.sol/5000/run-1722099535.json
  broadcast/v0.1.0.s.sol/5000/run-1722099554.json
  broadcast/v0.1.0.s.sol/5000/run-1722099710.json
  broadcast/v0.1.0.s.sol/5000/run-1722099725.json
  broadcast/v0.1.0.s.sol/5000/run-1722099740.json
  broadcast/v0.1.0.s.sol/5000/run-1722099769.json
  broadcast/v0.1.0.s.sol/5000/run-1722099788.json
  broadcast/v0.1.0.s.sol/5000/run-1722099817.json
  broadcast/v0.1.0.s.sol/5000/run-1722099834.json
  broadcast/v0.1.0.s.sol/5000/run-1722099847.json
  broadcast/v0.1.0.s.sol/5000/run-1722099892.json
  broadcast/v0.1.0.s.sol/5000/run-1722100153.json
  broadcast/v0.1.0.s.sol/5000/run-latest.json
  packages/svg/mantle.svg
  packages/svg/src/chain/fuse.tsx
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/mantle.tsx
Due: js, Javascript

feat: ini cache opt
  apps/app/app/(wallet)/layout.tsx
  apps/app/src/hooks/useTabs.tsx
  packages/tables/src/transaction/actions/transaction-table-row-actions.tsx
Due: js, Javascript

feat: ini paymaster sdk
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/src/useUserOperationSend.ts
  packages/params/src/paymasterOperation.ts
  packages/query/src/useQueryPaymasterOperation.ts
  packages/sdk/package.json
  packages/sdk/src/paymaster.ts
  packages/sdk/test/.gitkeep
  packages/sdk/test/paymaster.spec.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: js, Javascript

chore: ini update
  packages/sdk/src/paymaster.ts
  packages/sdk/test/paymaster.spec.ts
Due: js, Javascript

feat: ini updated tests
  packages/sdk/src/paymaster.ts
  packages/sdk/test/paymaster.spec.ts
Due: js, Javascript

test: cho
  packages/sdk/src/index.ts
Due: js, Javascript

feat: ini tx fetcher pm
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/layout.tsx
Due: js, Javascript

feat: ini paymaster operationo
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

chore: update
  packages/sdk/package.json
Due: js, Javascript

chore: update
  packages/query/src/useQueryPaymasterOperation.ts
Due: js, Javascript

chore: update
  .changeset/olive-gorillas-happen.md
Due: none

feat: update bop hash
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

feat: ini cache opt (#2197)
  .changeset/olive-gorillas-happen.md
  apps/app/src/hooks/useTabs.tsx
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/src/useUserOperationSend.ts
  packages/params/src/paymasterOperation.ts
  packages/query/src/useQueryPaymasterOperation.ts
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/paymaster.ts
  packages/sdk/test/.gitkeep
  packages/sdk/test/paymaster.spec.ts
  packages/stores/src/useUserOperations.ts
  packages/tables/src/transaction/actions/transaction-table-row-actions.tsx
  pnpm-lock.yaml
  vitest.workspace.ts
Due: js, Javascript

feat: ini bop status
  packages/dialogs/src/transaction/transaction.tsx
  packages/query/src/useQueryPaymasterOperation.ts
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

chore: ini bop status query
  packages/dialogs/src/transaction/transaction.tsx
  packages/query/src/useQueryPaymasterOperation.ts
Due: js, Javascript

chore: update
  .changeset/stale-numbers-joke.md
Due: none

chore: ini billing lib
  crates/billing/src/billing.rs
  crates/billing/src/config.rs
  crates/billing/src/lib.rs
Due: rust, Rust

feat: ini billing ops
  crates/billing/src/billing.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/paymaster_operation.rs
  crates/kafka/src/types/billing_operation.rs
Due: rust, Rust

feat: ini billing ops
  Cargo.lock
  crates/billing/Cargo.toml
  crates/billing/src/billing.rs
Due: rust, Rust

feat: ini run pending ops
  Cargo.lock
  crates/billing/src/billing.rs
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/billing_operation.rs
Due: rust, Rust

chore: update billing
  crates/billing/src/billing.rs
Due: rust, Rust

feat: ini billing bop
  crates/billing/src/billing.rs
  crates/db/src/models/billing_operation.rs
Due: rust, Rust
