Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: refactor axum src
  crates/axum/src/routes/asset_change/types.rs
  crates/axum/src/routes/token/types.rs
  crates/consumer/src/topics/interpretation.rs
  crates/db/src/models/interpretation.rs
  crates/db/src/models/transaction.rs
Due: rust, Rust

chore: update
  crates/contracts/src/types.rs
Due: rust, Rust

chore: update
  .changeset/itchy-kangaroos-brush.md
Due: none

feat: refactor value schema (#1443)
  .changeset/itchy-kangaroos-brush.md
  apps/app/src/components/auth/auth-modal.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/asset_change/types.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token/types.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/interpretation.rs
  crates/contracts/src/types.rs
  crates/db/src/models/interpretation.rs
  crates/db/src/models/transaction.rs
  packages/query/src/useQueryAuthSession.ts
  packages/ui/src/components/dialog.tsx
Due: js, rust, Javascript, Rust

feat: ini deposit modal
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner.tsx
  apps/app/src/components/deposit/deposit-modal.tsx
  apps/app/src/components/root/root.tsx
  packages/stores/src/useModals.ts
Due: js, Javascript

feat: ini modal components
  .changeset/pink-roses-complain.md
  apps/app/src/components/nft/nft-modal.tsx
  apps/app/src/components/root/root.tsx
  apps/app/src/components/token/token-modal.tsx
Due: js, Javascript

chore: update query tabs
  apps/app/src/hooks/useTabs.tsx
  packages/query/src/useSuspenseQueryWalletFeatures.ts
Due: js, Javascript

feat: ini axum update
  apps/app/src/components/deposit/deposit-modal.tsx
  apps/app/src/components/nft/nft-modal.tsx
  apps/app/src/components/root/root.tsx
  apps/app/src/components/token/token-modal.tsx
  crates/axum/src/auth.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: js, rust, Javascript, Rust

chore: update app ncu upgrade
  apps/app/package.json
  apps/assets/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/storybook/package.json
  configurations/eslint/package.json
  package.json
  packages/background/package.json
  packages/client/package.json
  packages/const/package.json
  packages/content/package.json
  packages/elements/package.json
  packages/hooks/package.json
  packages/inpage/package.json
  packages/msw/package.json
  packages/params/package.json
  packages/popup/package.json
  packages/query/package.json
  packages/schemas/package.json
  packages/solutions/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/tables/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini invite code list params
  crates/axum/src/admin.rs
  crates/axum/src/auth.rs
  crates/axum/src/routes/invite_code/list.rs
Due: rust, Rust

feat: refactor authentication
  crates/axum/src/authentication.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: rust, Rust

chore: update authentication activity
  crates/axum/src/routes/activity/list.rs
Due: rust, Rust

feat: ini notification list
  .changeset/silent-nails-wash.md
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/notification/list.rs
Due: rust, Rust

chore: update axum routings
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  crates/axum/src/authentication.rs
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/notification/list.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/routes/activity/list.rs
Due: rust, Rust

feat: ini auth list (#1447)
  .changeset/silent-nails-wash.md
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  crates/axum/src/admin.rs
  crates/axum/src/auth.rs
  crates/axum/src/authentication.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/notification/list.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: js, rust, Javascript, Rust

feat: ini activity card
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  crates/axum/src/routes/activity/types.rs
  packages/demo/src/api/activity/list.json
  packages/elements/src/token-image.tsx
  packages/tables/package.json
  packages/tables/src/(components)/card/address-card.tsx
  packages/tables/src/activity/activity-columns.tsx
  packages/tables/src/activity/activity-table.tsx
  packages/tables/src/activity/card/activity-card-address.tsx
  packages/tables/src/activity/card/index.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini entity operation
  packages/tables/src/activity/activity-columns.tsx
  packages/tables/src/activity/card/activity-card-entity.tsx
  packages/tables/src/activity/card/activity-card-operation.tsx
  packages/tables/src/activity/card/index.ts
Due: js, Javascript

feat: ini timestamp activity
  packages/tables/src/(components)/card/index.ts
  packages/tables/src/(components)/card/timestamp-card.tsx
  packages/tables/src/activity/activity-columns.tsx
  packages/tables/src/activity/card/activity-card-timestamp.tsx
  packages/tables/src/activity/card/index.ts
Due: js, Javascript

feat: ini owner card
  packages/tables/src/activity/activity-table.tsx
  packages/tables/src/owner/card/index.ts
  packages/tables/src/owner/card/owner-card-address.tsx
  packages/tables/src/owner/owner-columns.tsx
Due: js, Javascript

chore: update handlers
  apps/app/src/handlers/paths/[address]/activity/handler.ts
  apps/app/src/hooks/useTabs.tsx
  packages/tables/src/owner/owner-table.tsx
Due: js, Javascript

chore: update
  .changeset/gorgeous-ears-divide.md
Due: none

chore: auto fix commit
  packages/tables/src/(components)/card/address-card.tsx
Due: js, Javascript

feat: ini modals
  apps/app/package.json
  apps/app/src/components/root/root.tsx
  packages/modals/.depcheckrc.yml
  packages/modals/package.json
  packages/modals/src/auth/auth-modal.stories.tsx
  packages/modals/src/auth/auth-modal.tsx
  packages/modals/src/auth/index.ts
  packages/modals/src/index.ts
  packages/modals/tsconfig.json
  packages/modals/tsup.config.ts
  packages/modals/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/modals/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini modals pkg
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/src/components/auth/auth-modal.tsx
  apps/app/src/components/root/root.tsx
  packages/modals/.depcheckrc.yml
  packages/modals/package.json
  packages/modals/src/auth/auth-modal.stories.tsx
  packages/modals/src/auth/index.ts
  packages/modals/src/index.ts
  packages/modals/tsconfig.json
  packages/modals/tsup.config.ts
  packages/modals/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update addr
  packages/tables/package.json
  packages/tables/src/(components)/card/address-card.tsx
  packages/wagmi/src/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: ini sync wagmi
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/src/components/auth/auth-modal.tsx
  apps/app/src/components/nav/user-nav.tsx
  apps/app/src/components/root/root.tsx
  apps/app/src/components/web3/wagmi.ts
  apps/app/src/components/web3/web3-provider.tsx
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  packages/hooks/src/useUserOperationCreate.ts
  packages/hooks/src/useUserOperationSign.ts
  packages/states/package.json
  packages/states/src/auth-state.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/src/components/auth/auth-modal.tsx
  packages/hooks/src/useUserOperationCreate.ts
  packages/hooks/src/useUserOperationSign.ts
Due: js, Javascript

feat: ini wagmi
  apps/app/src/components/root/root.tsx
  packages/ui/package.json
  packages/ui/src/index.tsx
  packages/ui/src/providers/web3-provider.tsx
  packages/wagmi/package.json
  packages/wagmi/src/config.ts
  packages/wagmi/src/index.ts
  packages/wagmi/tsconfig.json
  packages/wagmi/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update storybook package
  apps/app/.depcheckrc.yml
  apps/app/package.json
  apps/explorer/package.json
  apps/storybook/package.json
  packages/hooks/package.json
  packages/states/package.json
  packages/tables/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/wagmi/index.ts
  apps/storybook/.storybook/preview.tsx
Due: js, Javascript

chore: update
  apps/storybook/.depcheckrc.yml
Due: js, Javascript

chore: update
  apps/app/src/components/auth/auth-modal.tsx
  apps/app/src/handlers/paths/[address]/activity/handler.ts
Due: js, Javascript

chore: update
  packages/tables/src/activity/card/activity-card-timestamp.tsx
  packages/tables/src/owner/owner-columns.tsx
Due: js, Javascript

feat: ini modals pkg
  .changeset/few-students-matter.md
  apps/app/.depcheckrc.yml
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/src/components/root/root.tsx
  packages/modals/.depcheckrc.yml
  packages/modals/package.json
  packages/modals/src/auth/auth-modal.stories.tsx
  packages/modals/src/auth/auth-modal.tsx
  packages/modals/src/index.ts
  packages/modals/tsconfig.json
  packages/modals/tsup.config.ts
  packages/modals/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  configurations/tailwindcss/src/index.mjs
Due: js, Javascript

feat: ini modals pkg (#1449)
  .changeset/few-students-matter.md
  apps/app/.depcheckrc.yml
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/src/components/root/root.tsx
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  configurations/tailwindcss/src/index.mjs
  packages/modals/.depcheckrc.yml
  packages/modals/package.json
  packages/modals/src/auth/auth-modal.stories.tsx
  packages/modals/src/auth/auth-modal.tsx
  packages/modals/src/index.ts
  packages/modals/tsconfig.json
  packages/modals/tsup.config.ts
  packages/modals/turbo.json
  pnpm-lock.yaml
Due: js, Javascript
