Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: ini package addrs
  .contracts-size
  apps/app/package.json
  apps/assets/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  package.json
  packages/const/package.json
  packages/const/src/contract_addresses.ts
  packages/elements/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/query/package.json
  packages/schemas/package.json
  packages/sequence/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/validators/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini package addrs
  .changeset/wicked-dragons-obey.md
Due: none

chore: update
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: ini package addrs (#1763)
  .changeset/wicked-dragons-obey.md
  .contracts-size
  apps/app/package.json
  apps/assets/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  package.json
  packages/const/package.json
  packages/const/src/contract_addresses.ts
  packages/elements/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/query/package.json
  packages/schemas/package.json
  packages/sequence/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/validators/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini app subgraph
  apps/app/app/(wallet)/[address]/settings/deployment/layout.tsx
  apps/subgraph/src/config.ts
  configurations/prisma/migrations/update_wallet_v020.sql
  crates/contracts/src/constants.rs
  crates/sequence/src/hash.rs
Due: js, rust, Javascript, Rust

chore: udpate
  .changeset/funny-spiders-peel.md
Due: none

feat: ini v0.2.0 mig (#1764)
  .changeset/funny-spiders-peel.md
  apps/app/app/(wallet)/[address]/settings/deployment/layout.tsx
  apps/subgraph/src/config.ts
  configurations/prisma/migrations/update_wallet_v020.sql
  crates/contracts/src/constants.rs
  crates/sequence/src/hash.rs
Due: js, rust, Javascript, Rust

chore: update merkle
  apps/subgraph/subgraph.yaml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/sequence/tests/it/hash.rs
Due: js, rust, Javascript, Rust

feat: ini uop merkle
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/user_operation_merkle/create.rs
  crates/axum/src/routes/user_operation_merkle/error.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  crates/axum/src/routes/user_operation_merkle/list.rs
  crates/axum/src/routes/user_operation_merkle/mod.rs
  crates/axum/src/routes/user_operation_merkle/types.rs
Due: js, rust, Javascript, Rust

chore: update
  .changeset/chilled-weeks-provide.md
Due: none

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini uop mp
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/user_operation_merkle_proof/error.rs
  crates/axum/src/routes/user_operation_merkle_proof/get.rs
  crates/axum/src/routes/user_operation_merkle_proof/list.rs
  crates/axum/src/routes/user_operation_merkle_proof/mod.rs
  crates/axum/src/routes/user_operation_merkle_proof/types.rs
Due: rust, Rust

chore: update merkle (#1765)
  .changeset/chilled-weeks-provide.md
  apps/subgraph/subgraph.yaml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/user_operation_merkle/create.rs
  crates/axum/src/routes/user_operation_merkle/error.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  crates/axum/src/routes/user_operation_merkle/list.rs
  crates/axum/src/routes/user_operation_merkle/mod.rs
  crates/axum/src/routes/user_operation_merkle/types.rs
  crates/axum/src/routes/user_operation_merkle_proof/error.rs
  crates/axum/src/routes/user_operation_merkle_proof/get.rs
  crates/axum/src/routes/user_operation_merkle_proof/list.rs
  crates/axum/src/routes/user_operation_merkle_proof/mod.rs
  crates/axum/src/routes/user_operation_merkle_proof/types.rs
  crates/sequence/tests/it/hash.rs
Due: js, rust, Javascript, Rust

feat: ini api config
  crates/axum/src/api.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/five-turtles-allow.md
Due: none

fix: ini apt opt (#1766)
  .changeset/five-turtles-allow.md
  crates/axum/src/api.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini create sig
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/src/constants.rs
Due: rust, Rust

feat: ini nuqs states
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  packages/hooks/package.json
  packages/nuqs/src/index.ts
  packages/nuqs/src/useUserOperationsIndexQueryState.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update merkle
  configurations/prisma/migrations/add_column_merkle_root.sql
Due: js, Javascript

chore: update
  .changeset/rude-ladybugs-doubt.md
Due: none

feat: ini axum types
  crates/axum/src/routes/user_operation_merkle/create.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  crates/axum/src/routes/user_operation_merkle/types.rs
Due: rust, Rust

feat: ini uop sig (#1767)
  .changeset/rude-ladybugs-doubt.md
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  configurations/prisma/migrations/add_column_merkle_root.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation_merkle/create.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  crates/axum/src/routes/user_operation_merkle/types.rs
  crates/contracts/src/constants.rs
  packages/hooks/package.json
  packages/nuqs/src/index.ts
  packages/nuqs/src/useUserOperationsIndexQueryState.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini merkle uop
  apps/app/package.json
  apps/explorer/package.json
  configurations/kysely/package.json
  package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/.ncurc.yml
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/kind-horses-yell.md
Due: none

feat: ini transaction fetcher
  .vscode/settings.json
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  packages/stores/src/index.ts
  packages/stores/src/useUserOperations.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

feat: ini create uops
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  packages/hooks/package.json
  packages/hooks/src/useUserOperationCreate.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: auto fix commit
  packages/stores/src/useUserOperations.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: ini creation
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

chore: update
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: auto fix commit
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

chore: update
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

chore: update
  packages/stores/src/useUserOperations.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update hooks
  apps/app/package.json
  packages/background/package.json
  packages/content/package.json
  packages/inpage/package.json
  packages/popup/package.json
  packages/templates/package.json
  packages/templates/src/transaction/transaction-fetcher.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationCreate.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

chore: auto fix commit
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

chore: update
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

chore: update
  packages/hooks/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini merkle uop (#1768)
  .changeset/kind-horses-yell.md
  .vscode/settings.json
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  apps/app/package.json
  apps/explorer/package.json
  configurations/kysely/package.json
  package.json
  packages/background/package.json
  packages/content/package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/hooks/src/useUserOperationCreate.ts
  packages/inpage/package.json
  packages/popup/package.json
  packages/stores/src/index.ts
  packages/stores/src/useUserOperations.ts
  packages/tables/package.json
  packages/templates/package.json
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
  packages/ui/.ncurc.yml
  pnpm-lock.yaml
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
