Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

perf: ini file env
  apps/api/.env.production
  apps/api/entrypoint.sh
Due: js, Javascript

chore: update
  apps/api/entrypoint.sh
Due: js, Javascript

chore: update
  apps/api/app/swagger/page.tsx
Due: js, Javascript

chore: update
  package.json
  patches/next@13.4.19.patch
  pnpm-lock.yaml
Due: none

chore: update
  package.json
  patches/@trpc__next@10.32.1-alpha-actions-2-2023-08-09-10-23-47.45.patch
  patches/next@13.4.19.patch
  pnpm-lock.yaml
Due: none

chore: update
  pnpm-lock.yaml
Due: none

chore: Update otel_config.yml (#444)
  fly/otel-collector/otel_config.yml
Due: none

chore: update
  apps/api/package.json
  apps/app/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/playground/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  package.json
  packages/auth/package.json
  packages/popup/package.json
  packages/trpc/package.json
  patches/next@13.4.19.patch
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  package.json
  pnpm-lock.yaml
Due: none

fix: build
  apps/api/package.json
  apps/app/package.json
  apps/explorer/package.json
  apps/playground/package.json
  apps/ui/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .github/workflows/fly.yml
  Makefile
  apps/api/Dockerfile
  apps/api/fly.toml
  packages/trpc/package.json
  packages/trpc/src/server/context.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/trpc/.depcheckrc.yml
  packages/trpc/src/server/context.ts
Due: js, Javascript

chore: update api trpc
  packages/trpc/src/server/shared.ts
  packages/trpc/turbo.json
Due: js, Javascript

chore: update
  packages/trpc/src/server/shared.ts
  packages/trpc/turbo.json
Due: js, Javascript

fix: e2e error
  .github/workflows/e2e.yml
  apps/api/next.config.js
  apps/api/turbo.json
Due: js, Javascript

fix: e2e error (#453)
  .github/workflows/e2e.yml
  apps/api/next.config.js
  apps/api/turbo.json
Due: js, Javascript

fix: deprecate swagger
  apps/api/.depcheckrc.yml
  apps/api/app/swagger/page.tsx
Due: js, Javascript

fix: deprecate swagger (#454)
  apps/api/.depcheckrc.yml
  apps/api/app/swagger/page.tsx
Due: js, Javascript

chore: update
  apps/api/app/swagger/_page.tsx
Due: js, Javascript

chore: update (#462)
  apps/api/app/swagger/_page.tsx
Due: js, Javascript

feat: ini internal indexer
  crates/consumer/src/consumer.rs
  crates/consumer/src/lib.rs
  crates/indexer/src/config.rs
  crates/indexer/src/constants.rs
  crates/indexer/src/indexer.rs
  crates/redis/src/lib.rs
  thunder-tests/thunderActivity.json
Due: rust, Rust

feat: ini internal indexer (#463)
  crates/consumer/src/consumer.rs
  crates/consumer/src/lib.rs
  crates/indexer/src/config.rs
  crates/indexer/src/constants.rs
  crates/indexer/src/indexer.rs
  crates/redis/src/lib.rs
  thunder-tests/thunderActivity.json
Due: rust, Rust

perf: ini docker sccache
  .github/workflows/docker.yml
  Dockerfile
Due: none

feat: ini 1337 estimation
  crates/gas/src/chains/_1.rs
  crates/gas/src/chains/_1337.rs
  crates/gas/src/chains/mod.rs
  crates/gas/src/gas.rs
Due: rust, Rust

perf: ini error handling
  crates/gas/src/error.rs
  thunder-tests/thunderActivity.json
Due: rust, Rust

perf: ini consumer
  .github/workflows/fly.yml
  crates/consumer/src/consumer.rs
  fly/consumer-optimism/fly.toml
Due: rust, Rust

chore: update
  Dockerfile
Due: none

chore: update
  Dockerfile
  crates/gas/src/chains/_1337.rs
  thunder-tests/thunderActivity.json
Due: rust, Rust

perf: ini parse chain from str
  crates/consumer/src/consumer.rs
Due: rust, Rust

chore: update
  crates/consumer/src/consumer.rs
Due: rust, Rust

perf: ini docker sccache (#465)
  .github/workflows/docker.yml
  .github/workflows/fly.yml
  Dockerfile
  crates/consumer/src/consumer.rs
  crates/gas/src/chains/_1.rs
  crates/gas/src/chains/_1337.rs
  crates/gas/src/chains/mod.rs
  crates/gas/src/error.rs
  crates/gas/src/gas.rs
  fly/consumer-optimism/fly.toml
  thunder-tests/thunderActivity.json
Due: rust, Rust

chore: update dockerfile cache
  Dockerfile
Due: none

chore: update
  crates/.depcheckrc.yml
Due: rust, Rust

Update Dockerfile
  Dockerfile
Due: none

chore: ini consumer
  bin/src/bin/consumer.rs
Due: rust, Rust

chore: update
  bin/src/bin/consumer.rs
Due: rust, Rust

chore: Chore/ini lightdotso consumer (#467)
  bin/src/bin/consumer.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
