Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  .gas-snapshot
  contracts/test/fork/factory/LightWalletFactory.t.sol
  foundry.toml
Due: none

chore: update
  foundry.toml
Due: none

chore: update
  .github/workflows/contracts.yml
Due: none

chore: ini cron schedule
  .github/workflows/contracts.yml
Due: none

chore: ini protected rpc
  .github/workflows/contracts.yml
  contracts/test/base/BaseForkTest.t.sol
  crates/rpc/src/constants.rs
  foundry.toml
  thunder-tests/thunderActivity.json
Due: rust, Rust

chore: ini network name
  .github/workflows/contracts.yml
  contracts/test/base/BaseForkTest.t.sol
Due: none

perf: ini event name
  .github/workflows/contracts.yml
Due: none

chore: update
  contracts/test/fork/factory/LightWalletFactory.f.sol
  foundry.toml
Due: none

perf: ini network name
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/fork/factory/LightWalletFactory.f.sol
Due: none

perf: ini fork test (#473)
  .github/workflows/contracts.yml
  Makefile
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/fork/factory/LightWalletFactory.f.sol
  contracts/test/fork/factory/LightWalletFactory.tree
  crates/rpc/src/constants.rs
  foundry.toml
  thunder-tests/thunderActivity.json
Due: rust, Rust

chore: changesets pr (pre) (#470)
  .changeset/pre.json
  android/CHANGELOG.md
  android/package.json
  bin/CHANGELOG.md
  bin/package.json
  contracts/CHANGELOG.md
  contracts/package.json
  crates/CHANGELOG.md
  crates/package.json
  ios/CHANGELOG.md
  ios/package.json
Due: rust, ios, Rust, iOS

perf: ini indexer eth
  crates/indexer/src/indexer.rs
  crates/indexer/src/namespace.rs
Due: rust, Rust

chore: ini indexer deployments
  .github/workflows/fly.yml
  crates/rpc/src/lib.rs
  fly/indexer-arbitrum/fly.toml
  fly/indexer-base/fly.toml
  fly/indexer-gnosis/fly.toml
  fly/indexer-polygon/fly.toml
Due: rust, Rust

chore: update
  .changeset/lemon-kangaroos-cheer.md
Due: none

perf: ini indexer eth (#474)
  .changeset/lemon-kangaroos-cheer.md
  .github/workflows/fly.yml
  crates/indexer/src/indexer.rs
  crates/indexer/src/namespace.rs
  crates/rpc/src/lib.rs
  fly/indexer-arbitrum/fly.toml
  fly/indexer-base/fly.toml
  fly/indexer-gnosis/fly.toml
  fly/indexer-polygon/fly.toml
Due: rust, Rust

perf: ini script
  .github/workflows/contracts.yml
  contracts/script/LightWalletDeployer.s.sol
  contracts/script/abstract/LightDeployer.s.sol
  contracts/script/test/ERC20Transfer.s.sol
  contracts/src/LightWalletFactory.sol
Due: contracts, Contracts

chore: ini deploy const
  crates/indexer/src/constants.rs
  crates/indexer/src/indexer.rs
Due: rust, Rust

chore: update
  crates/indexer/src/indexer.rs
Due: rust, Rust

chore: ini gnosis indexer
  .github/workflows/fly.yml
  fly/indexer-gnosis/fly.toml
Due: none

chore: update
  crates/indexer/src/constants.rs
Due: rust, Rust

chore: update
  contracts/script/test/ERC20Transfer.s.sol
Due: none

perf: init code hash
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/dry-run/run-1693540932.json
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/abstract/LightDeployer.s.sol
  vast
  vast.pub
Due: none

perf: ini factory
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/dry-run/run-1693543019.json
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/abstract/LightDeployer.s.sol
  crates/indexer/src/constants.rs
  scripts/deploy_factory_script.sh
Due: rust, Rust

chore: update
  vast
  vast.pub
Due: none

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1693543905.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1693543911.json
Due: none

chore: ini deploy const (#476)
  .github/workflows/contracts.yml
  .github/workflows/fly.yml
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/dry-run/run-1693540932.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/dry-run/run-1693543019.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1693543905.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1693543911.json
  contracts/script/LightWalletDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/abstract/LightDeployer.s.sol
  contracts/script/test/ERC20Transfer.s.sol
  contracts/src/LightWalletFactory.sol
  crates/indexer/src/constants.rs
  crates/indexer/src/indexer.rs
  fly/indexer-gnosis/fly.toml
  scripts/deploy_factory_script.sh
Due: contracts, rust, Contracts, Rust

chore: ini verified deployments
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1693545726.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1693545738.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-latest.json
Due: none

perf: ini bsc client
  .github/workflows/fly.yml
  crates/kafka/src/lib.rs
  fly/consumer/fly.toml
  fly/indexer-bsc/fly.toml
Due: rust, Rust

chore: ini deployments (#477)
  .github/workflows/fly.yml
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1693545726.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1693545738.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-latest.json
  crates/kafka/src/lib.rs
  fly/consumer/fly.toml
  fly/indexer-bsc/fly.toml
Due: rust, Rust

chore: update
  .github/workflows/fly.yml
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1693545726.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-1693545738.json
  broadcast/LightWalletFactoryDeployer.s.sol/1/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551923.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551933.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551953.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551981.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693552030.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693552062.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693552068.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/137/run-1693553710.json
  broadcast/LightWalletFactoryDeployer.s.sol/137/run-1693553717.json
  broadcast/LightWalletFactoryDeployer.s.sol/137/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/31337/run-1691337686.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1693553661.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1693553685.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-latest.json
  crates/kafka/src/lib.rs
  fly/consumer/fly.toml
  fly/indexer-bsc/fly.toml
  scripts/crunch_factory_script.sh
  scripts/deploy_factory_script.sh
  scripts/verify_factory_script.sh
Due: rust, Rust

perf: ini consumer group
  bin/src/bin/consumer.rs
  crates/consumer/src/config.rs
  crates/consumer/src/consumer.rs
  crates/kafka/src/lib.rs
Due: rust, Rust

chore: ini multi deploy (#478)
  bin/src/bin/consumer.rs
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551923.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551933.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551953.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693551981.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693552030.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693552062.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1693552068.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/137/run-1693553710.json
  broadcast/LightWalletFactoryDeployer.s.sol/137/run-1693553717.json
  broadcast/LightWalletFactoryDeployer.s.sol/137/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/31337/run-1691337686.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1693553661.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1693553685.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-latest.json
  crates/consumer/src/config.rs
  crates/consumer/src/consumer.rs
  crates/kafka/src/lib.rs
  scripts/crunch_factory_script.sh
  scripts/deploy_factory_script.sh
  scripts/verify_factory_script.sh
Due: rust, Rust

chore: ini error parsing
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
  thunder-tests/thunderActivity.json
Due: rust, Rust

chore: ini error parsing (#479)
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
  thunder-tests/thunderActivity.json
Due: rust, Rust

feat: ini indexer
  Cargo.lock
  bin/src/bin/indexer.rs
  crates/axum/Cargo.toml
  crates/axum/src/internal.rs
  crates/redis/src/lib.rs
  crates/rpc/src/lib.rs
  fly/consumer/fly.toml
  fly/indexer/fly.toml
Due: rust, Rust

feat: ini indexer (#480)
  Cargo.lock
  bin/src/bin/indexer.rs
  crates/axum/Cargo.toml
  crates/axum/src/internal.rs
  crates/redis/src/lib.rs
  crates/rpc/src/lib.rs
  fly/consumer/fly.toml
  fly/indexer/fly.toml
Due: rust, Rust

fix: kafka consumer
  bin/src/bin/consumer.rs
  crates/consumer/src/config.rs
  crates/consumer/src/consumer.rs
  crates/kafka/src/lib.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
