Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: ini button grouping
  apps/ui/src/components/ui/badge.tsx
  apps/ui/src/components/ui/button-group.stories.tsx
  apps/ui/src/components/ui/button-group.tsx
  apps/ui/src/components/ui/button.stories.tsx
  apps/ui/src/components/ui/button.tsx
Due: js, Javascript

chore: ini button group
  .github/workflows/changesets.yml
  apps/ui/index.tsx
  apps/ui/src/components/ui/alert.tsx
  apps/ui/src/components/ui/button-group.stories.tsx
  apps/ui/src/components/ui/button-group.tsx
Due: js, Javascript

chore: ini group layout
  apps/ui/src/components/ui/button-group.stories.tsx
  apps/ui/src/components/ui/button-group.tsx
  apps/ui/src/components/ui/button.tsx
Due: js, Javascript

feat: ini components ui
  apps/ui/src/components/ui/button-group.stories.tsx
  apps/ui/src/components/ui/button-group.tsx
  apps/ui/src/components/ui/calendar.stories.tsx
  apps/ui/src/components/ui/calendar.tsx
  apps/ui/src/components/ui/card.stories.tsx
  apps/ui/src/components/ui/card.tsx
  apps/ui/src/components/ui/carousel.stories.tsx
  apps/ui/src/components/ui/carousel.tsx
  apps/ui/src/components/ui/checkbox.tsx
  apps/ui/src/components/ui/collapsible.stories.tsx
Due: js, Javascript

feat: ini component
  apps/ui/src/components/ui/command.stories.tsx
  apps/ui/src/components/ui/command.tsx
  apps/ui/src/components/ui/context-menu.stories.tsx
  apps/ui/src/components/ui/context-menu.tsx
  apps/ui/src/components/ui/dialog.stories.tsx
  apps/ui/src/components/ui/dialog.tsx
  apps/ui/src/components/ui/drawer.stories.tsx
  apps/ui/src/components/ui/drawer.tsx
Due: js, Javascript

chore: update
  apps/ui/src/components/ui/command.stories.tsx
Due: js, Javascript

chore: ini label typings
  apps/ui/src/components/ui/dropdown-menu.stories.tsx
  apps/ui/src/components/ui/dropdown-menu.tsx
  apps/ui/src/components/ui/form.stories.tsx
  apps/ui/src/components/ui/form.tsx
  apps/ui/src/components/ui/hover-card.stories.tsx
  apps/ui/src/components/ui/hover-card.tsx
  apps/ui/src/components/ui/input.tsx
  apps/ui/src/components/ui/label.stories.tsx
  apps/ui/src/components/ui/label.tsx
Due: js, Javascript

chore: update components
  apps/ui/src/components/ui/menubar.stories.tsx
  apps/ui/src/components/ui/menubar.tsx
  apps/ui/src/components/ui/navigation-menu.stories.tsx
  apps/ui/src/components/ui/navigation-menu.tsx
  apps/ui/src/components/ui/number.stories.tsx
  apps/ui/src/components/ui/number.tsx
  apps/ui/src/components/ui/popover.stories.tsx
  apps/ui/src/components/ui/popover.tsx
  apps/ui/src/components/ui/progress.stories.tsx
  apps/ui/src/components/ui/progress.tsx
  apps/ui/src/components/ui/radio-group.stories.tsx
  apps/ui/src/components/ui/radio-group.tsx
  apps/ui/src/components/ui/resizable.stories.tsx
  apps/ui/src/components/ui/resizable.tsx
  apps/ui/src/components/ui/scroll-area.stories.tsx
  apps/ui/src/components/ui/scroll-area.tsx
  apps/ui/src/components/ui/select.stories.tsx
  apps/ui/src/components/ui/select.tsx
  apps/ui/src/components/ui/separator.tsx
Due: js, Javascript

chore: ini stylings stories
  apps/ui/src/components/ui/sheet.stories.tsx
  apps/ui/src/components/ui/sheet.tsx
  apps/ui/src/components/ui/skeleton.stories.tsx
  apps/ui/src/components/ui/skeleton.tsx
  apps/ui/src/components/ui/slider.stories.tsx
  apps/ui/src/components/ui/slider.tsx
  apps/ui/src/components/ui/switch.stories.tsx
  apps/ui/src/components/ui/switch.tsx
  apps/ui/src/components/ui/table.stories.tsx
  apps/ui/src/components/ui/table.tsx
  apps/ui/src/components/ui/tabs.stories.tsx
  apps/ui/src/components/ui/tabs.tsx
  apps/ui/src/components/ui/textarea.tsx
  apps/ui/src/components/ui/timeline.stories.tsx
  apps/ui/src/components/ui/timeline.tsx
  apps/ui/src/components/ui/toast.stories.tsx
  apps/ui/src/components/ui/toast.tsx
Due: js, Javascript

chore: update toggle components
  apps/ui/src/components/ui/toggle-group.stories.tsx
  apps/ui/src/components/ui/toggle-group.tsx
  apps/ui/src/components/ui/toggle.stories.tsx
  apps/ui/src/components/ui/toggle.tsx
  apps/ui/src/components/ui/tooltip.tsx
  apps/ui/src/components/ui/typography.stories.tsx
  apps/ui/src/components/ui/typography.tsx
Due: js, Javascript

chore: ini storybook ui
  apps/ui/src/components/ui/button-group.stories.tsx
  apps/ui/src/components/ui/button-group.tsx
  apps/ui/src/components/ui/button.tsx
Due: js, Javascript

chore: ini button icon
  apps/ui/src/components/ui/button-icon.stories.tsx
  apps/ui/src/components/ui/button-icon.tsx
Due: js, Javascript

chore: update
  apps/app/src/components/nav/user-nav.tsx
  apps/ui/index.tsx
  apps/ui/src/components/ui/button-icon.tsx
Due: js, Javascript

chore: update
  apps/changelog/app/layout.tsx
Due: js, Javascript

chore: ini refactor
  .github/workflows/changesets.yml
Due: none

fix: validate
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-invoke-button.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-invoke-button.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/src/components/token/token-card-actions.tsx
  apps/ui/src/components/ui/button-icon.tsx
  apps/ui/src/components/ui/button.tsx
  apps/ui/src/components/ui/carousel.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
Due: js, Javascript

chore: update tx card button
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
Due: js, Javascript

chore: ini button icon (#1239)
  .github/workflows/changesets.yml
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-invoke-button.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-invoke-button.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/src/components/token/token-card-actions.tsx
  apps/ui/src/components/ui/button-icon.tsx
  apps/ui/src/components/ui/button.tsx
  apps/ui/src/components/ui/carousel.tsx
Due: js, Javascript

feat: ini axum queue
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/queue/token.rs
  crates/redis/src/query/portfolio.rs
  crates/redis/src/query/token.rs
Due: rust, Rust

feat: ini axum queue (#1240)
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/queue/token.rs
  crates/redis/src/query/portfolio.rs
  crates/redis/src/query/token.rs
Due: rust, Rust

feat: ini token group
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini token group
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/token_group/error.rs
  crates/axum/src/routes/token_group/get.rs
  crates/axum/src/routes/token_group/list.rs
  crates/axum/src/routes/token_group/mod.rs
  crates/axum/src/routes/token_group/types.rs
Due: rust, Rust

chore: update
  apps/subgraph/networks.json
Due: js, Javascript

chore: update
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token/types.rs
Due: rust, Rust

chore: ini group tokens
  crates/axum/src/routes/token/list.rs
Due: rust, Rust

feat: ini client query
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/invite_code/create.rs
  crates/axum/src/routes/notification/read.rs
  crates/axum/src/routes/token_group/create.rs
  crates/axum/src/routes/token_group/error.rs
  crates/axum/src/routes/token_group/mod.rs
  crates/axum/src/routes/wallet/update.rs
Due: rust, Rust

chore: update
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/token_group/create.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token_group/create.rs
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/routes/token/list.rs
Due: rust, Rust

feat: ini token group (#1241)
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/invite_code/create.rs
  crates/axum/src/routes/notification/read.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token/types.rs
  crates/axum/src/routes/token_group/create.rs
  crates/axum/src/routes/token_group/error.rs
  crates/axum/src/routes/token_group/get.rs
  crates/axum/src/routes/token_group/list.rs
  crates/axum/src/routes/token_group/mod.rs
  crates/axum/src/routes/token_group/types.rs
  crates/axum/src/routes/wallet/update.rs
Due: js, rust, Javascript, Rust

chore: ini app subgraphs
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  crates/axum/src/routes/token/list.rs
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

chore: ini polling inverval
  crates/graphql/src/constants.rs
  crates/polling/src/config.rs
Due: rust, Rust

feat: refactor polling sec (#1242)
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  crates/axum/src/routes/token/list.rs
  crates/graphql/src/constants.rs
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

chore: ini deduplication
  crates/axum/src/routes/token/list.rs
  crates/constants/src/lib.rs
  crates/contracts/src/constants.rs
Due: rust, Rust

chore: ini deduplication (#1243)
  crates/axum/src/routes/token/list.rs
  crates/constants/src/lib.rs
  crates/contracts/src/constants.rs
Due: rust, Rust

feat: refactor section overview
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-section-empty.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/src/handlers/paths/[address]/transactions/handler.ts
  apps/app/src/params/userOperation.ts
  apps/app/src/preloaders/paths/[address]/transactions/preloader.ts
Due: js, Javascript
