Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: ini invite code list
  crates/axum/src/api.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/invite_code/mod.rs
  packages/client/src/api/index.ts
  packages/client/src/api/invite_code.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update form wallet
  apps/app/app/(authenticated)/settings/account/_page.tsx
  apps/app/app/(authenticated)/settings/appearance/appearance-form.tsx
  apps/app/app/(authenticated)/settings/display/_page.tsx
  apps/app/app/(authenticated)/settings/layout.tsx
  apps/app/src/components/nav/user-nav.tsx
  apps/ui/src/templates/footer/footer-mode-select.tsx
Due: js, Javascript

feat: ini settings appearance
  apps/app/app/(authenticated)/settings/(components)/profile-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/settings/account/_page.tsx
  apps/app/app/(authenticated)/settings/account/account-form.tsx
  apps/app/app/(authenticated)/settings/appearance/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/appearance/appearance-form.tsx
  apps/app/app/(authenticated)/settings/appearance/page.tsx
  apps/app/app/(authenticated)/settings/display/_page.tsx
  apps/app/app/(authenticated)/settings/display/display-form.tsx
  apps/app/app/(authenticated)/settings/notifications/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/notifications/notifications-form.tsx
  apps/app/app/(authenticated)/settings/notifications/page.tsx
  apps/app/app/(authenticated)/settings/page.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/src/components/section/settings-section.tsx
  apps/app/src/components/settings/settings-card.tsx
Due: js, Javascript

feat: complete refactor card settings
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/settings/appearance/page.tsx
  apps/app/app/(authenticated)/settings/notifications/page.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
Due: js, Javascript

chore: update val
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
Due: js, Javascript

chore: update page wrapper
  apps/app/app/(wallet)/[address]/settings/deployment/page.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/src/components/wrapper/section/settings-section-wrapper.tsx
Due: js, Javascript

chore: udpate
  packages/const/src/social_links.ts
Due: js, Javascript

chore: refactor root settings (#1198)
  apps/app/app/(authenticated)/settings/(components)/profile-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/settings/account/account-form.tsx
  apps/app/app/(authenticated)/settings/appearance/appearance-form.tsx
  apps/app/app/(authenticated)/settings/appearance/page.tsx
  apps/app/app/(authenticated)/settings/display/display-form.tsx
  apps/app/app/(authenticated)/settings/display/page.tsx
  apps/app/app/(authenticated)/settings/layout.tsx
  apps/app/app/(authenticated)/settings/notifications/notifications-form.tsx
  apps/app/app/(authenticated)/settings/notifications/page.tsx
  apps/app/app/(authenticated)/settings/page.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-deployment-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/page.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/src/components/nav/user-nav.tsx
  apps/app/src/components/section/settings-section.tsx
  apps/app/src/components/settings/settings-card.tsx
  apps/app/src/components/wrapper/section/settings-section-wrapper.tsx
  apps/ui/src/templates/footer/footer-mode-select.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/invite_code/mod.rs
  packages/client/src/api/index.ts
  packages/client/src/api/invite_code.ts
  packages/client/src/v1.d.ts
  packages/const/src/social_links.ts
Due: js, rust, Javascript, Rust

feat: ini new wallet
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/(hooks)/useInviteCodeQueryState.ts
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/package.json
  apps/app/src/schemas/newForm.ts
  apps/app/src/stores/useNewForm.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/src/stores/useNewForm.ts
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
Due: js, Javascript

feat: ini new wallet (#1199)
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/(hooks)/useInviteCodeQueryState.ts
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/package.json
  apps/app/src/schemas/newForm.ts
  apps/app/src/stores/useNewForm.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini custom connect button
  apps/app/src/components/settings/settings-card.tsx
  apps/app/src/components/web3/connect-button.tsx
Due: js, Javascript

chore: ini connect button
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
Due: js, Javascript

feat: revamp styles for data table
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/owners-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
Due: js, Javascript

fix: tabs bug
  apps/app/src/hooks/useTabs.ts
Due: js, Javascript

chore: update faceted filter color
  apps/app/src/components/data-table/data-table-faceted-filter.tsx
Due: js, Javascript

chore: update tx card
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
Due: js, Javascript

chore: ini tx shorterner
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/src/components/web3/connect-button.tsx
  packages/utils/src/index.ts
  packages/utils/src/shorten.ts
Due: js, Javascript

fix: effect hook
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
Due: js, Javascript

fix: tx card hash
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
Due: js, Javascript

feat: ini variant sizing
  apps/ui/src/components/ui/timeline.tsx
Due: js, Javascript

chore: refactor timeline ui component
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
  apps/app/src/components/user-operation/user-operation-timeline.tsx
  apps/ui/src/components/ui/timeline.tsx
Due: js, Javascript

feat: ini styling (#1200)
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table.tsx
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/owners-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
  apps/app/src/components/data-table/data-table-faceted-filter.tsx
  apps/app/src/components/settings/settings-card.tsx
  apps/app/src/components/user-operation/user-operation-timeline.tsx
  apps/app/src/components/web3/connect-button.tsx
  apps/app/src/hooks/useTabs.ts
  apps/ui/src/components/ui/timeline.tsx
  packages/utils/src/index.ts
  packages/utils/src/shorten.ts
Due: js, Javascript

feat: ini cookie domain
  crates/axum/src/api.rs
Due: rust, Rust

chore: update api cookie
  crates/axum/src/api.rs
Due: rust, Rust

feat: ini cookie domain (#1201)
  crates/axum/src/api.rs
Due: rust, Rust

chore: ini sid name
  crates/axum/src/api.rs
Due: rust, Rust

chore: ini retry tests
  .github/workflows/contracts.yml
Due: none

chore: ini cookie sid name (#1202)
  .github/workflows/contracts.yml
  crates/axum/src/api.rs
Due: rust, Rust

feat: complete refactor auth session
  apps/app/src/components/auth/auth-state.tsx
  apps/app/src/data/auth.ts
  crates/axum/src/routes/auth/session.rs
  packages/client/src/api/auth.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/routes/auth/session.rs
Due: rust, Rust

fix: validate
  crates/axum/src/routes/auth/verify.rs
Due: rust, Rust

chore: update
  apps/app/src/components/auth/auth-state.tsx
Due: js, Javascript

feat: complete refactor auth session (#1203)
  apps/app/src/components/auth/auth-state.tsx
  apps/app/src/data/auth.ts
  crates/axum/src/routes/auth/session.rs
  crates/axum/src/routes/auth/verify.rs
  packages/client/src/api/auth.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini tower cookies
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/cookies.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/wallet/get.rs
Due: rust, Rust
