Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: ini batch createion
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

chore: update
  packages/client/src/types/api/v1.d.ts
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

feat: ini batch create api
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation/mod.rs
Due: rust, Rust

chore: ini api client
  packages/client/src/types/api/v1.d.ts
Due: js, Javascript

chore: update
  .changeset/eight-falcons-sell.md
Due: none

chore: ini modal interception footer
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

chore: update
  packages/stores/src/useUserOperations.ts
Due: js, Javascript

feat: ini merkle root
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

chore: ini uop create
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

feat: ini batch creation
  packages/client/src/api/user_operation.ts
  packages/hooks/src/useUserOperationCreate.ts
  packages/params/src/index.ts
  packages/params/src/userOperation.ts
  packages/query/src/index.ts
  packages/query/src/useMutationUserOperationCreate.ts
  packages/query/src/useMutationUserOperationCreateBatch.ts
Due: js, Javascript

chore: update
  crates/axum/src/routes/user_operation/create.rs
  packages/query/src/useMutationUserOperationCreateBatch.ts
Due: js, rust, Javascript, Rust

chore: auto fix commit
  packages/query/src/useMutationUserOperationCreateBatch.ts
Due: js, Javascript

feat: ini batch create (#1769)
  .changeset/eight-falcons-sell.md
  Cargo.lock
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation/mod.rs
  packages/client/src/api/user_operation.ts
  packages/client/src/types/api/v1.d.ts
  packages/hooks/src/useUserOperationCreate.ts
  packages/params/src/index.ts
  packages/params/src/userOperation.ts
  packages/query/src/index.ts
  packages/query/src/useMutationUserOperationCreateBatch.ts
  packages/stores/src/useUserOperations.ts
Due: js, rust, Javascript, Rust

fix: transaction indexing
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

fix: debounced fetcher
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: ini debounced fetch (#1770)
  packages/templates/src/transaction/transaction-fetcher.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

feat: ini private beta
  .changeset/fifty-lions-check.md
  apps/app/app/(authenticated)/new/(components)/root/root-context.tsx
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

feat: ini private beta (#1771)
  .changeset/fifty-lions-check.md
  apps/app/app/(authenticated)/new/(components)/root/root-context.tsx
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

feat: ini create feedback uop
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  crates/axum/src/routes/user_operation_merkle/list.rs
  crates/axum/src/routes/user_operation_merkle/types.rs
Due: js, rust, Javascript, Rust

feat: ini create feedback uop (#1772)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  crates/axum/src/routes/user_operation_merkle/list.rs
  crates/axum/src/routes/user_operation_merkle/types.rs
Due: js, rust, Javascript, Rust

feat: ini create sig
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

chore: update
  .changeset/clever-otters-repair.md
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

fix: merkle hash (#1773)
  .changeset/clever-otters-repair.md
  crates/axum/src/routes/user_operation/create.rs
  packages/hooks/src/useUserOperationCreate.ts
Due: js, rust, Javascript, Rust

feat: ini lib merkle
  crates/axum/src/routes/user_operation/signature.rs
  crates/sequence/src/lib.rs
  crates/sequence/src/merkle.rs
  packages/hooks/src/useUserOperationCreate.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/hip-snakes-pull.md
  .gas-snapshot
  contracts/test/integration/flow/merkle/MerkleSendEth.t.sol
Due: none

fix: merkle root hash (#1774)
  .changeset/hip-snakes-pull.md
  .gas-snapshot
  contracts/test/integration/flow/merkle/MerkleSendEth.t.sol
  crates/axum/src/routes/user_operation/signature.rs
  crates/sequence/src/lib.rs
  crates/sequence/src/merkle.rs
  packages/hooks/src/useUserOperationCreate.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/dirty-forks-whisper.md
Due: none

chore: update
  apps/storybook/package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/modals/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini const wagmi
  SECURITY.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/const/src/contract_addresses.ts
  packages/const/src/index.ts
  packages/wagmi/src/index.ts
Due: js, Javascript

chore: update
  .changeset/purple-buckets-matter.md
Due: none

chore: update
  apps/app/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini impl versions (#1776)
  .changeset/purple-buckets-matter.md
  SECURITY.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  apps/app/package.json
  packages/const/src/contract_addresses.ts
  packages/const/src/index.ts
  packages/templates/package.json
  packages/ui/package.json
  packages/wagmi/src/index.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini wallet switcher
  apps/app/src/components/nav/user-nav.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  packages/modals/src/chain/chain-modal.tsx
Due: js, Javascript

feat: ini package stories
  apps/app/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/storybook/package.json
  package.json
  packages/client/package.json
  packages/const/package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/query/package.json
  packages/schemas/package.json
  packages/sequence/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  packages/ui/src/colors/color.stories.xmdx
  packages/utils/package.json
  packages/validators/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini color stories
  packages/ui/src/colors/color.stories.tsx
  packages/ui/src/colors/color.stories.xmdx
Due: js, Javascript

feat: ini wallet switcher (#1777)
  apps/app/src/components/nav/user-nav.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  packages/modals/src/chain/chain-modal.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
