Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: update
  crates/axum/src/routes/wallet/create.rs
  crates/contracts/src/constants.rs
  crates/contracts/src/create2.rs
  crates/sequence/tests/it/hash.rs
Due: rust, Rust

chore: update
  contracts/test/base/BaseTest.t.sol
  crates/contracts/src/create2.rs
Due: rust, Rust

feat: update
  crates/contracts/src/create2.rs
Due: rust, Rust

feat: update
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/entrypoint/simulation/EntrypointSimulateValidation.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.t.sol
  contracts/test/fork/factory/LightWalletFactory.t.sol
  contracts/test/fork/verifier/LightPaymaster.t.sol
  crates/contracts/src/create2.rs
Due: rust, Rust

feat: update
  .gas-snapshot
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/fork/entrypoint/simulation/EntrypointSimulateValidation.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.t.sol
  contracts/test/fork/factory/LightWalletFactory.t.sol
  contracts/test/fork/verifier/LightPaymaster.t.sol
  package.json
Due: none

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640234.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640266.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640324.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640370.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640432.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/84532/run-1727640570.json
  broadcast/LightWalletFactoryDeployer.s.sol/84532/run-latest.json
  contracts/abis/LightPaymaster/LightPaymaster.json
  contracts/abis/LightVaultFactory/LightVaultFactory.json
  contracts/test/spec/light-paymaster.spec.ts
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
Due: none

feat: ini proxy bytecode (#2435)
  .contracts-size
  .gas-snapshot
  .lintstagedrc.js
  SECURITY.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640234.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640266.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640324.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640370.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640432.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/84532/run-1727640570.json
  contracts/abis/LightPaymaster/LightPaymaster.json
  contracts/abis/LightVaultFactory/LightVaultFactory.json
  contracts/build.sh
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/src/ERC1967Proxy.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/entrypoint/simulation/EntrypointSimulateValidation.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.t.sol
  contracts/test/fork/factory/LightWalletFactory.t.sol
  contracts/test/fork/verifier/LightPaymaster.t.sol
  contracts/test/spec/light-paymaster.spec.ts
  contracts/test/spec/light-vault-factory.spec.ts
  crates/axum/src/routes/wallet/create.rs
  crates/contracts/src/constants.rs
  crates/contracts/src/create2.rs
  crates/sequence/src/hash.rs
  crates/sequence/src/lib.rs
  crates/sequence/tests/it/hash.rs
  opt/ERC1967Proxy.sol/ERC1967Proxy.json
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
  package.json
  packages/const/src/contract_addresses.ts
Due: contracts, js, rust, Contracts, Javascript, Rust

feat: update address
  contracts/bytecodes/Entrypoint/v0.7.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/bytecodes/LightVaultFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.2.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.3.0.b.sol
  contracts/constants/address.sol
  contracts/script/LightDAGDeployer.s.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/script/LightVaultFactoryDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  contracts/script/ops/PaymasterOwnershipTransferOps.s.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  crates/consumer/src/topics/node.rs
  crates/contracts/src/address.rs
  crates/contracts/src/create2.rs
  crates/contracts/src/erc1271.rs
  crates/contracts/src/lib.rs
  crates/contracts/src/paymaster.rs
  crates/indexer/src/indexer.rs
  crates/rpc/src/lib.rs
  crates/sequence/tests/it/hash.rs
  packages/const/src/address.ts
  packages/const/src/index.ts
Due: js, rust, Javascript, Rust

feat: update
  .storage-layouts
  packages/const/src/address.ts
Due: js, Javascript

chore: update
  packages/const/src/address.ts
Due: js, Javascript

feat: ini address (#2436)
  .storage-layouts
  contracts/bytecodes/Entrypoint/v0.7.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/bytecodes/LightVaultFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.2.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.3.0.b.sol
  contracts/constants/address.sol
  contracts/script/LightDAGDeployer.s.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/script/LightVaultFactoryDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  contracts/script/ops/PaymasterOwnershipTransferOps.s.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  crates/consumer/src/topics/node.rs
  crates/contracts/src/address.rs
  crates/contracts/src/create2.rs
  crates/contracts/src/erc1271.rs
  crates/contracts/src/lib.rs
  crates/contracts/src/paymaster.rs
  crates/indexer/src/indexer.rs
  crates/rpc/src/lib.rs
  crates/sequence/tests/it/hash.rs
  packages/const/src/address.ts
  packages/const/src/index.ts
Due: js, rust, Javascript, Rust

feat: ini pm dep
  contracts/bytecodes/ERC1967Proxy/v0.1.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.2.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/constants/address.sol
  contracts/script/LightPaymasterDeployer.s.sol
  scripts/crunch_factory_script.sh
Due: none

chore: update
  contracts/script/LightPaymasterDeployer.s.sol
Due: none

feat: ini ex light icons
  packages/svg/src/icon/history-icon.stories.tsx
  packages/svg/src/icon/history-icon.tsx
  packages/svg/src/icon/index.ts
  packages/svg/src/icon/nft-icon.stories.tsx
  packages/svg/src/icon/nft-icon.tsx
  packages/svg/src/icon/token-icon.stories.tsx
  packages/svg/src/icon/token-icon.tsx
Due: js, Javascript

chore: ini types crate
  crates/contracts/src/types.rs
Due: rust, Rust

chore: update crate lib
  crates/contracts/src/types.rs
Due: rust, Rust

feat: ini puop
  crates/contracts/src/lib.rs
  crates/contracts/src/packed_user_operation.rs
Due: rust, Rust

feat: update
  contracts/bytecodes/Entrypoint/v0.7.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/bytecodes/LightVaultFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.2.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.3.0.b.sol
  contracts/constants/address.sol
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/unit/hash/EntrypointGetHash.t.sol
  contracts/test/utils/ERC4337Utils.sol
  crates/contracts/src/packed_user_operation.rs
Due: rust, Rust

feat: update
  .gas-snapshot
  crates/contracts/src/packed_user_operation.rs
Due: rust, Rust

feat: update
  contracts/test/unit/hash/EntrypointGetHash.t.sol
  contracts/test/utils/ERC4337Utils.sol
  crates/contracts/src/packed_user_operation.rs
Due: rust, Rust

feat: update
  contracts/test/unit/hash/EntrypointGetHash.t.sol
  crates/contracts/src/packed_user_operation.rs
Due: rust, Rust

chore: update
  .changeset/quick-eyes-learn.md
  .gas-snapshot
Due: none

chore: update
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/src/user_operation.rs
  crates/utils/src/lib.rs
  packages/client/src/rpc/index.ts
Due: js, rust, Javascript, Rust

feat: update rpc endpoints
  packages/client/src/rpc/index.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
  packages/query/src/useQueryUserOperationEstimateGas.ts
Due: js, Javascript

feat: ini packed uop
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/index.ts
  packages/query/src/useMutationUserOperationSendV06.ts
  packages/query/src/useMutationUserOperationSendV07.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV06.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV07.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
Due: js, Javascript

feat: update mutation uop
  packages/hooks/src/useUserOperationSend.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSendV06.ts
  packages/query/src/useMutationUserOperationSendV07.ts
Due: js, Javascript

feat: ini cleint data
  packages/client/src/rpc/index.ts
  packages/data/src/index.ts
  packages/data/src/rpc.ts
  packages/params/src/index.ts
  packages/params/src/rpc.ts
  packages/query-keys/src/rpc.ts
  packages/query/src/useMutationUserOperationSendV07.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV06.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV07.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  packages/schemas/src/eth/index.ts
  packages/schemas/src/eth/packedUserOperation.ts
  packages/schemas/src/index.ts
Due: js, Javascript

feat: ini ent send
  packages/hooks/package.json
  packages/hooks/src/useUserOperationSend.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV06.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV07.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: update
  .contracts-size
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

feat: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/package.json
  packages/hooks/src/useUserOperationSend.ts
  packages/sdk/src/contracts.ts
  packages/sdk/src/index.ts
  packages/sdk/src/partial_user_operations.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: update wiki pkg
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/params/src/index.ts
  packages/query-keys/src/rpc.ts
  packages/query/src/useMutationUserOperationSendV07.ts
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/partial-user-operations.ts
Due: js, Javascript

chore: update
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/bytecodes/LightVaultFactory/v0.1.0.b.sol
  contracts/constants/config.sol
Due: none

feat: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/params/src/rpc.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
Due: js, Javascript

chore: update
  opt/LightPaymaster.sol/LightPaymaster.json
Due: none

chore: update
  apps/ai/package.json
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
