Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: ini tx status
  apps/docs/content/flow.mdx
  apps/docs/content/show.mdx
  packages/templates/package.json
  packages/templates/src/transaction/transaction-sender.tsx
  packages/templates/src/transaction/transaction-status.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  apps/docs/content/flow.mdx
  apps/docs/content/mvp.mdx
Due: js, Javascript

feat: ini pending txs
  packages/hooks/src/useUserOperationsCreate.ts
  packages/states/src/user-operation-state.tsx
  packages/stores/src/useUserOperations.ts
  packages/templates/src/transaction/transaction-status.tsx
Due: js, Javascript

chore: update
  packages/templates/src/transaction/transaction-status.tsx
Due: js, Javascript

feat: ini ops types
  crates/axum/src/routes/billing_operation/get.rs
  crates/axum/src/routes/interpretation_action/get.rs
  crates/axum/src/routes/invite_code/get.rs
  crates/axum/src/routes/notification_settings/get.rs
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  crates/axum/src/routes/user_operation_merkle/types.rs
Due: rust, Rust

feat: update
  crates/axum/src/routes/chain/get.rs
  crates/axum/src/routes/protocol_group/get.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
Due: rust, Rust

chore: udpate
  packages/client/src/types/api/v1.d.ts
Due: js, Javascript

feat: ini api root
  .github/workflows/fly.yml
  crates/axum/src/api.rs
  crates/axum/src/routes/asset_change/get.rs
  crates/axum/src/routes/asset_change/list.rs
  crates/axum/src/routes/configuration_operation_owner/get.rs
  crates/axum/src/routes/configuration_operation_signature/get.rs
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/queue/mod.rs
  crates/axum/src/routes/queue/node.rs
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/nonce.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/update.rs
  crates/axum/src/routes/user_settings/get.rs
  crates/axum/src/routes/wallet_features/get.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/mod.rs
  crates/consumer/src/topics/node.rs
  crates/kafka/src/namespace.rs
  crates/kafka/src/topics/mod.rs
  crates/kafka/src/topics/node.rs
  crates/kafka/src/types/mod.rs
  crates/kafka/src/types/node.rs
  crates/redis/src/namespace.rs
  crates/redis/src/query/mod.rs
  crates/redis/src/query/node.rs
  fly/consumer-bop/fly.toml
  fly/consumer-node/fly.toml
Due: rust, Rust

chore: update
  packages/client/src/types/api/v1.d.ts
Due: js, Javascript

chore: update
  pnpm-lock.yaml
Due: none

chore: update
  apps/docs/content/mvp.mdx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: udpate
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

feat: ini config mkt
  crates/axum/src/routes/billing_operation/list.rs
  crates/axum/src/routes/billing_operation/types.rs
  crates/axum/src/routes/configuration_operation/list.rs
  crates/axum/src/routes/configuration_operation_owner/list.rs
  crates/axum/src/routes/interpretation_action/list.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/notification_settings/list.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/user_operation/list.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/billing_operation/get.rs
  crates/axum/src/routes/billing_operation/types.rs
  crates/axum/src/routes/token_price/types.rs
  crates/axum/src/routes/user_operation/get.rs
Due: rust, Rust

feat: update crate axum
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/token_price/types.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
Due: rust, Rust

chore: update
  .changeset/chilly-tips-jump.md
Due: none

feat: ini config mkt (#2087)
  .changeset/chilly-tips-jump.md
  crates/axum/src/routes/billing_operation/get.rs
  crates/axum/src/routes/billing_operation/list.rs
  crates/axum/src/routes/billing_operation/types.rs
  crates/axum/src/routes/configuration_operation/list.rs
  crates/axum/src/routes/configuration_operation_owner/list.rs
  crates/axum/src/routes/interpretation_action/list.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/notification_settings/list.rs
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/token_price/types.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/list.rs
  crates/axum/src/routes/user_operation_merkle/get.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  .github/workflows/rust.yml
Due: none

chore: update ncu
  apps/app/package.json
  apps/assets/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  apps/router/package.json
  apps/storybook/package.json
  apps/subgraph/package.json
  package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/modals/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/gorgeous-tools-deny.md
Due: none

chore: ini nap
  Cargo.lock
  Cargo.toml
  crates/node/Cargo.toml
  crates/node/src/config.rs
  crates/node/src/lib.rs
  crates/node/src/node.rs
  crates/node/tests/.gitkeep
Due: rust, Rust

chore: ini update clash (#2088)
  .changeset/gorgeous-tools-deny.md
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  apps/app/package.json
  apps/assets/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  apps/router/package.json
  apps/storybook/package.json
  apps/subgraph/package.json
  crates/node/Cargo.toml
  crates/node/src/config.rs
  crates/node/src/lib.rs
  crates/node/src/node.rs
  crates/node/tests/.gitkeep
  package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/modals/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini merkle uop
  packages/client/src/api/index.ts
  packages/client/src/api/user_operation_merkle.ts
  packages/data/src/billingOperation.ts
  packages/data/src/index.ts
  packages/data/src/userOperation.ts
  packages/data/src/userOperationMerkle.ts
  packages/data/src/userOperationMerkleProof.ts
  packages/params/src/index.ts
  packages/params/src/userOperationMerkle.ts
  packages/query-keys/src/index.ts
  packages/query-keys/src/user_operation_merkle.ts
  packages/query/src/index.ts
  packages/query/src/useQueryUserOperationMerkle.ts
  packages/templates/src/transaction/transaction-status.tsx
Due: js, Javascript

chore: update
  apps/storybook/package.json
  apps/storybook/public/index.html
Due: js, Javascript

chore: update
  .changeset/thirty-melons-fry.md
Due: none

feat: ini query sigs
  packages/params/src/index.ts
  packages/params/src/rpc.ts
  packages/params/src/userOperation.ts
  packages/query-keys/src/notification.ts
  packages/query-keys/src/rpc.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/query/src/useQueryUserOperation.ts
  packages/query/src/useQueryUserOperationReceipt.ts
  packages/query/src/useQueryUserOperationSignature.ts
  packages/services/src/getUserOperation.ts
  packages/templates/src/transaction/transaction-status.tsx
Due: js, Javascript

chore: update
  packages/params/src/index.ts
  packages/params/src/rpc.ts
  packages/query-keys/src/rpc.ts
Due: js, Javascript

chore: update
  packages/query-keys/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini merkle uop (#2089)
  .changeset/thirty-melons-fry.md
  apps/storybook/package.json
  apps/storybook/public/index.html
  packages/client/src/api/index.ts
  packages/client/src/api/user_operation_merkle.ts
  packages/data/src/billingOperation.ts
  packages/data/src/index.ts
  packages/data/src/userOperation.ts
  packages/data/src/userOperationMerkle.ts
  packages/data/src/userOperationMerkleProof.ts
  packages/params/src/index.ts
  packages/params/src/rpc.ts
  packages/params/src/userOperation.ts
  packages/params/src/userOperationMerkle.ts
  packages/query-keys/package.json
  packages/query-keys/src/index.ts
  packages/query-keys/src/rpc.ts
  packages/query-keys/src/user_operation_merkle.ts
  packages/query/src/index.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/query/src/useQueryUserOperation.ts
  packages/query/src/useQueryUserOperationMerkle.ts
  packages/query/src/useQueryUserOperationReceipt.ts
  packages/templates/src/transaction/transaction-status.tsx
  pnpm-lock.yaml
Due: js, Javascript

feat: ini node consumer
  Cargo.lock
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/node.rs
  crates/contracts/src/types.rs
  crates/node/Cargo.toml
  crates/node/src/node.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/contracts/Cargo.toml
  crates/contracts/src/types.rs
Due: rust, Rust

feat: update topic
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/node.rs
  crates/contracts/src/light_wallet.rs
  crates/db/src/models/user_operation.rs
  crates/node/src/node.rs
Due: rust, Rust

chore: update
  .changeset/light-maps-agree.md
Due: none

chore: udpate notion
  apps/docs/.ncurc.yml
  apps/docs/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: update
  Cargo.lock
  crates/axum/src/api.rs
  crates/axum/src/routes/auth/verify.rs
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/update.rs
  crates/axum/src/routes/configuration_operation_signature/create.rs
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/update.rs
  crates/axum/src/routes/user_settings/update.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet_billing/update.rs
  crates/axum/src/routes/wallet_features/update.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
  crates/consumer/Cargo.toml
  crates/consumer/src/topics/node.rs
Due: rust, Rust

chore: update
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration_operation/get.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/user_settings/update.rs
  crates/axum/src/routes/wallet_features/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
  crates/db/src/models/billing_operation.rs
Due: rust, Rust

feat: ini constants
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/build.rs
  crates/client/specs/keeper.json
  crates/client/src/constants.rs
  crates/client/src/lib.rs
Due: rust, Rust
