Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  .changeset/chilled-rockets-sit.md
Due: none

feat: ini pkg contracts
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  contracts/src/LightDAG.sol
  contracts/src/LightPaymaster.sol
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
  contracts/src/LightVaultFactory.sol
  packages/const/src/contract_addresses.ts
Due: contracts, js, Contracts, Javascript

chore: update
  contracts/src/LightPaymaster.sol
  contracts/src/LightWallet.sol
  contracts/src/LightWalletFactory.sol
Due: contracts, Contracts

feat: ini dep doc (#2417)
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  contracts/src/LightDAG.sol
  contracts/src/LightPaymaster.sol
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
  contracts/src/LightVaultFactory.sol
  contracts/src/LightWallet.sol
  contracts/src/LightWalletFactory.sol
  packages/const/src/contract_addresses.ts
Due: contracts, js, Contracts, Javascript

feat: ini tm
  .contracts-size
  apps/storybook/public/index.html
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
Due: js, Javascript

feat: update
  opt/LightDAG.sol/LightDAG.json
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightVault.sol/LightVault.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
Due: none

chore: bump pragma
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
Due: contracts, Contracts

chore: update
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.t.sol
Due: none

feat: ini props
  .gas-snapshot
  apps/app/app/(authenticated)/notifications/page.tsx
  apps/app/app/(authenticated)/wallets/page.tsx
  apps/app/src/actions/deleteCookiesAction.ts
  apps/app/src/auth/getSession.ts
  apps/app/src/auth/verifyUserId.ts
  apps/app/src/preloaders/notifications/preloader.ts
  apps/app/src/preloaders/wallets/preloader.ts
  apps/blog/app/(post)/[...slug]/page.tsx
  apps/changelog/app/(post)/[...slug]/page.tsx
  apps/proposals/app/(post)/[...slug]/page.tsx
Due: js, Javascript

chore: update
  apps/ai/app/(chat)/chat/[threadId]/_page.tsx
  apps/ai/app/share/[threadId]/_page.tsx
Due: js, Javascript

chore: update
  apps/docs/app/[[...slug]]/page.tsx
Due: js, Javascript

feat: ini params
  apps/app/app/(demo)/@op/(.)demo/op/[userOperationHash]/page.tsx
  apps/app/app/(demo)/demo/activity/page.tsx
  apps/app/app/(demo)/demo/create/page.tsx
  apps/app/app/(demo)/demo/op/[userOperationHash]/page.tsx
  apps/app/app/(demo)/demo/overview/history/page.tsx
  apps/app/app/(demo)/demo/overview/layout.tsx
  apps/app/app/(demo)/demo/overview/nfts/page.tsx
  apps/app/app/(demo)/demo/overview/page.tsx
  apps/app/app/(demo)/demo/overview/tokens/page.tsx
  apps/app/app/(demo)/demo/owners/page.tsx
  apps/app/app/(demo)/demo/send/new/page.tsx
  apps/app/app/(demo)/demo/send/page.tsx
  apps/app/app/(demo)/demo/swap/new/page.tsx
  apps/app/app/(demo)/demo/swap/page.tsx
  apps/app/app/(demo)/demo/transactions/history/page.tsx
  apps/app/app/(demo)/demo/transactions/layout.tsx
  apps/app/app/(demo)/demo/transactions/page.tsx
  apps/app/app/(demo)/demo/transactions/queue/page.tsx
  apps/app/app/(wallet)/[address]/deposit/loader.tsx
  apps/app/app/(wallet)/[address]/deposit/page.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
  apps/app/app/(wallet)/[address]/send/page.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/page.tsx
  apps/app/app/(wallet)/[address]/transactions/layout.tsx
  apps/app/app/@create/(.)demo/create/page.tsx
  apps/app/app/@send/(.)demo/send/page.tsx
  apps/app/app/@swap/(.)demo/swap/page.tsx
Due: js, Javascript

chore: update
  .changeset/soft-knives-repeat.md
Due: none

feat: ini update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  .contracts-size
  .gas-snapshot
  .vscode/settings.json
  Makefile
  foundry.toml
  remappings.txt
Due: none

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  .contracts-size
  foundry.toml
Due: none

chore: update
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
Due: contracts, Contracts

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  contracts/src/LightTimelockControllerFactory.sol
Due: contracts, js, Contracts, Javascript

fix: app dir
  apps/app/app/(wallet)/[address]/overview/@nav/page.tsx
  apps/app/app/(wallet)/[address]/transactions/@nav/page.tsx
  apps/blog/app/keystatic/[[...params]]/page.tsx
  apps/changelog/app/keystatic/[[...params]]/page.tsx
  apps/proposals/app/keystatic/[[...params]]/page.tsx
Due: js, Javascript

chore: update
  apps/blog/app/keystatic/[[...params]]/page.tsx
Due: js, Javascript

fix: app dir (#2422)
  apps/app/app/(wallet)/[address]/overview/@nav/page.tsx
  apps/app/app/(wallet)/[address]/transactions/@nav/page.tsx
  apps/blog/app/keystatic/[[...params]]/page.tsx
  apps/changelog/app/keystatic/[[...params]]/page.tsx
  apps/proposals/app/keystatic/[[...params]]/page.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/@nav/page.tsx
  apps/app/app/(wallet)/[address]/transactions/@nav/page.tsx
  apps/blog/app/keystatic/[[...params]]/page.tsx
  apps/changelog/app/keystatic/[[...params]]/page.tsx
  apps/proposals/app/keystatic/[[...params]]/page.tsx
Due: js, Javascript

chore: update
  apps/changelog/app/keystatic/[[...params]]/page.tsx
  apps/proposals/app/keystatic/[[...params]]/page.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
