Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  crates/solutions/tests/it/signatures.rs
  crates/solutions/tests/it/snapshots/it__signatures__1.snap
  crates/solutions/tests/it/snapshots/it__signatures__1.snap.new
  crates/solutions/tests/it/snapshots/it__signatures__3.snap
  crates/solutions/tests/it/snapshots/it__signatures__4.snap
  crates/solutions/tests/it/snapshots/it__signatures__5.snap
  crates/solutions/tests/samples/wallet_config_3.json
  crates/solutions/tests/samples/wallet_config_4.json
  crates/solutions/tests/samples/wallet_config_5.json
Due: rust, Rust

feat: ini node
  crates/solutions/src/node.rs
  crates/solutions/tests/it/signatures.rs
Due: rust, Rust

chore: update
  crates/solutions/tests/it/signatures.rs
Due: rust, Rust

chore: update
  crates/solutions/src/module.rs
  crates/solutions/src/node.rs
  crates/solutions/tests/it/snapshots/it__signatures__1.snap
  crates/solutions/tests/it/snapshots/it__signatures__2.snap
  crates/solutions/tests/samples/wallet_config_1.json
  crates/solutions/tests/samples/wallet_config_2.json
Due: rust, Rust

chore: update
  crates/solutions/src/node.rs
Due: rust, Rust

feat: ini insta review
  crates/solutions/src/module.rs
  crates/solutions/tests/it/snapshots/it__signatures__3.snap
  crates/solutions/tests/samples/wallet_config_3.json
Due: rust, Rust

chore: update
  crates/solutions/src/module.rs
Due: rust, Rust

perf: ini signature recovery
  crates/solutions/src/module.rs
  crates/solutions/src/types.rs
  crates/solutions/tests/it/signatures.rs
Due: rust, Rust

chore: update
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_3.snap
  crates/solutions/tests/samples/sample1_out.json
  crates/solutions/tests/samples/sample2_out.json
  crates/solutions/tests/samples/sample3_out.json
Due: rust, Rust

feat: encode sig (#785)
  crates/solutions/src/builder.rs
  crates/solutions/src/config.rs
  crates/solutions/src/module.rs
  crates/solutions/src/node.rs
  crates/solutions/src/signature.rs
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_3.snap
  crates/solutions/src/types.rs
  crates/solutions/tests/it/config.rs
  crates/solutions/tests/it/node.rs
  crates/solutions/tests/it/signatures.rs
  crates/solutions/tests/it/snapshots/it__signatures__1.snap
  crates/solutions/tests/it/snapshots/it__signatures__2.snap
  crates/solutions/tests/it/snapshots/it__signatures__3.snap
  crates/solutions/tests/it/snapshots/it__signatures__4.snap
  crates/solutions/tests/it/snapshots/it__signatures__5.snap
  crates/solutions/tests/json.rs
  crates/solutions/tests/samples/sample1_out.json
  crates/solutions/tests/samples/sample2_out.json
  crates/solutions/tests/samples/sample3_out.json
  crates/solutions/tests/samples/wallet_config_1.json
  crates/solutions/tests/samples/wallet_config_2.json
  crates/solutions/tests/samples/wallet_config_3.json
  crates/solutions/tests/samples/wallet_config_4.json
  crates/solutions/tests/samples/wallet_config_5.json
Due: rust, Rust

feat: ini op sig
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: ini config
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: ini type
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update ini signature type
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

feat: ini op sig (#786)
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

feat: ini deploy success
  apps/app/src/components/confirm-dialog.tsx
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

feat: ini deploy success (#788)
  apps/app/src/components/confirm-dialog.tsx
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

feat: refactor schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: udpate
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

perf: ini op state
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  .github/workflows/changesets.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/ios.yml
  .github/workflows/node.yml
  .github/workflows/rust.yml
  package.json
  turbo.json
Due: none

chore: update
  .github/workflows/api.yml
  .github/workflows/changesets.yml
  .github/workflows/deploy.yml
  .github/workflows/extension.yml
  .github/workflows/ios.yml
  .github/workflows/rust.yml
Due: none

chore: update
  .github/workflows/node.yml
Due: none

chore: update
  package.json
Due: none

chore: update
  .github/workflows/contracts.yml
Due: none

chore: update
  apps/app/package.json
  apps/auth/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/subgraph/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  configurations/kysely/package.json
  configurations/prisma/package.json
  package.json
  packages/background/package.json
  packages/client/package.json
  packages/const/package.json
  packages/content/package.json
  packages/inpage/package.json
  packages/next-auth/package.json
  packages/popup/package.json
  packages/schemas/package.json
  packages/solutions/package.json
  packages/trpc/package.json
  packages/utils/package.json
  packages/wagmi/package.json
  patches/@wagmi__core@1.4.5.patch
  patches/next@13.5.6.patch
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .github/workflows/e2e.yml
  .github/workflows/fastlane.yml
  .github/workflows/prisma.yml
Due: none

chore: update
  .github/workflows/docker.yml
  Dockerfile
Due: none

chore: udpate
  package.json
  pnpm-lock.yaml
Due: none

chore: update sig type (#782)
  .gas-snapshot
  apps/app/src/components/confirm-dialog.tsx
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/test/fuzz/signature/IsValidSignature.t.sol
  contracts/test/integration/signature/IsValidSignature.t.sol
  contracts/test/utils/ERC4337Utils.sol
  contracts/test/utils/LightWalletUtils.sol
Due: js, Javascript

feat: ini tx dialog
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/package.json
  apps/app/src/components/confirm-dialog.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/app/src/handles/[address].ts
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/src/handles/transaction/[chainId]/[userOperationHash].ts
  apps/app/src/stores/useNewForm.ts
  configurations/eslint/package.json
  packages/client/src/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  pnpm-lock.yaml
Due: none

chore: ini res match
  apps/app/src/handles/[address].ts
Due: js, Javascript

chore: update
  apps/app/src/components/wallet-switcher.tsx
Due: js, Javascript

perf: ini hash
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/handles/transaction/[chainId]/[userOperationHash].ts
Due: js, Javascript

feat: rename to op
  apps/app/app/(wallet)/[address]/@transactions/(..)(..)op/[chainId]/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/@transactions/(..)(..)op/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/@transactions/default.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  apps/app/app/(wallet)/[address]/transactions/op/[chainId]/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/transactions/op/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  packages/client/src/index.ts
  packages/client/test/json-rpc.spec.ts
  packages/client/test/llama.spec.ts
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
