Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini dag
  Cargo.lock
  Cargo.toml
  crates/contracts/abi/LightDAG.json
  crates/contracts/src/dag.rs
  crates/contracts/src/lib.rs
  project-words.txt
Due: rust, Rust

chore: update
  crates/contracts/src/dag.rs
Due: rust, Rust

chore: update
  crates/dag/src/lib.rs
Due: rust, Rust

chore: update
  .contracts-size
  .storage-layouts
Due: none

feat: ini dag (#2242)
  .changeset/quick-students-deny.md
  .contracts-size
  .gas-snapshot
  .storage-layouts
  Cargo.lock
  Cargo.toml
  contracts/src/LightDAG.sol
  contracts/src/interfaces/IConditionChecker.sol
  crates/contracts/abi/LightDAG.json
  crates/contracts/src/dag.rs
  crates/dag/Cargo.toml
  crates/dag/src/lib.rs
  crates/dag/tests/.gitkeep
  packages/wagmi/src/generated.ts
  project-words.txt
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/lightdotso/dag.py
  tasks/sample_dag.yaml
  wagmi.config.ts
Due: contracts, js, rust, Contracts, Javascript, Rust

chore: Update GraphQL Schema
  Cargo.toml
  pyproject.toml
Due: none

chore: Update GraphQL Schema (#2243)
  Cargo.toml
  pyproject.toml
Due: none

chore(main): release v0.2.4 [skip deploy]
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore(main): release v0.2.4 [skip deploy] (#1965)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

feat: ini dts
  configurations/tsconfig/nextjs.json
  packages/dialogs/tsconfig.json
  packages/dialogs/tsup.config.ts
  packages/elements/tsconfig.json
  packages/elements/tsup.config.ts
  packages/forms/tsconfig.json
  packages/forms/tsup.config.ts
  packages/hooks/tsconfig.json
  packages/hooks/tsup.config.ts
  packages/modals/tsup.config.ts
  packages/nuqs/tsup.config.ts
  packages/query-keys/tsconfig.json
  packages/query-keys/tsup.config.ts
  packages/query/tsconfig.json
  packages/query/tsup.config.ts
  packages/services/tsconfig.json
  packages/services/tsup.config.ts
  packages/states/tsup.config.ts
  packages/svg/tsconfig.json
  packages/svg/tsup.config.ts
  packages/tables/tsup.config.ts
  packages/templates/tsconfig.json
  packages/templates/tsup.config.ts
  packages/ui/tsup.config.ts
  packages/wagmi/tsconfig.json
  packages/wagmi/tsup.config.ts
Due: js, Javascript

chore: update
  .changeset/empty-drinks-sort.md
Due: none

chore: update
  .changeset/lazy-penguins-camp.md
Due: none

feat: ini client api
  packages/client/src/api/activity.ts
  packages/client/src/api/auth.ts
  packages/client/src/api/configuration.ts
  packages/client/src/api/configuration_operation.ts
  packages/client/src/api/feedback.ts
  packages/client/src/api/invite_code.ts
  packages/client/src/api/notification.ts
  packages/client/src/api/paymaster_operation.ts
  packages/client/src/api/portfolio.ts
  packages/client/src/api/queue.ts
  packages/client/src/api/signature.ts
  packages/client/src/api/simulation.ts
  packages/ui/src/components/menubar.tsx
  packages/ui/tsconfig.json
Due: js, Javascript

chore: update
  packages/client/src/api/token.ts
  packages/client/src/api/token_group.ts
  packages/client/src/api/token_price.ts
  packages/client/src/api/transaction.ts
  packages/query/src/useQueryNftPortfolio.ts
Due: js, Javascript

feat: update
  packages/client/src/api/user.ts
  packages/client/src/api/user_operation.ts
  packages/client/src/api/user_operation_merkle.ts
  packages/client/src/api/wallet.ts
  packages/client/src/api/wallet_billing.ts
  packages/client/src/api/wallet_features.ts
  packages/client/src/api/wallet_notification_settings.ts
  packages/client/src/api/wallet_settings.ts
  packages/client/src/lifi/quote.ts
  packages/data/src/lifi.ts
Due: js, Javascript

chore: update
  packages/client/src/api/wallet_settings.ts
  packages/client/src/lifi/tokens.ts
  packages/client/src/socket/balances.ts
Due: js, Javascript

chore: udpate
  packages/query/src/useQueryLifiQuote.ts
  packages/query/src/useQueryLifiTokens.ts
  packages/query/src/useQuerySocketBalances.ts
  packages/services/src/getSocketBalances.ts
Due: js, Javascript

chore: update
  packages/client/src/lifi/quote.ts
  packages/data/src/lifi.ts
Due: js, Javascript

fix: ais
  apps/ai/src/components/stocks/index.tsx
Due: js, Javascript

fix: ais (#2247)
  apps/ai/src/components/stocks/index.tsx
Due: js, Javascript

feat: ini params demo hook
  apps/app/app/(demo)/demo/overview/layout.tsx
  apps/app/app/(demo)/demo/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
Due: js, Javascript

chore: update
  .changeset/good-dogs-hammer.md
Due: none

chore: Update token-image.tsx
  packages/elements/src/token-image.tsx
Due: js, Javascript

fix: pagination props
  packages/ui/src/components/pagination.tsx
Due: js, Javascript

chore: Update token-image.tsx (#2250)
  packages/elements/src/token-image.tsx
Due: js, Javascript

chore: update
  apps/app/app/(action)/create/page.tsx
  apps/app/app/(demo)/opengraph-image.alt.txt
  apps/app/app/(demo)/opengraph-image.png
  apps/app/app/(demo)/twitter-image.alt.txt
  apps/app/app/(demo)/twitter-image.png
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
  apps/app/app/(wallet)/[address]/transactions/history/page.tsx
  apps/app/app/(wallet)/[address]/transactions/queue/page.tsx
  apps/app/app/opengraph-image.png
  apps/app/app/twitter-image.png
  apps/app/next-env.d.ts
  apps/app/src/handlers/[address]/create/handler.ts
  apps/app/src/handlers/[address]/handler.ts
  apps/app/src/handlers/create/handler.ts
  apps/app/src/handlers/handler.ts
  apps/blog/next-env.d.ts
  apps/changelog/next-env.d.ts
  apps/explorer/app/(transaction)/tx/address/[address]/page.tsx
  apps/explorer/app/(user-operation)/address/[address]/page.tsx
  apps/explorer/next-env.d.ts
  apps/frames/next-env.d.ts
  apps/home/next-env.d.ts
  apps/inngest/next-env.d.ts
  packages/popup/next-env.d.ts
  packages/query/next-env.d.ts
  packages/services/next-env.d.ts
  packages/services/src/getWallet.ts
  packages/services/src/index.ts
  packages/ui/next-env.d.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
Due: js, Javascript

feat: ini services
  packages/services/package.json
  packages/services/src/getActivities.ts
  packages/services/src/getActivitiesCount.ts
  packages/services/src/getConfiguration.ts
  packages/services/src/getNftValuation.ts
  packages/services/src/getNfts.ts
  packages/services/src/getNotifications.ts
  packages/services/src/getNotificationsCount.ts
  packages/services/src/getPortfolio.ts
  packages/services/src/getSocketBalances.ts
  packages/services/src/getTokens.ts
  packages/services/src/getTokensCount.ts
  packages/services/src/getTransactions.ts
  packages/services/src/getTransactionsCount.ts
  packages/services/src/getUser.ts
  packages/services/src/getUserOperation.ts
  packages/services/src/getUserOperationMerkle.ts
  packages/services/src/getUserOperationNonce.ts
  packages/services/src/getUserOperations.ts
  packages/services/src/getUserOperationsCount.ts
  packages/services/src/getWalletBilling.ts
  packages/services/src/getWalletFeatures.ts
  packages/services/src/getWalletNotificationSettings.ts
  packages/services/src/getWalletSettings.ts
  packages/services/src/getWallets.ts
  packages/services/src/getWalletsCount.ts
  packages/services/src/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/services/.depcheckrc.yml
Due: js, Javascript
