Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini notifications schema
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update schema
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

chore: update schema changes
  .changeset/two-zoos-greet.md
Due: none

chore: ini wallet schema (#1574)
  .changeset/two-zoos-greet.md
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini graphql single query
  crates/graphql/src/polling/mod.rs
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__user_operation__test__snapshot_test_query.snap
  crates/graphql/src/polling/user_operation.rs
Due: rust, Rust

feat: ini kafka topic uop
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/mod.rs
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/namespace.rs
  crates/kafka/src/topics/mod.rs
  crates/kafka/src/topics/user_operation.rs
  crates/kafka/src/types/user_operation.rs
Due: rust, Rust

feat: ini uop queue ahndler
  crates/axum/src/api.rs
  crates/axum/src/routes/queue/mod.rs
  crates/axum/src/routes/queue/user_operation.rs
  crates/kafka/src/types/user_operation.rs
  crates/redis/src/namespace.rs
  crates/redis/src/query/mod.rs
  crates/redis/src/query/user_operation.rs
Due: rust, Rust

feat: ini uop hash (#1575)
  crates/axum/src/api.rs
  crates/axum/src/routes/queue/mod.rs
  crates/axum/src/routes/queue/user_operation.rs
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/mod.rs
  crates/consumer/src/topics/user_operation.rs
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__user_operation__test__snapshot_test_query.snap
  crates/graphql/src/polling/user_operation.rs
  crates/kafka/src/namespace.rs
  crates/kafka/src/topics/mod.rs
  crates/kafka/src/topics/user_operation.rs
  crates/kafka/src/types/mod.rs
  crates/kafka/src/types/user_operation.rs
  crates/redis/src/namespace.rs
  crates/redis/src/query/mod.rs
  crates/redis/src/query/user_operation.rs
Due: rust, Rust

chore: ini fly uop
  .github/workflows/fly.yml
  fly/consumer-uop/fly.toml
Due: none

chore: update changeset
  .changeset/silent-rice-visit.md
Due: none

chore: update
  Cargo.lock
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/user_operation.rs
  crates/graphql/src/polling/user_operations.rs
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/consumer/src/consumer.rs
Due: rust, Rust

chore: ini uop poll (#1576)
  .changeset/silent-rice-visit.md
  .github/workflows/fly.yml
  Cargo.lock
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/user_operation.rs
  crates/graphql/src/polling/user_operations.rs
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
  fly/consumer-uop/fly.toml
Due: rust, Rust

chore: update fly config
  .github/workflows/fly.yml
Due: none

chore: update polling op
  crates/consumer/src/topics/user_operation.rs
  crates/polling/src/polling.rs
Due: rust, Rust

feat: ini polling ops
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/user_operation.rs
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: updae polling key
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/polling/src/polling.rs
Due: rust, Rust

chore: ini queue op (#1577)
  .github/workflows/fly.yml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/user_operation.rs
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: ini op tests
  crates/kafka/src/types/user_operation.rs
Due: rust, Rust

chore: ini page turbo
  apps/frames/app/page.tsx
  apps/inngest/turbo.json
Due: js, Javascript

chore: update
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/types/user_operation.rs
Due: rust, Rust

chore: ini op filter (#1579)
  apps/frames/app/page.tsx
  apps/inngest/turbo.json
  crates/consumer/src/topics/user_operation.rs
  crates/kafka/src/types/user_operation.rs
Due: js, rust, Javascript, Rust

test: chore chain id set
  apps/inngest/.depcheckrc.yml
  crates/db/src/models/transaction.rs
Due: js, rust, Javascript, Rust

test: chore chain id set (#1580)
  apps/inngest/.depcheckrc.yml
  crates/db/src/models/transaction.rs
Due: js, rust, Javascript, Rust

chore: update integration testing
  crates/db/src/models/transaction.rs
  crates/db/tests/it/transaction.rs
Due: rust, Rust

chore: update tx
  crates/db/src/models/transaction.rs
Due: rust, Rust

chore: update
  .changeset/dry-turtles-rhyme.md
Due: none

chore: ini tx op (#1581)
  .changeset/dry-turtles-rhyme.md
  crates/db/src/models/transaction.rs
  crates/db/tests/it/transaction.rs
Due: rust, Rust

chore: ini taost inimalist
  packages/ui/src/components/toast.stories.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/index.ts
Due: js, Javascript

chore: ini toast headers
  crates/polling/src/polling.rs
  packages/ui/src/components/toast.stories.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/index.ts
Due: js, rust, Javascript, Rust

chore: auto fix commit
  packages/ui/src/components/toast.tsx
Due: js, Javascript

chore: update queue state
  .changeset/smart-bobcats-flash.md
  packages/client/src/types/api/v1.d.ts
  packages/params/src/queue.ts
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
  packages/states/src/queue-state.tsx
Due: js, Javascript

chore: update queue op
  packages/client/src/api/queue.ts
  packages/params/src/index.ts
  packages/params/src/queue.ts
  packages/query/src/index.ts
  packages/query/src/useMutationQueueUserOperation.ts
Due: js, Javascript

chore: update app state
  apps/app/.depcheckrc.yml
  apps/app/package.json
  apps/inngest/package.json
  packages/states/src/queue-state.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: ini toast minimal (#1582)
  .changeset/smart-bobcats-flash.md
  apps/app/.depcheckrc.yml
  apps/app/package.json
  apps/inngest/package.json
  crates/polling/src/polling.rs
  packages/client/src/api/queue.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/index.ts
  packages/params/src/queue.ts
  packages/query/src/index.ts
  packages/query/src/useMutationQueueToken.ts
  packages/query/src/useMutationQueueUserOperation.ts
  packages/states/src/queue-state.tsx
  packages/ui/src/components/toast.stories.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: ini wallet billing tokens
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript
