Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini swap demo
  apps/app/app/(demo)/demo/send/new/page.tsx
  apps/app/app/(demo)/demo/swap/new/page.tsx
  apps/app/app/@swap/(.)demo/send/page.tsx
  apps/app/app/@swap/default.tsx
  apps/app/app/layout.tsx
Due: js, Javascript

feat: ini swap (#2021)
  apps/app/app/(demo)/demo/send/new/page.tsx
  apps/app/app/(demo)/demo/swap/layout.tsx
  apps/app/app/(demo)/demo/swap/new/page.tsx
  apps/app/app/(demo)/demo/swap/page.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/swap/page.tsx
  apps/app/app/@swap/(.)demo/send/page.tsx
  apps/app/app/@swap/default.tsx
  apps/app/package.json
  apps/app/src/components/section/link-button-group.tsx
  apps/app/src/const/tabs.tsx
  apps/app/src/const/titles.ts
Due: js, Javascript

fix: demo dialog
  apps/app/app/(demo)/demo/deposit/layout.tsx
  apps/app/app/(demo)/demo/deposit/new/page.tsx
  apps/app/app/(demo)/demo/deposit/page.tsx
  apps/app/src/const/titles.ts
Due: js, Javascript

fix: demo dialog (#2022)
  apps/app/app/(demo)/demo/deposit/layout.tsx
  apps/app/app/(demo)/demo/deposit/new/page.tsx
  apps/app/app/(demo)/demo/deposit/page.tsx
  apps/app/src/const/titles.ts
Due: js, Javascript

feat: ini sei
  crates/constants/src/chains.rs
  crates/rpc/src/constants.rs
  packages/const/src/chains.ts
  thunder-tests/thunderActivity.json
Due: js, rust, Javascript, Rust

chore: ini sei logoo
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/sei.tsx
Due: js, Javascript

feat: ini chain rc
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  thunder-tests/thunderActivity.json
Due: none

chore: ini const (#2023)
  crates/constants/src/chains.rs
  crates/rpc/src/constants.rs
  packages/const/src/chains.ts
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/sei.tsx
  thunder-tests/thunderActivity.json
Due: js, rust, Javascript, Rust

feat: ini cspell json
  .github/workflows/spellcheck.yml
  .vscode/settings.json
  ACKNOWLEDGEMENTS.md
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  configurations/prisma/prisma/schema-rs.prisma
  cspell.json
  package.json
  pnpm-lock.yaml
  project-words.txt
Due: js, Javascript

chore: update
  .changeset/bright-pigs-hammer.md
Due: none

chore: update
  .github/workflows/spellcheck.yml
Due: none

chore: update
  .github/workflows/spellcheck.yml
  cspell.json
  package.json
Due: none

feat: ini pm sponsorship
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/lib.rs
  crates/axum/src/prometheus.rs
  crates/axum/src/state.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/types.rs
  crates/hyper/Cargo.toml
  crates/hyper/src/lib.rs
  crates/hyper/tests/.gitkeep
  crates/paymaster/Cargo.toml
  crates/paymaster/src/lib.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/server.rs
  crates/paymaster/src/types.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  project-words.txt
Due: rust, Rust

chore: ini paymaster const
  crates/paymaster/src/config.rs
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

fix: pm op types
  crates/contracts/src/types.rs
  crates/paymaster/src/paymaster.rs
  project-words.txt
Due: rust, Rust

feat: ini construct
  crates/paymaster/src/config.rs
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  project-words.txt
Due: rust, Rust

chore: update
  crates/paymaster/src/config.rs
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: ini pm sponsorship (#2025)
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/lib.rs
  crates/axum/src/prometheus.rs
  crates/axum/src/state.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/types.rs
  crates/hyper/Cargo.toml
  crates/hyper/src/lib.rs
  crates/hyper/tests/.gitkeep
  crates/paymaster/Cargo.toml
  crates/paymaster/src/config.rs
  crates/paymaster/src/constants.rs
  crates/paymaster/src/lib.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/server.rs
  crates/paymaster/src/types.rs
  crates/paymaster/tests/it/main.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
  project-words.txt
Due: rust, Rust

fix: pm bounde
  .changeset/cyan-wasps-hide.md
  .changeset/smart-kangaroos-suffer.md
  packages/client/src/rpc/index.ts
  packages/data/src/rpc.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: pm bounde (#2026)
  .changeset/cyan-wasps-hide.md
  .changeset/smart-kangaroos-suffer.md
  packages/client/src/rpc/index.ts
  packages/data/src/rpc.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: chain modal testnet
  packages/modals/src/chain/chain-modal.tsx
Due: js, Javascript

chore: ini decode data
  crates/contracts/src/paymaster.rs
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

fix: uop unique
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/db/src/models/user_operation.rs
  project-words.txt
Due: js, rust, Javascript, Rust

feat: ini mutation update
  packages/client/src/api/feedback.ts
  packages/client/src/api/paymaster_operation.ts
  packages/client/src/api/wallet.ts
  packages/client/src/types/api/v1.d.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/params/src/paymasterOperation.ts
  packages/params/src/wallet.ts
  packages/query/src/useMutationFeedbackCreate.ts
  packages/query/src/useQueryPaymasterOperation.ts
  project-words.txt
Due: js, Javascript

feat: ini update unique paymaster op constraint (#2027)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/contracts/src/paymaster.rs
  crates/db/src/models/user_operation.rs
  crates/paymaster/src/paymaster.rs
  packages/client/src/api/feedback.ts
  packages/client/src/api/paymaster_operation.ts
  packages/client/src/api/wallet.ts
  packages/client/src/types/api/v1.d.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/modals/src/chain/chain-modal.tsx
  packages/params/src/paymasterOperation.ts
  packages/params/src/wallet.ts
  packages/query/src/useMutationFeedbackCreate.ts
  packages/query/src/useQueryPaymasterOperation.ts
  project-words.txt
Due: js, rust, Javascript, Rust

fix: macos latest
  .github/workflows/docker.yml
Due: none

fix: macos latest (#2028)
  .github/workflows/docker.yml
Due: none

chore(main): release v0.2.4 [skip deploy]
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: Update docker.yml
  .github/workflows/docker.yml
Due: none

chore: Update docker.yml (#2029)
  .github/workflows/docker.yml
Due: none

fix: pop
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  .changeset/hot-doors-tie.md
Due: none
