Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini widget pkg
  packages/widget/.depcheckrc.yml
  packages/widget/package.json
  packages/widget/postcss.config.js
  packages/widget/src/index.tsx
  packages/widget/tailwind.config.js
  packages/widget/tsconfig.json
  packages/widget/tsup.config.ts
  packages/widget/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner.tsx
Due: js, Javascript

chore: update
  packages/widget/.depcheckrc.yml
Due: js, Javascript

feat: ini w rename (#2290)
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner.tsx
  packages/widget/.depcheckrc.yml
  packages/widget/package.json
  packages/widget/postcss.config.js
  packages/widget/src/index.tsx
  packages/widget/tailwind.config.js
  packages/widget/tsconfig.json
  packages/widget/tsup.config.ts
  packages/widget/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini suspense loader
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  packages/widget/.depcheckrc.yml
Due: js, Javascript

feat: ini suspense loader (#2291)
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  packages/widget/.depcheckrc.yml
Due: js, Javascript

feat: ini loading page
  apps/app/app/(demo)/demo/overview/loading.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/loading.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
Due: js, Javascript

feat: ini loading page (#2292)
  apps/app/app/(demo)/demo/overview/loading.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/loading.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
Due: js, Javascript

feat: ini loading page
  apps/app/app/(wallet)/[address]/overview/history/loading.tsx
  packages/templates/src/data-table/data-table-pagination.tsx
Due: js, Javascript

chore: update
  apps/app/app/(demo)/demo/overview/history/loading.tsx
  apps/app/app/(demo)/demo/overview/nfts/loading.tsx
  apps/app/app/(demo)/demo/overview/tokens/loading.tsx
  apps/app/app/(demo)/error.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/loading.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/loading.tsx
  apps/app/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini loading page (#2293)
  apps/app/app/(demo)/demo/overview/history/loading.tsx
  apps/app/app/(demo)/demo/overview/nfts/loading.tsx
  apps/app/app/(demo)/demo/overview/tokens/loading.tsx
  apps/app/app/(demo)/error.tsx
  apps/app/app/(wallet)/[address]/overview/history/loading.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/loading.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/loading.tsx
  apps/app/package.json
  packages/templates/src/data-table/data-table-pagination.tsx
  pnpm-lock.yaml
Due: js, Javascript

feat: ini loading refactor
  apps/app/app/(wallet)/[address]/overview/history/loading.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/loading.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/loading.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/tokens/loading.tsx
Due: js, Javascript

feat: ini loading refactor (#2294)
  apps/app/app/(wallet)/[address]/overview/history/loading.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/loading.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/loading.tsx
Due: js, Javascript

feat: ini txs
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/loading.tsx
  apps/app/app/(wallet)/[address]/overview/history/loading.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/loading.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/loading.tsx
  apps/app/app/(wallet)/[address]/owners/loading.tsx
  apps/app/app/(wallet)/[address]/send/loading.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  packages/demo/src/api/userOperation/get.json
  packages/demo/src/api/userOperation/index.ts
  packages/templates/src/data-table/data-table-pagination.tsx
  packages/templates/src/data-table/index.ts
  packages/templates/src/index.ts
Due: js, Javascript

feat: ini txs (#2295)
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/loading.tsx
  apps/app/app/(wallet)/[address]/overview/history/loading.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/loading.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/loading.tsx
  apps/app/app/(wallet)/[address]/owners/loading.tsx
  apps/app/app/(wallet)/[address]/send/loading.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  packages/demo/src/api/userOperation/get.json
  packages/demo/src/api/userOperation/index.ts
  packages/templates/src/data-table/data-table-pagination.tsx
  packages/templates/src/data-table/index.ts
  packages/templates/src/index.ts
Due: js, Javascript

feat: ini alloy migration contracts
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/routes/billing_operation/list.rs
  crates/billing/Cargo.toml
  crates/client/Cargo.toml
  crates/common/Cargo.toml
  crates/consumer/Cargo.toml
  crates/contracts/Cargo.toml
  crates/contracts/src/constants.rs
  crates/contracts/src/entrypoint.rs
  crates/contracts/src/erc1271.rs
  crates/contracts/src/light_wallet.rs
  crates/contracts/src/paymaster.rs
  crates/contracts/src/provider.rs
  crates/contracts/src/types.rs
  crates/contracts/src/user_operation.rs
  crates/contracts/src/utils.rs
  crates/db/Cargo.toml
  crates/gas/Cargo.toml
  crates/graphql/Cargo.toml
  crates/indexer/Cargo.toml
  crates/jsonrpsee/Cargo.toml
  crates/kafka/Cargo.toml
  crates/node/Cargo.toml
  crates/paymaster/Cargo.toml
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/server.rs
  crates/polling/Cargo.toml
  crates/rpc/Cargo.toml
  crates/sequence/Cargo.toml
  crates/sequence/tests/it/node.rs
  crates/sequence/tests/it/signatures.rs
  crates/sequence/tests/json.rs
  crates/signer/Cargo.toml
  crates/simulator/Cargo.toml
  crates/utils/Cargo.toml
Due: rust, Rust

chore: ini gas
  Cargo.lock
  crates/contracts/src/utils.rs
  crates/gas/Cargo.toml
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/polygon.rs
  crates/gas/src/gas.rs
  crates/gas/src/server.rs
  crates/gas/src/types.rs
  crates/jsonrpsee/src/error.rs
  project-words.txt
Due: rust, Rust

chore: update
  apps/app/app/(wallet)/[address]/transactions/queue/loading.tsx
Due: js, Javascript

chore: update
  .changeset/eleven-dolphins-march.md
  apps/ai/next.config.mjs
  apps/explorer/next.config.mjs
  apps/frames/next.config.mjs
  apps/home/next.config.mjs
  apps/inngest/next.config.mjs
Due: js, Javascript

chore: update
  apps/ai/next.config.mjs
  apps/app/next.config.mjs
  apps/blog/next.config.mjs
  apps/changelog/next.config.mjs
  apps/explorer/next.config.mjs
  apps/inngest/.depcheckrc.yml
  apps/proposals/next.config.mjs
Due: js, Javascript

chore: update
  apps/app/src/components/nav/nav-logo.tsx
  apps/app/src/components/nav/nav.tsx
Due: js, Javascript

chore: update
  contracts/src/LightTimelockController.sol
Due: contracts, Contracts

chore: update
  .gas-snapshot
  contracts/src/LightTimelockController.sol
Due: contracts, Contracts

chore: update
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
Due: contracts, Contracts

chore: update
  .contracts-size
  .storage-layouts
Due: none

chore: update
  apps/app/app/(authenticated)/error.tsx
  apps/app/app/(unauthenticated)/error.tsx
  apps/app/app/(wallet)/error.tsx
  apps/app/app/global-error.tsx
  apps/blog/app/global-error.tsx
  apps/changelog/app/global-error.tsx
  apps/docs/app/[[...slug]]/page.tsx
  apps/explorer/app/global-error.tsx
  apps/proposals/app/global-error.tsx
Due: js, Javascript
