Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: ini graphql (#2487)
  package.json
Due: none

fix: gas fees
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: update
  packages/const/src/gas.ts
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/stores/src/useGasSpeed.ts
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, Javascript

chore: update
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

fix: ini deploy pimlico
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  thunder-tests/thunderActivity.json
Due: js, Javascript

fix: ini gas fees (#2489)
  crates/rpc/src/lib.rs
  packages/const/src/gas.ts
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/stores/src/useGasSpeed.ts
  thunder-tests/collections/tc_col_rpclightso.json
  thunder-tests/thunderActivity.json
Due: js, rust, Javascript, Rust

fix: entry points gas
  apps/subgraph/abis/LightWalletFactoryv0.3.0.json
  apps/subgraph/abis/LightWalletv0.3.0.json
  apps/subgraph/package.json
  apps/subgraph/schema.graphql
  apps/subgraph/subgraph.yaml
  contracts/abis/LightPaymaster/v1.json
  contracts/abis/LightWallet/v0.2.0.json
  contracts/abis/LightWalletFactory/v0.2.0.json
Due: js, Javascript

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1727988059.json
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1727988207.json
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: update
  apps/subgraph/package.json
  apps/subgraph/schema.graphql
Due: js, Javascript

chore: update
  apps/subgraph/networks.json
  apps/subgraph/subgraph.yaml
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989063.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989197.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989257.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1727989038.json
  broadcast/LightWalletFactoryDeployer.s.sol/59141/run-1727989340.json
  broadcast/LightWalletFactoryDeployer.s.sol/7560/run-1727988940.json
Due: js, Javascript

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989732.json
  packages/svg/src/chain/index.tsx
Due: js, Javascript

feat: ini pkg subgraphs (#2490)
  apps/subgraph/abis/LightWalletFactoryv0.3.0.json
  apps/subgraph/abis/LightWalletv0.3.0.json
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/schema.graphql
  apps/subgraph/subgraph.yaml
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1727988059.json
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1727988207.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989063.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989197.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989257.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-1727989732.json
  broadcast/LightWalletFactoryDeployer.s.sol/534351/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/534352/run-1727989038.json
  broadcast/LightWalletFactoryDeployer.s.sol/59141/run-1727989340.json
  broadcast/LightWalletFactoryDeployer.s.sol/7560/run-1727988940.json
  contracts/abis/LightPaymaster/v1.json
  contracts/abis/LightWallet/v0.2.0.json
  contracts/abis/LightWalletFactory/v0.2.0.json
  packages/svg/src/chain/index.tsx
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, Javascript

fix: tsx fetcher nonce
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: tsx fetcher nonce (#2491)
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: ini turbo trigger
  .github/workflows/deploy.yml
Due: none

chore: update
  .github/workflows/deploy.yml
Due: none

fix: loading gas
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
Due: js, Javascript

fix: loading gas (#2493)
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
Due: js, Javascript

fix: uop defaults
  packages/const/src/index.ts
  packages/const/src/user_operation.ts
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  packages/wagmi/src/wagmi.ts
  thunder-tests/thunderActivity.json
Due: js, Javascript

fix: uop defaults (#2494)
  packages/const/src/index.ts
  packages/const/src/user_operation.ts
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  packages/wagmi/src/wagmi.ts
  thunder-tests/thunderActivity.json
Due: js, Javascript

fix: updater gas
  packages/const/src/index.ts
  packages/const/src/user_operation.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
Due: js, Javascript

fix: updater gas (#2495)
  packages/const/src/index.ts
  packages/const/src/user_operation.ts
  packages/query/src/useQueryUserOperationEstimateGasV06.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
Due: js, Javascript

fix: uop maradona
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  project-words.txt
  thunder-tests/thunderActivity.json
Due: js, Javascript

fix: uop maradona (#2496)
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  project-words.txt
  thunder-tests/thunderActivity.json
Due: js, Javascript

fix: ini subgraph deployments
  apps/subgraph/package.json
Due: js, Javascript

chore: update
  apps/subgraph/package.json
Due: js, Javascript

chore: update
  .changeset/fast-dancers-mate.md
Due: none

chore: update
  apps/subgraph/networks.json
  apps/subgraph/package.json
  broadcast/EntryPointDeployer.s.sol/1101/run-1728002970.json
  broadcast/EntryPointDeployer.s.sol/1101/run-latest.json
  broadcast/EntryPointDeployer.s.sol/1329/run-1728003019.json
  broadcast/EntryPointDeployer.s.sol/1329/run-latest.json
  broadcast/EntryPointDeployer.s.sol/250/run-1728001873.json
  broadcast/EntryPointDeployer.s.sol/250/run-latest.json
  broadcast/EntryPointDeployer.s.sol/4002/run-1728002335.json
  broadcast/EntryPointDeployer.s.sol/4002/run-latest.json
  contracts/script/EntryPointDeployer.s.sol
  thunder-tests/thunderActivity.json
Due: js, Javascript

chore: update
  project-words.txt
Due: none

fix: ini subgraph versions (#2497)
  .changeset/fast-dancers-mate.md
  apps/subgraph/networks.json
  apps/subgraph/package.json
  broadcast/EntryPointDeployer.s.sol/1101/run-1728002970.json
  broadcast/EntryPointDeployer.s.sol/1101/run-latest.json
  broadcast/EntryPointDeployer.s.sol/1329/run-1728003019.json
  broadcast/EntryPointDeployer.s.sol/1329/run-latest.json
  broadcast/EntryPointDeployer.s.sol/250/run-1728001873.json
  broadcast/EntryPointDeployer.s.sol/250/run-latest.json
  broadcast/EntryPointDeployer.s.sol/4002/run-1728002335.json
  broadcast/EntryPointDeployer.s.sol/4002/run-latest.json
  contracts/script/EntryPointDeployer.s.sol
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  project-words.txt
  thunder-tests/thunderActivity.json
Due: js, Javascript

chore: updates
  broadcast/EntryPointDeployer.s.sol/1101/run-1728002970.json
  broadcast/EntryPointDeployer.s.sol/1101/run-latest.json
  broadcast/EntryPointDeployer.s.sol/1329/run-1728003019.json
  broadcast/EntryPointDeployer.s.sol/1329/run-latest.json
  broadcast/EntryPointDeployer.s.sol/250/run-1728001873.json
  broadcast/EntryPointDeployer.s.sol/250/run-latest.json
  broadcast/EntryPointDeployer.s.sol/4002/run-1728002335.json
  broadcast/EntryPointDeployer.s.sol/4002/run-latest.json
  thunder-tests/thunderActivity.json
Due: none

chore: update
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
Due: js, Javascript

chore: update
  apps/changelog/content/2024/10/2024-10-04.mdx
  project-words.txt
Due: js, Javascript

chore: update
  apps/changelog/content/2024/08/2024-08-31-speed-optimizations.mdx
  apps/changelog/content/2024/08/2024-09-03-revamped-landing.mdx
  apps/changelog/content/2024/09/2024-09-08-alloy-migration.mdx
  apps/changelog/content/2024/09/2024-09-11-tokio-upgrade.mdx
  apps/changelog/content/2024/10/2024-10-02.mdx
  apps/changelog/content/2024/10/2024-10-04.mdx
Due: js, Javascript

chore: update
  .github/workflows/vercel.yml
Due: none
