Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: remove build
  .github/workflows/rust.yml
Due: none

chore: update
  .github/workflows/rust.yml
Due: none

chore: pdate
  .github/workflows/rust.yml
Due: none

chore: updae
  .github/workflows/rust.yml
Due: none

perf: ini trace json
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
Due: js, rust, Javascript, Rust

Apply automatic changes
  configurations/prisma/prisma/migrations/20230816200144_/migration.sql
Due: js, Javascript

chore: update
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
Due: rust, Rust

chore: ini crates (#398)
  .gas-snapshot
  .github/workflows/rust.yml
  Makefile
  bin/src/bin/indexer.rs
  configurations/prisma/prisma/migrations/20230815002702_add_category_and_index/migration.sql
  configurations/prisma/prisma/migrations/20230815020033_add_transaction_category/migration.sql
  configurations/prisma/prisma/migrations/20230816200144_/migration.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/test/ERC20Transfer.s.sol
  crates/db/src/db.rs
  crates/indexer/src/config.rs
  crates/indexer/src/indexer.rs
  crates/kafka/src/lib.rs
  crates/redis/src/lib.rs
  docker-compose.yml
Due: js, rust, Javascript, Rust

perf: ini otel push
  Cargo.lock
  bin/src/bin/indexer.rs
  crates/tracing/Cargo.toml
  crates/tracing/src/lib.rs
Due: rust, Rust

perf: ini lld linker
  .cargo/config.toml
  Dockerfile
Due: none

perf: ini lld linker (#403)
  .cargo/config.toml
  Dockerfile
Due: none

chore: update
  .cargo/config.toml
  Dockerfile
Due: none

perf: ini reverse proxy
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/src/bin/prometheus.rs
Due: rust, Rust

perf: ini fly token
  bin/src/bin/prometheus.rs
Due: rust, Rust

chore: update
  Dockerfile
Due: none

perf: ini reverse proxy (#404)
  Cargo.lock
  Cargo.toml
  Dockerfile
  bin/Cargo.toml
  bin/src/bin/prometheus.rs
Due: rust, Rust

perf: ini prometheus
  .github/workflows/fly.yml
  bin/Cargo.toml
  fly/prometheus/fly.toml
Due: rust, Rust

perf: ini api v1 router
  Cargo.lock
  bin/Cargo.toml
  bin/src/bin/prometheus.rs
  fly/prometheus/fly.toml
Due: rust, Rust

perf: ini prometheus (#405)
  .github/workflows/fly.yml
  Cargo.lock
  bin/Cargo.toml
  bin/src/bin/prometheus.rs
  fly/prometheus/fly.toml
Due: rust, Rust

feat: ini autometrics
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/src/bin/consumer.rs
  crates/autometrics/Cargo.toml
  crates/autometrics/src/lib.rs
  crates/autometrics/tests/.gitkeep
Due: rust, Rust

feat: ini autometrics (#406)
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  bin/Cargo.toml
  bin/src/bin/consumer.rs
  crates/autometrics/Cargo.toml
  crates/autometrics/src/lib.rs
  crates/autometrics/tests/.gitkeep
Due: rust, Rust

fix: rust gha
  .github/workflows/rust.yml
Due: none

fix: clippy
  crates/indexer/src/indexer.rs
Due: rust, Rust

Update rust.yml
  .github/workflows/rust.yml
Due: none

chore: update
  .github/workflows/neon.yml
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
