Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: ini turbo app json
  .changeset/dull-flowers-notice.md
Due: none

chore: update
  apps/app/vercel.json
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationsCreate.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationCreate.ts
  packages/query/src/useMutationUserOperationCreateBatch.ts
Due: js, Javascript

chore: update
  .github/workflows/vercel.yml
Due: none

chore: update
  .github/workflows/vercel.yml
  package.json
  packages/hooks/src/useUserOperationsCreate.ts
  pnpm-lock.yaml
Due: js, Javascript

fix: paymasterAndData offset
  apps/ai/package.json
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/proposals/package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/flow/package.json
  packages/forms/package.json
  packages/modals/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: ini alert dialog
  apps/ai/package.json
  apps/app/package.json
  apps/app/src/components/chain/chain-combo-dialog.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/blog/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/proposals/package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/flow/package.json
  packages/forms/package.json
  packages/hooks/src/useUserOperationsCreate.ts
  packages/modals/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  packages/ui/src/components/alert-dialog/alert-dialog.tsx
  packages/ui/src/components/radio-group/radio-group.tsx
Due: js, Javascript

chore: update
  crates/contracts/src/user_operation.rs
Due: rust, Rust

chore: update
  .github/workflows/vercel.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: update option
  crates/contracts/src/types.rs
  crates/polling/src/polling.rs
  crates/polling/tests/it/run.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

chore: update
  crates/contracts/src/types.rs
  crates/polling/tests/it/run.rs
Due: rust, Rust

chore: update
  crates/polling/src/polling.rs
  crates/polling/tests/it/run.rs
  crates/tracing/tests/lib.rs
Due: rust, Rust

fix: settings deployment
  .changeset/eleven-toes-bake.md
  .github/workflows/vercel.yml
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
Due: js, Javascript

fix: settings deployment (#2480)
  .changeset/eleven-toes-bake.md
  .github/workflows/vercel.yml
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
Due: js, Javascript

fix: response
  .changeset/breezy-keys-rescue.md
  crates/jsonrpsee/src/lib.rs
  packages/hooks/src/useUserOperationSend.ts
Due: js, rust, Javascript, Rust

fix: response (#2481)
  .changeset/breezy-keys-rescue.md
  crates/jsonrpsee/src/lib.rs
  packages/hooks/src/useUserOperationSend.ts
Due: js, rust, Javascript, Rust

fix: run
  crates/polling/tests/it/run.rs
  crates/tracing/src/lib.rs
Due: rust, Rust

chore: update
  .changeset/three-rivers-cover.md
Due: none

fix: ini send (#2482)
  .changeset/three-rivers-cover.md
  crates/polling/tests/it/run.rs
  crates/tracing/src/lib.rs
Due: rust, Rust

feat: ini pm offset
  Cargo.lock
  Cargo.toml
  crates/contracts/src/types.rs
  crates/db/src/models/transaction.rs
  crates/graphql/src/traits.rs
  crates/jsonrpsee/src/lib.rs
  crates/polling/src/polling.rs
  crates/polling/tests/it/run.rs
  packages/hooks/src/useUserOperationsCreate.ts
Due: js, rust, Javascript, Rust

feat: update
  crates/contracts/src/types.rs
  crates/polling/src/polling.rs
  crates/polling/tests/it/run.rs
Due: rust, Rust

chore: update
  crates/polling/tests/it/run.rs
Due: rust, Rust

feat: ini pm offset (#2483)
  Cargo.lock
  Cargo.toml
  crates/contracts/src/types.rs
  crates/db/src/models/transaction.rs
  crates/graphql/src/traits.rs
  crates/jsonrpsee/src/lib.rs
  crates/polling/src/polling.rs
  crates/polling/tests/it/run.rs
  packages/hooks/src/useUserOperationsCreate.ts
Due: js, rust, Javascript, Rust

fix: packed uop
  crates/consumer/src/topics/node.rs
  crates/node/src/node.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

fix: packed uop (#2484)
  crates/consumer/src/topics/node.rs
  crates/node/src/node.rs
  thunder-tests/collections/tc_col_rpclightso.json
Due: rust, Rust

feat: ini unsigned uint db types
  apps/subgraph/networks.json
  apps/subgraph/src/config.ts
  apps/subgraph/tests/user-operation.test.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini unsigned uint db types (#2485)
  apps/subgraph/networks.json
  apps/subgraph/src/config.ts
  apps/subgraph/tests/user-operation.test.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini uop nonces
  apps/subgraph/generated/schema.ts
  apps/subgraph/schema.graphql
  apps/subgraph/src/const.ts
  apps/subgraph/src/nonce.ts
  apps/subgraph/src/user-operation.ts
  apps/subgraph/tests/nonce.test.ts
  apps/subgraph/tests/user-operation.test.ts
  configurations/prisma/migrations/init_migrate_simulation.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  apps/subgraph/src/nonce.ts
  apps/subgraph/tests/nonce.test.ts
Due: js, Javascript

feat: ini nonce
  apps/subgraph/tests/nonce.test.ts
Due: js, Javascript

chore: ini uop test
  apps/subgraph/generated/schema.ts
  apps/subgraph/schema.graphql
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/src/user-operation.ts
  apps/subgraph/tests/user-operation.test.ts
Due: js, Javascript

chore: update
  .github/workflows/graphql.yml
  apps/subgraph/subgraph.yaml
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727983558.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727983923.json
Due: js, Javascript

fix: ini graphql
  package.json
Due: none
