Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: ini package state
  packages/dialogs/package.json
  packages/elements/package.json
  packages/flow/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/query/package.json
  packages/roots/package.json
  packages/services/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/widget/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: ini lint staged (#2364)
  .lintstagedrc.js
  package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/flow/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/query/package.json
  packages/roots/package.json
  packages/services/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/widget/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: cspell
  cspell.json
  package.json
  project-words.txt
Due: none

fix: cspell json
  .lintstagedrc.js
  cspell.json
  scripts/sort_project_words.sh
Due: none

fix: ini cspell cont (#2367)
  .lintstagedrc.js
  cspell.json
  package.json
  project-words.txt
  scripts/sort_project_words.sh
Due: none

fix: ini base image
  packages/elements/src/base-image/base-image.tsx
Due: js, Javascript

fix: base image
  .changeset/tiny-cougars-smell.md
Due: none

fix: ini base image (#2368)
  .changeset/tiny-cougars-smell.md
  packages/elements/src/base-image/base-image.tsx
Due: js, Javascript

chore: changesets version (#2369)
  .changeset/tiny-cougars-smell.md
  apps/ai/CHANGELOG.md
  apps/ai/package.json
  apps/app/CHANGELOG.md
  apps/app/package.json
  apps/blog/CHANGELOG.md
  apps/blog/package.json
  apps/changelog/CHANGELOG.md
  apps/changelog/package.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/explorer/CHANGELOG.md
  apps/explorer/package.json
  apps/home/CHANGELOG.md
  apps/home/package.json
  apps/proposals/CHANGELOG.md
  apps/proposals/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  packages/dialogs/CHANGELOG.md
  packages/dialogs/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/modals/CHANGELOG.md
  packages/modals/package.json
  packages/roots/CHANGELOG.md
  packages/roots/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
  packages/templates/CHANGELOG.md
  packages/templates/package.json
Due: js, Javascript

fix: ini table skeleton
  apps/app/app/(authenticated)/notifications/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table-pagination.tsx
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table-toolbar.tsx
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table-pagination.tsx
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table-pagination.tsx
  apps/explorer/app/(transaction)/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(transaction)/(components)/transactions-data-table-pagination.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(user-operation)/(components)/user-operations-data-table-pagination.tsx
  packages/templates/src/data-table/data-table-pagination.tsx
Due: js, Javascript

fix: ini table skeleton (#2370)
  apps/app/app/(authenticated)/notifications/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table-pagination.tsx
  apps/app/app/(authenticated)/notifications/(components)/notifications-data-table-toolbar.tsx
  apps/app/app/(authenticated)/wallets/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table-pagination.tsx
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/nfts-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table-pagination.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table-pagination.tsx
  apps/explorer/app/(transaction)/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(transaction)/(components)/transactions-data-table-pagination.tsx
  apps/explorer/app/(user-operation)/(components)/data-table/data-table-toolbar.tsx
  apps/explorer/app/(user-operation)/(components)/user-operations-data-table-pagination.tsx
  packages/templates/src/data-table/data-table-pagination.tsx
Due: js, Javascript

fix: update img
  packages/elements/src/base-image/base-image.tsx
  packages/elements/src/next-image/next-image.tsx
Due: js, Javascript

fix: update img (#2371)
  packages/elements/src/base-image/base-image.tsx
  packages/elements/src/next-image/next-image.tsx
Due: js, Javascript

fix: ini timelock upgrades test
  contracts/src/LightTimelockController.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/integration/upgradability/upgrade/UpgradeTo.t.sol
Due: contracts, Contracts

chore: update
  .gas-snapshot
Due: none

chore: update
  .changeset/five-shoes-smash.md
Due: none

chore: update
  .gas-snapshot
  contracts/src/LightTimelockController.sol
  contracts/test/integration/flow/timelock/TimelockProposalExecute.t.sol
Due: contracts, Contracts

feat: ini contracts test (#2372)
  .changeset/five-shoes-smash.md
  .gas-snapshot
  contracts/src/LightTimelockController.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/integration/flow/timelock/TimelockProposalExecute.t.sol
  contracts/test/integration/upgradability/upgrade/UpgradeTo.t.sol
Due: contracts, Contracts

chore: changesets version (#2373)
  .changeset/five-shoes-smash.md
  apps/ai/CHANGELOG.md
  apps/ai/package.json
  apps/app/CHANGELOG.md
  apps/app/package.json
  apps/blog/CHANGELOG.md
  apps/blog/package.json
  apps/changelog/CHANGELOG.md
  apps/changelog/package.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/explorer/CHANGELOG.md
  apps/explorer/package.json
  apps/home/CHANGELOG.md
  apps/home/package.json
  apps/proposals/CHANGELOG.md
  apps/proposals/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  packages/dialogs/CHANGELOG.md
  packages/dialogs/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/modals/CHANGELOG.md
  packages/modals/package.json
  packages/roots/CHANGELOG.md
  packages/roots/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
  packages/templates/CHANGELOG.md
  packages/templates/package.json
Due: js, Javascript

fix: ini contracts storage
  .storage-layouts
Due: none

chore: update
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
Due: none

chore: update
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
Due: none

chore: update
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/1/dry-run/run-1726258777.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/1/dry-run/run-latest.json
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
Due: none

chore: update
  .gas-snapshot
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726270486.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-latest.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726270700.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-latest.json
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
  contracts/test/fork/factory/LightWalletFactory.f.sol
  packages/elements/src/base-image/base-image.tsx
Due: js, Javascript

chore: update
  .changeset/nervous-pumas-fry.md
Due: none

chore: update
  .contracts-size
Due: none

fix: ini storage contracts (#2374)
  .changeset/nervous-pumas-fry.md
  .contracts-size
  .gas-snapshot
  .storage-layouts
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/1/dry-run/run-1726258777.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/1/dry-run/run-latest.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-1726270486.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/dry-run/run-latest.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-1726270700.json
  broadcast/LightTimelockControllerFactoryDeployer.s.sol/11155111/run-latest.json
  contracts/script/LightTimelockControllerFactoryDeployer.s.sol
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
  contracts/test/fork/factory/LightWalletFactory.f.sol
  packages/elements/src/base-image/base-image.tsx
Due: js, Javascript

chore: ini git mod
  .gitmodules
Due: none

chore: update
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/flow/LightPaymasterVerifyFlow.s.sol
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
  contracts/src/LightWallet.sol
  contracts/src/LightWalletFactory.sol
  contracts/src/core/EntryPoint.sol
  contracts/src/core/VerifyingPaymaster.sol
  contracts/src/interfaces/ILightWallet.sol
  contracts/src/proxies/ImmutableProxy.sol
  contracts/src/samples/SimpleAccount.sol
  contracts/src/samples/SimpleAccountFactory.sol
  contracts/src/samples/SimpleAccountV2.sol
  contracts/src/samples/SimpleAccountV2Factory.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/fork/entrypoint/simulation/EntrypointSimulateValidation.f.sol
  contracts/test/fork/verifier/LightPaymaster.f.sol
  contracts/test/integration/entrypoint/simulation/SimulateValidation.t.sol
  contracts/test/integration/flow/erc1155-batch/BatchSendERC1155.t.sol
  contracts/test/integration/flow/erc1155/SendERC1155.t.sol
  contracts/test/integration/flow/erc20-batch/BatchSendERC20.t.sol
  contracts/test/integration/flow/erc20/SendERC20.t.sol
  contracts/test/integration/flow/erc721-batch/BatchSendERC721.t.sol
  contracts/test/integration/flow/erc721/SendERC721.t.sol
  contracts/test/unit/hash/LightWalletFactoryGetHash.t.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  contracts/test/unit/merkle/MerkleProof.t.sol
  contracts/test/unit/signature/Signature.t.sol
  contracts/test/utils/ERC4337Utils.sol
  contracts/test/utils/LightWalletUtils.sol
  remappings.txt
Due: contracts, Contracts

chore: update
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/integration/upgradability/proxy/LightTimelockController.t.sol
  contracts/test/integration/upgradability/proxy/LightWalletProxy.t.sol
Due: none

chore: changesets version (#2375)
  .changeset/nervous-pumas-fry.md
  apps/ai/CHANGELOG.md
  apps/ai/package.json
  apps/app/CHANGELOG.md
  apps/app/package.json
  apps/blog/CHANGELOG.md
  apps/blog/package.json
  apps/changelog/CHANGELOG.md
  apps/changelog/package.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/explorer/CHANGELOG.md
  apps/explorer/package.json
  apps/home/CHANGELOG.md
  apps/home/package.json
  apps/proposals/CHANGELOG.md
  apps/proposals/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  contracts/CHANGELOG.md
  contracts/package.json
  packages/dialogs/CHANGELOG.md
  packages/dialogs/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/modals/CHANGELOG.md
  packages/modals/package.json
  packages/roots/CHANGELOG.md
  packages/roots/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
  packages/templates/CHANGELOG.md
  packages/templates/package.json
Due: js, Javascript

chore: update
  contracts/test/fork/entrypoint/simulation/EntrypointSimulateValidation.f.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
  contracts/test/fork/factory/LightWalletFactory.f.sol
  contracts/test/fork/verifier/LightPaymaster.f.sol
  contracts/test/integration/entrypoint/init/AccountDeployed.t.sol
  contracts/test/unit/compatibility/ERC165.t.sol
  contracts/test/utils/ERC4337Utils.sol
Due: none

chore: udpate
  contracts/test/base/BaseTest.t.sol
  contracts/test/integration/entrypoint/init/AccountDeployed.t.sol
  contracts/test/integration/factory/LightWalletFactory.t.sol
  contracts/test/integration/upgradability/proxy/LightWalletProxy.t.sol
Due: none

chore: update
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/flow/LightPaymasterVerifyFlow.s.sol
  contracts/src/LightTimelockController.sol
  contracts/src/LightTimelockControllerFactory.sol
  contracts/src/LightWallet.sol
  contracts/src/proxies/ImmutableProxy.sol
  contracts/test/base/BaseIntegrationTest.t.sol
  contracts/test/fork/entrypoint/simulation/EntrypointSimulateValidation.f.sol
  contracts/test/fork/factory/LightTimelockControllerFactory.f.sol
  contracts/test/fork/factory/LightWalletFactory.f.sol
  contracts/test/fork/verifier/LightPaymaster.f.sol
  contracts/test/integration/entrypoint/init/AccountDeployed.t.sol
  contracts/test/integration/factory/LightWalletFactory.t.sol
  contracts/test/integration/flow/erc1155-batch/BatchSendERC1155.t.sol
  contracts/test/integration/flow/erc1155/SendERC1155.t.sol
  contracts/test/integration/flow/erc20-batch/BatchSendERC20.t.sol
  contracts/test/integration/flow/erc20/SendERC20.t.sol
  contracts/test/integration/flow/erc721-batch/BatchSendERC721.t.sol
  contracts/test/integration/flow/erc721/SendERC721.t.sol
  contracts/test/integration/flow/timelock/TimelockProposalExecute.t.sol
  contracts/test/integration/upgradability/proxy/LightTimelockController.t.sol
  contracts/test/integration/upgradability/proxy/LightWalletProxy.t.sol
  contracts/test/integration/upgradability/upgrade/UpgradeTo.t.sol
  contracts/test/unit/hash/LightWalletFactoryGetHash.t.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  contracts/test/unit/merkle/MerkleProof.t.sol
  contracts/test/unit/signature/Signature.t.sol
  contracts/test/utils/LightWalletUtils.sol
Due: contracts, Contracts

chore: update
  contracts/test/integration/flow/timelock/TimelockProposalExecute.t.sol
  contracts/test/integration/upgradability/upgrade/UpgradeTo.t.sol
Due: none
