Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: route queue (#1363)
  crates/axum/src/routes/queue/interpretation.rs
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/queue/token.rs
  crates/db/src/models/interpretation.rs
Due: rust, Rust

test: ini info
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
Due: rust, Rust

test: ini info (#1364)
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
Due: rust, Rust

fix: configuration unique constraint
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/tests/it/interpretation.rs
Due: js, rust, Javascript, Rust

fix: configuration unique constraint (#1365)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/tests/it/interpretation.rs
Due: js, rust, Javascript, Rust

chore: ncu upgrade
  apps/app/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/ui/package.json
  configurations/prettier/package.json
  package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/lovely-snails-remain.md
Due: none

chore: update
  apps/ui/.depcheckrc.yml
  apps/ui/.ncurc.yml
  apps/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: ncu upgrade (#1366)
  .changeset/lovely-snails-remain.md
  apps/app/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/ui/.depcheckrc.yml
  apps/ui/.ncurc.yml
  apps/ui/package.json
  configurations/prettier/package.json
  package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: interpretation schema
  configurations/prisma/migrations/fill_interpretation_action_null.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/models/interpretation.rs
Due: js, rust, Javascript, Rust

fix: interpretation schema (#1367)
  configurations/prisma/migrations/fill_interpretation_action_null.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/models/interpretation.rs
Due: js, rust, Javascript, Rust

fix: revert
  .changeset/lovely-snails-remain.md
  apps/app/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/ui/.depcheckrc.yml
  apps/ui/.ncurc.yml
  apps/ui/package.json
  configurations/prettier/package.json
  package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: revert
  apps/ui/.depcheckrc.yml
  apps/ui/.ncurc.yml
Due: js, Javascript

chore: update
  .changeset/dirty-clocks-bake.md
Due: none

fix: revert gha (#1368)
  .changeset/dirty-clocks-bake.md
  .changeset/lovely-snails-remain.md
  apps/app/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/ui/package.json
  configurations/prettier/package.json
  package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: crates interpretation
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
Due: rust, Rust

fix: crates interpretation (#1369)
  crates/db/src/models/interpretation.rs
  crates/db/tests/it/interpretation.rs
Due: rust, Rust

fix: ini ncu upgrade
  apps/app/package.json
  apps/changelog/.depcheckrc.yml
  apps/changelog/package.json
  apps/explorer/package.json
  apps/ui/package.json
  configurations/prettier/package.json
  package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/src/components/transaction/transaction-card-hash.tsx
  apps/app/src/components/user-operation/user-operation-card-hash.tsx
Due: js, Javascript

fix: ini ncu upgrade (#1370)
  apps/app/package.json
  apps/app/src/components/transaction/transaction-card-hash.tsx
  apps/app/src/components/user-operation/user-operation-card-hash.tsx
  apps/changelog/.depcheckrc.yml
  apps/changelog/package.json
  apps/explorer/package.json
  apps/ui/package.json
  configurations/prettier/package.json
  package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: root ssr
  .changeset/nervous-hounds-compete.md
  apps/app/src/components/root/root.tsx
Due: js, Javascript

fix: root ssr (#1371)
  .changeset/nervous-hounds-compete.md
  apps/app/src/components/root/root.tsx
Due: js, Javascript

chore: auto fix commit
  ios/LightWalletSafariExtension/Resources/images/icon-128.png
  ios/LightWalletSafariExtension/Resources/images/icon-256.png
  ios/LightWalletSafariExtension/Resources/images/icon-48.png
  ios/LightWalletSafariExtension/Resources/images/icon-512.png
  ios/LightWalletSafariExtension/Resources/images/icon-64.png
  ios/LightWalletSafariExtension/Resources/images/icon-96.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-16.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-19.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-32.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-38.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-48.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-72.png
Due: ios, iOS

chore: update
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  ios/LightWalletSafariExtension/Resources/images/icon-128.png
  ios/LightWalletSafariExtension/Resources/images/icon-256.png
  ios/LightWalletSafariExtension/Resources/images/icon-48.png
  ios/LightWalletSafariExtension/Resources/images/icon-512.png
  ios/LightWalletSafariExtension/Resources/images/icon-64.png
  ios/LightWalletSafariExtension/Resources/images/icon-96.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-16.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-19.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-32.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-38.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-48.png
  ios/LightWalletSafariExtension/Resources/images/toolbar-icon-72.png
Due: ios, iOS

feat: ini web3 operation
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  apps/app/app/(wallet)/[address]/op/(hooks)/useUserOperationsState.ts
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/send/(hooks)/useTransfersQueryState.ts
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationCreate.ts
  apps/app/src/handlers/paths/[address]/op/handler.ts
  packages/query/tsconfig.json
  packages/query/tsup.config.ts
  packages/schemas/src/form/confirmForm.ts
  packages/schemas/src/form/index.ts
  packages/schemas/src/form/newForm.ts
  packages/schemas/src/form/sendForm.ts
  packages/schemas/src/llama/index.ts
  packages/schemas/src/web3/index.ts
  packages/schemas/src/web3/userOperation.ts
  packages/stores/package.json
  packages/stores/src/useNewForm.ts
  packages/stores/tsconfig.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/warm-cameras-fix.md
Due: none

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-create-dialog.tsx
  apps/app/src/schemas/confirmForm.ts
  apps/app/src/schemas/index.ts
  apps/app/src/schemas/newForm.ts
  apps/app/src/schemas/sendForm.ts
Due: js, Javascript

chore: update
  apps/app/src/handlers/paths/[address]/op/handler.ts
Due: js, Javascript

fix: footer copy
  apps/ui/.storybook/main.ts
  apps/ui/.storybook/preview.tsx
  apps/ui/package.json
  apps/ui/src/templates/footer/footer-copy.tsx
  apps/ui/src/templates/footer/footer-logo.tsx
  packages/schemas/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/sixty-lamps-speak.md
Due: none

chore: update
  apps/ui/.storybook/preview.tsx
Due: js, Javascript

fix: footer copy (#1373)
  .changeset/sixty-lamps-speak.md
  apps/ui/.storybook/main.ts
  apps/ui/.storybook/preview.tsx
  apps/ui/package.json
  apps/ui/src/templates/footer/footer-copy.tsx
  apps/ui/src/templates/footer/footer-logo.tsx
  packages/schemas/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: docs api
  .github/workflows/fly.yml
  apps/app/next.config.mjs
  apps/changelog/.depcheckrc.yml
  apps/home/.depcheckrc.yml
  packages/stores/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: docs api (#1374)
  .github/workflows/fly.yml
  apps/app/next.config.mjs
  apps/changelog/.depcheckrc.yml
  apps/home/.depcheckrc.yml
  packages/stores/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: app api
  apps/app/next.config.mjs
Due: js, Javascript

fix: app api (#1375)
  apps/app/next.config.mjs
Due: js, Javascript

fix: gha continue
  .github/workflows/api.yml
  .github/workflows/fly.yml
  .github/workflows/k8s.yml
Due: none
