Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini const uop
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/routes/token/types.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/billing/Cargo.toml
  crates/billing/src/billing.rs
  crates/client/src/crypto.rs
  crates/constants/src/chains.rs
  crates/consumer/Cargo.toml
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/routescan.rs
  crates/contracts/src/utils.rs
  crates/db/Cargo.toml
  crates/db/src/models/transaction.rs
  crates/db/src/models/user_operation.rs
  crates/paymaster/src/paymaster.rs
  crates/routescan/Cargo.toml
  crates/routescan/src/lib.rs
  crates/utils/Cargo.toml
  crates/utils/src/lib.rs
  project-words.txt
Due: rust, Rust

feat: ini bop status (#2198)
  .changeset/stale-numbers-joke.md
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/routes/token/types.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/billing/Cargo.toml
  crates/billing/src/billing.rs
  crates/billing/src/config.rs
  crates/billing/src/lib.rs
  crates/client/src/crypto.rs
  crates/constants/src/chains.rs
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/billing_operation.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/paymaster_operation.rs
  crates/consumer/src/topics/routescan.rs
  crates/contracts/src/utils.rs
  crates/db/Cargo.toml
  crates/db/src/models/billing_operation.rs
  crates/db/src/models/transaction.rs
  crates/db/src/models/user_operation.rs
  crates/kafka/src/types/billing_operation.rs
  crates/paymaster/src/paymaster.rs
  crates/routescan/Cargo.toml
  crates/routescan/src/lib.rs
  crates/utils/Cargo.toml
  crates/utils/src/lib.rs
  packages/dialogs/src/transaction/transaction.tsx
  packages/query/src/useQueryPaymasterOperation.ts
  packages/stores/src/useUserOperations.ts
  project-words.txt
Due: js, rust, Javascript, Rust

feat: update uop duration
  Cargo.lock
  crates/billing/src/billing.rs
  crates/constants/src/chains.rs
  crates/graphql/src/constants.rs
  crates/polling/Cargo.toml
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
  crates/utils/src/lib.rs
Due: rust, Rust

chore: update
  .changeset/sweet-dogs-lie.md
Due: none

feat: ini bop (#2199)
  .changeset/sweet-dogs-lie.md
  Cargo.lock
  crates/billing/src/billing.rs
  crates/constants/src/chains.rs
  crates/graphql/src/constants.rs
  crates/polling/Cargo.toml
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
  crates/utils/src/lib.rs
Due: rust, Rust

fix: bop uop
  crates/kafka/src/types/billing_operation.rs
Due: rust, Rust

fix: bop uop (#2200)
  crates/kafka/src/types/billing_operation.rs
Due: rust, Rust

fix: billing image
  crates/billing/src/billing.rs
  crates/db/src/models/transaction.rs
  packages/elements/src/next-image.tsx
Due: js, rust, Javascript, Rust

fix: billing image (#2201)
  crates/billing/src/billing.rs
  crates/db/src/models/transaction.rs
  packages/elements/src/next-image.tsx
Due: js, rust, Javascript, Rust

feat: ini uop nonce
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/elements/src/next-image.tsx
  packages/hooks/src/useUserOperationsProgress.ts
  packages/query/src/config.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/query/src/useQueryUserOperationEstimateGas.ts
  packages/query/src/useQueryUserOperationNonce.ts
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

feat: update tx fetch
  .changeset/beige-eagles-tease.md
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  package.json
  packages/dialogs/package.json
  packages/dialogs/src/transaction/transaction.tsx
  packages/elements/package.json
  packages/hooks/package.json
  packages/popup/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update catch query
  packages/query/src/config.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
  packages/query/src/useQueryUserOperationEstimateFeesPerGas.ts
  packages/query/src/useQueryUserOperationEstimateGas.ts
Due: js, Javascript

chore: update
  packages/dialogs/package.json
  packages/elements/package.json
  packages/hooks/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction.tsx
Due: js, Javascript

feat: ini uop nonce (#2202)
  .changeset/beige-eagles-tease.md
  apps/app/package.json
  apps/blog/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/proposals/package.json
  package.json
  packages/dialogs/package.json
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/dialogs/src/transaction/transaction.tsx
  packages/elements/package.json
  packages/elements/src/next-image.tsx
  packages/hooks/package.json
  packages/hooks/src/useUserOperationsProgress.ts
  packages/popup/package.json
  packages/query/src/config.ts
  packages/query/src/useQueryUserOperationNonce.ts
  packages/tables/package.json
  packages/templates/package.json
  packages/templates/src/modal/modal.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini envio indexer
  apps/envio/.gitignore
  apps/envio/config.yaml
  apps/envio/package.json
  apps/envio/schema.graphql
  apps/envio/src/EventHandlers.ts
  apps/envio/tsconfig.json
  crates/polling/src/config.rs
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: update
  .license-check-and-add-config.json
  apps/envio/config.yaml
  apps/envio/package.json
  apps/envio/src/EventHandlers.ts
  project-words.txt
Due: js, Javascript

chore: update
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update
  apps/envio/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: update rpc endpoints
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

feat: ini constants
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  crates/contracts/src/types.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  apps/envio/src/EventHandlers.ts
Due: js, Javascript

chore: update
  .changeset/giant-items-exercise.md
  apps/docs/app/layout.config.tsx
Due: js, Javascript

chore: update
  apps/storybook/package.json
  configurations/kysely/package.json
  configurations/prisma/package.json
  packages/client/package.json
  packages/const/package.json
  packages/data/package.json
  packages/demo/package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/kafka/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/parsers/package.json
  packages/pusher/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/redis/package.json
  packages/regexs/package.json
  packages/schemas/package.json
  packages/sdk/package.json
  packages/sequence/package.json
  packages/services/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/validators/package.json
  packages/wagmi/package.json
Due: js, Javascript

chore: update
  .changeset/blue-coins-explode.md
Due: none

chore: update
  assets/.gitignore
  assets/ardrive.sh
Due: none

fix: next image
  .changeset/smooth-turkeys-carry.md
  packages/elements/src/next-image.tsx
  packages/elements/turbo.json
Due: js, Javascript

fix: next image (#2210)
  .changeset/smooth-turkeys-carry.md
  packages/elements/src/next-image.tsx
  packages/elements/turbo.json
Due: js, Javascript

fix: ini assets light
  packages/const/src/internal_links.ts
  packages/elements/src/next-image.tsx
Due: js, Javascript

fix: ini assets light (#2211)
  packages/const/src/internal_links.ts
  packages/elements/src/next-image.tsx
Due: js, Javascript

feat: ini mdoc post
  apps/blog/app/(blog)/page.tsx
  apps/blog/package.json
  apps/changelog/app/(changelog)/layout.tsx
  apps/changelog/app/(changelog)/page.tsx
  apps/changelog/app/(post)/[...slug]/page.tsx
  apps/changelog/content/2024/07/my-first-post.md
  apps/changelog/keystatic.config.ts
  apps/changelog/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/changelog/app/(post)/[...slug]/page.tsx
  apps/changelog/content/2024/07/my-first-post.md
  apps/changelog/keystatic.config.ts
Due: js, Javascript

feat: update
  apps/changelog/app/(post)/[...slug]/page.tsx
  packages/ui/src/index.ts
  packages/ui/src/wrappers/base/minimal-wrapper.ts
  packages/ui/src/wrappers/page/basic-page-wrapper.tsx
Due: js, Javascript

chore: ini date time log
  apps/changelog/app/(changelog)/page.tsx
  apps/changelog/content/2024/08/my-first-post.md
  apps/changelog/keystatic.config.ts
Due: js, Javascript
