Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  configurations/prisma/prisma/migrations/.gitkeep
  crates/axum/src/routes/simulation/create.rs
Due: js, rust, Javascript, Rust

feat: ini protocol api (#1313)
  .changeset/real-bikes-unite.md
  configurations/prisma/migrations/insert_paymaster_ops.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/protocol/error.rs
  crates/axum/src/routes/protocol/get.rs
  crates/axum/src/routes/protocol/list.rs
  crates/axum/src/routes/protocol/mod.rs
  crates/axum/src/routes/protocol/types.rs
  crates/axum/src/routes/protocol_group/create.rs
  crates/axum/src/routes/protocol_group/error.rs
  crates/axum/src/routes/protocol_group/get.rs
  crates/axum/src/routes/protocol_group/list.rs
  crates/axum/src/routes/protocol_group/mod.rs
  crates/axum/src/routes/protocol_group/types.rs
  crates/axum/src/routes/simulation/create.rs
  crates/axum/src/routes/simulation/error.rs
  crates/axum/src/routes/simulation/get.rs
  crates/axum/src/routes/simulation/list.rs
  crates/axum/src/routes/simulation/mod.rs
  crates/axum/src/routes/simulation/types.rs
  crates/axum/src/routes/simulation/update.rs
Due: js, rust, Javascript, Rust

fix: op api
  crates/axum/src/routes/user_operation/list.rs
Due: rust, Rust

fix: op api (#1314)
  crates/axum/src/routes/user_operation/list.rs
Due: rust, Rust

fix: protocol strategy
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

fix: protocol strategy (#1315)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: udpate default strat
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini interpretation ahndler
  bin/src/bin/consumer.rs
  bin/src/bin/indexer.rs
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/interpretation/error.rs
  crates/axum/src/routes/interpretation/get.rs
  crates/axum/src/routes/interpretation/list.rs
  crates/axum/src/routes/interpretation/mod.rs
  crates/axum/src/routes/interpretation/types.rs
  crates/axum/src/routes/interpretation/update.rs
  crates/axum/src/routes/mod.rs
  crates/consumer/src/lib.rs
  crates/prisma/src/main.rs
  scripts/add_recursive_flag.sh
Due: js, rust, Javascript, Rust

fix: ini interpretation (#1316)
  bin/src/bin/consumer.rs
  bin/src/bin/indexer.rs
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/interpretation/error.rs
  crates/axum/src/routes/interpretation/get.rs
  crates/axum/src/routes/interpretation/list.rs
  crates/axum/src/routes/interpretation/mod.rs
  crates/axum/src/routes/interpretation/types.rs
  crates/axum/src/routes/interpretation/update.rs
  crates/axum/src/routes/mod.rs
  crates/consumer/src/lib.rs
  crates/prisma/src/main.rs
  scripts/add_recursive_flag.sh
Due: js, rust, Javascript, Rust

fix: schema operation
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  packages/client/test/llama.spec.ts
Due: js, Javascript

fix: schema operation (#1317)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  packages/client/test/llama.spec.ts
Due: js, Javascript

feat: refactor prisma schema
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: refactor prisma schema (#1318)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: schema chore
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  crates/polling/src/lib.rs
Due: rust, Rust

chore: update route op
  crates/axum/src/routes/signature/post.rs
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

chore: update
  .changeset/shaggy-squids-scream.md
Due: none

fix: prisma chore schema (#1319)
  .changeset/shaggy-squids-scream.md
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/signature/post.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/polling/src/lib.rs
Due: js, rust, Javascript, Rust

feat: ini consumer-intptn
  .github/workflows/fly.yml
  crates/kafka/src/namespace.rs
  fly/consumer-actvty/fly.toml
  fly/consumer-cvalnt/fly.toml
  fly/consumer-error/fly.toml
  fly/consumer-intptn/fly.toml
  fly/consumer-prtflo/fly.toml
Due: rust, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/interpreter/tests/it/eth_transfer.rs
Due: js, rust, Javascript, Rust

chore: update
  .changeset/wise-lizards-juggle.md
Due: none

chore: update
  crates/axum/src/routes/user_operation/create.rs
  crates/db/src/models/user_operation.rs
  crates/paymaster/src/lib.rs
Due: rust, Rust

feat: ini consumer intptn (#1320)
  .changeset/wise-lizards-juggle.md
  .github/workflows/fly.yml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/user_operation/create.rs
  crates/db/src/models/user_operation.rs
  crates/interpreter/tests/it/eth_transfer.rs
  crates/kafka/src/namespace.rs
  crates/paymaster/src/lib.rs
  fly/consumer-actvty/fly.toml
  fly/consumer-cvalnt/fly.toml
  fly/consumer-error/fly.toml
  fly/consumer-intptn/fly.toml
  fly/consumer-prtflo/fly.toml
Due: js, rust, Javascript, Rust

feat: ini interpreter sim
  crates/interpreter/src/interpreter.rs
  crates/interpreter/tests/it/eth_transfer.rs
  crates/simulator/src/simulator.rs
Due: rust, Rust

chore: ini int type
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
Due: rust, Rust

chore: update generic loaders
  Cargo.lock
  Cargo.toml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/interpreter/Cargo.toml
  crates/interpreter/src/adapters/generic/erc1155.rs
  crates/interpreter/src/adapters/generic/erc20.rs
  crates/interpreter/src/adapters/generic/erc721.rs
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/constants.rs
  crates/interpreter/src/types.rs
Due: js, rust, Javascript, Rust

chore: udpate
  .changeset/happy-rabbits-provide.md
Due: none

chore: update typings
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
Due: rust, Rust

chore: update receivef
  crates/interpreter/src/adapters/generic/eth.rs
  crates/interpreter/src/types.rs
Due: rust, Rust

chore: update
  crates/interpreter/src/adapters/generic/eth.rs
Due: rust, Rust

chore: update transfer
  crates/interpreter/src/adapters/mod.rs
  crates/interpreter/src/adapters/transfer/erc1155.rs
  crates/interpreter/src/adapters/transfer/erc20.rs
  crates/interpreter/src/adapters/transfer/erc721.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/adapters/transfer/mod.rs
  crates/interpreter/src/constants.rs
Due: rust, Rust

chore: update
  crates/interpreter/src/adapters/transfer/eth.rs
Due: rust, Rust

chore: upcate
  configurations/prisma/prisma/schema.prisma
  crates/interpreter/src/adapters/transfer/erc20.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/types.rs
Due: js, rust, Javascript, Rust

chore: udpate
  configurations/prisma/prisma/schema-rs.prisma
  crates/interpreter/src/adapters/transfer/erc20.rs
  crates/interpreter/src/constants.rs
Due: js, rust, Javascript, Rust
