Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: ini wallet
  apps/app/app/root.tsx
  apps/app/src/components/wallet-switcher.tsx
Due: js, Javascript

feat: ini get wallets (#746)
  apps/app/app/root.tsx
  apps/app/src/components/wallet-switcher.tsx
  packages/client/src/index.ts
Due: js, Javascript

fix: res
  apps/app/src/handles/[address].ts
  thunder-tests/collections/tc_col_apilightso.json
Due: js, Javascript

feat: ini auth hook
  apps/app/app/root.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/feedback-popover.tsx
  apps/app/src/components/notification-popover.tsx
  apps/app/src/components/user-nav.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/app/src/stores/useAuth.ts
Due: js, Javascript

perf: update
  apps/app/app/(unauthenticated)/layout.tsx
  apps/app/app/(wallet)/layout.tsx
  apps/app/src/components/wallet-switcher.tsx
Due: js, Javascript

chore: update
  apps/app/src/stores/useAuth.ts
Due: js, Javascript

feat: ini auth hook (#748)
  apps/app/app/(wallet)/layout.tsx
  apps/app/app/root.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/feedback-popover.tsx
  apps/app/src/components/notification-popover.tsx
  apps/app/src/components/user-nav.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/app/src/stores/useAuth.ts
Due: js, Javascript

feat: ini api query
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

perf: ini owner filter query
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

feat: ini api query (#749)
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update
  crates/db/src/db.rs
Due: rust, Rust

chore: ini switch
  apps/app/src/components/wallet-switcher.tsx
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

feat: ini wallet ls (#750)
  apps/app/src/components/wallet-switcher.tsx
  crates/db/src/db.rs
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

chore: update bytes type
  crates/db/src/db.rs
Due: rust, Rust

chore: update (#751)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

feat: ini schema
  packages/schemas/.depcheckrc.yml
  packages/schemas/package.json
  packages/schemas/src/index.ts
  packages/schemas/src/llama.ts
  packages/schemas/tsconfig.json
  packages/schemas/tsup.config.ts
  packages/schemas/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

perf: ini zod client
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/zod.ts
  packages/schemas/src/llama.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: ini client schema
  packages/client/src/index.ts
  packages/client/test/llama.spec.ts
  vitest.workspace.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/page.tsx
  packages/client/prepend.sh
  packages/client/turbo.json
Due: js, Javascript

chore: update
  packages/client/test/llama.spec.ts
Due: js, Javascript

chore: update
  packages/client/package.json
Due: js, Javascript

chore: update
  apps/app/app/(unauthenticated)/page.tsx
  apps/app/app/(wallet)/[address]/page.tsx
Due: js, Javascript

chore: update
  package.json
Due: none

chore: update
  vitest.workspace.ts
Due: none

chore: update
  .github/workflows/node.yml
  apps/app/package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Due: js, Javascript

perf: update configuration params
  crates/axum/src/routes/configuration.rs
Due: rust, Rust

feat: ini schema (#752)
  .github/workflows/node.yml
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/package.json
  crates/axum/src/routes/configuration.rs
  package.json
  packages/client/prepend.sh
  packages/client/src/index.ts
  packages/client/src/zod.ts
  packages/client/test/llama.spec.ts
  packages/schemas/.depcheckrc.yml
  packages/schemas/package.json
  packages/schemas/src/index.ts
  packages/schemas/src/llama.ts
  packages/schemas/tsconfig.json
  packages/schemas/tsup.config.ts
  packages/schemas/turbo.json
  pnpm-lock.yaml
  vitest.workspace.ts
Due: js, rust, Javascript, Rust

fix: wallet get
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: wallet get (#753)
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

feat: ini
  packages/client/.depcheckrc.yml
  packages/client/turbo.json
Due: js, Javascript

perf: ini optional query for chain id
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: ini tx dialog
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/src/components/transaction-dialog.tsx
Due: js, Javascript

feat: ini deploy button
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/stores/useTransaction.ts
Due: js, Javascript

perf: ini init code
  apps/app/src/components/transaction-dialog.tsx
Due: js, Javascript

feat: ini deploy chainId
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  apps/app/src/stores/useTransaction.ts
  apps/app/tsconfig.json
Due: js, Javascript

perf: ini utils
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/utils/userOp.ts
Due: js, Javascript

chore: ini deploy button
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  packages/const/src/ContractLinks.ts
Due: js, Javascript

feat: ini (#754)
  apps/app/app/(wallet)/[address]/settings/deploy-button.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/stores/useAuth.ts
  apps/app/src/stores/useTransaction.ts
  apps/app/src/utils/userOp.ts
  apps/app/tsconfig.json
  crates/axum/src/routes/wallet.rs
  packages/client/.depcheckrc.yml
  packages/client/turbo.json
  packages/const/src/ContractLinks.ts
  packages/const/src/index.ts
Due: js, rust, Javascript, Rust

chore: ini prep
  packages/client/.depcheckrc.yml
  packages/client/package.json
  packages/client/prepend.sh
  packages/client/src/v1.d.ts
Due: js, Javascript
