Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: ini paymaster backon
  Cargo.lock
  crates/paymaster/Cargo.toml
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: ini paymaster backon (#1497)
  Cargo.lock
  crates/paymaster/Cargo.toml
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: ini light handler
  .changeset/tall-pillows-wash.md
  apps/app/app/(wallet)/[address]/op/(components)/op-transaction.tsx
  apps/app/src/handlers/paths/[address]/op/handler.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-transaction.tsx
  apps/app/src/handlers/paths/[address]/op/handler.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  apps/app/.depcheckrc.yml
Due: js, Javascript

chore: update
  crates/db/src/models/paymaster_operation.rs
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini light handler (#1498)
  .changeset/tall-pillows-wash.md
  apps/app/.depcheckrc.yml
  apps/app/app/(wallet)/[address]/op/(components)/op-transaction.tsx
  apps/app/src/handlers/paths/[address]/op/handler.ts
  crates/db/src/models/paymaster_operation.rs
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini op estimate uop
  apps/app/app/(wallet)/[address]/op/(components)/op-transaction.tsx
  apps/app/src/handlers/paths/[address]/op/handler.ts
  packages/client/src/rpc/index.ts
  packages/query-keys/src/index.ts
  packages/query-keys/src/rpc.ts
  packages/query/src/index.ts
  packages/query/src/useQueryEstimateUserOperationGas.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: ini estimate uop
  .changeset/funny-points-wait.md
Due: none

chore: update
  crates/rpc/src/constants.rs
Due: rust, Rust

chore: update
  packages/query/src/useQueryEstimateUserOperationGas.ts
Due: js, Javascript

feat: ini estimate uop (#1500)
  .changeset/funny-points-wait.md
  apps/app/app/(wallet)/[address]/op/(components)/op-transaction.tsx
  apps/app/src/handlers/paths/[address]/op/handler.ts
  crates/rpc/src/constants.rs
  packages/client/src/rpc/index.ts
  packages/query-keys/src/index.ts
  packages/query-keys/src/rpc.ts
  packages/query/src/index.ts
  packages/query/src/useQueryEstimateUserOperationGas.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini op op script
  .gas-snapshot
  broadcast/PaymasterAddDepositOps.s.sol/10/run-1706771938.json
  broadcast/PaymasterAddDepositOps.s.sol/10/run-1706771945.json
  broadcast/PaymasterAddDepositOps.s.sol/10/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/10/run-1706771898.json
  broadcast/PaymasterAddStakeOps.s.sol/10/run-1706771904.json
  broadcast/PaymasterAddStakeOps.s.sol/10/run-latest.json
  contracts/script/ops/PaymasterAddDepositOps.s.sol
  contracts/script/ops/PaymasterAddStakeOps.s.sol
Due: none

feat: refactpr random rpc
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  .gas-snapshot
Due: none

feat: ini op tx (#1501)
  broadcast/PaymasterAddDepositOps.s.sol/10/run-1706771938.json
  broadcast/PaymasterAddDepositOps.s.sol/10/run-1706771945.json
  broadcast/PaymasterAddDepositOps.s.sol/10/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/10/run-1706771898.json
  broadcast/PaymasterAddStakeOps.s.sol/10/run-1706771904.json
  broadcast/PaymasterAddStakeOps.s.sol/10/run-latest.json
  contracts/script/ops/PaymasterAddDepositOps.s.sol
  contracts/script/ops/PaymasterAddStakeOps.s.sol
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini gnosis deployment
  .gas-snapshot
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776702.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776708.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776741.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776747.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706777197.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706777204.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/100/run-1706776772.json
  broadcast/PaymasterAddStakeOps.s.sol/100/run-1706776779.json
  broadcast/PaymasterAddStakeOps.s.sol/100/run-latest.json
  contracts/script/ops/PaymasterAddDepositOps.s.sol
  contracts/script/ops/PaymasterAddStakeOps.s.sol
Due: none

feat: ini gnosis deployment (#1502)
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776702.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776708.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776741.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706776747.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706777197.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-1706777204.json
  broadcast/PaymasterAddDepositOps.s.sol/100/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/100/run-1706776772.json
  broadcast/PaymasterAddStakeOps.s.sol/100/run-1706776779.json
  broadcast/PaymasterAddStakeOps.s.sol/100/run-latest.json
  contracts/script/ops/PaymasterAddDepositOps.s.sol
  contracts/script/ops/PaymasterAddStakeOps.s.sol
  packages/query/src/useQueryEstimateUserOperationGas.ts
Due: js, Javascript

feat: ini op gas
  packages/query/src/useQueryEstimateUserOperationGas.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
Due: js, Javascript

chore: update
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  packages/modals/tsconfig.json
  packages/tables/tsconfig.json
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: update
  .changeset/new-emus-heal.md
Due: none

chore: update
  packages/client/src/zod.ts
Due: js, Javascript

fix: ini error retries (#1503)
  .changeset/new-emus-heal.md
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
  packages/client/src/zod.ts
  packages/modals/tsconfig.json
  packages/query/src/useQueryEstimateUserOperationGas.ts
  packages/query/src/useQueryPaymasterGasAndPaymasterAndData.ts
  packages/tables/tsconfig.json
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

chore(main): release v0.1.5
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: auto fix commit
  CHANGELOG.md
Due: none

chore(main): release v0.1.5 (#1401)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

feat: ini rpc const
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-1706792267.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-1706792351.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-1706792357.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/84532/run-1706792381.json
  broadcast/PaymasterAddDepositOps.s.sol/84532/run-1706792388.json
  broadcast/PaymasterAddDepositOps.s.sol/84532/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/84532/run-1706792426.json
  broadcast/PaymasterAddStakeOps.s.sol/84532/run-1706792433.json
  broadcast/PaymasterAddStakeOps.s.sol/84532/run-latest.json
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini broadcast rpc const
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-1706792267.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-1706792351.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-1706792357.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/84532/run-latest.json
  broadcast/PaymasterAddDepositOps.s.sol/84532/run-1706792381.json
  broadcast/PaymasterAddDepositOps.s.sol/84532/run-1706792388.json
  broadcast/PaymasterAddDepositOps.s.sol/84532/run-latest.json
  broadcast/PaymasterAddStakeOps.s.sol/84532/run-1706792426.json
  broadcast/PaymasterAddStakeOps.s.sol/84532/run-1706792433.json
  broadcast/PaymasterAddStakeOps.s.sol/84532/run-latest.json
  crates/rpc/src/constants.rs
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini const
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini rpc endpoint
  crates/rpc/src/lib.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
