Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: modal scroll
  packages/templates/src/modal/modal.tsx
  packages/ui/src/wrappers/layer/base-layer-wrapper.tsx
Due: js, Javascript

chore: modal
  .changeset/unlucky-llamas-play.md
Due: none

chore: update
  packages/validators/package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: invoke tokens
  packages/elements/src/invoke-button.tsx
  packages/modals/src/token/token-modal.tsx
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

chore: update token
  packages/msw/src/handlers/token.ts
Due: js, Javascript

fix: unsized token modal
  packages/elements/src/empty-state.tsx
  packages/elements/src/invoke-button.tsx
  packages/modals/src/nft/nft-modal.tsx
  packages/modals/src/token/token-modal.tsx
  packages/templates/src/modal/modal.tsx
Due: js, Javascript

fix: addr height
  packages/modals/src/address/address-modal.tsx
Due: js, Javascript

chore: auto fix commit
  packages/elements/src/empty-state.tsx
  packages/modals/src/nft/nft-modal.tsx
  packages/modals/src/token/token-modal.tsx
Due: js, Javascript

chore: ini modal mode (#1676)
  .changeset/unlucky-llamas-play.md
  packages/elements/src/empty-state.tsx
  packages/elements/src/invoke-button.tsx
  packages/modals/src/address/address-modal.tsx
  packages/modals/src/nft/nft-modal.tsx
  packages/modals/src/token/token-modal.tsx
  packages/msw/src/handlers/token.ts
  packages/templates/src/modal/modal.tsx
  packages/ui/src/wrappers/layer/base-layer-wrapper.tsx
  packages/validators/package.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini chain styles
  apps/app/src/components/chain/chain-popover.tsx
  packages/elements/src/token-image.stories.tsx
  packages/elements/src/token-image.tsx
  packages/modals/src/nft/nft-modal.tsx
  packages/modals/src/token/token-modal.tsx
  packages/svg/package.json
  packages/svg/src/chain/index.stories.tsx
  packages/svg/src/chain/index.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/tiny-pugs-attend.md
  crates/axum/src/routes/notification/list.rs
Due: rust, Rust

chore: auto fix commit
  packages/modals/src/nft/nft-modal.tsx
  packages/modals/src/token/token-modal.tsx
  packages/svg/src/chain/index.tsx
Due: js, Javascript

feat: ini na balance
  packages/tables/src/token/card/token-card-balance.tsx
  packages/ui/src/components/button-icon.tsx
  packages/ui/src/components/button.tsx
  rustc-ice-2024-02-18T03_20_54-90568.txt
Due: js, Javascript

feat: ini testnet not available
  packages/query/src/useQueryTokenPrice.ts
  packages/tables/src/(components)/card/index.ts
  packages/tables/src/(components)/card/not-available-testnet-card.tsx
  packages/tables/src/token/card/token-card-price.tsx
Due: js, Javascript

chore: update
  packages/tables/src/(components)/card/not-available-testnet-card.tsx
Due: js, Javascript

chore: update
  packages/tables/src/(components)/card/chain-card.tsx
Due: js, Javascript

chore: ini subrow styling
  packages/demo/src/api/token/list.json
  packages/tables/src/token/card/token-card-price.tsx
  packages/tables/src/token/token-table.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
Due: js, Javascript

feat: ini chain styles (#1678)
  .changeset/tiny-pugs-attend.md
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/src/components/chain/chain-popover.tsx
  crates/axum/src/routes/notification/list.rs
  packages/demo/src/api/token/list.json
  packages/elements/src/token-image.stories.tsx
  packages/elements/src/token-image.tsx
  packages/modals/src/nft/nft-modal.tsx
  packages/modals/src/token/token-modal.tsx
  packages/query/src/useQueryTokenPrice.ts
  packages/svg/package.json
  packages/svg/src/chain/index.stories.tsx
  packages/svg/src/chain/index.tsx
  packages/tables/src/(components)/card/chain-card.tsx
  packages/tables/src/(components)/card/index.ts
  packages/tables/src/(components)/card/not-available-testnet-card.tsx
  packages/tables/src/token/card/token-card-price.tsx
  packages/tables/src/token/token-table.tsx
  packages/ui/src/components/button-icon.tsx
  packages/ui/src/components/button.tsx
  pnpm-lock.yaml
  rustc-ice-2024-02-18T03_20_54-90568.txt
Due: js, rust, Javascript, Rust

feat: ini demo pathname
  packages/hooks/src/index.ts
  packages/hooks/src/useIsDemoPathname.ts
  packages/tables/src/nft/card/nft-card.tsx
  packages/tables/src/token/actions/token-table-row-actions.tsx
Due: js, Javascript

chore: ini base wrapper refactor
  packages/ui/src/wrappers/base/base-wrapper.ts
Due: js, Javascript

chore: update
  .changeset/grumpy-moons-wave.md
Due: none

chore: token card prices
  packages/hooks/src/useIsDemoPathname.ts
  packages/tables/src/token/actions/token-table-row-actions.tsx
  packages/tables/src/token/card/token-card-price.tsx
  packages/tables/src/token/card/token-card-sparkline.tsx
  packages/tables/src/token/token-columns.tsx
Due: js, Javascript

feat: ini demo pathname (#1679)
  .changeset/grumpy-moons-wave.md
  packages/hooks/src/index.ts
  packages/hooks/src/useIsDemoPathname.ts
  packages/tables/src/nft/card/nft-card.tsx
  packages/tables/src/token/actions/token-table-row-actions.tsx
  packages/tables/src/token/card/token-card-price.tsx
  packages/tables/src/token/card/token-card-sparkline.tsx
  packages/tables/src/token/token-columns.tsx
  packages/ui/src/wrappers/base/base-wrapper.ts
Due: js, Javascript

chore: ini row actions
  packages/tables/src/token/actions/token-table-row-actions.tsx
  packages/tables/src/token/token-columns.tsx
Due: js, Javascript

chore: ini row actions (#1680)
  packages/tables/src/token/actions/token-table-row-actions.tsx
  packages/tables/src/token/token-columns.tsx
Due: js, Javascript

chore: ini readme
  README.md
Due: none

chore: ini readme (#1681)
  README.md
Due: none

feat: ini bop
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/billing_operation.rs
  crates/consumer/src/topics/mod.rs
  crates/kafka/src/namespace.rs
  crates/kafka/src/topics/billing_operation.rs
  crates/kafka/src/topics/mod.rs
  crates/kafka/src/types/billing_operation.rs
  crates/kafka/src/types/mod.rs
  packages/tables/src/nft/card/nft-card.tsx
  packages/tables/src/token/actions/token-table-row-actions.tsx
Due: js, rust, Javascript, Rust

feat: ini bop (#1682)
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/billing_operation.rs
  crates/consumer/src/topics/mod.rs
  crates/kafka/src/namespace.rs
  crates/kafka/src/topics/billing_operation.rs
  crates/kafka/src/topics/mod.rs
  crates/kafka/src/types/billing_operation.rs
  crates/kafka/src/types/mod.rs
  packages/tables/src/nft/card/nft-card.tsx
  packages/tables/src/token/actions/token-table-row-actions.tsx
Due: js, rust, Javascript, Rust

chore: ini init bop
  Cargo.lock
  Cargo.toml
  crates/billing/Cargo.toml
  crates/billing/src/billing.rs
  crates/billing/src/config.rs
  crates/billing/src/lib.rs
  crates/billing/tests/.gitkeep
Due: rust, Rust

chore: ini log
  Cargo.lock
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/covalent/.gitignore
  crates/covalent/Cargo.toml
  crates/covalent/tests/it/test.rs
Due: js, rust, Javascript, Rust

chore: update
  .clippy.toml
  Cargo.toml
  Dockerfile
  Makefile
  rust-toolchain.toml
Due: none

chore: update schema
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/transaction/list.rs
  crates/db/src/models/transaction.rs
Due: js, rust, Javascript, Rust

chore: update tx wallet
  configurations/prisma/migrations/init_wallet_transactions.sql
Due: js, Javascript

chore: ini tx hash
  apps/inngest/src/inngest/prismaSchemaChore.ts
Due: js, Javascript

chore: update
  apps/inngest/app/api/inngest/route.ts
Due: js, Javascript

chore: ini wallet tx (#1684)
  apps/inngest/app/api/inngest/route.ts
  apps/inngest/src/inngest/prismaSchemaChore.ts
  configurations/prisma/migrations/init_wallet_transactions.sql
Due: js, Javascript

chore: update
  apps/inngest/src/inngest/prismaSchemaChore.ts
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
