Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: ini ownder base
  apps/app/app/(demo)/@create/(.)demo/create/page.tsx
  apps/app/app/(demo)/@op/(.)demo/op/[userOperationHash]/page.tsx
  apps/app/app/(demo)/@send/(.)demo/send/page.tsx
  apps/app/app/(demo)/demo/activity/layout.tsx
  apps/app/app/(demo)/demo/activity/page.tsx
  apps/app/app/(demo)/demo/op/layout.tsx
  apps/app/app/(demo)/demo/op/page.tsx
  apps/app/app/(demo)/demo/overview/history/page.tsx
  apps/app/app/(demo)/demo/overview/layout.tsx
  apps/app/app/(demo)/demo/overview/nfts/page.tsx
  apps/app/app/(demo)/demo/overview/page.tsx
  apps/app/app/(demo)/demo/overview/tokens/page.tsx
  apps/app/app/(demo)/demo/owners/layout.tsx
  apps/app/app/(demo)/demo/owners/page.tsx
  apps/app/app/(demo)/demo/page.tsx
  apps/app/app/(demo)/demo/send/layout.tsx
  apps/app/app/(demo)/demo/send/page.tsx
  apps/app/app/(demo)/demo/transactions/history/page.tsx
  apps/app/app/(demo)/demo/transactions/layout.tsx
  apps/app/app/(demo)/demo/transactions/page.tsx
  apps/app/app/(demo)/demo/transactions/queue/page.tsx
  apps/app/app/(unauthenticated)/page.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/(wallet)/[address]/send/new/page.tsx
Due: js, Javascript

fix: upd
  .changeset/slimy-toes-cry.md
Due: none

chore: ini overview board
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
Due: js, Javascript

chore: auto fix commit
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
Due: js, Javascript

chore: upda page (#1645)
  .changeset/slimy-toes-cry.md
  apps/app/app/(demo)/@create/(.)demo/create/page.tsx
  apps/app/app/(demo)/@op/(.)demo/op/[userOperationHash]/page.tsx
  apps/app/app/(demo)/@send/(.)demo/send/page.tsx
  apps/app/app/(demo)/demo/activity/layout.tsx
  apps/app/app/(demo)/demo/activity/page.tsx
  apps/app/app/(demo)/demo/op/layout.tsx
  apps/app/app/(demo)/demo/op/page.tsx
  apps/app/app/(demo)/demo/overview/history/page.tsx
  apps/app/app/(demo)/demo/overview/layout.tsx
  apps/app/app/(demo)/demo/overview/nfts/page.tsx
  apps/app/app/(demo)/demo/overview/page.tsx
  apps/app/app/(demo)/demo/overview/tokens/page.tsx
  apps/app/app/(demo)/demo/owners/layout.tsx
  apps/app/app/(demo)/demo/owners/page.tsx
  apps/app/app/(demo)/demo/page.tsx
  apps/app/app/(demo)/demo/send/layout.tsx
  apps/app/app/(demo)/demo/send/page.tsx
  apps/app/app/(demo)/demo/transactions/history/page.tsx
  apps/app/app/(demo)/demo/transactions/layout.tsx
  apps/app/app/(demo)/demo/transactions/page.tsx
  apps/app/app/(demo)/demo/transactions/queue/page.tsx
  apps/app/app/(unauthenticated)/page.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/(wallet)/[address]/send/new/page.tsx
Due: js, Javascript

feat: complete refactor queued
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/@op/(.)[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/layout.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-section.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/@nav/queue/page.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/app/(wallet)/[address]/transactions/queue/page.tsx
  apps/app/src/handlers/paths/[address]/transactions/handler.ts
  apps/app/src/handlers/paths/[address]/transactions/queue/handler.ts
  apps/app/src/hooks/useTabs.tsx
  apps/app/src/preloaders/paths/[address]/transactions/preloader.ts
  apps/app/src/preloaders/paths/[address]/transactions/queue/preloader.ts
  apps/frames/app/api/frame/route.ts
  crates/axum/src/routes/user_operation/list.rs
  packages/client/src/api/user_operation.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationCreate.ts
  packages/query/src/useMutationUserOperationSend.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/loud-wombats-nail.md
Due: none

feat: ini queued (#1646)
  .changeset/loud-wombats-nail.md
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/@op/(.)[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/layout.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-section.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/@nav/queue/page.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/app/(wallet)/[address]/transactions/queue/page.tsx
  apps/app/src/handlers/paths/[address]/transactions/handler.ts
  apps/app/src/handlers/paths/[address]/transactions/queue/handler.ts
  apps/app/src/hooks/useTabs.tsx
  apps/app/src/preloaders/paths/[address]/transactions/preloader.ts
  apps/app/src/preloaders/paths/[address]/transactions/queue/preloader.ts
  apps/frames/app/api/frame/route.ts
  crates/axum/src/routes/user_operation/list.rs
  packages/client/src/api/user_operation.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationCreate.ts
  packages/query/src/useMutationUserOperationSend.ts
Due: js, rust, Javascript, Rust

fix: op queue
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/@op/(.)[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
  apps/app/app/(wallet)/[address]/send/new/page.tsx
  packages/elements/src/invoke-button.tsx
Due: js, Javascript

chore: update
  .changeset/five-eggs-raise.md
Due: none

chore: update op ye
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/layout.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
Due: js, Javascript

chore: ini op foot
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
  packages/query/src/useMutationUserOperationSend.ts
Due: js, Javascript

chore: update
  packages/query/src/useMutationUserOperationSend.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
Due: js, Javascript

chore: ini queue handler (#1647)
  .changeset/five-eggs-raise.md
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/@op/(.)[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/layout.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/send/new/page.tsx
  packages/elements/src/invoke-button.tsx
  packages/query/src/useMutationUserOperationSend.ts
Due: js, Javascript

feat: ini wallet settings dev
  apps/app/app/(wallet)/[address]/settings/(components)/settings-dev-card.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/handler.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/wallet_settings/types.rs
  packages/client/src/types/api/v1.d.ts
  packages/data/src/walletSettings.ts
  packages/params/src/walletSettings.ts
Due: js, rust, Javascript, Rust

feat: ini dev layout
  apps/app/app/(wallet)/[address]/dev/layout.tsx
  apps/app/app/(wallet)/[address]/dev/page.tsx
  apps/app/src/const/tabs.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/dev/handler.ts
  apps/app/src/hooks/useTabs.tsx
  apps/app/src/preloaders/paths/[address]/dev/preloader.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/dev/layout.tsx
Due: js, Javascript

chore: update
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

chore: update
  .changeset/olive-cobras-report.md
Due: none

feat: ini dev mode (#1648)
  .changeset/olive-cobras-report.md
  apps/app/app/(wallet)/[address]/dev/layout.tsx
  apps/app/app/(wallet)/[address]/dev/page.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-dev-card.tsx
  apps/app/src/const/index.ts
  apps/app/src/const/tabs.tsx
  apps/app/src/const/titles.ts
  apps/app/src/handlers/paths/[address]/dev/handler.ts
  apps/app/src/hooks/useTabs.tsx
  apps/app/src/preloaders/paths/[address]/dev/preloader.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/wallet_settings/types.rs
  packages/client/src/types/api/v1.d.ts
  packages/data/src/walletSettings.ts
Due: js, rust, Javascript, Rust

feat: ini fix dev mode
  apps/app/src/const/titles.ts
  crates/axum/src/routes/interpretation_action/list.rs
  crates/axum/src/routes/wallet_settings/update.rs
  packages/client/src/api/wallet_settings.ts
  packages/forms/package.json
  packages/query/src/useMutationWalletSettingsUpdate.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini address form
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  packages/forms/.depcheckrc.yml
  packages/forms/package.json
  packages/forms/src/address-form.stories.tsx
  packages/forms/src/address-form.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/chatty-ravens-hug.md
Due: none

chore: update
  packages/forms/package.json
  packages/forms/src/address-form.stories.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update addr
  .commitlintrc.js
  .husky/commit-msg
  apps/app/package.json
  apps/app/src/const/tabs.tsx
  apps/assets/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/storybook/package.json
  apps/subgraph/package.json
  configurations/eslint/package.json
  package.json
  packages/background/package.json
  packages/client/package.json
  packages/const/package.json
  packages/content/package.json
  packages/elements/package.json
  packages/forms/package.json
  packages/forms/src/address-form.stories.tsx
  packages/forms/src/address-form.tsx
  packages/inpage/package.json
  packages/modals/package.json
  packages/msw/package.json
  packages/nuqs/package.json
  packages/popup/package.json
  packages/query-keys/package.json
  packages/query/package.json
  packages/services/package.json
  packages/states/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/wagmi/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  package.json
  pnpm-lock.yaml
Due: none

chore: auto fix commit
  packages/forms/src/address-form.stories.tsx
  packages/forms/src/address-form.tsx
Due: js, Javascript

feat: ini settings schema
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/settings/appearance/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/notifications/(components)/settings-notification-card.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-dev-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/src/components/feedback/feedback-form.tsx
  packages/forms/package.json
  packages/forms/src/address-form.stories.tsx
  packages/nuqs/src/useOwnersQueryState.ts
  packages/schemas/package.json
  packages/schemas/src/form/confirmForm.ts
  packages/schemas/src/form/newForm.ts
  packages/schemas/src/form/sendForm.ts
  packages/schemas/src/index.ts
  packages/schemas/src/web3/address.ts
  packages/schemas/src/web3/addressOrEns.ts
  packages/schemas/src/web3/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: ini address form
  packages/forms/src/address-form.stories.tsx
  packages/forms/src/address-form.tsx
Due: js, Javascript

chore: ini address form up
  packages/forms/.depcheckrc.yml
  packages/forms/package.json
  packages/forms/src/address-form.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: ini addr form val
  packages/forms/src/address-form.stories.tsx
  packages/forms/src/address-form.tsx
Due: js, Javascript

chore: update
  packages/forms/src/address-form.stories.tsx
  packages/forms/src/address-form.tsx
Due: js, Javascript

chore: ini timeline orb
  packages/elements/package.json
  packages/elements/src/user-operation-timeline.stories.tsx
Due: js, Javascript

chore: update
  packages/elements/src/placeholder-orb.stories.tsx
Due: js, Javascript

chore: ini icon
  packages/elements/src/ens-address.stories.tsx
  packages/elements/src/ens-address.tsx
  packages/elements/src/index.ts
  packages/forms/package.json
  packages/forms/src/address-form.tsx
  packages/wagmi/src/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: ini addr
  packages/forms/.depcheckrc.yml
  packages/forms/package.json
  packages/forms/src/address-form.tsx
  pnpm-lock.yaml
Due: js, Javascript
