Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  .vscode/settings.json
  Makefile
  scripts/sync_remappings.sh
Due: none

chore: ini tree (#2411)
  .vscode/settings.json
  Makefile
  contracts/src/LightVault.sol
  foundry.toml
  remappings.txt
  scripts/sync_remappings.sh
Due: contracts, Contracts

feat: update
  .storage-layouts
  Makefile
  contracts/abis/LightVault/LightVault.json
  contracts/abis/LightVaultFactory/LightVaultFactory.json
  contracts/src/LightVaultFactory.sol
Due: contracts, Contracts

feat: ini vault opt
  .gas-snapshot
  contracts/build.sh
  opt/LightDAG/LightDAG.json
  opt/LightPaymaster/LightPaymaster.json
  opt/LightTimelockController/LightTimelockController.json
  opt/LightTimelockControllerFactory/LightTimelockControllerFactory.json
  opt/LightVault/LightVault.json
  opt/LightWallet/LightWallet.json
  opt/LightWalletFactory/LightWalletFactory.json
  wagmi.config.ts
Due: none

feat: ini opt file
  contracts/build.sh
  opt/LightDAG.sol/LightDAG.json
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightVault.sol/LightVault.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
Due: none

chore: update
  .contracts-size
  .storage-layouts
Due: none

chore: update
  .changeset/olive-pans-heal.md
Due: none

feat: ini vault test (#2412)
  .changeset/olive-pans-heal.md
  .contracts-size
  .gas-snapshot
  .storage-layouts
  Makefile
  contracts/abis/LightVault/LightVault.json
  contracts/abis/LightVaultFactory/LightVaultFactory.json
  contracts/build.sh
  contracts/src/LightVaultFactory.sol
  opt/LightDAG.sol/LightDAG.json
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightVault.sol/LightVault.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
  wagmi.config.ts
Due: contracts, Contracts

feat: ini nf
  apps/docs/app/not-found.tsx
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/.storybook/storybook.css
  apps/storybook/package.json
  apps/storybook/vite.config.ts
  packages/roots/src/light/index.ts
  packages/roots/src/root/root.tsx
  packages/templates/src/index.ts
  packages/templates/src/not-found/index.ts
  packages/templates/src/not-found/not-found.stories.tsx
  packages/templates/src/not-found/not-found.tsx
  packages/utils/src/debounce.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini not found page
  apps/app/app/not-found.tsx
  apps/blog/app/not-found.tsx
  apps/changelog/app/not-found.tsx
  apps/docs/app/not-found.tsx
  apps/explorer/app/not-found.tsx
  apps/home/app/not-found.tsx
  apps/proposals/app/not-found.tsx
  packages/templates/src/not-found/not-found.tsx
Due: js, Javascript

chore: update
  .changeset/friendly-bats-look.md
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  packages/roots/.depcheckrc.yml
  packages/roots/package.json
  packages/roots/src/root/root.tsx
  pnpm-lock.yaml
Due: js, Javascript

feat: ini not found (#2413)
  .changeset/friendly-bats-look.md
  apps/app/app/not-found.tsx
  apps/blog/app/not-found.tsx
  apps/changelog/app/not-found.tsx
  apps/docs/app/not-found.tsx
  apps/explorer/app/not-found.tsx
  apps/home/app/not-found.tsx
  apps/proposals/app/not-found.tsx
  apps/storybook/.depcheckrc.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/.storybook/storybook.css
  apps/storybook/package.json
  apps/storybook/vite.config.ts
  packages/roots/.depcheckrc.yml
  packages/roots/package.json
  packages/roots/src/light/index.ts
  packages/roots/src/root/root.tsx
  packages/templates/src/index.ts
  packages/templates/src/not-found/index.ts
  packages/templates/src/not-found/not-found.stories.tsx
  packages/templates/src/not-found/not-found.tsx
  packages/utils/src/debounce.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini nf
  apps/app/app/(wallet)/not-found.tsx
  apps/app/src/components/not-found.tsx
  apps/docs/content/fees.mdx
  apps/docs/content/guides.mdx
  hardhat.config.ts
Due: js, Javascript

feat: ini add gem
  apps/docs/content/contracts/deployment.mdx
  apps/docs/content/contracts/index.mdx
  apps/docs/content/getting-started.mdx
  apps/docs/content/goals.mdx
  apps/docs/content/guides/flow.mdx
  apps/docs/content/guides/index.mdx
  apps/docs/content/index.mdx
  apps/docs/content/meta.json
  apps/docs/content/mvp.mdx
  apps/docs/content/overview.mdx
  apps/docs/content/protocol/architecture.mdx
  apps/docs/content/protocol/fees.mdx
  apps/docs/content/protocol/index.mdx
  apps/docs/content/protocol/meta.json
  apps/docs/content/show.mdx
  packages/templates/src/not-found/not-found.tsx
Due: js, Javascript

feat: update
  packages/templates/src/not-found/not-found.tsx
Due: js, Javascript

chore: update
  apps/docs/content/getting-started.mdx
  apps/docs/content/problem.mdx
Due: js, Javascript

chore: update
  apps/docs/content/problem.mdx
Due: js, Javascript

chore: update
  apps/docs/content/protocol/architecture.mdx
Due: js, Javascript

feat: ini vault
  apps/docs/content/protocol/intents.mdx
  apps/subgraph/abis/EntryPointv0.6.0.json
  apps/subgraph/abis/IERC20.json
  apps/subgraph/abis/LightVaultv0.1.0.json
  apps/subgraph/abis/LightWalletFactoryv0.2.0.json
  apps/subgraph/abis/LightWalletv0.2.0.json
  apps/subgraph/generated/EntryPointv0.6.0/EntryPoint.ts
  apps/subgraph/generated/EntryPointv0.6.0/LightWallet.ts
  apps/subgraph/generated/EntryPointv0.6.0/LightWalletFactory.ts
  apps/subgraph/generated/LightVaultv0.1.0/IERC20.ts
  apps/subgraph/generated/LightVaultv0.1.0/LightVault.ts
  apps/subgraph/generated/schema.ts
  apps/subgraph/schema.graphql
  apps/subgraph/src/counter.ts
  apps/subgraph/src/light-vault.ts
  apps/subgraph/subgraph.yaml
  project-words.txt
Due: js, Javascript

chore: update
  .vscode/settings.json
  project-words.txt
Due: none

chore: update
  .lintstagedrc.js
  apps/docs/content/protocol/network.mdx
Due: js, Javascript

chore: update
  apps/docs/content/protocol/network.mdx
Due: js, Javascript

chore: update
  .changeset/nine-years-care.md
  apps/subgraph/src/config.ts
  apps/subgraph/src/const.ts
  apps/subgraph/src/counter.ts
  apps/subgraph/src/entry-point.ts
  apps/subgraph/src/light-vault.ts
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/src/log.ts
  apps/subgraph/src/transaction.ts
  apps/subgraph/src/user-operation.ts
Due: js, Javascript

chore: update
  apps/subgraph/src/light-vault.ts
Due: js, Javascript

chore: ini handle op
  apps/subgraph/abis/EntryPointv0.7.0.json
  apps/subgraph/generated/EntryPointv0.7.0/EntryPoint.ts
  apps/subgraph/generated/EntryPointv0.7.0/LightWallet.ts
  apps/subgraph/generated/EntryPointv0.7.0/LightWalletFactory.ts
  apps/subgraph/src/entry-point-v0.6.0.ts
  apps/subgraph/src/entry-point-v0.7.0.ts
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/subgraph.yaml
  project-words.txt
Due: js, Javascript

chore: update
  apps/subgraph/src/light-wallet.ts
Due: js, Javascript

chore: update
  apps/subgraph/src/light-wallet.ts
  apps/subgraph/src/user-operation.ts
  apps/subgraph/subgraph.yaml
  apps/subgraph/tests/.latest.json
  apps/subgraph/tests/user-operation.test.ts
Due: js, Javascript

chore: update
  apps/subgraph/.gitignore
  apps/subgraph/tests/.latest.json
Due: js, Javascript

chore: update
  apps/subgraph/src/user-operation.ts
Due: js, Javascript

feat: ini proj words
  apps/subgraph/src/user-operation.ts
  apps/subgraph/tests/user-operation.test.ts
  project-words.txt
Due: js, Javascript

feat: ini rom
  apps/extension/turbo.json
  package.json
  packages/resources/turbo.json
Due: js, Javascript

feat: ini dep wallet
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/query/src/useQueryWallet.ts
  packages/query/src/useQueryWalletSettings.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
Due: js, Javascript

chore: update
  .changeset/afraid-clocks-return.md
Due: none
