Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  scripts/add_recursive_flag.sh
Due: none

feat: ini configuration (#761)
  Makefile
  crates/axum/src/routes/user_operation.rs
  scripts/add_recursive_flag.sh
Due: rust, Rust

chore: ini optional configurations
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/signature.rs
Due: rust, Rust

perf: ini list handlerrr
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: deprecate optional query
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

feat: ini user operation
  crates/axum/src/lib.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/traits.rs
  crates/axum/src/utils.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: ini uop
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: into transaction
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  crates/axum/src/utils.rs
Due: rust, Rust

chore: ini hex to bytes
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: updat
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini config
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

feat: ini solutions sig
  crates/axum/src/result.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/traits.rs
  crates/axum/src/utils.rs
  crates/solutions/src/module.rs
  crates/solutions/src/signature.rs
  crates/solutions/src/utils.rs
Due: rust, Rust

perf: update sig
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

perf: ini signature body
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: ini optional configurations (#762)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/lib.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/transaction.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
  crates/axum/src/traits.rs
  crates/axum/src/utils.rs
  crates/solutions/src/module.rs
  crates/solutions/src/signature.rs
  crates/solutions/src/utils.rs
Due: js, rust, Javascript, Rust

fix: ini hash check
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

chore: update
  crates/axum/src/lib.rs
Due: rust, Rust

chore: update
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
  packages/client/turbo.json
Due: js, Javascript

perf: ini handler
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/src/components/transaction-dialog.tsx
Due: js, Javascript

perf: ini chain limit
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/turbo.json
Due: js, Javascript

perf: ini sig params
  crates/axum/src/api.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

perf: ini sig api
  crates/axum/src/api.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

fix: ini hash check (#766)
  Cargo.lock
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/turbo.json
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/lib.rs
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
  packages/client/turbo.json
Due: js, rust, Javascript, Rust

feat: ini satsuma
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
Due: js, Javascript

perf: ini uop
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

perf: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/wallet.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  crates/axum/src/routes/wallet.rs
Due: js, rust, Javascript, Rust

feat: ini satsuma (#767)
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/wallet.rs
  packages/client/src/index.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

fix: misc
  .github/workflows/contracts.yml
Due: none

chore: update
  apps/app/src/components/wallet-switcher.tsx
Due: js, Javascript

chore: misc
  .github/workflows/deploy.yml
  apps/subgraph/package.json
Due: js, Javascript

chore: update
  packages/client/src/v1.d.ts
Due: js, Javascript

perf: ini tx dialog
  apps/app/src/components/transaction-dialog.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
