Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

feat: ini api client (#1227)
  Makefile
  apps/app/src/handlers/paths/[address]/op/handler.ts
  apps/app/src/services/getActivities.ts
  apps/app/src/services/getActivitiesCount.ts
  apps/app/src/services/getConfiguration.ts
  apps/app/src/services/getPortfolio.ts
  apps/app/src/services/getTokens.ts
  apps/app/src/services/getTokensCount.ts
  apps/app/src/services/getTransactions.ts
  apps/app/src/services/getTransactionsCount.ts
  apps/app/src/services/getUserOperation.ts
  apps/app/src/services/getUserOperationNonce.ts
  apps/app/src/services/getUserOperations.ts
  apps/app/src/services/getUserOperationsCount.ts
  apps/app/src/services/getWallet.ts
  apps/app/src/services/getWalletSettings.ts
  crates/axum/src/api.rs
  crates/axum/src/rpc.rs
  packages/client/src/api/activity.ts
  packages/client/src/api/auth.ts
  packages/client/src/api/configuration.ts
  packages/client/src/api/feedback.ts
  packages/client/src/api/invite_code.ts
  packages/client/src/api/paymaster_operation.ts
  packages/client/src/api/portfolio.ts
  packages/client/src/api/token.ts
  packages/client/src/api/token_price.ts
  packages/client/src/api/transaction.ts
  packages/client/src/api/user.ts
  packages/client/src/api/user_operation.ts
  packages/client/src/api/wallet.ts
  packages/client/src/client.ts
  packages/client/src/rpc/index.ts
Due: js, rust, Javascript, Rust

chore: ini local forge
  .github/workflows/contracts.yml
Due: none

chore: update
  crates/axum/src/api.rs
  crates/axum/src/routes/queue/mod.rs
  crates/axum/src/routes/queue/token.rs
  crates/redis/src/rate_limit.rs
Due: rust, Rust

chore: update
  packages/client/src/api/queue.ts
  packages/client/src/v1.d.ts
Due: js, Javascript

chore: update
  apps/app/src/components/nft/nfts-list.tsx
Due: js, Javascript

chore: update shearaton
  crates/axum/src/error.rs
  crates/axum/src/routes/queue/error.rs
  crates/axum/src/routes/queue/token.rs
  crates/redis/src/query/token.rs
Due: rust, Rust

chore: ini target queue
  crates/axum/src/routes/queue/token.rs
  crates/redis/src/query/token.rs
Due: rust, Rust

chore: update
  apps/app/app/api/queue/covalent/route.ts
Due: js, Javascript

feat: ini verify nonce
  crates/axum/src/api.rs
  crates/axum/src/routes/queue/mod.rs
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/wallet/create.rs
  crates/redis/src/namespace.rs
  crates/redis/src/query/mod.rs
  crates/redis/src/query/portfolio.rs
  packages/client/src/api/queue.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini verify nonce (#1229)
  crates/axum/src/api.rs
  crates/axum/src/routes/queue/mod.rs
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/wallet/create.rs
  crates/redis/src/namespace.rs
  crates/redis/src/query/mod.rs
  crates/redis/src/query/portfolio.rs
  packages/client/src/api/queue.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini handlers update
  apps/app/app/(wallet)/[address]/@send/(.)send/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/send/page.tsx
  apps/app/src/components/nft/nfts-list.tsx
  apps/app/src/handlers/paths/[address]/send/handler.ts
Due: js, Javascript

feat: ini handlers update (#1230)
  apps/app/app/(wallet)/[address]/@send/(.)send/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/send/page.tsx
  apps/app/src/components/nft/nfts-list.tsx
  apps/app/src/handlers/paths/[address]/send/handler.ts
Due: js, Javascript

fix: queries param
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
Due: js, Javascript

fix: queries param (#1231)
  apps/app/app/(wallet)/[address]/overview/nfts/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table-toolbar.tsx
Due: js, Javascript

fix: ini empty table
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table.tsx
Due: js, Javascript

feat: ini mode blur for useForm
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/src/components/feedback/feedback-form.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/src/schemas/newForm.ts
Due: js, Javascript

fix: empty table (#1232)
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-appearance-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(authenticated)/wallets/(components)/wallets-data-table.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/activity-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/history/(components)/history-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-name-card.tsx
  apps/app/app/(wallet)/[address]/settings/(components)/settings-testnet-card.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table.tsx
  apps/app/src/components/feedback/feedback-form.tsx
  apps/app/src/schemas/newForm.ts
Due: js, Javascript

fix: table issues
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
  apps/app/middleware.ts
Due: js, Javascript

fix: table issues (#1233)
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/columns.tsx
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
  apps/app/middleware.ts
Due: js, Javascript

chore: refactor axum comments
  crates/axum/src/routes/activity/get.rs
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration/list.rs
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/invite_code/get.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/notification/get.rs
  crates/axum/src/routes/notification/list.rs
  crates/axum/src/routes/paymaster/get.rs
  crates/axum/src/routes/paymaster/list.rs
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/portfolio/get.rs
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/queue/token.rs
  crates/axum/src/routes/signature/get.rs
  crates/axum/src/routes/signature/list.rs
  crates/axum/src/routes/signature/post.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/token/get.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/transaction/get.rs
  crates/axum/src/routes/transaction/list.rs
  crates/axum/src/routes/user/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/list.rs
  crates/axum/src/routes/user_operation/nonce.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/update.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/get.rs
  crates/axum/src/routes/wallet/list.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_settings/get.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: rust, Rust

chore: ini kafka consumer typings
  crates/kafka/src/topics/activity.rs
  crates/kafka/src/topics/covalent.rs
  crates/kafka/src/topics/portfolio.rs
  crates/kafka/src/topics/transaction.rs
Due: rust, Rust

chore: ini activity pagination handelr
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/src/handlers/paths/[address]/activity/handler.ts
Due: js, Javascript

chore: ini activity pagination handelr (#1235)
  apps/app/app/(wallet)/[address]/activity/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/src/handlers/paths/[address]/activity/handler.ts
Due: js, Javascript

chore: ini axum comments
  crates/axum/src/routes/activity/get.rs
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration/list.rs
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/invite_code/get.rs
  crates/axum/src/routes/invite_code/list.rs
  crates/axum/src/routes/notification/get.rs
  crates/axum/src/routes/notification/list.rs
  crates/axum/src/routes/paymaster/get.rs
  crates/axum/src/routes/paymaster/list.rs
  crates/axum/src/routes/paymaster_operation/get.rs
  crates/axum/src/routes/paymaster_operation/list.rs
  crates/axum/src/routes/portfolio/get.rs
  crates/axum/src/routes/queue/portfolio.rs
  crates/axum/src/routes/queue/token.rs
  crates/axum/src/routes/signature/get.rs
  crates/axum/src/routes/signature/list.rs
  crates/axum/src/routes/signature/post.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/token/get.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/transaction/get.rs
  crates/axum/src/routes/transaction/list.rs
  crates/axum/src/routes/user/get.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/list.rs
  crates/axum/src/routes/user_operation/nonce.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/update.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/get.rs
  crates/axum/src/routes/wallet/list.rs
  crates/axum/src/routes/wallet_settings/get.rs
  crates/axum/src/routes/wallet_settings/update.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/invite_code/list.rs
Due: rust, Rust

chore: ini pnp color
  configurations/styles/global.css
Due: js, Javascript

chore: ini tailwind colors
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
  apps/ui/src/components/color/color.stories.mdx
  configurations/tailwindcss/src/index.js
Due: js, Javascript

chore: ini color
  configurations/styles/global.css
Due: js, Javascript

chore: ini pnp color (#1236)
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
  apps/ui/src/components/color/color.stories.mdx
  configurations/styles/global.css
  configurations/tailwindcss/src/index.js
Due: js, Javascript

chore(main): release v0.1.2
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: auto fix commit
  CHANGELOG.md
Due: none

chore(main): release v0.1.2 (#1127)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

feat: complete refactor stories
  apps/ui/src/components/ui/accordion.stories.tsx
  apps/ui/src/components/ui/accordion.tsx
  apps/ui/src/components/ui/alert-dialog.stories.tsx
  apps/ui/src/components/ui/alert-dialog.tsx
  apps/ui/src/components/ui/alert.stories.tsx
  apps/ui/src/components/ui/alert.tsx
  apps/ui/src/components/ui/aspect-ratio.stories.tsx
  apps/ui/src/components/ui/aspect-ratio.tsx
  apps/ui/src/components/ui/avatar.stories.tsx
  apps/ui/src/components/ui/avatar.tsx
  apps/ui/src/components/ui/badge.stories.tsx
  apps/ui/src/components/ui/badge.tsx
Due: js, Javascript

feat: complete refactor badge
  apps/ui/src/components/ui/badge.stories.tsx
  apps/ui/src/components/ui/badge.tsx
Due: js, Javascript

fix: ini badge variants
  apps/ui/src/components/ui/badge.stories.tsx
  apps/ui/src/components/ui/badge.tsx
Due: js, Javascript

chore: update
  apps/ui/src/components/ui/badge.stories.tsx
Due: js, Javascript
