Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  crates/solutions/tests/it/signatures.rs
  crates/solutions/tests/it/snapshots/it__signatures__1.snap.new
Due: rust, Rust

feat: ini node hash
  crates/solutions/src/config.rs
  crates/solutions/src/lib.rs
  crates/solutions/src/module.rs
  crates/solutions/src/node.rs
  crates/solutions/tests/it/config.rs
  crates/solutions/tests/it/main.rs
  crates/solutions/tests/it/node.rs
Due: rust, Rust

chore: update
  crates/solutions/src/module.rs
  crates/solutions/src/node.rs
  crates/solutions/tests/it/config.rs
  crates/solutions/tests/it/recover.rs
  crates/solutions/tests/it/snapshots/it__signatures__1.snap
  crates/solutions/tests/it/snapshots/it__signatures__1.snap.new
  crates/solutions/tests/it/snapshots/it__signatures__2.snap
  crates/solutions/tests/it/snapshots/it__signatures__3.snap
  crates/solutions/tests/samples/wallet_config_1.json
  crates/solutions/tests/samples/wallet_config_2.json
  crates/solutions/tests/samples/wallet_config_3.json
  crates/solutions/tests/samples/wallet_config_4.json
  crates/solutions/tests/samples/wallet_config_5.json
Due: rust, Rust

chore: update
  crates/solutions/src/module.rs
Due: rust, Rust

chore: update
  crates/solutions/src/node.rs
Due: rust, Rust

perf: update
  crates/solutions/tests/it/config.rs
Due: rust, Rust

chore: update
  crates/solutions/tests/it/config.rs
Due: rust, Rust

fix: recover sig (#723)
  .gas-snapshot
  Cargo.toml
  contracts/test/integration/flow/eth/ReceiveEth.t.sol
  contracts/test/integration/flow/eth/ReceiveEth.tree
  crates/graphql/Cargo.toml
  crates/solutions/Cargo.toml
  crates/solutions/src/config.rs
  crates/solutions/src/lib.rs
  crates/solutions/src/module.rs
  crates/solutions/src/node.rs
  crates/solutions/src/recover.rs
  crates/solutions/src/signature.rs
  crates/solutions/tests/it/config.rs
  crates/solutions/tests/it/main.rs
  crates/solutions/tests/it/node.rs
  crates/solutions/tests/it/recover.rs
  crates/solutions/tests/it/signatures.rs
  crates/solutions/tests/it/snapshots/it__signatures__0.snap
  crates/solutions/tests/it/snapshots/it__signatures__1.snap
  crates/solutions/tests/it/snapshots/it__signatures__2.snap
  crates/solutions/tests/it/snapshots/it__signatures__3.snap
  crates/solutions/tests/samples/wallet_config_0.json
  crates/solutions/tests/samples/wallet_config_1.json
  crates/solutions/tests/samples/wallet_config_2.json
  crates/solutions/tests/samples/wallet_config_3.json
  crates/solutions/tests/samples/wallet_config_4.json
  crates/solutions/tests/samples/wallet_config_5.json
Due: rust, Rust

feat: ini builder
  crates/solutions/src/builder.rs
  crates/solutions/src/config.rs
  crates/solutions/src/lib.rs
  crates/solutions/src/node.rs
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_1.snap
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_2.snap
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_3.snap
  crates/solutions/tests/it/config.rs
Due: rust, Rust

chore: update
  crates/solutions/src/builder.rs
  crates/solutions/src/config.rs
Due: rust, Rust

feat: ini builder (#724)
  crates/solutions/src/builder.rs
  crates/solutions/src/config.rs
  crates/solutions/src/lib.rs
  crates/solutions/src/node.rs
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_1.snap
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_2.snap
  crates/solutions/src/snapshots/lightdotso_solutions__builder__tests__config_3.snap
Due: rust, Rust

fix: cargo impl
  Cargo.lock
  Cargo.toml
Due: none

chore: update
  crates/package.json
Due: rust, Rust

fix: cargo impl (#725)
  Cargo.lock
  Cargo.toml
  crates/package.json
Due: rust, Rust

perf: ini wallet create
  crates/axum/src/routes/wallet.rs
  fly/graph/Dockerfile
  fly/graph/README.md
  fly/graph/fly.toml
  fly/graph/nginx/admin
  fly/graph/nginx/default
  fly/graph/nginx/graphiql
  fly/graph/nginx/index_node
  fly/graph/nginx/metrics
  fly/graph/run-node
  fly/indexer/fly.toml
  fly/ipfs/Dockerfile
  fly/ipfs/fly.toml
  fly/ipfs/ipfs-config.sh
Due: rust, Rust

chore: update
  .github/workflows/fly.yml
Due: none

chore: update
  fly/indexer/fly.toml
Due: none

perf: ini wallet create post query
  crates/axum/src/api.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/result.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

perf: ini request params
  Cargo.lock
  Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

perf: ini default
  crates/axum/src/api.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

perf: update wallet config
  crates/axum/src/result.rs
  crates/axum/src/routes/wallet.rs
  crates/solutions/src/config.rs
Due: rust, Rust

perf: upgrade prisma schema
  configurations/prisma/package.json
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/wallet.rs
  crates/db/src/db.rs
  crates/solutions/src/config.rs
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: update
  .github/workflows/neon.yml
Due: none

perf: ini log
  Cargo.lock
  Cargo.toml
  configurations/prisma/copy_env_variables.sh
  configurations/prisma/package.json
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/migrations/20231004001043_initial_migration/migration.sql
  configurations/prisma/prisma/migrations/20231004002756_psd/migration.sql
  configurations/prisma/prisma/migrations/20231004010310_optional_configuration_id/migration.sql
  configurations/prisma/prisma/migrations/migration_lock.toml
Due: js, Javascript

chore: update
  configurations/prisma/scripts/grant.sql
Due: js, Javascript

chore: update
  configurations/prisma/prisma/migrations/.gitkeep
Due: js, Javascript

feat: ini wallet create (#726)
  .github/workflows/fly.yml
  .github/workflows/neon.yml
  Cargo.lock
  Cargo.toml
  configurations/prisma/copy_env_variables.sh
  configurations/prisma/package.json
  configurations/prisma/prisma/migrations/.gitkeep
  configurations/prisma/prisma/migrations/20231004001043_initial_migration/migration.sql
  configurations/prisma/prisma/migrations/20231004002756_psd/migration.sql
  configurations/prisma/prisma/migrations/20231004010310_optional_configuration_id/migration.sql
  configurations/prisma/prisma/migrations/migration_lock.toml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  configurations/prisma/scripts/grant.sql
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/wallet.rs
  crates/db/src/db.rs
  crates/solutions/src/config.rs
  fly/graph/Dockerfile
  fly/graph/README.md
  fly/graph/fly.toml
  fly/graph/nginx/admin
  fly/graph/nginx/default
  fly/graph/nginx/graphiql
  fly/graph/nginx/index_node
  fly/graph/nginx/metrics
  fly/graph/run-node
  fly/ipfs/Dockerfile
  fly/ipfs/fly.toml
  fly/ipfs/ipfs-config.sh
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

fix: configuration api
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
  thunder-tests/collections/tc_col_apilightso.json
  thunder-tests/collections/tc_col_local.json
Due: rust, Rust

perf: ini invalid configuration
  crates/axum/src/routes/wallet.rs
  thunder-tests/collections/tc_col_local.json
Due: rust, Rust

chore: update
  crates/solutions/src/config.rs
Due: rust, Rust

chore: update
  thunder-tests/collections/tc_col_local.json
Due: none

chore: update
  crates/axum/src/routes/configuration.rs
Due: rust, Rust
