Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: udpate
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

chore: update
  Cargo.lock
  Cargo.toml
  Makefile
Due: none

chore: update
  Makefile
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/billing/error.rs
  crates/axum/src/routes/billing/get.rs
  crates/axum/src/routes/billing/list.rs
  crates/axum/src/routes/billing/mod.rs
  crates/axum/src/routes/billing/types.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/wallet_billing/get.rs
  crates/axum/src/routes/wallet_billing/update.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

chore: udpate
  .changeset/hungry-planes-buy.md
Due: none

chore: update
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/billing_operation/error.rs
  crates/axum/src/routes/billing_operation/get.rs
  crates/axum/src/routes/billing_operation/list.rs
  crates/axum/src/routes/billing_operation/mod.rs
  crates/axum/src/routes/billing_operation/types.rs
  crates/axum/src/routes/mod.rs
Due: rust, Rust

chore: ini billing op (#1583)
  .changeset/hungry-planes-buy.md
  Cargo.lock
  Cargo.toml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/billing/error.rs
  crates/axum/src/routes/billing/get.rs
  crates/axum/src/routes/billing/list.rs
  crates/axum/src/routes/billing/mod.rs
  crates/axum/src/routes/billing/types.rs
  crates/axum/src/routes/billing_operation/error.rs
  crates/axum/src/routes/billing_operation/get.rs
  crates/axum/src/routes/billing_operation/list.rs
  crates/axum/src/routes/billing_operation/mod.rs
  crates/axum/src/routes/billing_operation/types.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/wallet_billing/get.rs
  crates/axum/src/routes/wallet_billing/update.rs
Due: js, rust, Javascript, Rust

feat: ini user settings
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/user_operation/mod.rs
  crates/axum/src/routes/user_operation/update.rs
  crates/axum/src/routes/user_settings/error.rs
  crates/axum/src/routes/user_settings/get.rs
  crates/axum/src/routes/user_settings/mod.rs
  crates/axum/src/routes/user_settings/types.rs
  crates/axum/src/routes/user_settings/update.rs
  crates/axum/src/routes/wallet_billing/mod.rs
  crates/axum/src/routes/wallet_billing/update.rs
  crates/axum/src/routes/wallet_features/update.rs
  crates/axum/src/routes/wallet_settings/mod.rs
Due: rust, Rust

chore: update
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/notification_settings/error.rs
  crates/axum/src/routes/notification_settings/get.rs
  crates/axum/src/routes/notification_settings/list.rs
  crates/axum/src/routes/notification_settings/mod.rs
  crates/axum/src/routes/notification_settings/types.rs
Due: rust, Rust

feat: ini user notification settings
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/user_notification_settings/error.rs
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_notification_settings/mod.rs
  crates/axum/src/routes/user_notification_settings/types.rs
  crates/axum/src/routes/user_notification_settings/update.rs
Due: rust, Rust

feat: ini wallet notification settings
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/wallet_notification_settings/error.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/mod.rs
  crates/axum/src/routes/wallet_notification_settings/types.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
Due: rust, Rust

chore: ini client api billing
  .changeset/perfect-turtles-brake.md
  apps/app/app/(wallet)/[address]/settings/billing/(components)/settings-billing-balance-card.tsx
  apps/app/src/handlers/paths/[address]/settings/billing/handler.ts
  packages/client/src/api/user_operation.ts
  packages/client/src/api/wallet_features.ts
  packages/client/src/api/wallet_settings.ts
  packages/client/src/types/api/v1.d.ts
  packages/data/src/walletBilling.ts
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
