Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: gha continue (#1376)
  .github/workflows/api.yml
  .github/workflows/fly.yml
  .github/workflows/k8s.yml
Due: none

fix: ini with fetch
  crates/axum/src/routes/interpretation/get.rs
  crates/axum/src/routes/interpretation/list.rs
  crates/axum/src/routes/transaction/get.rs
  crates/axum/src/routes/transaction/list.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/list.rs
Due: rust, Rust

fix: ini routes from types
  crates/axum/src/result.rs
  crates/axum/src/routes/activity/types.rs
  crates/axum/src/routes/auth/nonce.rs
  crates/axum/src/routes/configuration/types.rs
  crates/axum/src/routes/feedback/types.rs
  crates/axum/src/routes/interpretation/types.rs
  crates/axum/src/routes/invite_code/types.rs
  crates/axum/src/routes/notification/types.rs
  crates/axum/src/routes/paymaster/types.rs
  crates/axum/src/routes/paymaster_operation/types.rs
  crates/axum/src/routes/portfolio/get.rs
  crates/axum/src/routes/protocol/types.rs
  crates/axum/src/routes/protocol_group/types.rs
  crates/axum/src/routes/signature/types.rs
  crates/axum/src/routes/simulation/types.rs
  crates/axum/src/routes/support_request/types.rs
  crates/axum/src/routes/token/types.rs
  crates/axum/src/routes/token_group/types.rs
  crates/axum/src/routes/token_price/get.rs
  crates/axum/src/routes/transaction/types.rs
  crates/axum/src/routes/user/types.rs
  crates/axum/src/routes/user_operation/types.rs
  crates/axum/src/routes/wallet/types.rs
  crates/axum/src/routes/wallet_features/types.rs
  crates/axum/src/routes/wallet_settings/types.rs
Due: rust, Rust

fix: remove interpretation update
  crates/axum/src/api.rs
  crates/axum/src/routes/interpretation/mod.rs
  crates/axum/src/routes/interpretation/update.rs
Due: rust, Rust

fix: route interpretation
  crates/axum/src/routes/interpretation/get.rs
  crates/axum/src/routes/interpretation/types.rs
  crates/axum/src/routes/transaction/types.rs
Due: rust, Rust

fix: ini wallet update query
  crates/axum/src/api.rs
  crates/axum/src/routes/wallet/update.rs
  crates/axum/src/routes/wallet_features/update.rs
  crates/axum/src/routes/wallet_settings/update.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update creat types
  crates/axum/src/api.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/types.rs
Due: rust, Rust

fix: signature typings
  crates/axum/src/api.rs
  crates/axum/src/routes/signature/types.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/types.rs
Due: rust, Rust

chore: ini route owner
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/owner/error.rs
  crates/axum/src/routes/owner/get.rs
  crates/axum/src/routes/owner/list.rs
  crates/axum/src/routes/owner/mod.rs
  crates/axum/src/routes/owner/types.rs
Due: rust, Rust

fix: remove op custom types
  crates/axum/src/api.rs
  crates/axum/src/routes/owner/types.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/axum/src/routes/user_operation/types.rs
Due: rust, Rust

fix: creation types
  crates/axum/src/routes/transaction/types.rs
  crates/axum/src/routes/user_operation/get.rs
  crates/axum/src/routes/user_operation/list.rs
  crates/axum/src/routes/user_operation/types.rs
Due: rust, Rust

chore: ini interpretation tx types
  crates/axum/src/routes/interpretation/types.rs
  crates/axum/src/routes/transaction/types.rs
Due: rust, Rust

chore: update
  .changeset/pretty-chairs-deny.md
Due: none

chore: update sig promote
  crates/axum/src/routes/signature/create.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

fix: asset change typings
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/asset_change/error.rs
  crates/axum/src/routes/asset_change/get.rs
  crates/axum/src/routes/asset_change/list.rs
  crates/axum/src/routes/asset_change/mod.rs
  crates/axum/src/routes/asset_change/types.rs
  crates/axum/src/routes/mod.rs
Due: rust, Rust

chore: update get asset change
  crates/axum/src/routes/asset_change/get.rs
  crates/axum/src/routes/asset_change/list.rs
Due: rust, Rust

chore: update
  packages/client/src/types/api/v1.d.ts
Due: js, Javascript

chore: update
  apps/app/.depcheckrc.yml
  apps/app/package.json
Due: js, Javascript

chore: update
  crates/axum/src/routes/asset_change/types.rs
  crates/axum/src/routes/interpretation/types.rs
Due: rust, Rust

chore: update sim types
  crates/axum/src/routes/simulation/types.rs
Due: rust, Rust

chore: update
  pnpm-lock.yaml
Due: none

chore: refactor params api
  crates/axum/src/api.rs
  crates/axum/src/routes/auth/verify.rs
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/notification/read.rs
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/api.rs
Due: rust, Rust

chore: update sig creation
  crates/axum/src/api.rs
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/user_operation/create.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

feat: inii api params rename (#1378)
  crates/axum/src/api.rs
  crates/axum/src/routes/auth/verify.rs
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/notification/read.rs
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini sim create params
  crates/axum/src/routes/simulation/create.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/simulation/create.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  Cargo.lock
  crates/simulator/Cargo.toml
  crates/simulator/src/simulator.rs
Due: rust, Rust

chore: update
  .changeset/nice-bobcats-sneeze.md
Due: none

fix: simulator ops (#1379)
  .changeset/nice-bobcats-sneeze.md
  Cargo.lock
  crates/axum/src/routes/simulation/create.rs
  crates/simulator/Cargo.toml
  crates/simulator/src/simulator.rs
  packages/client/src/types/api/v1.d.ts
Due: js, rust, Javascript, Rust

fix: ini list intp
  .changeset/thirty-eels-camp.md
  crates/axum/src/routes/transaction/list.rs
  crates/axum/src/routes/user_operation/list.rs
Due: rust, Rust

fix: ini list intp (#1380)
  .changeset/thirty-eels-camp.md
  crates/axum/src/routes/transaction/list.rs
  crates/axum/src/routes/user_operation/list.rs
Due: rust, Rust

chore: ini axum api
  crates/axum/src/api.rs
  crates/axum/src/routes/simulation/mod.rs
  crates/axum/src/routes/simulation/update.rs
  crates/axum/src/routes/wallet/create.rs
Due: rust, Rust

chore: update
  .changeset/shiny-cycles-burn.md
Due: none

chore: update package svg
  apps/ui/src/templates/footer/footer-logo.tsx
  configurations/tailwindcss/src/index.js
  packages/svg/src/logo/index.ts
  packages/svg/src/logo/light-horizontal.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
