Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update deprecate signature id
  crates/axum/src/routes/signature.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

fix: misc (#768)
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/subgraph/package.json
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini persist auth
  apps/app/src/components/auth-state.tsx
  apps/app/src/stores/useAuth.ts
Due: js, Javascript

chore: update
  playwright.config.ts
Due: none

feat: ini persist auth (#769)
  apps/app/src/components/auth-state.tsx
  apps/app/src/stores/useAuth.ts
  playwright.config.ts
Due: js, Javascript

feat: ini owner id
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/handles/[address].ts
  packages/client/src/v1.d.ts
Due: js, Javascript

feat: ini configuration owner
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
Due: rust, Rust

feat: ini configuration owner (#770)
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/settings/page.tsx
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/handles/[address].ts
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini user oeprations polling
  crates/graphql/src/polling/mod.rs
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__user_operations__test__snapshot_test_query.snap
  crates/graphql/src/polling/user_operations.rs
Due: rust, Rust

chore: update
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

perf: update
  apps/app/src/components/transaction-dialog.tsx
  packages/client/src/v1.d.ts
Due: js, Javascript

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/app/src/components/transaction-dialog.tsx
Due: js, Javascript

perf: ini user op signature id
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

feat: ini user oeprations polling (#771)
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
  apps/app/src/components/transaction-dialog.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/routes/user_operation.rs
  crates/db/src/db.rs
  crates/graphql/src/polling/mod.rs
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__user_operations__test__snapshot_test_query.snap
  crates/graphql/src/polling/user_operations.rs
  crates/indexer/src/indexer.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

fix: v1e
  packages/client/src/v1.d.ts
Due: js, Javascript

chore: ini no revalidate modal
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
Due: js, Javascript

perf: ini modal
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
Due: js, Javascript

fix: post layer
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

fix: v1e (#772)
  apps/app/app/(wallet)/[address]/@transaction/(.)transaction/[chainId]/page.tsx
  apps/app/app/(wallet)/[address]/transaction/[chainId]/page.tsx
  crates/axum/src/routes/signature.rs
  crates/axum/src/routes/user_operation.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini local dev
  .github/workflows/fly.yml
  apps/app/src/components/wallet-switcher.tsx
  crates/axum/src/routes/user_operation.rs
  fly/api-stg/fly.toml
Due: js, rust, Javascript, Rust

perf: ini owner check
  crates/axum/src/routes/user_operation.rs
Due: rust, Rust

perf: feat
  packages/client/src/index.ts
  packages/client/turbo.json
Due: js, Javascript

chore: update
  apps/app/src/components/transaction-dialog.tsx
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

perf: ini render subdigest
  crates/solutions/src/utils.rs
  packages/solutions/src/utils/subdigestOf.spec.ts
Due: js, rust, Javascript, Rust

perf: update
  apps/app/src/components/transaction-dialog.tsx
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

chore: update
  packages/client/src/index.ts
  packages/client/turbo.json
Due: js, Javascript

feat: ini uop (#773)
  .github/workflows/fly.yml
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/components/wallet-switcher.tsx
  crates/axum/src/routes/user_operation.rs
  crates/solutions/src/utils.rs
  fly/api-stg/fly.toml
  packages/solutions/src/utils/subdigestOf.spec.ts
Due: js, rust, Javascript, Rust

fix: sig
  apps/app/src/components/transaction-dialog.tsx
Due: js, Javascript

perf: ini chain tx
  apps/app/src/components/transaction-dialog.tsx
  crates/axum/src/routes/user_operation.rs
Due: js, rust, Javascript, Rust

feat: ini sig
  apps/app/src/components/transaction-dialog.tsx
  crates/solutions/src/signature.rs
Due: js, rust, Javascript, Rust

fix: 2 type (#774)
  apps/app/src/components/transaction-dialog.tsx
  crates/axum/src/routes/user_operation.rs
  crates/solutions/src/signature.rs
Due: js, rust, Javascript, Rust

fix: hash msg
  apps/app/src/components/transaction-dialog.tsx
  apps/ui/src/providers/web3.tsx
  crates/solutions/src/signature.rs
Due: js, rust, Javascript, Rust

feat: ini sig
  crates/solutions/src/signature.rs
  crates/solutions/src/utils.rs
Due: rust, Rust

chore: update
  crates/solutions/src/signature.rs
  crates/solutions/src/utils.rs
Due: rust, Rust

chore: update
  crates/indexer/src/indexer.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
