Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  apps/app/app/(wallet)/[address]/transactions/button-layout.tsx
Due: js, Javascript

fix: initial query
  apps/app/app/(wallet)/[address]/transactions/all/page.tsx
  apps/app/app/(wallet)/[address]/transactions/history/page.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/transactions/all/page.tsx
Due: js, Javascript

chore: udpate
  apps/app/app/(wallet)/[address]/transactions/history/page.tsx
Due: js, Javascript

feat: ini hackathon slot (#820)
  apps/app/app/(wallet)/[address]/transactions/all/page.tsx
  apps/app/app/(wallet)/[address]/transactions/button-layout.tsx
  apps/app/app/(wallet)/[address]/transactions/history/page.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/app/api/revalidate/route.ts
  apps/app/src/components/transactions-empty.tsx
  apps/app/src/components/transactions-list.tsx
  apps/app/src/components/transactions-wrapper.tsx
  apps/ui/src/providers/react-query.tsx
Due: js, Javascript

feat: ini ini polling handler
  apps/app/app/(authenticated)/not-found.tsx
  apps/app/app/(unauthenticated)/not-found.tsx
  apps/app/app/(wallet)/[address]/not-found.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/src/components/not-found.tsx
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/src/handles/transaction/[chainId]/[userOperationHash].ts
  apps/app/src/handles/validators/hex.ts
  apps/app/src/handles/validators/number.ts
  apps/app/src/handles/validators/userOperation.ts
Due: js, Javascript

feat: ini not found (#821)
  apps/app/app/(authenticated)/not-found.tsx
  apps/app/app/(unauthenticated)/not-found.tsx
  apps/app/app/(wallet)/[address]/not-found.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/src/components/not-found.tsx
  apps/app/src/handles/transaction/[chainId].ts
  apps/app/src/handles/transaction/[chainId]/[userOperationHash].ts
  apps/app/src/handles/validators/hex.ts
  apps/app/src/handles/validators/number.ts
  apps/app/src/handles/validators/userOperation.ts
Due: js, Javascript

fix: url
  apps/app/app/(wallet)/[address]/page.tsx
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

fix: url (#822)
  apps/app/app/(wallet)/[address]/page.tsx
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

chore: refactor polling ls
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: none

chore: update sidebar nav
  apps/app/src/components/sidebar-nav.tsx
Due: js, Javascript

fix: wallet switcher
  apps/app/src/components/wallet-switcher.tsx
Due: js, Javascript

feat: ini feedback form
  apps/app/src/components/feedback-form.tsx
  apps/app/src/components/feedback-popover.tsx
Due: js, Javascript

fix: cto
  apps/app/app/root.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/app/src/stores/useAuth.ts
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/error.tsx
  apps/app/app/(unauthenticated)/error.tsx
  apps/app/app/(wallet)/[address]/error.tsx
  apps/app/app/global-error.tsx
  apps/app/src/stores/useAuth.ts
Due: js, Javascript

fix: ini session
  apps/app/app/(authenticated)/wallets/page.tsx
  apps/app/src/components/auth-state.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/error.tsx
  apps/app/app/(unauthenticated)/error.tsx
  apps/app/app/(wallet)/[address]/error.tsx
Due: js, Javascript

chore: refactor polling ls (#823)
  apps/app/app/(authenticated)/error.tsx
  apps/app/app/(authenticated)/wallets/page.tsx
  apps/app/app/(unauthenticated)/error.tsx
  apps/app/app/(wallet)/[address]/error.tsx
  apps/app/app/global-error.tsx
  apps/app/app/root.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/feedback-form.tsx
  apps/app/src/components/feedback-popover.tsx
  apps/app/src/components/sidebar-nav.tsx
  apps/app/src/components/wallet-switcher.tsx
  apps/app/src/stores/useAuth.ts
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: js, Javascript

feat: ini signer crate
  Cargo.lock
  Cargo.toml
  crates/signer/Cargo.toml
  crates/signer/src/kms.rs
  crates/signer/src/lib.rs
  crates/signer/tests/it/main.rs
Due: rust, Rust

feat: ini kms redis
  Cargo.lock
  crates/redis/Cargo.toml
  crates/redis/src/lib.rs
  crates/redis/src/lock.rs
  crates/signer/Cargo.toml
  crates/signer/src/kms.rs
  crates/signer/tests/it/main.rs
Due: rust, Rust

chore: update
  crates/redis/src/lock.rs
Due: rust, Rust

perf: ini paymaster verify
  Cargo.lock
  crates/paymaster/Cargo.toml
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/signer/src/connect.rs
  crates/signer/src/lib.rs
  crates/signer/tests/it/main.rs
Due: rust, Rust

chore: update
  crates/signer/src/connect.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/config.rs
Due: rust, Rust

perf: update user mod
  crates/axum/src/api.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/user.rs
Due: rust, Rust

feat: signer crate (#824)
  Cargo.lock
  Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/routes/user.rs
  crates/paymaster/Cargo.toml
  crates/paymaster/src/config.rs
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/redis/Cargo.toml
  crates/redis/src/lib.rs
  crates/redis/src/lock.rs
  crates/signer/Cargo.toml
  crates/signer/src/connect.rs
  crates/signer/src/kms.rs
  crates/signer/src/lib.rs
  crates/signer/tests/it/main.rs
Due: rust, Rust

feat: ini fallback constant
  crates/contracts/src/constants.rs
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  crates/signer/tests/it/main.rs
Due: rust, Rust

chore: update
  crates/signer/tests/it/main.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  crates/paymaster/src/constants.rs
  scripts/crunch_factory_script.sh
Due: rust, Rust

chore: update
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  scripts/crunch_factory_script.sh
Due: none

perf: ini broadcast
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698608690.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698608702.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698608740.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698608746.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698608660.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698608666.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1698608620.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1698608774.json
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  crates/paymaster/src/constants.rs
Due: rust, Rust

chore: update
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698608859.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698608877.json
Due: none

chore: update
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698609384.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698609402.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698609299.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698609329.json
Due: none

feat: ini fallback const (#825)
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698608690.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/1/run-1698608702.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698608740.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/10/run-1698608746.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698608859.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/100/run-1698608877.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698608660.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/11155111/run-1698608666.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/137/run-1698608620.json
  broadcast/LightVerifyingPaymasterDeployer.s.sol/42161/run-1698608774.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698609384.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698609402.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698609299.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698609329.json
  contracts/script/LightVerifyingPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  crates/contracts/src/constants.rs
  crates/paymaster/src/constants.rs
  crates/paymaster/src/paymaster.rs
  scripts/crunch_factory_script.sh
Due: rust, Rust

fix: layout button
  apps/app/app/(authenticated)/support/page.tsx
  apps/app/app/(wallet)/[address]/transactions/button-layout.tsx
Due: js, Javascript

chore: update
  apps/app/.env
  apps/app/.env.development
  apps/app/app/root.tsx
Due: js, Javascript

fix: env
  apps/app/.env.development
  apps/app/src/handles/validators/userOperation.ts
Due: js, Javascript

fix: layout button (#826)
  apps/app/.env
  apps/app/.env.development
  apps/app/app/(authenticated)/support/page.tsx
  apps/app/app/(wallet)/[address]/transactions/button-layout.tsx
  apps/app/app/root.tsx
  apps/app/src/handles/validators/userOperation.ts
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
