Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  packages/query/src/useMutationAuthLogout.ts
  packages/query/src/useMutationAuthVerify.ts
  packages/query/src/useMutationFeedbackCreate.ts
  packages/query/src/useMutationSimulationCreate.ts
Due: js, Javascript

chore: update
  .changeset/popular-hairs-sip.md
Due: none

chore: update root
  apps/explorer/src/components/explorer-banner.tsx
  apps/explorer/src/components/root/root.tsx
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-notification-card.tsx
  apps/app/app/(authenticated)/settings/(components)/settings-profile-card.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-invoke-button.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-address.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-invoke-button.tsx
  apps/app/src/components/command-k.tsx
  packages/params/src/index.ts
  packages/params/src/queue.ts
  packages/query/src/index.ts
  packages/query/src/useMutationQueueToken.ts
  packages/query/src/useMutationWalletCreate.ts
  packages/query/src/useMutationWalletSettingsUpdate.ts
  packages/query/src/useMutationWalletUpdate.ts
  packages/tables/package.json
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
  packages/tables/src/wallet/actions/wallet-table-row-actions.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
Due: js, Javascript

chore: update query
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-invoke-button.tsx
  apps/app/src/components/nav/user-nav.tsx
  packages/hooks/src/useUserOperationSubmit.ts
  packages/params/src/index.ts
  packages/params/src/userOperation.ts
  packages/query/package.json
  packages/query/src/index.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/query/src/useMutationUserOperationUpdate.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-invoke-button.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/overview/overview-invoke-button.tsx
  apps/app/src/components/nav/user-nav.tsx
  apps/explorer/src/components/explorer-banner.tsx
  packages/hooks/src/useUserOperationSubmit.ts
Due: js, Javascript

chore: ini op abckoff
  packages/query/package.json
  packages/query/src/useMutationUserOperationSend.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/silly-papayas-sip.md
Due: none

chore: update banner hook
  apps/explorer/src/components/explorer-banner.tsx
  packages/hooks/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationSubmit.ts
Due: js, Javascript

chore: update send op
  packages/hooks/src/useUserOperationSubmit.ts
  packages/query/src/useMutationUserOperationSend.ts
Due: js, Javascript

chore: update
  apps/app/src/components/app-banner.tsx
Due: js, Javascript

chore: update
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
Due: js, Javascript

feat: ini mutate op send
  apps/app/app/(wallet)/[address]/op/(components)/op-data-table.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/src/const/index.ts
  apps/app/src/handlers/paths/[address]/op/[userOperationHash]/handler.ts
  apps/app/src/handlers/paths/[address]/overview/handler.ts
  apps/app/src/handlers/paths/[address]/transactions/handler.ts
  apps/app/src/preloaders/paths/[address]/transactions/preloader.ts
  apps/explorer/app/(user-operation)/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/(components)/user-operations-data-table.tsx
  packages/const/src/index.ts
  packages/const/src/numbers.ts
  packages/hooks/src/useUserOperationSubmit.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/tables/src/user-operation/card/user-operation-card-transaction-execute-button.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
  packages/tables/src/user-operation/user-operation-table.stories.tsx
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

chore: update slca
  .changeset/three-horses-smell.md
Due: none

chore: auto fix commit
  packages/query/src/useMutationUserOperationSend.ts
Due: js, Javascript

chore: ini banner styling (#1532)
  .changeset/three-horses-smell.md
  apps/app/app/(unauthenticated)/(components)/root-welcome-cards.tsx
  apps/app/app/(wallet)/[address]/op/(components)/op-data-table.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/page.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-list.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/data-table/data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transactions-data-table.tsx
  apps/app/app/(wallet)/[address]/transactions/page.tsx
  apps/app/src/components/app-banner.tsx
  apps/app/src/const/index.ts
  apps/app/src/handlers/paths/[address]/op/[userOperationHash]/handler.ts
  apps/app/src/handlers/paths/[address]/overview/handler.ts
  apps/app/src/handlers/paths/[address]/transactions/handler.ts
  apps/app/src/preloaders/paths/[address]/transactions/preloader.ts
  apps/explorer/app/(user-operation)/(components)/data-table/data-table.tsx
  apps/explorer/app/(user-operation)/(components)/user-operations-data-table.tsx
  packages/const/src/index.ts
  packages/const/src/numbers.ts
  packages/hooks/src/useUserOperationSubmit.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/tables/src/user-operation/card/user-operation-card-transaction-execute-button.tsx
  packages/tables/src/user-operation/card/user-operation-card-transaction.tsx
  packages/tables/src/user-operation/user-operation-table.stories.tsx
  packages/tables/src/user-operation/user-operation-table.tsx
Due: js, Javascript

chore: ini metabase open
  fly/metabase/fly.toml
Due: none

chore: update
  .github/workflows/fly.yml
Due: none

chore: update
  apps/open/public/index.html
Due: js, Javascript

chore: update
  fly/metabase/fly.toml
Due: none

feat: ini metabase open (#1533)
  .github/workflows/fly.yml
  apps/open/public/index.html
  fly/metabase/fly.toml
Due: js, Javascript

fix: portfolio icon
  crates/consumer/src/topics/portfolio.rs
Due: rust, Rust

feat: ini support login
  packages/const/src/social_links.ts
  packages/templates/src/banner/banner.tsx
  packages/templates/src/index.ts
  packages/templates/src/login/login.tsx
  packages/templates/src/support/index.ts
  packages/templates/src/support/login.stories.tsx
  packages/templates/src/support/support.tsx
Due: js, Javascript

chore: ini issues fix
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

chore: update
  packages/templates/src/banner/banner.tsx
  packages/templates/src/support/support.tsx
Due: js, Javascript

chore: update const links
  packages/const/src/internal_links.ts
  packages/const/src/navigation_links.ts
  packages/const/src/social_links.ts
Due: js, Javascript

chore: update mutate portfolio
  crates/axum/src/routes/token/list.rs
  packages/query/src/index.ts
  packages/query/src/useMutationQueuePortfolio.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/chilled-elephants-march.md
  packages/const/src/social_links.ts
  packages/templates/src/support/support.tsx
Due: js, Javascript

chore: update modal login
  packages/modals/src/auth/auth-modal.tsx
  packages/templates/src/login/login.tsx
Due: js, Javascript

chore: udpate
  packages/wagmi/src/config.ts
Due: js, Javascript

chore: udpate wagmi nav
  apps/app/src/components/nav/user-nav.tsx
  packages/wagmi/src/index.ts
Due: js, Javascript

chore: ini queue portfolio update (#1534)
  .changeset/chilled-elephants-march.md
  apps/app/src/components/nav/user-nav.tsx
  crates/axum/src/routes/token/list.rs
  crates/consumer/src/topics/portfolio.rs
  packages/const/src/navigation_links.ts
  packages/const/src/social_links.ts
  packages/modals/src/auth/auth-modal.tsx
  packages/query/src/index.ts
  packages/query/src/useMutationQueuePortfolio.ts
  packages/templates/src/banner/banner.tsx
  packages/templates/src/index.ts
  packages/templates/src/support/index.ts
  packages/templates/src/support/login.stories.tsx
  packages/templates/src/support/support.tsx
  packages/wagmi/src/config.ts
  packages/wagmi/src/index.ts
Due: js, rust, Javascript, Rust

feat: ini invoke queue
  apps/app/app/(wallet)/[address]/overview/(components)/overview/overview-invoke-button.tsx
  crates/axum/src/routes/token/list.rs
  packages/query/.depcheckrc.yml
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/states/src/index.ts
  packages/states/src/queue-state.tsx
  packages/stores/src/index.ts
  packages/stores/src/useQueues.ts
  packages/stores/src/useTables.ts
Due: js, rust, Javascript, Rust

chore: update
  packages/states/src/queue-state.tsx
Due: js, Javascript

chore: update mutation
  packages/params/src/queue.ts
  packages/query/src/useMutationQueuePortfolio.ts
  packages/query/src/useMutationQueueToken.ts
Due: js, Javascript

chore: update
  apps/app/src/components/root/root.tsx
  packages/states/src/queue-state.tsx
Due: js, Javascript
