Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: ppr optout
  .changeset/khaki-zoos-serve.md
  apps/app/app/(wallet)/[address]/activity/layout.tsx
  apps/app/app/(wallet)/[address]/owners/layout.tsx
Due: js, Javascript

fix: ppr optout (#1933)
  .changeset/khaki-zoos-serve.md
  apps/app/app/(wallet)/[address]/activity/layout.tsx
  apps/app/app/(wallet)/[address]/owners/layout.tsx
Due: js, Javascript

chore: update
  crates/consumer/src/topics/covalent.rs
  package.json
  turbo.json
Due: rust, Rust

chore: update
  .changeset/little-tomatoes-count.md
Due: none

chore: update
  .github/workflows/changesets.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/ios.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .lintstagedrc.js
  apps/app/package.json
  apps/inngest/package.json
  package.json
Due: js, Javascript

chore: update
  .github/workflows/auto-approve.yml
  .github/workflows/cla.yml
  .github/workflows/extension.yml
  .github/workflows/pr.yml
Due: none

feat: ini turbo (#1934)
  .changeset/little-tomatoes-count.md
  .github/workflows/auto-approve.yml
  .github/workflows/changesets.yml
  .github/workflows/cla.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/ios.yml
  .github/workflows/node.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .lintstagedrc.js
  apps/app/package.json
  apps/inngest/package.json
  crates/consumer/src/topics/covalent.rs
  package.json
  turbo.json
Due: js, rust, Javascript, Rust

chore: update
  .github/workflows/node.yml
Due: none

chore: update
  .ncurc.yml
  apps/paper/.ncurc.yml
Due: js, Javascript

chore: update
  packages/ui/src/components/toast.tsx
Due: js, Javascript

chore: ini paper tag (#1935)
  .github/workflows/node.yml
  .ncurc.yml
  apps/paper/.ncurc.yml
  packages/ui/src/components/toast.tsx
Due: js, Javascript

chore: ini deploy studio
  apps/subgraph/package.json
  crates/polling/src/config.rs
  crates/polling/src/constants.rs
  crates/polling/src/polling.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  crates/graphql/src/constants.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  crates/graphql/src/constants.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/subgraph/.depcheckrc.yml
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/old-crabs-learn.md
Due: none

feat: ini polling (#1936)
  .changeset/old-crabs-learn.md
  apps/subgraph/.depcheckrc.yml
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  crates/graphql/src/constants.rs
  crates/polling/src/config.rs
  crates/polling/src/constants.rs
  crates/polling/src/polling.rs
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini misc changes
  .github/workflows/node.yml
  apps/subgraph/tests/.latest.json
  turbo.json
Due: js, Javascript

chore: update
  .changeset/small-ravens-mate.md
Due: none

chore: update
  packages/const/src/chains.ts
Due: js, Javascript

chore: update
  apps/app/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  crates/graphql/src/constants.rs
  crates/polling/src/constants.rs
Due: js, rust, Javascript, Rust

chore: update
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

chore: update
  crates/graphql/src/constants.rs
  packages/const/src/chains.ts
Due: js, rust, Javascript, Rust

chore: update
  crates/consumer/src/topics/covalent.rs
Due: rust, Rust

chore: ini chain logo
  crates/graphql/src/constants.rs
  packages/const/src/chains.ts
  packages/svg/src/chain/fantom.tsx
  packages/svg/src/chain/fuse.tsx
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/linea.tsx
  packages/svg/src/chain/mode.tsx
  packages/svg/src/chain/scroll.tsx
Due: js, rust, Javascript, Rust

feat: ini misc changes (#1937)
  .changeset/small-ravens-mate.md
  .github/workflows/node.yml
  apps/app/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/inngest/package.json
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
  apps/subgraph/tests/.latest.json
  crates/consumer/src/topics/covalent.rs
  crates/graphql/src/constants.rs
  crates/polling/src/constants.rs
  packages/const/src/chains.ts
  packages/svg/src/chain/fantom.tsx
  packages/svg/src/chain/fuse.tsx
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/linea.tsx
  packages/svg/src/chain/mode.tsx
  packages/svg/src/chain/scroll.tsx
  turbo.json
Due: js, rust, Javascript, Rust

chore: update
  crates/graphql/src/constants.rs
  packages/svg/src/chain/index.tsx
Due: js, rust, Javascript, Rust

chore: update
  apps/app/src/components/chain/chain-combo-dialog.tsx
Due: js, Javascript

chore: update zora
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/zora.tsx
Due: js, Javascript

chore: update
  .github/workflows/node.yml
  package.json
  turbo.json
Due: none

chore: update
  .changeset/fast-mugs-guess.md
Due: none

chore: update
  turbo.json
Due: none

feat: ini misc cha (#1938)
  .changeset/fast-mugs-guess.md
  .github/workflows/node.yml
  apps/app/src/components/chain/chain-combo-dialog.tsx
  crates/graphql/src/constants.rs
  package.json
  packages/svg/src/chain/index.tsx
  packages/svg/src/chain/zora.tsx
  turbo.json
Due: js, rust, Javascript, Rust

fix: handler json
  README.md
  apps/app/src/handlers/[address]/activity/handler.ts
  apps/app/src/handlers/[address]/create/handler.ts
  apps/app/src/handlers/[address]/deposit/handler.ts
  apps/app/src/handlers/[address]/overview/history/handler.ts
  apps/app/src/handlers/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/[address]/overview/tokens/handler.ts
  apps/app/src/handlers/[address]/owners/handler.ts
  apps/app/src/handlers/[address]/send/handler.ts
  apps/app/src/handlers/[address]/transactions/history/handler.ts
  apps/app/src/handlers/[address]/transactions/queue/handler.ts
  apps/app/src/handlers/notifications/handler.ts
  apps/app/src/handlers/wallets/handler.ts
  apps/desktop/package.json
  package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/spicy-worms-talk.md
Due: none

fix: correctly cache out (#1939)
  .changeset/spicy-worms-talk.md
  README.md
  apps/app/src/handlers/[address]/activity/handler.ts
  apps/app/src/handlers/[address]/create/handler.ts
  apps/app/src/handlers/[address]/deposit/handler.ts
  apps/app/src/handlers/[address]/overview/history/handler.ts
  apps/app/src/handlers/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/[address]/overview/tokens/handler.ts
  apps/app/src/handlers/[address]/owners/handler.ts
  apps/app/src/handlers/[address]/send/handler.ts
  apps/app/src/handlers/[address]/transactions/history/handler.ts
  apps/app/src/handlers/[address]/transactions/queue/handler.ts
  apps/app/src/handlers/notifications/handler.ts
  apps/app/src/handlers/wallets/handler.ts
  apps/desktop/package.json
  package.json
  pnpm-lock.yaml
Due: js, Javascript

fix: network support
  .changeset/unlucky-wolves-melt.md
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/create/page.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
  apps/app/app/(wallet)/[address]/transactions/history/page.tsx
  apps/app/app/(wallet)/[address]/transactions/queue/page.tsx
  apps/explorer/app/(transaction)/tx/address/[address]/page.tsx
  apps/explorer/app/(user-operation)/address/[address]/page.tsx
Due: js, Javascript

chore: update
  apps/app/src/handlers/[address]/activity/handler.ts
  apps/app/src/handlers/[address]/create/handler.ts
  apps/app/src/handlers/[address]/deposit/handler.ts
  apps/app/src/handlers/[address]/overview/history/handler.ts
  apps/app/src/handlers/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/[address]/overview/tokens/handler.ts
  apps/app/src/handlers/[address]/owners/handler.ts
  apps/app/src/handlers/[address]/send/handler.ts
  apps/app/src/handlers/[address]/transactions/history/handler.ts
  apps/app/src/handlers/[address]/transactions/queue/handler.ts
  apps/app/src/handlers/notifications/handler.ts
  apps/app/src/handlers/wallets/handler.ts
Due: js, Javascript

fix: network support (#1940)
  .changeset/unlucky-wolves-melt.md
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/create/page.tsx
  apps/app/app/(wallet)/[address]/overview/history/page.tsx
  apps/app/app/(wallet)/[address]/overview/nfts/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
  apps/app/app/(wallet)/[address]/transactions/history/page.tsx
  apps/app/app/(wallet)/[address]/transactions/queue/page.tsx
  apps/app/src/handlers/[address]/activity/handler.ts
  apps/app/src/handlers/[address]/create/handler.ts
  apps/app/src/handlers/[address]/deposit/handler.ts
  apps/app/src/handlers/[address]/overview/history/handler.ts
  apps/app/src/handlers/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/[address]/overview/tokens/handler.ts
  apps/app/src/handlers/[address]/owners/handler.ts
  apps/app/src/handlers/[address]/send/handler.ts
  apps/app/src/handlers/[address]/transactions/history/handler.ts
  apps/app/src/handlers/[address]/transactions/queue/handler.ts
  apps/app/src/handlers/notifications/handler.ts
  apps/app/src/handlers/wallets/handler.ts
  apps/explorer/app/(transaction)/tx/address/[address]/page.tsx
  apps/explorer/app/(user-operation)/address/[address]/page.tsx
Due: js, Javascript
