Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  configurations/prisma/prisma/migrations/20231002165823_add_configuration/migration.sql
Due: js, Javascript

chore: update
  configurations/prisma/prisma/migrations/20231002170408_add_configuration/migration.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  .github/workflows/neon.yml
Due: none

feat: ini prisma update (#667)
  .github/workflows/neon.yml
  configurations/prisma/prisma/migrations/20231002170408_add_configuration/migration.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

fix: neon
  .github/workflows/neon.yml
Due: none

fix: neon (#669)
  .github/workflows/neon.yml
Due: none

fix: neon polling
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
  crates/polling/src/polling.rs
Due: rust, Rust

fix: neon polling (#672)
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
  crates/polling/src/polling.rs
Due: rust, Rust

feat: ini db client
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  bin/src/bin/polling.rs
Due: rust, Rust

chore: update opentelemetry metrics
  .vscode/settings.json
  Cargo.lock
  crates/consumer/src/consumer.rs
  crates/opentelemetry/src/lib.rs
  crates/opentelemetry/src/polling.rs
  crates/polling/Cargo.toml
  crates/polling/src/polling.rs
Due: rust, Rust

feat: working wallet
  crates/graphql/src/polling/light_wallets.rs
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__light_wallets__test__snapshot_test_query.snap
  crates/polling/src/polling.rs
Due: rust, Rust

perf: update min blcok
  Cargo.lock
  crates/graphql/src/polling/light_wallets.rs
  crates/graphql/src/polling/min_block.rs
  crates/graphql/src/polling/mod.rs
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__min_block__test__snapshot_test_query.snap
  crates/polling/Cargo.toml
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
Due: rust, Rust

chore: update
  crates/polling/src/config.rs
Due: rust, Rust

chore: update
  .github/workflows/fly.yml
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
Due: none

chore: udpate
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
Due: none

perf: ini get query
  crates/axum/src/api.rs
  crates/axum/src/routes/wallet.rs
  crates/db/src/db.rs
Due: rust, Rust

chore: update
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/result.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

perf: ini configuration
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/mod.rs
Due: rust, Rust

feat: ini solutions
  Cargo.lock
  Cargo.toml
  crates/solutions/Cargo.toml
  crates/solutions/src/lib.rs
  crates/solutions/tests/.gitkeep
Due: rust, Rust

chore: update
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
  crates/solutions/src/lib.rs
Due: rust, Rust

feat: ini configuration create
  crates/axum/src/result.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/axum/Cargo.toml
  crates/axum/src/routes/wallet.rs
  crates/contracts/src/constants.rs
Due: rust, Rust

feat: ini db (#676)
  .github/workflows/fly.yml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  bin/src/bin/polling.rs
  crates/axum/Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/configuration.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/wallet.rs
  crates/consumer/src/consumer.rs
  crates/contracts/src/constants.rs
  crates/db/src/db.rs
  crates/graphql/src/polling/light_wallets.rs
  crates/graphql/src/polling/min_block.rs
  crates/graphql/src/polling/mod.rs
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__light_wallets__test__snapshot_test_query.snap
  crates/graphql/src/polling/snapshots/lightdotso_graphql__polling__min_block__test__snapshot_test_query.snap
  crates/opentelemetry/src/lib.rs
  crates/opentelemetry/src/polling.rs
  crates/polling/Cargo.toml
  crates/polling/src/config.rs
  crates/polling/src/polling.rs
  crates/solutions/Cargo.toml
  crates/solutions/src/lib.rs
  crates/solutions/tests/.gitkeep
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
Due: rust, Rust

fix: get a config
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
Due: rust, Rust

fix: get a config (#678)
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration.rs
Due: rust, Rust

fix: polling
  crates/axum/src/api.rs
  crates/polling/src/polling.rs
Due: rust, Rust

fix: polling (#679)
  crates/axum/src/api.rs
  crates/polling/src/polling.rs
Due: rust, Rust

fix: app
  .github/workflows/fly.yml
  apps/app/app/api/auth/[...nextauth]/route.ts
  apps/app/app/api/auth/session/route.ts
Due: js, Javascript

fix: app (#680)
  .github/workflows/fly.yml
  apps/app/app/api/auth/[...nextauth]/route.ts
  apps/app/app/api/auth/session/route.ts
Due: js, Javascript

fix: create issues
  crates/axum/src/routes/wallet.rs
  crates/db/src/db.rs
  crates/polling/src/polling.rs
  fly/polling-live/fly.toml
  fly/polling/fly.toml
Due: rust, Rust

fix: create issues (#681)
  crates/axum/src/routes/wallet.rs
  crates/db/src/db.rs
  crates/polling/src/polling.rs
  fly/polling-live/fly.toml
  fly/polling/fly.toml
Due: rust, Rust

fix: db blocking
  crates/db/src/db.rs
  crates/indexer/src/indexer.rs
  crates/polling/src/polling.rs
Due: rust, Rust

feat: ini ui navs
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/app/package.json
  apps/app/src/components/MainNav.tsx
  apps/app/src/components/UserNav.tsx
  apps/app/src/components/WalletSwitcher.tsx
  apps/ui/index.tsx
  apps/ui/src/components/ui/command.tsx
  pnpm-lock.yaml
Due: js, Javascript

feat: ini nav top bar
  apps/app/app/page.tsx
  apps/app/src/components/FeedbackPopover.tsx
  apps/app/src/components/Logo.tsx
  apps/app/src/components/MainNav.tsx
  apps/app/src/components/WalletSwitcher.tsx
Due: js, Javascript

chore: update
  apps/ui/src/components/ui/command.tsx
  configurations/tailwindcss/package.json
  configurations/tailwindcss/src/index.js
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/app/layout.tsx
  apps/app/app/page.tsx
  apps/ui/index.tsx
  apps/ui/src/components/ui/command.tsx
Due: js, Javascript

feat: ini dashboard
  apps/app/app/page.tsx
  apps/app/package.json
  apps/app/src/components/Dashboard.tsx
  configurations/tailwindcss/package.json
  configurations/tailwindcss/src/index.js
  pnpm-lock.yaml
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
