Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: ini pnpm (#899)
  apps/app/app/(authenticated)/new/configuration/configuration-form.tsx
  apps/app/app/(wallet)/[address]/page.tsx
  apps/app/app/api/inngest/route.ts
  apps/app/app/root-logo.tsx
  apps/app/package.json
  apps/app/src/components/network-item.tsx
  apps/app/src/components/siwe-button.tsx
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/walletPortfolioCovalentSet.ts
  apps/app/src/inngest/walletPortfolioCron.ts
  apps/app/src/inngest/walletPortfolioInvoke.ts
  apps/app/src/inngest/walletPortfolioLlamaSet.ts
  apps/app/src/inngest/walletPortfolioLlamaUpdate.ts
  apps/app/turbo.json
  apps/auth/package.json
  apps/changelog/package.json
  apps/explorer/package.json
  apps/playground/package.json
  apps/subgraph/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  configurations/prettier/package.json
  configurations/tailwindcss/package.json
  package.json
  packages/client/src/index.ts
  packages/next-auth/package.json
  packages/solutions/package.json
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, Javascript

chore: ini balance spam
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  apps/app/src/inngest/walletPortfolioCovalentSet.ts
Due: js, Javascript

chore: ini balance spam (#900)
  apps/app/src/inngest/walletPortfolioCovalentSet.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini owner schema
  apps/app/src/components/token-card-sparkline.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini owner schema (#901)
  apps/app/src/components/token-card-sparkline.tsx
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini schema res
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: ini owner schema order
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
Due: rust, Rust

chore: update spam filter
  crates/axum/src/routes/token.rs
Due: rust, Rust

chore: ini schema rs (#902)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/token.rs
  crates/axum/src/routes/user_operation.rs
  crates/axum/src/routes/wallet.rs
Due: js, rust, Javascript, Rust

fix: ini new builder config
  crates/solutions/tests/it/builder.rs
  crates/solutions/tests/it/main.rs
  crates/solutions/tests/it/snapshots/it__builder__0-config.snap
  crates/solutions/tests/it/snapshots/it__builder__0-new-config.snap
Due: rust, Rust

chore: update
  crates/solutions/tests/it/builder.rs
Due: rust, Rust

fix: ini new builder config (#903)
  crates/solutions/tests/it/builder.rs
  crates/solutions/tests/it/main.rs
  crates/solutions/tests/it/snapshots/it__builder__0-config.snap
  crates/solutions/tests/it/snapshots/it__builder__0-new-config.snap
Due: rust, Rust

chore: ini buil
  crates/solutions/tests/it/builder.rs
  crates/solutions/tests/it/snapshots/it__builder__0-config.snap
Due: rust, Rust

chore: update
  crates/solutions/tests/it/snapshots/it__builder__0-new-config.snap
Due: rust, Rust

chore: ini b (#904)
  crates/solutions/tests/it/builder.rs
  crates/solutions/tests/it/snapshots/it__builder__0-config.snap
  crates/solutions/tests/it/snapshots/it__builder__0-new-config.snap
Due: rust, Rust

feat: ini activity
  .github/workflows/ios.yml
  .vscode/settings.json
  apps/app/app/(wallet)/[address]/activity/layout.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/owners/layout.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/main-nav.tsx
  apps/app/src/const/titles.ts
  apps/app/src/hooks/useTabs.ts
Due: js, Javascript

feat: ini activity (#905)
  .github/workflows/ios.yml
  .vscode/settings.json
  apps/app/app/(wallet)/[address]/activity/layout.tsx
  apps/app/app/(wallet)/[address]/activity/page.tsx
  apps/app/app/(wallet)/[address]/overview/layout.tsx
  apps/app/app/(wallet)/[address]/owners/layout.tsx
  apps/app/app/(wallet)/[address]/owners/page.tsx
  apps/app/src/components/auth-state.tsx
  apps/app/src/components/main-nav.tsx
  apps/app/src/const/titles.ts
  apps/app/src/hooks/useTabs.ts
Due: js, Javascript

chore: deprecate kysley
  .depcheckrc.yml
  apps/auth/.env.development
  apps/explorer/.env.development
  apps/playground/.env.development
  configurations/kysely/index.ts
  configurations/kysely/package.json
  configurations/prisma/.env.development
  crates/indexer/tests/it/indexer.rs
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: deprecate kysley (#906)
  .depcheckrc.yml
  apps/auth/.env.development
  apps/explorer/.env.development
  apps/playground/.env.development
  configurations/kysely/index.ts
  configurations/kysely/package.json
  configurations/prisma/.env.development
  crates/indexer/tests/it/indexer.rs
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

fix: redis block
  crates/indexer/src/indexer.rs
  crates/redis/src/block.rs
  crates/redis/src/lib.rs
  docker-compose.yml
Due: rust, Rust

fix: redis block (#907)
  crates/indexer/src/indexer.rs
  crates/redis/src/block.rs
  crates/redis/src/lib.rs
  docker-compose.yml
Due: rust, Rust

fix: redis check
  crates/redis/src/wallet.rs
Due: rust, Rust

fix: redis check (#908)
  crates/redis/src/wallet.rs
Due: rust, Rust

feat: ini upstash redis
  apps/app/app/api/inngest/route.ts
  apps/app/package.json
  apps/app/src/clients/redis.ts
  apps/app/src/inngest/walletRedisCron.ts
  apps/app/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .github/workflows/ios.yml
Due: none

chore: update
  apps/app/src/clients/redis.ts
  apps/app/turbo.json
Due: js, Javascript

feat: ini upstash redis (#909)
  .github/workflows/ios.yml
  apps/app/app/api/inngest/route.ts
  apps/app/package.json
  apps/app/src/clients/redis.ts
  apps/app/src/inngest/walletRedisCron.ts
  apps/app/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

feat: ini wallet settings
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini prisma schema
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/prismaSchemaChore.ts
Due: js, Javascript

feat: ini wallet settings (#910)
  apps/app/src/inngest/client.ts
  apps/app/src/inngest/index.ts
  apps/app/src/inngest/prismaSchemaChore.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

feat: ini query client
  apps/app/app/(wallet)/[address]/overview/(components)/portfolio-chart.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner.tsx
  apps/app/app/global-error.tsx
  apps/app/package.json
  apps/app/src/components/token-card-sparkline.tsx
  apps/app/src/hooks/useTabs.ts
  pnpm-lock.yaml
Due: js, Javascript

fix: null typings
  apps/app/app/(wallet)/[address]/overview/(components)/portfolio-chart.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner.tsx
  apps/app/src/components/token-card-sparkline.tsx
Due: js, Javascript

feat: ini query client (#911)
  apps/app/app/(wallet)/[address]/overview/(components)/portfolio-chart.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner.tsx
  apps/app/app/global-error.tsx
  apps/app/package.json
  apps/app/src/components/token-card-sparkline.tsx
  apps/app/src/hooks/useTabs.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: upgrade w/ ncu
  apps/app/package.json
  apps/app/src/hooks/useTabs.ts
  apps/auth/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/ui/package.json
  configurations/prisma/package.json
  package.json
  packages/wagmi/package.json
  patches/@wagmi__core@1.4.7.patch
  pnpm-lock.yaml
Due: js, Javascript

fix: refactor wallet namespace
  apps/app/src/inngest/walletRedisCron.ts
  crates/redis/src/namespace.rs
  crates/redis/src/wallet.rs
Due: js, rust, Javascript, Rust

feat: upgrade ncu (#912)
  apps/app/package.json
  apps/app/src/hooks/useTabs.ts
  apps/auth/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/ui/package.json
  configurations/prisma/package.json
  package.json
  packages/wagmi/package.json
  patches/@wagmi__core@1.4.7.patch
  pnpm-lock.yaml
Due: js, Javascript

feat: ini consumer payload tuple
  crates/consumer/src/consumer.rs
  crates/indexer/src/indexer.rs
Due: rust, Rust

chore: ini db format
  crates/db/src/db.rs
Due: rust, Rust

fix: refactor wallet namespace (#913)
  apps/app/src/inngest/walletRedisCron.ts
  crates/redis/src/namespace.rs
  crates/redis/src/wallet.rs
Due: js, rust, Javascript, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
