Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  bin/src/bin/paymaster.rs
  bin/src/bin/simulator.rs
Due: rust, Rust

chore: update
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/flow/ERC20TransferFlow.s.sol
  contracts/script/test/ERC20TransferFlow.t.sol
Due: none

fix: ini script
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/flow/ERC20TransferFlow.s.sol
Due: none

chore: update
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/flow/ERC20TransferFlow.s.sol
Due: none

chore: update
  contracts/script/base/BaseLightDeployerFlow.s.sol
Due: none

chore: update
  .contracts-size
  .storage-layouts
Due: none

chore: update
  fly/gas/fly.toml
  thunder-tests/thunderActivity.json
Due: none

chore: changesets pr (pre) (#558)
  .changeset/pre.json
  android/CHANGELOG.md
  android/package.json
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  bin/CHANGELOG.md
  bin/package.json
  crates/CHANGELOG.md
  crates/package.json
  ios/CHANGELOG.md
  ios/package.json
Due: js, rust, ios, Javascript, Rust, iOS

chore: update
  contracts/script/base/BaseLightDeployerFlow.s.sol
  scripts/run_script_flow.sh
Due: none

chore: update
  .changeset/poor-pillows-knock.md
Due: none

chore: update
  .github/workflows/contracts.yml
Due: none

fix: flow (#582)
  .changeset/poor-pillows-knock.md
  .contracts-size
  .github/workflows/contracts.yml
  .storage-layouts
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/test/ERC20TransferFlow.t.sol
  fly/gas/fly.toml
  scripts/run_script_flow.sh
  thunder-tests/thunderActivity.json
Due: none

fix: tracing logging
  crates/tracing/src/lib.rs
Due: rust, Rust

fix: tracing logging (#584)
  crates/tracing/src/lib.rs
Due: rust, Rust

feat: ini gas + pm
  Cargo.lock
  crates/gas/Cargo.toml
  crates/gas/src/chains/_1.rs
  crates/gas/src/chains/_1337.rs
  crates/gas/src/gas.rs
  crates/gas/src/lib.rs
  crates/gas/src/types.rs
  crates/paymaster/Cargo.toml
  crates/paymaster/src/lib.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/types.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Due: rust, Rust

chore: update
  .gas-snapshot
  contracts/test/unit/hash/PaymasterGetHash.t.sol
Due: none

perf: ini abi contracts
  Cargo.lock
  crates/paymaster/Cargo.toml
  crates/paymaster/abi/LightVerifyingPaymaster.json
  crates/paymaster/src/contract.rs
  crates/paymaster/src/lib.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/types.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/lib.rs
Due: rust, Rust

chore: update mainnet indexer
  .github/workflows/fly.yml
Due: none

feat: ini jsonrpsee crate
  Cargo.lock
  Cargo.toml
  crates/gas/Cargo.toml
  crates/gas/src/gas.rs
  crates/gas/src/lib.rs
  crates/jsonrpsee/Cargo.toml
  crates/jsonrpsee/src/error.rs
  crates/jsonrpsee/src/lib.rs
  crates/jsonrpsee/src/types.rs
  crates/jsonrpsee/tests/.gitkeep
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/types.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/gas/src/gas.rs
  crates/gas/src/gas_api.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Due: rust, Rust

feat: ini contracts crate
  Cargo.lock
  Cargo.toml
  crates/contracts/Cargo.toml
  crates/contracts/abi/LightVerifyingPaymaster.json
  crates/contracts/src/lib.rs
  crates/contracts/src/paymaster.rs
  crates/contracts/tests/.gitkeep
  crates/paymaster/Cargo.toml
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/contracts/Cargo.toml
  crates/contracts/src/constants.rs
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/contracts/Cargo.toml
  crates/contracts/src/constants.rs
  crates/contracts/src/paymaster.rs
Due: rust, Rust

chore: update
  Cargo.lock
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Due: rust, Rust

perf: ini valid
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: ini get hash
  .gas-snapshot
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.tree
  crates/contracts/src/paymaster.rs
  crates/gas/Cargo.toml
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: ini fallback provider
  crates/contracts/src/lib.rs
  crates/contracts/src/paymaster.rs
  crates/contracts/src/provider.rs
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  crates/contracts/src/provider.rs
Due: rust, Rust

perf: construct paymaster and data
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  .github/workflows/graphql.yml
  crates/contracts/src/paymaster.rs
  crates/contracts/src/provider.rs
Due: rust, Rust

chore: raise gha limit
  .github/workflows/docker.yml
  .github/workflows/fly.yml
  .github/workflows/k8s.yml
Due: none

feat: ini gas + pm (#585)
  .gas-snapshot
  .github/workflows/docker.yml
  .github/workflows/fly.yml
  .github/workflows/graphql.yml
  .github/workflows/k8s.yml
  Cargo.lock
  Cargo.toml
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.tree
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  crates/contracts/Cargo.toml
  crates/contracts/abi/LightVerifyingPaymaster.json
  crates/contracts/src/constants.rs
  crates/contracts/src/lib.rs
  crates/contracts/src/paymaster.rs
  crates/contracts/src/provider.rs
  crates/contracts/tests/.gitkeep
  crates/gas/Cargo.toml
  crates/gas/src/chains/_1.rs
  crates/gas/src/chains/_1337.rs
  crates/gas/src/gas.rs
  crates/gas/src/gas_api.rs
  crates/gas/src/lib.rs
  crates/gas/src/types.rs
  crates/jsonrpsee/Cargo.toml
  crates/jsonrpsee/src/error.rs
  crates/jsonrpsee/src/lib.rs
  crates/jsonrpsee/src/types.rs
  crates/jsonrpsee/tests/.gitkeep
  crates/paymaster/src/lib.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/types.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Due: rust, Rust

fix: deploy hosted
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

fix: deploy hosted (#594)
  apps/subgraph/networks.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.yaml
Due: js, Javascript

perf: ini api check
  .github/workflows/api.yml
  package.json
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_apilightso.json
  thunder-tests/thunderActivity.json
Due: none
