Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: ini owner banner
  apps/app/app/(wallet)/[address]/owners/(components)/owner-overview-banner/owner-overview-banner.tsx
Due: js, Javascript

feat: ini owner form
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/src/const/index.ts
  apps/app/tsconfig.json
  packages/const/src/configuration.ts
  packages/const/src/index.ts
  packages/forms/package.json
  packages/forms/src/owner-form.stories.tsx
  packages/forms/src/owner-form.tsx
  packages/schemas/src/form/index.ts
  packages/schemas/src/form/ownerForm.ts
  packages/schemas/src/index.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: auto fix commit
  packages/forms/src/owner-form.tsx
Due: js, Javascript

feat: ini modal address
  apps/app/tsconfig.json
  packages/forms/src/index.ts
  packages/forms/src/owner-form.tsx
  packages/modals/src/owner/owner-modal.tsx
Due: js, Javascript

chore: ini modal form
  .changeset/itchy-cobras-allow.md
Due: none

feat: ini owner form
  packages/forms/src/owner-form.tsx
Due: js, Javascript

chore: UPDATE OWNER
  packages/forms/package.json
  packages/forms/src/owner-form.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: auto fix commit
  packages/modals/src/owner/owner-modal.tsx
Due: js, Javascript

chore: ini owner form
  packages/forms/src/owner-form.tsx
  packages/forms/tsconfig.json
Due: js, Javascript

feat: ini owner modal props
  apps/app/app/(wallet)/[address]/owners/(components)/owner-overview-banner/owner-overview-banner.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/owners-data-table.tsx
  packages/forms/src/owner-form.tsx
  packages/stores/src/useModals.ts
Due: js, Javascript

feat: ini modal props
  apps/app/app/(wallet)/[address]/owners/(components)/owner-overview-banner/owner-overview-banner.tsx
  apps/app/app/(wallet)/[address]/owners/(components)/owners-data-table.tsx
  packages/stores/src/useModals.ts
Due: js, Javascript

feat: ini owner form push
  apps/app/app/(wallet)/[address]/owners/(components)/owner-overview-banner/owner-overview-banner.tsx
  packages/forms/src/owner-form.tsx
  packages/modals/src/owner/owner-modal.tsx
Due: js, Javascript

chore: update
  packages/forms/src/owner-form.tsx
Due: js, Javascript

feat: ini configuraton operation creation
  apps/app/app/(wallet)/[address]/owners/(components)/owners-data-table.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration_operation/create.rs
  packages/client/src/api/configuration_operation.ts
  packages/client/src/api/index.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/configurationOperation.ts
  packages/params/src/index.ts
  packages/query/src/index.ts
  packages/query/src/useMutationConfigurationOperationCreate.ts
Due: js, rust, Javascript, Rust

feat: ini mutation creation
  packages/forms/package.json
  packages/forms/src/owner-form.tsx
  packages/query/src/useMutationConfigurationOperationCreate.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  crates/sequence/src/utils.rs
Due: rust, Rust

chore: update
  packages/sequence/src/utils/hashSetImageHash.ts
Due: js, Javascript

chore: update
  packages/sequence/src/index.ts
Due: js, Javascript

feat: udpate
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/types.rs
  crates/axum/src/routes/wallet/create.rs
  packages/hooks/src/index.ts
  packages/hooks/src/useConfigurationOperationCreate.ts
Due: js, rust, Javascript, Rust

chore: update query
  .changeset/clever-tables-sing.md
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/types.rs
Due: rust, Rust

feat: ini status care
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/types.rs
  packages/forms/package.json
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/(wallet)/[address]/owners/(components)/owner-overview-banner/owner-overview-banner.tsx
Due: js, Javascript

feat: ini owner form
  packages/client/src/api/configuration_operation.ts
  packages/client/src/types/api/v1.d.ts
  packages/forms/package.json
  packages/forms/src/owner-form.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/params/src/configurationOperation.ts
  packages/query/src/useMutationConfigurationOperationCreate.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini creation
  packages/hooks/package.json
  packages/hooks/src/useConfigurationOperationCreate.ts
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

chore: update
  crates/axum/src/routes/configuration_operation/mod.rs
Due: rust, Rust

chore: update query (#1728)
  .changeset/clever-tables-sing.md
  apps/app/app/(wallet)/[address]/owners/(components)/owner-overview-banner/owner-overview-banner.tsx
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/mod.rs
  crates/axum/src/routes/configuration_operation/types.rs
  packages/client/src/api/configuration_operation.ts
  packages/client/src/types/api/v1.d.ts
  packages/forms/package.json
  packages/forms/src/owner-form.tsx
  packages/hooks/package.json
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/hooks/src/useUserOperationCreate.ts
  packages/params/src/configurationOperation.ts
  packages/query/src/useMutationConfigurationOperationCreate.ts
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

fix: demo msw handler
  packages/demo/src/api/token/list.json
  packages/demo/src/simplehash/nfts/list.json
  packages/msw/src/handlers/index.ts
Due: js, Javascript

fix: demo msw handler (#1729)
  packages/demo/src/api/token/list.json
  packages/demo/src/simplehash/nfts/list.json
  packages/msw/src/handlers/index.ts
Due: js, Javascript

fix: pathname new
  apps/app/app/(authenticated)/new/(components)/root/root-context.tsx
Due: js, Javascript

chore: auto fix commit
  packages/forms/src/owner-form.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
Due: js, Javascript

fix: ini new wallet form
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(wallet)/@create/(.)[address]/create/page.tsx
  packages/templates/src/modal-interception/modal-interception.tsx
Due: js, Javascript

chore: ini invite code
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  packages/forms/src/invite-code-form.tsx
Due: js, Javascript

fix: pathname new (#1730)
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/(components)/root/root-context.tsx
  apps/app/app/(wallet)/@create/(.)[address]/create/page.tsx
  packages/forms/src/invite-code-form.tsx
  packages/forms/src/owner-form.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/templates/src/modal-interception/modal-interception.tsx
Due: js, Javascript

fix: ini create tx
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  packages/demo/src/api/wallet/get.json
  packages/demo/src/api/wallet/index.ts
  packages/templates/package.json
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
  packages/ui/src/components/toast.tsx
Due: js, Javascript

fix: init code
  .changeset/stale-lies-rescue.md
Due: none

chore: update
  pnpm-lock.yaml
Due: none

fix: ini auto initCode (#1731)
  .changeset/stale-lies-rescue.md
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  packages/demo/src/api/wallet/get.json
  packages/demo/src/api/wallet/index.ts
  packages/templates/package.json
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
  packages/ui/src/components/toast.tsx
  pnpm-lock.yaml
Due: js, Javascript

fix: ini code cycle
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript
