Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  apps/auth/next.config.mjs
  apps/auth/package.json
  apps/auth/sentry.server.config.js
  apps/auth/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/.env.production
Due: js, Javascript

fix: docker build
  Cargo.toml
Due: none

chore: update
  crates/contracts/abi/LightWallet.json
  crates/contracts/abi/LightWalletFactory.json
Due: rust, Rust

Update GraphQL Schema
  crates/graphql/schemas/graph.graphql
Due: rust, Rust

chore: update
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: v2
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: v2
  contracts/script/base/BaseLightDeployer.s.sol
  foundry.toml
Due: none

chore: update
  contracts/script/base/BaseLightDeployer.s.sol
Due: none

chore: update
  .github/workflows/graphql.yml
Due: none

chore: update
  apps/app/package.json
  apps/auth/package.json
  apps/changelog/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/home/package.json
  apps/playground/package.json
  apps/ui/package.json
  configurations/eslint/package.json
  package.json
  packages/next-auth/package.json
  packages/popup/package.json
  packages/trpc/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/app/next.config.js
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/turbo.json
Due: js, Javascript

chore: update
  apps/app/sentry.client.config.js
  apps/app/sentry.edge.config.js
  apps/app/sentry.properties
  apps/app/sentry.server.config.js
Due: js, Javascript

chore: update
  pnpm-lock.yaml
Due: none

fix: docker build (#617)
  Cargo.toml
  crates/contracts/abi/LightWallet.json
  crates/contracts/abi/LightWalletFactory.json
Due: rust, Rust

chore: ini playground env
  apps/playground/next.config.mjs
  apps/playground/package.json
  apps/playground/sentry.client.config.js
  apps/playground/sentry.edge.config.js
  apps/playground/sentry.properties
  apps/playground/sentry.server.config.js
  apps/playground/tsconfig.json
  apps/playground/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: ini sig (#619)
  .github/workflows/graphql.yml
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  foundry.toml
  thunder-tests/collections/tc_col_rpclightso.json
Due: none

chore: update
  apps/explorer/.env.production
Due: js, Javascript

fix: gas rpc
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/polygon.rs
  crates/gas/src/gas.rs
Due: rust, Rust

fix: gas rpc (#620)
  crates/gas/src/chains/ethereum.rs
  crates/gas/src/chains/polygon.rs
  crates/gas/src/gas.rs
Due: rust, Rust

feat: ini bun
  Cargo.lock
  Cargo.toml
  crates/bundler/Cargo.toml
  crates/bundler/src/bundler.rs
  crates/bundler/src/config.rs
  crates/bundler/src/lib.rs
  crates/bundler/src/opts.rs
  crates/bundler/src/rpc.rs
  crates/bundler/src/uo_pool.rs
  crates/bundler/src/utils.rs
  crates/gas/src/config.rs
  crates/paymaster/src/config.rs
  crates/simulator/src/config.rs
  fly/bundler-sepolia/fly.toml
Due: rust, Rust

feat: ini sentry
  apps/auth/sentry.properties
  apps/changelog/next.config.js
  apps/changelog/next.config.mjs
  apps/changelog/package.json
  apps/changelog/sentry.client.config.js
  apps/changelog/sentry.edge.config.js
  apps/changelog/sentry.properties
  apps/changelog/sentry.server.config.js
  apps/changelog/turbo.json
  apps/docs/package.json
  apps/docs/sentry.client.config.js
  apps/docs/sentry.edge.config.js
  apps/docs/sentry.properties
  apps/docs/sentry.server.config.js
  apps/docs/turbo.json
  apps/explorer/next.config.js
  apps/explorer/package.json
  apps/explorer/sentry.client.config.js
  apps/explorer/sentry.edge.config.js
  apps/explorer/sentry.properties
  apps/explorer/sentry.server.config.js
  apps/explorer/turbo.json
  apps/home/package.json
  apps/home/sentry.client.config.js
  apps/home/sentry.edge.config.js
  apps/home/sentry.properties
  apps/home/sentry.server.config.js
  apps/home/turbo.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/explorer/next.config.mjs
Due: js, Javascript

fix: auth url
  apps/app/.env.production
  apps/auth/.env.production
  apps/explorer/.env.production
  apps/playground/.env.production
  packages/trpc/src/server/shared.ts
Due: js, Javascript

chore: update
  apps/auth/package.json
  apps/auth/sentry.client.config.js
  apps/auth/sentry.edge.config.js
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  apps/auth/sentry.properties
Due: js, Javascript

fix: auth url (#622)
  apps/app/.env.production
  apps/auth/.env.production
  apps/auth/package.json
  apps/auth/sentry.client.config.js
  apps/auth/sentry.edge.config.js
  apps/auth/sentry.properties
  apps/explorer/.env.production
  apps/playground/.env.production
  packages/trpc/src/server/shared.ts
  pnpm-lock.yaml
Due: js, Javascript

fix: proj
  apps/auth/sentry.properties
Due: js, Javascript

feat: ini bundler args
  crates/bundler/src/bundler.rs
  crates/bundler/src/cli/args.rs
  crates/bundler/src/cli/commands.rs
  crates/bundler/src/cli/mod.rs
  crates/bundler/src/config.rs
  crates/bundler/src/lib.rs
  crates/bundler/src/opts.rs
  crates/bundler/src/rpc.rs
  crates/bundler/src/uo_pool.rs
  crates/bundler/src/utils.rs
Due: rust, Rust

perf: clean up args
  crates/bundler/src/args.rs
  crates/bundler/src/bundler.rs
  crates/bundler/src/cli/commands.rs
  crates/bundler/src/cli/mod.rs
  crates/bundler/src/config.rs
  crates/bundler/src/lib.rs
Due: rust, Rust

chore: update
  crates/bundler/src/args.rs
  crates/bundler/src/bundler.rs
  crates/bundler/src/config.rs
Due: rust, Rust

fix: ini paymaster multiplier
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

perf: update
  contracts/script/base/BaseLightDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
