Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: husky changesets gha (#1276)
  .github/workflows/changesets.yml
Due: none

fix: ini bump
  .changeset/strange-houses-appear.md
Due: none

fix: ini bump (#1277)
  .changeset/strange-houses-appear.md
Due: none

chore: changesets pr (#1278)
  .changeset/strange-houses-appear.md
  apps/app/CHANGELOG.md
  apps/app/package.json
  apps/explorer/CHANGELOG.md
  apps/explorer/package.json
  apps/ui/CHANGELOG.md
  apps/ui/package.json
Due: js, Javascript

fix: bump
  .github/workflows/changesets.yml
Due: none

chore: update
  .changeset/famous-ants-itch.md
Due: none

fix: /ini bump v2 (#1279)
  .changeset/famous-ants-itch.md
  .github/workflows/changesets.yml
Due: none

chore: changesets pr (#1280)
  .changeset/famous-ants-itch.md
  apps/app/CHANGELOG.md
  apps/app/package.json
  apps/explorer/CHANGELOG.md
  apps/explorer/package.json
  apps/ui/CHANGELOG.md
  apps/ui/package.json
Due: js, Javascript

feat: ini major
  .changeset/fast-rivers-peel.md
Due: none

chore: update
  .github/workflows/changesets.yml
  package.json
Due: none

feat: ini major (#1281)
  .changeset/fast-rivers-peel.md
  .github/workflows/changesets.yml
  package.json
Due: none

chore(main): release v0.1.3
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: auto fix commit
  CHANGELOG.md
Due: none

chore(main): release v0.1.3 (#1238)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: update 2024
  .github/workflows/changesets.yml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  package.json
Due: none

feat: ini gha filters
  .github/workflows/am.yml
  .github/workflows/android.yml
  .github/workflows/api.yml
  .github/workflows/auto-approve.yml
  .github/workflows/changesets.yml
  .github/workflows/cla.yml
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/fly.yml
  .github/workflows/graphql.yml
  .github/workflows/ios.yml
  .github/workflows/k8s.yml
  .github/workflows/node.yml
  .github/workflows/pr.yml
  .github/workflows/prisma.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/todo.yml
Due: none

chore: update
  .changeset/short-geese-taste.md
Due: none

chore: update 2024 (#1283)
  .changeset/short-geese-taste.md
  .github/workflows/am.yml
  .github/workflows/android.yml
  .github/workflows/api.yml
  .github/workflows/auto-approve.yml
  .github/workflows/changesets.yml
  .github/workflows/cla.yml
  .github/workflows/contracts.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.yml
  .github/workflows/extension.yml
  .github/workflows/fastlane.yml
  .github/workflows/fly.yml
  .github/workflows/graphql.yml
  .github/workflows/ios.yml
  .github/workflows/k8s.yml
  .github/workflows/node.yml
  .github/workflows/pr.yml
  .github/workflows/prisma.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/todo.yml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  package.json
Due: js, Javascript

fix: changesets release process
  .github/workflows/changesets.yml
Due: none

fix: changesets release process (#1291)
  .github/workflows/changesets.yml
Due: none

fix: changesets v2
  .github/workflows/changesets.yml
Due: none

fix: changesets v2 (#1293)
  .github/workflows/changesets.yml
Due: none

feat: ini signature op
  .clippy.toml
  Cargo.lock
  Cargo.toml
  crates/axum/src/routes/user_operation/signature.rs
  crates/simulator/Cargo.toml
  crates/simulator/src/config.rs
  crates/simulator/src/lib.rs
  crates/simulator/src/simulator.rs
  crates/simulator/src/simulator_api.rs
  crates/simulator/src/types.rs
  rust-toolchain.toml
Due: rust, Rust

chore: update
  .changeset/nasty-beans-study.md
Due: none

chore: deprecate fly simulator
  .github/workflows/fly.yml
  fly/simulator/fly.toml
Due: none

chore: update token groups fetch
  crates/axum/src/routes/token/list.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/token/list.rs
Due: rust, Rust

feat: ini signature op (#1294)
  .changeset/nasty-beans-study.md
  .clippy.toml
  .github/workflows/fly.yml
  Cargo.lock
  Cargo.toml
  crates/axum/src/routes/user_operation/signature.rs
  crates/simulator/Cargo.toml
  crates/simulator/src/config.rs
  crates/simulator/src/lib.rs
  crates/simulator/src/simulator.rs
  crates/simulator/src/simulator_api.rs
  crates/simulator/src/types.rs
  fly/simulator/fly.toml
  rust-toolchain.toml
Due: rust, Rust

fix: token list
  crates/axum/src/routes/token/list.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/odd-dragons-occur.md
Due: none

chore: ini token list params
  apps/app/app/(wallet)/[address]/@send/(.)send/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/components/token/tokens-list.tsx
  apps/app/src/handlers/paths/[address]/overview/handler.ts
  apps/app/src/handlers/paths/[address]/overview/tokens/handler.ts
  apps/app/src/handlers/paths/[address]/send/handler.ts
  apps/app/src/params/token.ts
  apps/app/src/preloaders/paths/[address]/overview/tokens/preloader.ts
  apps/app/src/preloaders/paths/[address]/send/preloader.ts
  apps/app/src/query/useQueryTokens.ts
  apps/app/src/query/useQueryTokensCount.ts
  apps/app/src/query/useSuspenseQueryTokens.ts
  apps/app/src/services/getTokens.ts
  crates/axum/src/routes/token/list.rs
  packages/client/src/api/token.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: refactor token list (#1295)
  .changeset/odd-dragons-occur.md
  apps/app/app/(wallet)/[address]/@send/(.)send/page.tsx
  apps/app/app/(wallet)/[address]/overview/page.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/data-table/data-table-toolbar.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/(components)/tokens-data-table.tsx
  apps/app/app/(wallet)/[address]/overview/tokens/page.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/components/token/tokens-list.tsx
  apps/app/src/handlers/paths/[address]/overview/handler.ts
  apps/app/src/handlers/paths/[address]/overview/tokens/handler.ts
  apps/app/src/handlers/paths/[address]/send/handler.ts
  apps/app/src/params/token.ts
  apps/app/src/preloaders/paths/[address]/overview/tokens/preloader.ts
  apps/app/src/preloaders/paths/[address]/send/preloader.ts
  apps/app/src/query/useQueryTokens.ts
  apps/app/src/query/useQueryTokensCount.ts
  apps/app/src/query/useSuspenseQueryTokens.ts
  apps/app/src/services/getTokens.ts
  crates/axum/src/routes/token/list.rs
  packages/client/src/api/token.ts
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

feat: ini interpreter
  Cargo.lock
  Cargo.toml
  crates/contracts/src/provider.rs
  crates/interpreter/Cargo.toml
  crates/interpreter/src/lib.rs
  crates/interpreter/tests/.gitkeep
  crates/simulator/Cargo.toml
  crates/simulator/src/simulator.rs
  crates/simulator/src/types.rs
  crates/solutions/src/signature.rs
Due: rust, Rust

chore: update simulator props
  bin/src/bin/simulator.rs
  crates/simulator/src/types.rs
  crates/simulator/tests/it/eth_transfer.rs
  crates/simulator/tests/it/main.rs
Due: rust, Rust

feat: ini simulator interpreter
  .changeset/stupid-sheep-joke.md
  Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/lib.rs
  crates/simulator/src/evm.rs
  crates/simulator/src/simulator.rs
  crates/simulator/src/types.rs
Due: rust, Rust

chore: update decoder
  Cargo.lock
  crates/interpreter/Cargo.toml
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
