Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  .gas-snapshot
Due: none

chore: update
  ACKNOWLEDGEMENTS.md
  README.md
  REFERENCES.md
  contracts/src/LightPaymaster.sol
  contracts/src/LightTimelockController.sol
  contracts/src/LightVault.sol
  contracts/src/LightWallet.sol
  contracts/src/LightWalletFactory.sol
Due: contracts, Contracts

feat: refactor
  apps/ai/turbo.json
  apps/app/turbo.json
  apps/blog/turbo.json
  apps/changelog/turbo.json
  apps/desktop/turbo.json
  apps/docs/turbo.json
  apps/explorer/turbo.json
  apps/extension/turbo.json
  apps/frames/turbo.json
  apps/home/turbo.json
  apps/inngest/turbo.json
  apps/paper/turbo.json
  apps/proposals/turbo.json
  apps/storybook/turbo.json
  packages/background/turbo.json
  packages/content/turbo.json
  packages/inpage/turbo.json
  packages/popup/turbo.json
  packages/ui/turbo.json
  packages/wagmi/package.json
  packages/wagmi/src/generated.ts
  packages/wagmi/turbo.json
Due: js, Javascript

chore: update
  apps/docs/turbo.json
  configurations/prisma/turbo.json
  packages/client/src/types/api/v1.d.ts
  packages/client/turbo.json
  turbo.json
Due: js, Javascript

chore: update
  .changeset/great-apricots-pretend.md
Due: none

feat: update
  .contracts-size
  .storage-layouts
  contracts/test/spec/light-paymaster.spec.ts
  package.json
  packages/wagmi/src/generated.ts
Due: js, Javascript

chore: update
  .contracts-size
Due: none

feat: ini turbo refactor + generate (#2431)
  .changeset/great-apricots-pretend.md
  .contracts-size
  .storage-layouts
  apps/ai/turbo.json
  apps/app/turbo.json
  apps/blog/turbo.json
  apps/changelog/turbo.json
  apps/desktop/turbo.json
  apps/docs/turbo.json
  apps/explorer/turbo.json
  apps/extension/turbo.json
  apps/frames/turbo.json
  apps/home/turbo.json
  apps/inngest/turbo.json
  apps/paper/turbo.json
  apps/proposals/turbo.json
  apps/storybook/turbo.json
  configurations/prisma/turbo.json
  contracts/test/spec/light-paymaster.spec.ts
  package.json
  packages/background/turbo.json
  packages/client/src/types/api/v1.d.ts
  packages/client/turbo.json
  packages/content/turbo.json
  packages/inpage/turbo.json
  packages/popup/turbo.json
  packages/ui/turbo.json
  packages/wagmi/package.json
  packages/wagmi/src/generated.ts
  packages/wagmi/turbo.json
  turbo.json
Due: js, Javascript

feat: ini child
  biome.json
  contracts/turbo.json
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightVault.sol/LightVault.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
  packages/query/src/useMutationAuthVerify.ts
  packages/query/src/useMutationConfigurationOperationCreate.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
Due: js, Javascript

chore: update
  contracts/abis/LightPaymaster/LightPaymaster.json
  contracts/package.json
Due: none

feat: update
  Makefile
  contracts/bytecodes/ERC1967Proxy/v0.1.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.2.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
  contracts/bytecodes/LightDAG/v0.1.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/bytecodes/LightVaultFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.3.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/LightVaultFactoryDeployer.s.sol
  contracts/script/base/BaseLightDeployerFlow.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  contracts/test/base/BaseForkTest.t.sol
  foundry.toml
  opt/LightDAG.sol/LightDAG.json
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightVault.sol/LightVault.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
  wagmi.config.ts
Due: none

chore: update
  opt/LightDAG.sol/LightDAG.json
  opt/LightPaymaster.sol/LightPaymaster.json
  opt/LightTimelockController.sol/LightTimelockController.json
  opt/LightTimelockControllerFactory.sol/LightTimelockControllerFactory.json
  opt/LightVault.sol/LightVault.json
  opt/LightVaultFactory.sol/LightVaultFactory.json
  opt/LightWallet.sol/LightWallet.json
  opt/LightWalletFactory.sol/LightWalletFactory.json
Due: none

chore: update
  Makefile
Due: none

feat: update
  contracts/bytecodes/ERC1967Proxy/v0.1.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.2.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
  contracts/bytecodes/LightDAG/v0.1.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightDAGDeployer.s.sol
  contracts/script/LightVaultFactoryDeployer.s.sol
Due: none

feat: update
  .gas-snapshot
  contracts/bytecodes/ERC1967Proxy/v0.1.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.2.0.b.sol
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
  contracts/bytecodes/LightDAG/v0.1.0.b.sol
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightDAGDeployer.s.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/LightVaultFactoryDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/base/BaseLightDeployerOps.s.sol
  contracts/script/flow/LightPaymasterVerifyFlow.s.sol
  contracts/script/ops/PaymasterAddDepositOps.s.sol
  contracts/script/ops/PaymasterAddStakeOps.s.sol
  contracts/script/ops/PaymasterOwnershipTransferOps.s.sol
  contracts/script/ops/PaymasterUnlockStakeOps.s.sol
  contracts/script/ops/PaymasterWithdrawStakeOps.s.sol
  contracts/script/past/LightWalletFactoryDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  foundry.toml
Due: none

feat: update
  broadcast/LightWalletFactoryDeployer.s.sol/10/dry-run/run-1727631868.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/dry-run/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1727631998.json
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.3.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/script/flow/ERC20TransferFlow.s.sol
  contracts/script/flow/LightWalletDeployFlow.s.sol
  contracts/script/flow/SimpleAccountDeployFlow.s.sol
Due: none

feat: update
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
Due: none

feat: update
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/bytecodes/LightTimelockControllerFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.3.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/test/base/BaseTest.t.sol
  scripts/crunch_factory_script.sh
Due: none

feat: update
  SECURITY.md
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1727634891.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1727634917.json
  contracts/script/LightWalletFactoryDeployer.s.sol
Due: none

feat: update
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  contracts/src/LightVaultFactory.sol
Due: contracts, js, Contracts, Javascript

feat: update
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  contracts/constants/addresses.sol
  package.json
  packages/const/src/contract_addresses.ts
Due: js, Javascript

feat: update
  .lintstagedrc.js
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1727634891.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1727634917.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-latest.json
  package.json
Due: none

chore: update
  contracts/test/spec/light-paymaster.spec.ts
Due: none

feat: update (#2433)
  .lintstagedrc.js
  SECURITY.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1727634891.json
  broadcast/LightWalletFactoryDeployer.s.sol/10/run-1727634917.json
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/bytecodes/LightTimelockControllerFactory/v0.1.0.b.sol
  contracts/bytecodes/LightWalletFactory/v0.3.0.b.sol
  contracts/constants/addresses.sol
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/script/LightWalletFactoryDeployer.s.sol
  contracts/src/LightVaultFactory.sol
  contracts/test/base/BaseTest.t.sol
  contracts/test/spec/light-paymaster.spec.ts
  package.json
  packages/const/src/contract_addresses.ts
  scripts/crunch_factory_script.sh
Due: contracts, js, Contracts, Javascript

chore: update
  .changeset/metal-chairs-occur.md
  .changeset/rotten-trains-repair.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/hooks/src/useProxyImplementationAddress.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/sdk/src/index.ts
Due: js, Javascript

chore: update (#2434)
  .changeset/metal-chairs-occur.md
  .changeset/rotten-trains-repair.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/hooks/src/useProxyImplementationAddress.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/sdk/src/index.ts
Due: js, Javascript

feat: ini bytecode
  .contracts-size
  contracts/script/LightPaymasterDeployer.s.sol
  contracts/test/spec/light-vault-factory.spec.ts
  crates/axum/src/routes/wallet/create.rs
  crates/contracts/src/create2.rs
  crates/contracts/src/lib.rs
  crates/sequence/src/lib.rs
  crates/sequence/tests/it/hash.rs
Due: rust, Rust

chore: updaet
  contracts/bytecodes/LightPaymaster/v0.1.0.b.sol
  contracts/script/LightPaymasterDeployer.s.sol
Due: none

chore: updat
  .lintstagedrc.js
Due: none

chore: update
  SECURITY.md
  packages/const/src/contract_addresses.ts
Due: js, Javascript

feat: update
  contracts/build.sh
  contracts/bytecodes/ERC1967Proxy/v0.3.0.b.sol
  contracts/src/ERC1967Proxy.sol
  opt/ERC1967Proxy.sol/ERC1967Proxy.json
Due: contracts, Contracts

chore: update
  .lintstagedrc.js
Due: none

chore: update
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640234.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640266.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640324.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640370.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727640432.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-latest.json
  broadcast/LightWalletFactoryDeployer.s.sol/84532/run-1727640570.json
  contracts/test/base/BaseForkTest.t.sol
  contracts/test/fork/factory/LightWalletFactory.t.sol
  opt/ERC1967Proxy.sol/ERC1967Proxy.json
Due: none

chore: update
  contracts/test/base/BaseForkTest.t.sol
Due: none
