Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    project:
      default:
        informational: true
      contracts:
        informational: true
        flags:
          - contracts
      js:
        informational: true
        flags:
          - js
      rust:
        informational: true
        flags:
          - rust
      ios:
        informational: true
        flags:
          - ios
    patch:
      default:
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: js
      name: Javascript
      paths:
        - apps/**
        - configurations/**
        - packages/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  js:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

fix: schema op activity
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/update.rs
  crates/consumer/src/topics/activity.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
Due: js, Javascript

fix: activity ops (#1326)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/update.rs
  crates/consumer/src/topics/activity.rs
Due: js, rust, Javascript, Rust

fix: sign ops
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationSign.ts
Due: js, Javascript

fix: sign ops (#1327)
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationSign.ts
Due: js, Javascript

fix: ini sign loading
  Cargo.lock
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationCreate.ts
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationSign.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/interpretation.rs
Due: js, rust, Javascript, Rust

fix: ini sign loading (#1328)
  Cargo.lock
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationCreate.ts
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationSign.ts
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/interpretation.rs
Due: js, rust, Javascript, Rust

fix: unique owner sig
  configurations/prisma/migrations/delete_duplicate_signature.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  .changeset/tough-bags-travel.md
Due: none

chore: auto fix commit
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
Due: js, Javascript

fix: unique owner sig (#1329)
  .changeset/tough-bags-travel.md
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card.tsx
  configurations/prisma/migrations/delete_duplicate_signature.sql
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

fix: op create
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationCreate.ts
  apps/ui/src/components/ui/otp.tsx
Due: js, Javascript

chore: crate update
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/signature/get.rs
  crates/axum/src/routes/user_operation/create.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

chore: update
  .changeset/loud-starfishes-return.md
Due: none

fix: op create (#1330)
  .changeset/loud-starfishes-return.md
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/transactions/(hooks)/useUserOperationCreate.ts
  apps/ui/src/components/ui/otp.tsx
  crates/axum/src/routes/signature/create.rs
  crates/axum/src/routes/signature/get.rs
  crates/axum/src/routes/user_operation/create.rs
  packages/client/src/v1.d.ts
Due: js, rust, Javascript, Rust

fix: create card fix
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
Due: js, Javascript

chore: update list
  apps/ui/src/templates/footer/footer-list.tsx
  apps/ui/src/templates/footer/footer-social.tsx
Due: js, Javascript

fix: session create (#1331)
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/ui/src/templates/footer/footer-list.tsx
  apps/ui/src/templates/footer/footer-social.tsx
Due: js, Javascript

fix: axum api
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/notification/read.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/update.rs
Due: rust, Rust

fix: axum api (#1332)
  crates/axum/src/routes/feedback/create.rs
  crates/axum/src/routes/notification/read.rs
  crates/axum/src/routes/support_request/create.rs
  crates/axum/src/routes/user_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  crates/axum/src/routes/wallet/update.rs
Due: rust, Rust

fix: polling config
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: none

fix: ini sig create log
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

fix: polling live (#1333)
  crates/axum/src/routes/user_operation/create.rs
  fly/polling-live/fly.toml
  fly/polling-past/fly.toml
  fly/polling/fly.toml
Due: rust, Rust

feat: complete refacotr client api .d.ts
  .prettierignore
  configurations/eslint/src/index.js
  packages/client/package.json
  packages/client/prepend.sh
  packages/client/src/client.ts
  packages/client/src/types/api/v1.d.ts
  packages/client/src/types/lifi/v1.d.ts
  packages/client/src/types/socket/v1.d.ts
Due: js, Javascript

feat: complete refacotr client api .d.ts (#1334)
  .prettierignore
  configurations/eslint/src/index.js
  packages/client/package.json
  packages/client/prepend.sh
  packages/client/src/client.ts
  packages/client/src/types/api/v1.d.ts
  packages/client/src/types/lifi/v1.d.ts
  packages/client/src/types/socket/v1.d.ts
Due: js, Javascript

feat: ini client crate
  Cargo.lock
  Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/routes/queue/interpretation.rs
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/tests/.gitkeep
  crates/kafka/src/topics/interpretation.rs
  crates/kafka/src/types/interpretation.rs
  crates/kafka/src/types/mod.rs
Due: rust, Rust

feat: ini client
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/client/build.rs
  crates/client/specs/keeper.json
Due: rust, Rust

chore: update client
  .changeset/healthy-cycles-whisper.md
Due: none

fix: ses
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/client/build.rs
  crates/client/src/lib.rs
Due: rust, Rust

fix: ses
  crates/client/build.rs
Due: rust, Rust

chore: update
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
Due: none

feat: ini client crate (#1335)
  .changeset/healthy-cycles-whisper.md
  Cargo.lock
  Cargo.toml
  crates/axum/src/api.rs
  crates/axum/src/routes/queue/interpretation.rs
  crates/client/Cargo.toml
  crates/client/build.rs
  crates/client/specs/keeper.json
  crates/client/src/lib.rs
  crates/client/tests/.gitkeep
  crates/kafka/src/topics/interpretation.rs
  crates/kafka/src/types/interpretation.rs
  crates/kafka/src/types/mod.rs
Due: rust, Rust

feat: ini edge flags
  apps/app/package.json
  apps/app/src/clients/redis.ts
  pnpm-lock.yaml
Due: js, Javascript

fix: edge flags
  apps/app/middleware.ts
  apps/app/src/clients/redis.ts
Due: js, Javascript

chore: ini query suspense
  apps/app/src/components/chain/chain-popover.tsx
  apps/app/src/hooks/useDelayedValue.ts
  apps/app/src/hooks/useMediaQuery.ts
  apps/app/src/hooks/useTabs.ts
  apps/app/src/query/index.ts
  apps/app/src/query/useSuspenseQueryConfiguration.ts
Due: js, Javascript

feat: ini edge flag
  apps/app/app/api/edge-flags/route.ts
  apps/app/src/clients/redis.ts
  apps/app/src/hooks/useEdgeFlag.ts
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

chore: update
  apps/app/app/api/edge-flags/route.ts
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

chore: update
  apps/app/app/api/edge-flags/route.ts
Due: js, Javascript

feat: ini edge flags (#1336)
  apps/app/app/api/edge-flags/route.ts
  apps/app/middleware.ts
  apps/app/package.json
  apps/app/src/components/chain/chain-popover.tsx
  apps/app/src/hooks/index.ts
  apps/app/src/hooks/useDelayedValue.ts
  apps/app/src/hooks/useEdgeFlag.ts
  apps/app/src/hooks/useTabs.tsx
  apps/app/src/query/index.ts
  apps/app/src/query/useSuspenseQueryConfiguration.ts
  pnpm-lock.yaml
Due: js, Javascript
