Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: ini deployed contrats
  broadcast/LightWalletFactoryDeployer.s.sol/100/run-1727677206.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155111/run-1727676996.json
  broadcast/LightWalletFactoryDeployer.s.sol/11155420/run-1727677621.json
  broadcast/LightWalletFactoryDeployer.s.sol/1329/run-1727678338.json
  broadcast/LightWalletFactoryDeployer.s.sol/137/run-1727677293.json
  broadcast/LightWalletFactoryDeployer.s.sol/250/run-1727677719.json
  broadcast/LightWalletFactoryDeployer.s.sol/34443/run-1727678305.json
  broadcast/LightWalletFactoryDeployer.s.sol/42161/run-1727677033.json
  broadcast/LightWalletFactoryDeployer.s.sol/421614/run-1727678163.json
  broadcast/LightWalletFactoryDeployer.s.sol/42170/run-1727677066.json
  broadcast/LightWalletFactoryDeployer.s.sol/42220/run-1727677770.json
  broadcast/LightWalletFactoryDeployer.s.sol/43114/run-1727677821.json
  broadcast/LightWalletFactoryDeployer.s.sol/5000/run-1727678068.json
  broadcast/LightWalletFactoryDeployer.s.sol/56/run-1727677117.json
  broadcast/LightWalletFactoryDeployer.s.sol/7777777/run-1727678227.json
  broadcast/LightWalletFactoryDeployer.s.sol/80002/run-1727678115.json
  broadcast/LightWalletFactoryDeployer.s.sol/81457/run-1727678271.json
  broadcast/LightWalletFactoryDeployer.s.sol/8453/run-1727677690.json
Due: none

feat: update
  crates/axum/src/constants.rs
  crates/axum/src/error.rs
  crates/axum/src/result.rs
  crates/axum/src/routes/auth/session.rs
  crates/axum/src/sessions.rs
Due: rust, Rust

feat: update viem
  apps/ai/package.json
  apps/app/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/explorer/package.json
  apps/frames/package.json
  apps/home/package.json
  apps/storybook/package.json
  contracts/package.json
  package.json
  packages/const/package.json
  packages/data/package.json
  packages/dialogs/package.json
  packages/elements/package.json
  packages/flow/package.json
  packages/forms/package.json
  packages/hooks/package.json
  packages/modals/package.json
  packages/nuqs/package.json
  packages/params/package.json
  packages/query/package.json
  packages/roots/package.json
  packages/schemas/package.json
  packages/sdk/package.json
  packages/sequence/package.json
  packages/states/package.json
  packages/stores/package.json
  packages/svg/package.json
  packages/tables/package.json
  packages/templates/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/validators/package.json
  packages/wagmi/package.json
  packages/widget/package.json
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .changeset/happy-fishes-admire.md
Due: none

chore: update
  apps/app/app/(wallet)/[address]/activity/loader.tsx
  apps/app/app/(wallet)/[address]/overview/history/loading.tsx
  packages/ui/src/providers/react-query/react-query.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/activity/loader.tsx
Due: js, Javascript

feat: ini entrypoint version hook
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/src/useEntryPointVersion.ts
  packages/hooks/src/useQuote.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/hooks/src/useUserOperationsProgress.ts
  packages/sdk/src/contracts.ts
  packages/sdk/src/index.ts
Due: js, Javascript

chore: update fac cont
  packages/sdk/src/contracts.ts
  packages/sdk/src/partial-user-operations.ts
  packages/sdk/src/paymaster.ts
Due: js, Javascript

chore: update
  packages/dialogs/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: ini query (#2440)
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/src/useEntryPointVersion.ts
  packages/hooks/src/useQuote.ts
  packages/hooks/src/useUserOperationSend.ts
  packages/hooks/src/useUserOperationsProgress.ts
  packages/sdk/src/contracts.ts
  packages/sdk/src/index.ts
  packages/sdk/src/partial-user-operations.ts
  packages/sdk/src/paymaster.ts
Due: js, Javascript

fix: ini hook props
  packages/hooks/src/index.ts
Due: js, Javascript

chore: update
  packages/dialogs/src/swap/swap.tsx
Due: js, Javascript

fix: ini hook props (#2441)
  packages/dialogs/src/swap/swap.tsx
  packages/hooks/src/index.ts
Due: js, Javascript

fix: pop 7
  FEATURED.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
Due: js, Javascript

fix: contrats index
  packages/hooks/src/useProxyImplementationAddress.ts
Due: js, Javascript

fix: ini po7 (#2442)
  FEATURED.md
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/hooks/src/useProxyImplementationAddress.ts
Due: js, Javascript

fix: pad op
  .changeset/afraid-carpets-battle.md
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/src/useProxyImplementationAddress.ts
  packages/query/src/useMutationUserOperationSendV07.ts
Due: js, Javascript

fix: pop slice (#2443)
  .changeset/afraid-carpets-battle.md
  packages/dialogs/src/transaction/transaction-fetcher.tsx
  packages/hooks/src/useProxyImplementationAddress.ts
  packages/query/src/useMutationUserOperationSendV07.ts
Due: js, Javascript

feat: ini api header
  crates/axum/src/api.rs
  crates/axum/src/headers.rs
  crates/axum/src/lib.rs
Due: rust, Rust

chore: update
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, Javascript

feat: ini api header (#2444)
  crates/axum/src/api.rs
  crates/axum/src/headers.rs
  crates/axum/src/lib.rs
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, rust, Javascript, Rust

fix: ini deployment calldata
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/const/src/address.ts
  packages/const/src/index.ts
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, Javascript

fix: query uop
  packages/client/src/rpc/index.ts
  packages/data/src/rpc.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
Due: js, Javascript

fix: ini dep addr (#2445)
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  packages/client/src/rpc/index.ts
  packages/const/src/address.ts
  packages/const/src/index.ts
  packages/data/src/rpc.ts
  packages/query/src/useQueryUserOperationEstimateGasV07.ts
  thunder-tests/collections/tc_col_rpclightso.json
Due: js, Javascript

fix: ini pkg ui
  apps/ai/package.json
  apps/app/package.json
  apps/docs/.depcheckrc.yml
  apps/docs/package.json
  apps/envio/package.json
  apps/inngest/package.json
  crates/contracts/src/types.rs
  crates/rpc/src/lib.rs
  package.json
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV07.ts
  packages/redis/package.json
  pnpm-lock.yaml
  thunder-tests/thunderActivity.json
Due: js, rust, Javascript, Rust

chore: update
  .changeset/neat-poems-breathe.md
Due: none

fix: ini pkg ai (#2446)
  .changeset/neat-poems-breathe.md
  apps/ai/package.json
  apps/app/package.json
  apps/docs/.depcheckrc.yml
  apps/docs/package.json
  apps/envio/package.json
  apps/inngest/package.json
  crates/contracts/src/types.rs
  crates/rpc/src/lib.rs
  package.json
  packages/query/src/useQueryPaymasterGasAndPaymasterAndDataV07.ts
  packages/redis/package.json
  pnpm-lock.yaml
  thunder-tests/thunderActivity.json
Due: js, rust, Javascript, Rust

chore: update
  .changeset/olive-dryers-grab.md
Due: none

feat: update
  crates/contracts/src/types.rs
  crates/paymaster/src/billing_operation.rs
  crates/paymaster/src/lib.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/server.rs
  crates/paymaster/src/utils.rs
  crates/rpc/src/lib.rs
  project-words.txt
Due: rust, Rust

chore: update
  crates/paymaster/src/utils.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: update
  crates/paymaster/src/lib.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/services/alchemy.rs
  crates/paymaster/src/services/biconomy.rs
  crates/paymaster/src/services/mod.rs
  crates/paymaster/src/utils.rs
Due: rust, Rust

feat: update
  crates/contracts/src/types.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/paymaster_api.rs
  crates/paymaster/src/server.rs
  crates/paymaster/src/services/mod.rs
  crates/paymaster/src/utils.rs
Due: rust, Rust

feat: update
  crates/paymaster/src/billing_operation.rs
  crates/paymaster/src/paymaster.rs
  crates/paymaster/src/services/mod.rs
  crates/paymaster/src/utils.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
