Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: ini prices iterable fix (#1955)
  .changeset/calm-paws-agree.md
  packages/tables/src/token/card/token-card-sparkline.tsx
  thunder-tests/thunderActivity.json
Due: js, Javascript

fix: nan number
  packages/ui/src/components/number.tsx
Due: js, Javascript

fix: nan number (#1957)
  packages/ui/src/components/number.tsx
Due: js, Javascript

fix: number format
  packages/utils/src/number.ts
Due: js, Javascript

fix: number format (#1959)
  packages/utils/src/number.ts
Due: js, Javascript

fix: chain id
  packages/utils/src/chain.ts
Due: js, Javascript

fix: chain id (#1960)
  packages/utils/src/chain.ts
Due: js, Javascript

chore: update
  .changeset/eleven-points-dream.md
  .prettierignore
  pnpm-lock.yaml
  release-please-config.json
Due: none

fix: workflow collab
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/app/src/hooks/useTabs.tsx
  kurtosis.yml
  packages/svg/src/chain/index.tsx
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

fix: workflow collab (#1962)
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/app/src/hooks/useTabs.tsx
  kurtosis.yml
  packages/svg/src/chain/index.tsx
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

fix: wallets find
  apps/app/src/components/web3/wallet-switcher.tsx
Due: js, Javascript

fix: wallets find (#1963)
  apps/app/src/components/web3/wallet-switcher.tsx
Due: js, Javascript

chore(main): release v0.2.3 [skip deploy]
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore(main): release v0.2.3 [skip deploy] (#1948)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

fix: toggle banner tab
  apps/app/src/hooks/useTabs.tsx
  packages/stores/src/useBanners.ts
  packages/templates/src/banner/banner.tsx
  packages/templates/src/progress-user-operation/progress-user-operation.tsx
Due: js, Javascript

chore: update
  apps/app/src/hooks/useTabs.tsx
Due: js, Javascript

fix: toggle banner tab (#1964)
  apps/app/src/hooks/useTabs.tsx
  packages/stores/src/useBanners.ts
  packages/templates/src/banner/banner.tsx
  packages/templates/src/progress-user-operation/progress-user-operation.tsx
Due: js, Javascript

fix: package closing
  Cargo.lock
  apps/app/src/hooks/useTabs.tsx
  crates/axum/Cargo.toml
  crates/axum/src/routes/queue/token.rs
  crates/constants/src/chains.rs
  crates/constants/src/lib.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/constants.rs
  crates/contracts/src/utils.rs
  crates/indexer/src/indexer.rs
  packages/const/src/chains.ts
  packages/const/src/index.ts
  packages/svg/src/chain/index.tsx
  packages/utils/src/chain.ts
Due: js, rust, Javascript, Rust

fix: const chains
  .changeset/hip-walls-own.md
Due: none

fix: const chains (#1966)
  .changeset/hip-walls-own.md
  Cargo.lock
  apps/app/src/hooks/useTabs.tsx
  crates/axum/Cargo.toml
  crates/axum/src/routes/queue/token.rs
  crates/constants/src/chains.rs
  crates/constants/src/lib.rs
  crates/contracts/Cargo.toml
  crates/contracts/src/constants.rs
  crates/contracts/src/utils.rs
  crates/indexer/src/indexer.rs
  packages/const/src/chains.ts
  packages/const/src/index.ts
  packages/svg/src/chain/index.tsx
  packages/utils/src/chain.ts
Due: js, rust, Javascript, Rust

fix: playwright
  .changeset/lucky-dodos-relate.md
  playwright.config.ts
Due: none

fix: playwright (#1969)
  .changeset/lucky-dodos-relate.md
  playwright.config.ts
Due: none

chore: update
  .changeset/clean-rabbits-hope.md
Due: none

chore: update
  packages/query/src/useMutationUserOperationSend.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: modal interception swiper
  .changeset/afraid-rice-try.md
  packages/stores/src/useModalSwiper.ts
Due: js, Javascript

chore: update
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: modal interception swiper (#1971)
  .changeset/afraid-rice-try.md
  packages/stores/src/useModalSwiper.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: creation
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix/modal interception tx (#1972)
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

feat: ini deployment card
  apps/app/app/(wallet)/[address]/dev/(components)/dev-form.tsx
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
  apps/app/src/components/settings/settings-card.tsx
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/settings/deployment/(components)/settings-deployment-card.tsx
Due: js, Javascript

chore: update
  .changeset/giant-mugs-shop.md
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
