Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

fix: social link
  packages/const/src/social_links.ts
Due: js, Javascript

fix: social link (#1827)
  packages/const/src/social_links.ts
Due: js, Javascript

chore: ini readme png
  README.md
  assets/github.png
Due: none

chore: update
  .changeset/flat-houses-happen.md
Due: none

fix: ini readme (#1828)
  .changeset/flat-houses-happen.md
  README.md
  assets/github.png
Due: none

chore(main): release v0.1.6
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: auto fix commit
  CHANGELOG.md
Due: none

chore(main): release v0.1.6 (#1511)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

fix: ini ogp txs
  .changeset/bright-brooms-drum.md
  .contracts-size
  apps/app/app/opengraph-image.png
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

fix: ini ogp txs (#1829)
  .changeset/bright-brooms-drum.md
  .contracts-size
  apps/app/app/opengraph-image.png
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore(main): release v0.1.7
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: Update .release-please-manifest.json
  .release-please-manifest.json
Due: none

chore: update
  crates/axum/src/routes/user_operation/create.rs
Due: rust, Rust

chore(main): release v0.1.7 (#1830)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

fix: tx fetch undefined
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

fix: handlers
  apps/app/src/handlers/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/[address]/overview/tokens/handler.ts
Due: js, Javascript

chore: update handler ops
  apps/app/src/handlers/[address]/overview/history/handler.ts
Due: js, Javascript

fix: tx fetch undefined (#1836)
  apps/app/src/handlers/[address]/overview/history/handler.ts
  apps/app/src/handlers/[address]/overview/nfts/handler.ts
  apps/app/src/handlers/[address]/overview/tokens/handler.ts
  packages/templates/src/transaction/transaction-fetcher.tsx
Due: js, Javascript

feat: ini page extension
  .changeset/nine-cobras-swim.md
  apps/app/app/(wallet)/@create/(.)[address]/create/page.tsx
  apps/app/app/@create/(.)demo/create/page.tsx
Due: js, Javascript

feat: ini wp
  apps/whitepaper/README.md
  apps/whitepaper/bun.lockb
  apps/whitepaper/docs/pages/example.mdx
  apps/whitepaper/docs/pages/getting-started.mdx
  apps/whitepaper/docs/pages/index.mdx
  apps/whitepaper/package.json
  apps/whitepaper/tsconfig.json
  apps/whitepaper/vocs.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: js, Javascript

feat: ini wp (#1840)
  apps/whitepaper/README.md
  apps/whitepaper/bun.lockb
  apps/whitepaper/docs/pages/example.mdx
  apps/whitepaper/docs/pages/getting-started.mdx
  apps/whitepaper/docs/pages/index.mdx
  apps/whitepaper/package.json
  apps/whitepaper/tsconfig.json
  apps/whitepaper/vocs.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: js, Javascript

chore: ini wp
  apps/whitepaper/docs/pages/index.mdx
  apps/whitepaper/tsconfig.json
  apps/whitepaper/vocs.config.ts
Due: js, Javascript

chore: update
  apps/paper/README.md
  apps/paper/bun.lockb
  apps/paper/docs/pages/example.mdx
  apps/paper/docs/pages/getting-started.mdx
  apps/paper/docs/pages/index.mdx
  apps/paper/package.json
  apps/paper/tsconfig.json
  apps/paper/vocs.config.ts
Due: js, Javascript

chore: update
  apps/paper/package.json
Due: js, Javascript

chore: ini wp (#1841)
  apps/paper/README.md
  apps/paper/bun.lockb
  apps/paper/docs/pages/example.mdx
  apps/paper/docs/pages/getting-started.mdx
  apps/paper/docs/pages/index.mdx
  apps/paper/package.json
  apps/paper/tsconfig.json
  apps/paper/vocs.config.ts
Due: js, Javascript

Saving release notes
  release-notes.md
Due: none

chore(main): release v0.2.1
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: none

chore: ini paper
  pnpm-workspace.yaml
Due: none

chore: ini paper (#1842)
  pnpm-workspace.yaml
Due: none

chore: ini draft
  apps/paper/bun.lockb
  apps/paper/docs/pages/concepts/comparison.mdx
  apps/paper/docs/pages/goals/endgame.mdx
  apps/paper/docs/pages/index.mdx
  apps/paper/docs/pages/introduction/chain-abstraction.mdx
  apps/paper/docs/pages/introduction/products.mdx
  apps/paper/docs/pages/introduction/what-is-light.mdx
  apps/paper/docs/pages/overview.mdx
  apps/paper/vocs.config.ts
Due: js, Javascript

chore: auto fix commit
  apps/paper/docs/pages/concepts/comparison.mdx
  apps/paper/docs/pages/goals/endgame.mdx
Due: js, Javascript

chore: ini draft (#1843)
  apps/paper/bun.lockb
  apps/paper/docs/pages/concepts/comparison.mdx
  apps/paper/docs/pages/goals/endgame.mdx
  apps/paper/docs/pages/index.mdx
  apps/paper/docs/pages/introduction/chain-abstraction.mdx
  apps/paper/docs/pages/introduction/products.mdx
  apps/paper/docs/pages/introduction/what-is-light.mdx
  apps/paper/docs/pages/overview.mdx
  apps/paper/vocs.config.ts
Due: js, Javascript

feat: ini goal concept
  apps/paper/docs/pages/example.mdx
  apps/paper/docs/pages/getting-started.mdx
  apps/paper/docs/pages/goals/endgame.mdx
  apps/paper/docs/pages/goals/optimization.mdx
  apps/paper/docs/pages/index.mdx
  apps/paper/docs/pages/introduction/why-light.mdx
  apps/paper/public/logo.svg
  apps/paper/vocs.config.ts
Due: js, Javascript

chore: update opts
  apps/paper/docs/pages/goals/index.mdx
  apps/paper/docs/pages/goals/optimization.mdx
  apps/paper/public/logo.svg
  apps/paper/vocs.config.ts
Due: js, Javascript

chore: ini goals (#1844)
  apps/paper/docs/pages/example.mdx
  apps/paper/docs/pages/getting-started.mdx
  apps/paper/docs/pages/goals/endgame.mdx
  apps/paper/docs/pages/goals/index.mdx
  apps/paper/docs/pages/index.mdx
  apps/paper/docs/pages/introduction/why-light.mdx
  apps/paper/vocs.config.ts
Due: js, Javascript

feat: ini apps paper
  .license-check-and-add-config.json
  apps/paper/bun.lockb
  apps/paper/docs/pages/introduction/why-light.mdx
  apps/paper/pages/concepts/comparison.mdx
  apps/paper/pages/goals/index.mdx
  apps/paper/pages/index.mdx
  apps/paper/pages/introduction/chain-abstraction.mdx
  apps/paper/pages/introduction/products.mdx
  apps/paper/pages/introduction/why-light.mdx
  apps/paper/pages/overview.mdx
  apps/paper/public/light-icon-dark.svg
  apps/paper/public/light-icon-light.svg
  apps/paper/public/light-logo-dark.svg
  apps/paper/public/light-logo-light.svg
  apps/paper/public/og-image.png
  apps/paper/public/preview-og-image.png
  apps/paper/vocs.config.ts
  apps/paper/vocs.config.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
