Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

feat: ini queue tx
  packages/client/src/api/queue.ts
  packages/params/src/index.ts
  packages/params/src/queue.ts
  packages/query/src/index.ts
  packages/query/src/useMutationQueueTransaction.ts
  packages/templates/src/progress-transaction/progress-transaction.tsx
Due: js, Javascript

chore: update
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

chore: ini query chainId fix
  .changeset/fluffy-clouds-fail.md
  packages/query/src/useQueryUserOperations.ts
Due: js, Javascript

fix: ini code cycle (#1732)
  .changeset/fluffy-clouds-fail.md
  packages/client/src/api/queue.ts
  packages/params/src/index.ts
  packages/params/src/queue.ts
  packages/query/src/index.ts
  packages/query/src/useMutationQueueTransaction.ts
  packages/query/src/useQueryUserOperations.ts
  packages/templates/src/progress-transaction/progress-transaction.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

feat: ini configuration op
  packages/data/src/configurationOperation.ts
  packages/data/src/index.ts
  packages/params/src/index.ts
  packages/query/src/index.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
  packages/query/src/useQueryWalletSimulation.ts
Due: js, Javascript

feat: ini config op
  .changeset/hip-weeks-bathe.md
Due: none

feat: ini configuration simulation
  crates/axum/src/routes/configuration_operation/create.rs
  packages/client/src/types/api/v1.d.ts
  packages/data/src/configurationOperation.ts
Due: js, rust, Javascript, Rust

feat: ini wallet billing
  packages/query/src/useQueryWalletBilling.ts
  packages/templates/src/transaction/transaction.tsx
Due: js, Javascript

feat: ini query config
  packages/forms/package.json
  packages/forms/src/owner-form.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/params/src/configurationOperation.ts
  packages/query/src/index.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
  packages/query/src/useQueryWalletSimulation.ts
  pnpm-lock.yaml
Due: js, Javascript

feat: ini owner form
  packages/forms/src/owner-form.tsx
  packages/query/src/useQueryConfigurationOperationSimulation.ts
  packages/templates/src/progress-transaction/progress-transaction.tsx
Due: js, Javascript

chore: udpate
  .changeset/fast-balloons-hope.md
Due: none

feat: ini config op (#1733)
  .changeset/fast-balloons-hope.md
  .changeset/hip-weeks-bathe.md
  crates/axum/src/routes/configuration_operation/create.rs
  packages/client/src/types/api/v1.d.ts
  packages/data/src/configurationOperation.ts
  packages/data/src/index.ts
  packages/forms/package.json
  packages/forms/src/owner-form.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/params/src/index.ts
  packages/query/src/index.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
  packages/query/src/useQueryWalletSimulation.ts
  packages/templates/src/progress-transaction/progress-transaction.tsx
  packages/templates/src/transaction/transaction.tsx
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini config op
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  packages/forms/src/owner-form.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/query-keys/src/configuration_operation.ts
  packages/query-keys/src/index.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
  packages/query/src/useQueryWalletSimulation.ts
Due: js, rust, Javascript, Rust

feat: ini config op (#1734)
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/wallet/create.rs
  packages/forms/src/owner-form.tsx
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/query-keys/src/configuration_operation.ts
  packages/query-keys/src/index.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
  packages/query/src/useQueryWalletSimulation.ts
Due: js, rust, Javascript, Rust

feat: ini modal cop
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  crates/axum/src/routes/configuration_operation/create.rs
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/hooks/src/useUserOperationCreate.ts
Due: js, rust, Javascript, Rust

feat: ini config sim
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
Due: js, Javascript

fix: update culture
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration_operation/mod.rs
  crates/axum/src/routes/configuration_operation/update.rs
  crates/axum/src/routes/configuration_signature/create.rs
Due: rust, Rust

feat: ini modal cop (#1735)
  apps/app/app/(wallet)/@create/(.)[address]/create/(components)/modal-interception-footer.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/mod.rs
  crates/axum/src/routes/configuration_operation/update.rs
  crates/axum/src/routes/configuration_signature/create.rs
  packages/hooks/src/useConfigurationOperationCreate.ts
  packages/hooks/src/useUserOperationCreate.ts
  packages/query/src/useQueryConfigurationOperationSimulation.ts
Due: js, rust, Javascript, Rust

feat: ini cop creation
  crates/axum/src/routes/configuration_operation/create.rs
  packages/hooks/src/useConfigurationOperationCreate.ts
Due: js, rust, Javascript, Rust

chore: update
  crates/axum/src/routes/user_operation/signature.rs
Due: rust, Rust

feat: ini cop creation (#1736)
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/user_operation/signature.rs
  packages/hooks/src/useConfigurationOperationCreate.ts
Due: js, rust, Javascript, Rust

feat: ini get json
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/types.rs
  packages/client/src/types/api/v1.d.ts
  packages/demo/src/api/wallet/get.json
Due: js, rust, Javascript, Rust

feat: ini sig rooted
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/user_operation/signature.rs
Due: js, rust, Javascript, Rust

chore: update sig
  crates/axum/src/routes/user_operation/signature.rs
Due: rust, Rust

feat: ini get json (#1737)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/types.rs
  crates/axum/src/routes/user_operation/signature.rs
  packages/client/src/types/api/v1.d.ts
  packages/demo/src/api/wallet/get.json
Due: js, rust, Javascript, Rust

feat: ini signature op
  packages/client/src/api/user_operation.ts
  packages/data/src/index.ts
  packages/data/src/userOperation.ts
  packages/query-keys/src/user_operation.ts
  packages/query/src/index.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/query/src/useQueryUserOperationSignature.ts
Due: js, Javascript

chore: update
  packages/hooks/src/useUserOperationCreate.ts
Due: js, Javascript

feat: ini config sig (#1738)
  packages/client/src/api/user_operation.ts
  packages/data/src/index.ts
  packages/data/src/userOperation.ts
  packages/hooks/src/useUserOperationCreate.ts
  packages/query-keys/src/user_operation.ts
  packages/query/src/index.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/query/src/useQueryUserOperationSignature.ts
Due: js, Javascript

feat: ini config txs
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  crates/axum/src/routes/user_operation/signature.rs
  packages/client/src/types/api/v1.d.ts
  packages/params/src/configuration.ts
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini config txs (#1739)
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  crates/axum/src/routes/user_operation/signature.rs
  packages/client/src/types/api/v1.d.ts
  packages/params/src/configuration.ts
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini send op
  packages/client/src/api/user_operation.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/templates/src/transaction/transaction.tsx
  packages/wagmi/src/index.ts
Due: js, Javascript

fix: op configuration
  crates/axum/src/routes/user_operation/signature.rs
Due: rust, Rust

feat: ini configuration operation migration
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/configuration/types.rs
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/update.rs
  crates/axum/src/routes/configuration_operation_owner/error.rs
  crates/axum/src/routes/configuration_operation_owner/get.rs
  crates/axum/src/routes/configuration_operation_owner/list.rs
  crates/axum/src/routes/configuration_operation_owner/mod.rs
  crates/axum/src/routes/configuration_operation_owner/types.rs
  crates/axum/src/routes/configuration_operation_signature/create.rs
  crates/axum/src/routes/configuration_operation_signature/error.rs
  crates/axum/src/routes/configuration_operation_signature/get.rs
  crates/axum/src/routes/configuration_operation_signature/list.rs
  crates/axum/src/routes/configuration_operation_signature/mod.rs
  crates/axum/src/routes/configuration_operation_signature/types.rs
  crates/axum/src/routes/configuration_signature/error.rs
  crates/axum/src/routes/configuration_signature/get.rs
  crates/axum/src/routes/mod.rs
  crates/db/src/models/activity.rs
Due: js, rust, Javascript, Rust

feat: ini polling intents (#1741)
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/api.rs
  crates/axum/src/error.rs
  crates/axum/src/routes/configuration/types.rs
  crates/axum/src/routes/configuration_operation/create.rs
  crates/axum/src/routes/configuration_operation/update.rs
  crates/axum/src/routes/configuration_operation_owner/error.rs
  crates/axum/src/routes/configuration_operation_owner/get.rs
  crates/axum/src/routes/configuration_operation_owner/list.rs
  crates/axum/src/routes/configuration_operation_owner/mod.rs
  crates/axum/src/routes/configuration_operation_owner/types.rs
  crates/axum/src/routes/configuration_operation_signature/create.rs
  crates/axum/src/routes/configuration_operation_signature/error.rs
  crates/axum/src/routes/configuration_operation_signature/get.rs
  crates/axum/src/routes/configuration_operation_signature/list.rs
  crates/axum/src/routes/configuration_operation_signature/mod.rs
  crates/axum/src/routes/configuration_operation_signature/types.rs
  crates/axum/src/routes/configuration_signature/error.rs
  crates/axum/src/routes/configuration_signature/get.rs
  crates/axum/src/routes/mod.rs
  crates/axum/src/routes/user_operation/signature.rs
  crates/db/src/models/activity.rs
  packages/client/src/api/user_operation.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
  packages/templates/src/transaction/transaction.tsx
  packages/wagmi/src/index.ts
Due: js, rust, Javascript, Rust

feat: ini genesis configuration
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration_operation_signature/create.rs
  packages/client/src/api/configuration.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/configuration.ts
  packages/query/src/useQueryConfiguration.ts
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

feat: ini genesis configuration (#1742)
  apps/app/app/(wallet)/[address]/create/(components)/create-transaction-dialog.tsx
  crates/axum/src/api.rs
  crates/axum/src/routes/configuration/get.rs
  crates/axum/src/routes/configuration_operation_signature/create.rs
  packages/client/src/api/configuration.ts
  packages/client/src/types/api/v1.d.ts
  packages/params/src/configuration.ts
  packages/query/src/useQueryConfiguration.ts
  packages/templates/src/transaction/transaction.stories.tsx
  packages/templates/src/transaction/transaction.tsx
Due: js, rust, Javascript, Rust

fix: op image hash
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
  crates/axum/src/routes/user_operation/signature.rs
  packages/hooks/src/useUserOperationSubmit.ts
  packages/params/src/index.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
Due: js, rust, Javascript, Rust

fix: op image hash (#1743)
  apps/app/app/(wallet)/@op/(.)[address]/op/(components)/modal-interception-footer.tsx
  apps/app/app/(wallet)/[address]/op/[userOperationHash]/(components)/op-invoke-button.tsx
  crates/axum/src/routes/user_operation/signature.rs
  packages/hooks/src/useUserOperationSubmit.ts
  packages/params/src/index.ts
  packages/params/src/userOperation.ts
  packages/query/src/useMutationUserOperationSend.ts
Due: js, rust, Javascript, Rust

fix: config
  crates/axum/src/routes/user_operation/signature.rs
Due: rust, Rust

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
