Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, node, rust, ios, Contracts, Rust, iOS

codecov.yml:

comment:
  layout: "reach, files, flags, components"
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: "0%"
        informational: true
    patch:
      default:
        target: auto
        threshold: "0%"
        informational: true
component_management:
  individual_components:
    - component_id: contracts
      name: Contracts
      paths:
        - contracts/src/**
    - component_id: rust
      name: Rust
      paths:
        - bin/**
        - crates/**
    - component_id: ios
      name: iOS
      paths:
        - ios/**
flags:
  contracts:
    paths:
      - contracts/src/**
    carryforward: true
  node:
    paths:
      - apps/**
      - configurations/**
      - packages/**
    carryforward: true
  rust:
    paths:
      - bin/**
      - crates/**
    carryforward: true
  ios:
    paths:
      - ios/**
    carryforward: true
ignore:
  - "contracts/src/samples/**"
  - "contracts/src/utils/**"
  - "contracts/test/**"
  - "tools/**"

chore: update
  apps/api/turbo.json
Due: node

chore: update
  apps/api/next.config.js
Due: node

chore: update
  apps/api/package.json
Due: node

chore: update
  .license-check-and-add-config.json
Due: none

feat: ini api init (#244)
  .changeset/weak-kids-jam.md
  .gitignore
  .license-check-and-add-config.json
  .lintstagedrc.js
  .prettierignore
  .vscode/settings.json
  apps/api/app/api/trpc/[trpc]/route.ts
  apps/api/app/api/trpc/openapi.json/route.ts
  apps/api/app/page.tsx
  apps/api/next.config.js
  apps/api/package.json
  apps/api/src/context.ts
  apps/api/src/open-api.ts
  apps/api/src/routers/app.ts
  apps/api/src/routers/user.ts
  apps/api/src/trpc.ts
  apps/api/src/utils/transformer.ts
  apps/api/tsconfig.json
  apps/api/turbo.json
  apps/app/package.json
  apps/changelog/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/ui/package.json
  apps/web/package.json
  configurations/eslint/package.json
  configurations/eslint/src/index.js
  configurations/prisma/package.json
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  configurations/prisma/turbo.json
  package.json
  packages/popup/package.json
  pnpm-lock.yaml
Due: node

refactor: ini json sorting
  .vscode/settings.json
  apps/api/next.config.js
  apps/api/turbo.json
  apps/app/turbo.json
  apps/changelog/turbo.json
  apps/desktop/turbo.json
  apps/docs/turbo.json
  apps/extension/turbo.json
  apps/ui/turbo.json
  apps/web/turbo.json
  configurations/eslint/src/index.js
  configurations/eslint/turbo.json
  crates/turbo.json
  packages/background/turbo.json
  packages/content/turbo.json
  packages/inpage/turbo.json
  packages/popup/turbo.json
  packages/solutions/turbo.json
  packages/utils/turbo.json
  packages/wagmi/turbo.json
  turbo.json
Due: node, rust, Rust

refactor: ini json sorting (#246)
  .vscode/settings.json
  apps/api/next.config.js
  apps/api/turbo.json
  apps/app/turbo.json
  apps/changelog/turbo.json
  apps/desktop/turbo.json
  apps/docs/turbo.json
  apps/extension/turbo.json
  apps/ui/turbo.json
  apps/web/turbo.json
  configurations/eslint/src/index.js
  configurations/eslint/turbo.json
  crates/turbo.json
  packages/background/turbo.json
  packages/content/turbo.json
  packages/inpage/turbo.json
  packages/popup/turbo.json
  packages/solutions/turbo.json
  packages/utils/turbo.json
  packages/wagmi/turbo.json
  turbo.json
Due: node, rust, Rust

chore: ini generate rust prisma
  apps/api/app/layout.tsx
  apps/api/app/page.tsx
  configurations/prisma/generate.sh
  configurations/prisma/prisma/schema-rs.prisma
Due: node

chore: update
  configurations/prisma/generate.sh
Due: node

chore: update
  configurations/prisma/package.json
Due: node

chore: ini generate rust prisma (#247)
  apps/api/app/layout.tsx
  apps/api/app/page.tsx
  configurations/prisma/generate.sh
  configurations/prisma/package.json
  configurations/prisma/prisma/schema-rs.prisma
Due: node

chore: ini docker ig
  Makefile
  apps/api/app/layout.tsx
  apps/api/app/swagger/page.tsx
  apps/api/package.json
  apps/api/turbo.json
  pnpm-lock.yaml
Due: node

chore: ini docker ig (#248)
  Makefile
  apps/api/app/layout.tsx
  apps/api/app/swagger/page.tsx
  apps/api/package.json
  apps/api/turbo.json
  pnpm-lock.yaml
Due: node

feat: ini upstash redis api
  apps/api/app/api/trpc/openapi.json/route.ts
  apps/api/app/swagger/page.tsx
  apps/api/package.json
  apps/api/src/routers/app.ts
  apps/api/src/routers/user.ts
  apps/api/src/server/context.ts
  apps/api/src/server/next-handler.ts
  apps/api/src/server/open-api.ts
  apps/api/src/server/trpc.ts
  apps/api/src/utils/rate-limit.ts
  apps/api/turbo.json
  pnpm-lock.yaml
Due: node

chore: update
  apps/api/.gitignore
  apps/api/pages/api/trpc/[trpc]/route.ts
  apps/api/src/server/handler.ts
Due: node

chore: update
  apps/api/pages/api/trpc/[trpc].ts
Due: node

chore: update
  .gitignore
  apps/api/.env
  apps/api/next-env.d.ts
Due: node

feat: ini upstash redis api (#249)
  .gitignore
  apps/api/.env
  apps/api/.gitignore
  apps/api/app/swagger/page.tsx
  apps/api/next-env.d.ts
  apps/api/package.json
  apps/api/pages/api/trpc/[trpc].ts
  apps/api/src/routers/app.ts
  apps/api/src/routers/user.ts
  apps/api/src/server/context.ts
  apps/api/src/server/handler.ts
  apps/api/src/server/open-api.ts
  apps/api/src/server/trpc.ts
  apps/api/src/utils/rate-limit.ts
  apps/api/turbo.json
  pnpm-lock.yaml
Due: node

fix: prisma undefined
  .license-check-and-add-config.json
  apps/api/.env
  apps/api/package.json
  configurations/prisma/src/client.ts
  configurations/prisma/src/index.ts
  pnpm-lock.yaml
Due: node

chore: update
  apps/api/src/server/handler.ts
Due: node

chore: update
  .github/workflows/node.yml
Due: none

chore: update
  apps/api/src/server/context.ts
Due: node

fix: prisma undefined (#250)
  .github/workflows/node.yml
  .license-check-and-add-config.json
  apps/api/.env
  apps/api/package.json
  apps/api/src/server/context.ts
  apps/api/src/server/handler.ts
  configurations/prisma/src/client.ts
  configurations/prisma/src/index.ts
  pnpm-lock.yaml
Due: node

chore: ini neon gha
  .github/workflows/neon.yml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: node

chore: ini neon gha
  .github/workflows/neon.yml
Due: none

chore: update
  .github/workflows/neon.yml
Due: none

chore: update
  .license-check-and-add-config.json
  configurations/prisma/scripts/grant.sql
Due: node

Apply automatic changes
  configurations/prisma/prisma/migrations/20230725091141_/migration.sql
  configurations/prisma/prisma/migrations/migration_lock.toml
Due: node

chore: update
  configurations/prisma/scripts/grant.sql
Due: node

chore: ini neon gha (#251)
  .github/workflows/neon.yml
  .license-check-and-add-config.json
  configurations/prisma/prisma/migrations/20230725091141_/migration.sql
  configurations/prisma/prisma/migrations/migration_lock.toml
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  configurations/prisma/scripts/grant.sql
Due: node

ci: gha
  .github/workflows/neon.yml
Due: none
