Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  apps/app/src/components/modal.tsx
Due: js, Javascript

feat: ini light verifying paymaster wagmi
  contracts/wagmi.sh
  crates/axum/src/routes/user_operation.rs
  packages/wagmi/src/generated.ts
  packages/wagmi/src/index.ts
  thunder-tests/collections/tc_col_local.json
Due: js, rust, Javascript, Rust

chore: update
  apps/app/app/root.tsx
  apps/app/package.json
  apps/app/src/components/transaction-dialog.tsx
  apps/ui/src/providers/web3.tsx
  pnpm-lock.yaml
Due: js, Javascript

chore: update
  .npmrc
  apps/app/.depcheckrc.yml
  apps/app/next.config.mjs
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/wagmi/index.ts
  pnpm-lock.yaml
  wagmi.config.ts
Due: js, Javascript

chore: update
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698695932.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698695944.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698695900.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698695906.json
Due: none

feat: ini billing (#834)
  .npmrc
  apps/app/.depcheckrc.yml
  apps/app/app/(wallet)/[address]/settings/account/layout.tsx
  apps/app/app/(wallet)/[address]/settings/billing/layout.tsx
  apps/app/app/(wallet)/[address]/settings/layout.tsx
  apps/app/app/root.tsx
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/src/components/transaction-dialog.tsx
  apps/app/src/const/titles.ts
  apps/app/src/wagmi/index.ts
  apps/ui/src/providers/web3.tsx
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698695932.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698695944.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698695900.json
  broadcast/PaymasterAddStakeOps.s.sol/11155111/run-1698695906.json
  contracts/wagmi.sh
  crates/axum/src/routes/user_operation.rs
  crates/paymaster/src/paymaster.rs
  packages/wagmi/src/index.ts
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_local.json
  wagmi.config.ts
Due: js, rust, Javascript, Rust

feat: ini opts
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702335.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702354.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702404.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702410.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702421.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702433.json
Due: none

chore: update
  .lintstagedrc.js
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  apps/app/src/components/confirm-dialog.tsx
Due: js, Javascript

perf: ini recover message addr
  apps/app/src/components/confirm-dialog.tsx
Due: js, Javascript

chore: update
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

fix: recovery id as v
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

chore: update
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

feat: ini opts (#835)
  .lintstagedrc.js
  apps/app/src/components/confirm-dialog.tsx
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702335.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702354.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702404.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702410.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702421.json
  broadcast/PaymasterAddDepositOps.s.sol/11155111/run-1698702433.json
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: js, rust, Javascript, Rust

fix: sig maelability as 27/28
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

fix: sig maelability as 27/28 (#836)
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

fix: offchain paymaster hash
  .gas-snapshot
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  .gas-snapshot
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  .gas-snapshot
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  contracts/test/base/BaseTest.t.sol
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  crates/paymaster/src/paymaster.rs
Due: rust, Rust

chore: update
  contracts/test/base/BaseTest.t.sol
Due: none

chore: update
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

fix: offchain hash (#837)
  .gas-snapshot
  contracts/test/fork/verifier/LightVerifyingPaymaster.f.sol
  contracts/test/unit/hash/PaymasterGetHash.t.sol
  crates/paymaster/src/paymaster.rs
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

fix: flaky tests
  .config/nextest.toml
  crates/paymaster/tests/it/main.rs
Due: rust, Rust

chore: update
  contracts/test/unit/hash/PaymasterGetHash.t.sol
Due: none

feat: ini paymaster op
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  .github/workflows/ios.yml
Due: none

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
