Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  crates/db/src/lib.rs
  crates/db/src/models/transaction.rs
  crates/db/tests/it/main.rs
  crates/db/tests/it/transaction.rs
Due: rust, Rust

chore: update model user_operation
  crates/db/src/models/log.rs
  crates/db/src/models/mod.rs
  crates/db/src/models/transaction.rs
  crates/db/src/models/user_operation.rs
  crates/db/tests/it/user_operation.rs
Due: rust, Rust

chore: update req
  Cargo.lock
  crates/consumer/Cargo.toml
  crates/consumer/src/topics/interpretation.rs
  crates/db/Cargo.toml
  crates/db/src/models/log.rs
  crates/db/src/models/transaction.rs
  crates/db/src/models/user_operation.rs
  crates/interpreter/src/config.rs
  crates/interpreter/src/interpreter.rs
Due: rust, Rust

chore: update
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
Due: js, Javascript

chore: update
  crates/consumer/src/topics/interpretation.rs
  crates/db/src/models/transaction.rs
Due: rust, Rust

feat: ini rust consumer (#1345)
  .changeset/tasty-bobcats-design.md
  .config/nextest.toml
  .github/workflows/rust.yml
  Cargo.lock
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/consumer/Cargo.toml
  crates/consumer/src/consumer.rs
  crates/consumer/src/topics/interpretation.rs
  crates/db/Cargo.toml
  crates/db/src/error.rs
  crates/db/src/models/activity.rs
  crates/db/src/models/log.rs
  crates/db/src/models/mod.rs
  crates/db/src/models/paymaster_operation.rs
  crates/db/src/models/transaction.rs
  crates/db/src/models/user_operation.rs
  crates/db/src/models/wallet.rs
  crates/db/tests/.gitkeep
  crates/db/tests/it/main.rs
  crates/db/tests/it/transaction.rs
  crates/db/tests/it/user_operation.rs
  crates/interpreter/src/config.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
  package.json
Due: js, rust, Javascript, Rust

fix: int provider
  Cargo.lock
  crates/consumer/src/topics/interpretation.rs
  crates/db/Cargo.toml
  crates/db/src/models/interpretation.rs
  crates/db/src/models/mod.rs
Due: rust, Rust

chore: update
  .changeset/eleven-adults-tease.md
  crates/db/src/models/interpretation.rs
  crates/interpreter/src/types.rs
Due: rust, Rust

fix: crates configuration
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/token/types.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/interpretation.rs
  crates/db/src/models/interpretation.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
Due: js, rust, Javascript, Rust

chore: update
  crates/db/src/models/interpretation.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/interpretation.rs
  crates/db/src/models/interpretation.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/interpretation.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
Due: rust, Rust

chore: update
  crates/axum/src/routes/queue/interpretation.rs
  crates/consumer/src/topics/interpretation.rs
  crates/kafka/src/types/interpretation.rs
Due: rust, Rust

chore: update
  crates/consumer/src/topics/interpretation.rs
  crates/db/src/models/user_operation.rs
Due: rust, Rust

chore: update
  crates/db/tests/it/transaction.rs
  crates/db/tests/it/user_operation.rs
Due: rust, Rust

fix: int model (#1350)
  .changeset/eleven-adults-tease.md
  Cargo.lock
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/queue/interpretation.rs
  crates/axum/src/routes/token/types.rs
  crates/consumer/src/topics/covalent.rs
  crates/consumer/src/topics/interpretation.rs
  crates/db/Cargo.toml
  crates/db/src/models/interpretation.rs
  crates/db/src/models/mod.rs
  crates/db/src/models/user_operation.rs
  crates/db/tests/it/transaction.rs
  crates/db/tests/it/user_operation.rs
  crates/interpreter/src/adapters/transfer/eth.rs
  crates/interpreter/src/interpreter.rs
  crates/interpreter/src/types.rs
  crates/kafka/src/types/interpretation.rs
Due: js, rust, Javascript, Rust

fix: log order
  crates/db/src/models/log.rs
Due: rust, Rust

fix: log order (#1351)
  crates/db/src/models/log.rs
Due: rust, Rust

fix: consumer intptn action
  crates/consumer/src/consumer.rs
Due: rust, Rust

fix: consumer intptn action (#1352)
  crates/consumer/src/consumer.rs
Due: rust, Rust

fix: intptn model
  crates/db/src/models/interpretation.rs
  crates/interpreter/src/constants/actions.rs
Due: rust, Rust

chore: update
  configurations/prisma/migrations/empty_interpretaion_action.sql
Due: js, Javascript

fix: intptn model (#1353)
  configurations/prisma/migrations/empty_interpretaion_action.sql
  crates/db/src/models/interpretation.rs
  crates/interpreter/src/constants/actions.rs
Due: js, rust, Javascript, Rust

fix: query provider
  crates/db/src/models/interpretation.rs
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc1155_transfer__integration_erc1155_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc20_transfer__integration_erc20_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_mint.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_eth_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_light_eth_transfer.snap
Due: rust, Rust

fix: query provider (#1354)
  crates/db/src/models/interpretation.rs
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc1155_transfer__integration_erc1155_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc20_transfer__integration_erc20_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_mint.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__erc721_transfer__integration_erc721_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_eth_transfer.snap
  crates/interpreter/tests/it/transfer/snapshots/it__transfer__eth_transfer__integration_light_eth_transfer.snap
Due: rust, Rust

chore: update eslint config
  apps/app/app/(authenticated)/new/(components)/new-wallet-form.tsx
  apps/app/app/(authenticated)/new/(components)/root/root-link.tsx
  apps/app/app/(authenticated)/new/configuration/(components)/configuration-form.tsx
  apps/app/app/(authenticated)/new/confirm/(components)/confirm-form.tsx
  apps/app/app/(wallet)/[address]/overview/(components)/wallet-overview-banner/wallet-overview-banner-sparkline.tsx
  apps/app/app/(wallet)/[address]/send/(components)/send-dialog.tsx
  apps/app/src/components/nav/sidebar-nav.tsx
  apps/app/src/components/nav/tabs-nav.tsx
  apps/app/src/components/nft/nft-card.tsx
  apps/app/src/components/nft/nft-image.tsx
  apps/app/src/components/section/link-button-group.tsx
  apps/app/src/components/token/token-card-token.tsx
  apps/app/src/components/web3/wallet-switcher.tsx
  apps/app/src/components/wrapper/layer/base-layer-wrapper.tsx
  apps/ui/src/components/ui/alert-dialog.tsx
  apps/ui/src/components/ui/card.tsx
  apps/ui/src/components/ui/command.tsx
  apps/ui/src/components/ui/resizable.tsx
  apps/ui/src/components/ui/select.tsx
  apps/ui/src/components/ui/table.tsx
  apps/ui/src/components/ui/tabs.tsx
  apps/ui/src/components/ui/timeline.tsx
  apps/ui/src/components/ui/toast.tsx
  apps/ui/src/components/ui/typography.tsx
  configurations/eslint/src/index.js
Due: js, Javascript

chore: update wagmi config
  contracts/test/spec/__test__/setup.spec.ts
  contracts/test/spec/__test__/setup.ts
  wagmi.config.ts
Due: none

chore: update web3 provider
  apps/app/src/components/root/root.tsx
  apps/app/src/components/web3/connect-button.tsx
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript

chore: update web3 provider
  apps/app/src/components/web3/web3-provider.tsx
Due: js, Javascript

chore: update
  apps/app/app/(wallet)/[address]/op/(components)/op-create-card.tsx
  apps/app/app/(wallet)/[address]/transactions/(components)/transaction/transaction-card-sign-button.tsx
Due: js, Javascript

chore: update
  .nvmrc
Due: none

chore: update package json
  apps/app/.env
  apps/app/next.config.mjs
Due: js, Javascript

chore: update
  .changeset/warm-rats-sell.md
Due: none

chore: update
  apps/app/.depcheckrc.yml
Due: js, Javascript

chore: update
  apps/app/src/components/nft/nft-image.tsx
  apps/app/src/components/token/token-image.tsx
Due: js, Javascript

chore: update dotenv app
  apps/app/package.json
Due: js, Javascript

chore: update
  apps/app/src/components/root/root.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
