Repository LightDotSo/LightDotSo: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, js, rust, ios, Contracts, Javascript, Rust, iOS

chore: update
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
  crates/axum/src/routes/token/get.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token/types.rs
  crates/consumer/src/topics/portfolio.rs
  project-words.txt
Due: rust, Rust

chore: update
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token/types.rs
  crates/db/src/models/wallet_balance.rs
  project-words.txt
Due: rust, Rust

chore: update
  crates/axum/src/routes/token/list.rs
Due: rust, Rust

chore: update wallet balance
  configurations/prisma/prisma/schema-postgres.prisma
  configurations/prisma/prisma/schema-rs.prisma
  configurations/prisma/prisma/schema.prisma
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token/types.rs
  crates/consumer/src/topics/covalent.rs
  crates/db/src/models/wallet_balance.rs
Due: js, rust, Javascript, Rust

chore: update
  configurations/prisma/migrations/postgres/drop_column_is_stable.sql
  configurations/prisma/migrations/postgres/permissions_dev.sql
  configurations/prisma/migrations/postgres/revoke_permissions_dev.sql
  configurations/prisma/migrations/postgres/revoke_permissions_hypertable.sql
Due: js, Javascript

feat: update
  crates/axum/src/routes/token/get.rs
  crates/axum/src/routes/token/list.rs
  crates/axum/src/routes/token/types.rs
  crates/db/src/models/wallet_balance.rs
  project-words.txt
Due: rust, Rust

chore: update
  crates/axum/src/routes/token/list.rs
  crates/db/src/models/wallet_balance.rs
Due: rust, Rust

fix: turbo ci
  turbo.json
Due: none

fix: turbo ci (#2570)
  turbo.json
Due: none

feat: update utoipa
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
Due: rust, Rust

chore: update
  crates/db/src/db.rs
Due: rust, Rust

chore: update (#2572)
  crates/db/src/db.rs
Due: rust, Rust

feat: update utoipa (#2571)
  Cargo.lock
  Cargo.toml
  crates/axum/Cargo.toml
Due: rust, Rust

feat: ini notifier api
  Cargo.lock
  crates/axum/src/api.rs
  crates/axum/src/routes/token/list.rs
  crates/discord/Cargo.toml
  crates/discord/src/channel.rs
  crates/discord/src/discord.rs
  crates/notifier/src/notifier.rs
Due: rust, Rust

feat: ini notifier api (#2574)
  Cargo.lock
  crates/axum/src/api.rs
  crates/axum/src/routes/token/list.rs
  crates/discord/Cargo.toml
  crates/discord/src/channel.rs
  crates/discord/src/discord.rs
  crates/notifier/src/notifier.rs
Due: rust, Rust

fix: ppr
  .changeset/serious-melons-whisper.md
  apps/app/next.config.mjs
  apps/explorer/next.config.mjs
Due: js, Javascript

fix: ppr (#2575)
  .changeset/serious-melons-whisper.md
  apps/app/next.config.mjs
  apps/explorer/next.config.mjs
Due: js, Javascript

fix: nfn
  packages/dialogs/src/transaction/transaction.tsx
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

fix: nfn (#2576)
  packages/dialogs/src/transaction/transaction.tsx
  packages/templates/src/banner/banner.tsx
Due: js, Javascript

chore: update
  crates/consumer/src/consumer.rs
Due: rust, Rust

chore: update (#2577)
  crates/consumer/src/consumer.rs
Due: rust, Rust

feat: update notifier constants
  .contracts-size
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
  crates/consumer/src/topics/activity.rs
  crates/consumer/src/topics/notification.rs
  crates/notifier/src/constants.rs
  crates/notifier/src/lib.rs
  crates/notifier/src/notifier.rs
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATIONS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATION_OPERATIONS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__USER_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/types.rs
  crates/notifier/src/utils.rs
Due: rust, Rust

feat: update notifier constants (#2578)
  .contracts-size
  crates/axum/src/routes/user_notification_settings/get.rs
  crates/axum/src/routes/user_notification_settings/update.rs
  crates/axum/src/routes/wallet_notification_settings/get.rs
  crates/axum/src/routes/wallet_notification_settings/update.rs
  crates/consumer/src/topics/activity.rs
  crates/consumer/src/topics/notification.rs
  crates/notifier/src/constants.rs
  crates/notifier/src/lib.rs
  crates/notifier/src/notifier.rs
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATIONS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__NOTIFICATION_OPERATIONS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__USER_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__constants__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__USER_NOTIFICATION_KEYS.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_DEFAULT_ENABLED.snap
  crates/notifier/src/snapshots/lightdotso_notifier__types__tests__WALLET_NOTIFICATION_KEYS.snap
  crates/notifier/src/types.rs
  crates/notifier/src/utils.rs
Due: rust, Rust

feat: update
  crates/consumer/src/topics/activity.rs
  crates/discord/src/channel.rs
  crates/discord/src/config.rs
  crates/discord/src/discord.rs
  crates/discord/tests/it/main.rs
  crates/notifier/src/config.rs
  crates/notifier/src/notifier.rs
Due: rust, Rust

feat: update (#2579)
  crates/consumer/src/topics/activity.rs
  crates/discord/src/channel.rs
  crates/discord/src/config.rs
  crates/discord/src/discord.rs
  crates/discord/tests/it/main.rs
  crates/notifier/src/config.rs
  crates/notifier/src/notifier.rs
Due: rust, Rust

chore: update
  apps/docs/app/[[...slug]]/page.tsx
  apps/docs/app/layout.tsx
  apps/docs/package.json
  crates/axum/src/routes/activity/list.rs
  crates/axum/src/routes/configuration_operation_signature/list.rs
  crates/axum/src/routes/operation/list.rs
  packages/nuqs/package.json
Due: js, rust, Javascript, Rust

chore: update
  pnpm-lock.yaml
Due: none

fix: config
  apps/extension/package.json
  packages/wagmi/src/config.ts
Due: js, Javascript

fix: config (#2581)
  apps/extension/package.json
  packages/wagmi/src/config.ts
Due: js, Javascript

chore: update
  crates/axum/src/routes/token/list.rs
  packages/nuqs/src/index.ts
  packages/roots/package.json
  packages/roots/src/root/root.tsx
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

chore: update (#2582)
  crates/axum/src/routes/token/list.rs
  packages/nuqs/src/index.ts
  packages/roots/package.json
  packages/roots/src/root/root.tsx
  pnpm-lock.yaml
Due: js, rust, Javascript, Rust

feat: ini next config
  apps/app/next.config.mjs
  apps/explorer/next.config.mjs
  packages/templates/src/combo-dialog/combo-dialog.tsx
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.tsx
  packages/ui/src/components/card/card.tsx
  packages/ui/src/providers/posthog/posthog.tsx
Due: js, Javascript

chore: update
  packages/nuqs/src/useAbiEncodedQueryState.ts
  packages/nuqs/src/useAddressQueryState.ts
  packages/nuqs/src/useChainQueryState.ts
  packages/nuqs/src/useCursorQueryState.ts
  packages/nuqs/src/useInviteCodeQueryState.ts
  packages/nuqs/src/useIsOwnerEditQueryState.ts
  packages/nuqs/src/useIsTestnetQueryState.ts
  packages/nuqs/src/useNameQueryState.ts
  packages/nuqs/src/useOwnersQueryState.ts
  packages/nuqs/src/usePaginationQueryState.ts
  packages/nuqs/src/useSaltQueryState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/nuqs/src/useSwapsQueryState.ts
  packages/nuqs/src/useThresholdQueryState.ts
  packages/nuqs/src/useTransferQueryState.ts
  packages/nuqs/src/useTransfersQueryState.ts
  packages/nuqs/src/useTypeQueryState.ts
  packages/nuqs/src/useUserOperationsQueryState.ts
Due: js, Javascript

fix: ini misc fixes (#2583)
  apps/app/next.config.mjs
  apps/explorer/next.config.mjs
  packages/nuqs/src/useAbiEncodedQueryState.ts
  packages/nuqs/src/useAddressQueryState.ts
  packages/nuqs/src/useChainQueryState.ts
  packages/nuqs/src/useCursorQueryState.ts
  packages/nuqs/src/useInviteCodeQueryState.ts
  packages/nuqs/src/useIsOwnerEditQueryState.ts
  packages/nuqs/src/useIsTestnetQueryState.ts
  packages/nuqs/src/useNameQueryState.ts
  packages/nuqs/src/useOwnersQueryState.ts
  packages/nuqs/src/usePaginationQueryState.ts
  packages/nuqs/src/useSaltQueryState.ts
  packages/nuqs/src/useSwapQueryState.ts
  packages/nuqs/src/useSwapsQueryState.ts
  packages/nuqs/src/useThresholdQueryState.ts
  packages/nuqs/src/useTransferQueryState.ts
  packages/nuqs/src/useTransfersQueryState.ts
  packages/nuqs/src/useTypeQueryState.ts
  packages/nuqs/src/useUserOperationsQueryState.ts
  packages/templates/src/combo-dialog/combo-dialog.tsx
  packages/templates/src/mobile-app-drawer/mobile-app-drawer.tsx
  packages/ui/src/components/card/card.tsx
  packages/ui/src/providers/posthog/posthog.tsx
Due: js, Javascript

Path conditions:
  contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  js: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  ios: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Contracts: any of: contracts/src/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Javascript: any of: apps/**, configurations/**, packages/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  Rust: any of: bin/**, crates/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
  iOS: any of: ios/**, but not: contracts/src/samples/**, contracts/src/utils/**, contracts/test/**, tools/**
